/BrndBot/nbproject/private/
/BrndBot/dist/
/BrndBot/build/
/.project
/BrndBot/nbbuild/
/BrndBot/nbdist/
/BrndBot/nbactions.xml
/BrndBot/nb-configuration.xml
/BrndBot/.nb-gradle/
/BrndBot/nbproject/genfiles.properties
/BrndBot/web/META-INF/context.xml
/BrndBot/web/WEB-INF/jdbc.properties