/**General and Fonts**/

.h1{}

.h2{}

.h3{}

.h4{}

.col1of1{
width: 100%;
}
    
ul{
list-style: none;
    padding: none;
    -webkit-padding-start:0px;
}

.li{
    padding: none;
}

.a{
    cursor: pointer}

.col1of2{

width:50%;
}

.col1of4{
width:25%}

.col1of8{
width:12%}


.col1of3{
width:30%}

.col3of4{
width:75%;}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.pushUp_10{
    margin-top: 10px;
}


.pushUp_30{
    margin-top: 30px;
}


.body-normal{
    background-color: #ECF0F2 ;
    font-family: 'Open Sans';
    box-sizing: border-box;
    color: #3E4551 ;
}

/**Nav**/ 

.nav{
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px #D2D3D5;
    display: block;
       line-height: 50px;
}

.nav_tab{
padding: 0px 20px;
    font-size: 13px;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: ProximaNova-Bold;
    font-size: 12px;
    color: #3e4551;
}

.nav_logo{
    padding: 5px 10px;
    background-color: #3E4551 ;
    margin-right: 30px;
    height: 100%;
    box-sizing: border-box;
}
.logodiv{
  width: 176px;
  height: 50px;
  background-color: #3e4551;
}
.headernav a >div{
    text-decoration: none;
    color:#3E4551;
}
.nav_logo_svg{
    height: 40px;
}

.subnav{
   border-bottom: 1px solid #D2D3D5;
    height: 40px;
    line-height: 40px;
    clear: both;
    overflow: auto;
}

.subnav-tab{
    font-size: 13px;
    margin-right: 20px;
    display: block;
}

/** Content Area **/

.content-area{
    width: 95%;
    max-width: 1280px;
    height: calc(100vh - 90px);
    margin: auto;
    position: relative;
    top: 70px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 3px;
    border: 1px solid #D2D3D5;
    padding: 0px 30px;
    box-sizing: border-box;
    min-width: 800px;
    overflow-y: scroll;
    padding-bottom: 60px;

}

.content-area_header{
padding:20px 0px 10px 0px;
    border-bottom: solid 1px #D2D3D5;
    overflow: auto;
    clear: both;
}

.header_title{
    font-size: 20px;
    color: #3E4551; 
    margin-top: 5px
}

.header_path{
    font-size: 20px;
    color: #3E4551; 
    margin-top: 5px;
    margin-right: 8px;
}


/** Slats **/

.slatArea{
width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: #FBFBFB ;
    display: block;
    overflow-y: scroll;
}

.groupArea{
width: 60%;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: #FBFBFB ;
    display: block;
    overflow-y: scroll;
}


.slatSection{
    overflow: auto;
    clear: both;
    margin-top: 45px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.slatHeaders{
    font-size: 14px;
    font-weight: 600;
    font-variant-caps: all-small-caps;
    margin-top: 10px;
    overflow: auto;
    clear: both;   
}

.sectionHeader{
    font-size: 20px;
    color: #3E4551; 
    margin-top: 30px;
}

.listItem{
    width: 100%;
    border: 1px solid #D2D3D5;
    margin-top: 8px;
    font-size: 14px;
    overflow: auto;
    clear: both;
     box-sizing: border-box;
}

.listHeaderCol{
padding: 5px 15px;  
    box-sizing: border-box;
}

.listCol{
    padding: 10px 15px;
    box-sizing: border-box;

}

.listCol_Text{
    padding-top:4px;
}

.listCol_Text{
    padding-top:4px;
}



/** Buttons**/

.CTA_Button{
padding: 5px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.Add_Button{
padding: 5px 45px;
    border-radius: 3px;
    font-size: 14px;   
     cursor: pointer;
}


.Button--Blue{
    background-color: #64B6EE;
    color: white;
}

.Button--Gray{
    background-color: #E8E8E8;
    color: #888;
}

.Button--Gray--text{
    color: #888;
}

.Button--Delete{
    background-color: #FFFFFF;
    color: #D11111 ;
}


/** Forms **/


.inputSection{
    margin-top:30px;
    overflow: auto;
    clear: both;
    box-sizing: border-box;
    font-size: 13px;
}

.input_Label{
font-size: 14px;
    font-weight: 600px;
    color: #3E4551 ;
}

.input_Field{
   width: 100%;
    border: 1px solid #979797 ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
    background-color: white;
}


/** Pop Up **/

.popUp_background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(62,69,81,.64);
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
}
.popUp{
    z-index: 1100;
    background-color: #FFFFFF;
        background-color: #FFFFFF;
    display: block;
    border-radius: 3px;
    border: 1px solid #D2D3D5;
    padding: 0px 30px;
    margin: auto;
    margin-top:100px;
    width: 600px;
    padding-bottom: 30px;
    
}

.popUp_title{
    font-size: 18px;
    color: #3E4551; 
}
.bb-logo{
    width: 40px;
    margin: auto;
}