<div id="facebooknotesection1" ng-if='generalNotes'>
    <div class="below-nav-container-saved-post-detail">
        <div class="inner-content-container-detail">
            <!--                <div class="saved-post-header-detail">
                                <div class="h4">Write Notes about this Action</div>
                                <div class="instruction-text">Text Goes here!</div>
                            </div>-->
            <div class="inner-content-detail">
                <div class="saved-note-detail">

                    <!--SAVED POST GOES HERE-->

                    <div class="notes-container">
                        <textarea class="notes-container-textarea" name="fb_description" id="fb_description{{schedule_id}}">{{schedule_desc}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
