<div id="emailactionsection" ng-if='generalActions'>    
    <div class="below-nav-container-saved-post-detail">
        <div class="inner-content-container-detail">
            <!--                <div class="saved-post-header-detail">
                               <div class="h4" ng-show="schedule_desc === ''">Write Notes about this Action</div>                      
                               <div class="h4" ng-show="schedule_desc !== ''">Notes</div>
                               <div class="instruction-text" ng-show="schedule_desc !== ''"><p id="emaildescription{{schedule_id}}">{{schedule_desc}}</p></div>
                            </div>-->
            <div class="inner-content-detail">
                <div class="fields-note-detail">

                    <!--SAVED POST GOES HERE-->

                    <div class="input-header-actionDetail" style="">
                        TITLE
                    </div>
                    <input id="email_edit_title" name="email_edit_title" class="input-field-textfield" value="{{schedule_title}}"/>
                    <input class="inputbox SP1" type="hidden" name="email_scheduleid" id="email_scheduleid" value='{{schedule_id}}' />
                    <input class="inputbox SP1" type="hidden" name="email_schedule_type" id="email_schedule_type" value='{{schedule_type}}'/>

                    <div class="inlineFlex">
                        <div class="half"> 
                            <div class="input-header-actionDetail" style="">
                                Status
                            </div>
                            <input type="text" id="mail_status" value="{{email_template_status}}" class="input-field-textfield width75" readonly/>
                        </div>
                        <div class="half">
                            <div class="input-header-actionDetail" style="">
                                Marketing Program
                            </div>
                            <input type="text" id="emailmarkprog" value="{{marketing_program_name}}" class="input-field-textfield width75" readonly/>
                        </div>
                    </div>
                    <div  class="input-header-actionDetail h3" style="">
                        SCHEDULED TO {{scheduledTo}} ON
                    </div>
                    <div class="inlineFlex">
                        <div class="half">
                            <div ng-show="user_marketing_program_id > 0">
                                <div class="input-header-actionDetail " >
                                    DAY
                                </div>
                                <!--<input type="text" readonly   name="datepickertwitter" id="datepickertwitter1"  class="input-field-textfield width75" value="Sun Jan 01 1970"/>--> 
                                <input type="text" class="input-field-textfield width75" id="emaildays" name="emaildays" value="{{days}}"/>                                                   
                            </div>
                            <div ng-show="user_marketing_program_id == 0">
                                <div class="input-header-actionDetail " >
                                    DATE
                                </div>
                                <input type="hidden" class="textbox" id="emaildays" name="emaildays" value="0"/>
                                <input type="text"  readonly  name="emaildatetime" id="emaildatetime"  class="input-field-textfield width75" value="{{entities_selected_time| date:'MMM dd yyyy'}}" />                                        
                                <input type="hidden" value="{{entities_selected_time| date:'MMM dd yyyy'}}" id="emaildateid"/>
                                <script>
                                    var picker = new Pikaday(
                                            {
                                                field: document.getElementById('emaildatetime'),
                                                firstDay: 1,
                                                minDate: new Date(2000, 0, 1),
                                                maxDate: new Date(2050, 12, 31),
                                                yearRange: [2000, 2050]
                                            });

                                </script>
                            </div>
                        </div>
                        <div class="half">
                            <div class="input-header-actionDetail" style="">
                                TIME
                            </div>
                            <input id="timepickeremail" type="text" name="timepickeremail" class="timepickertextbox " value="{{entities_selected_time| date:'hh : mm : a': 'UTC' }}"/> 
                            <script src="js/timepicki.js" type="text/javascript"></script>
                            <script>
                                $('#timepickeremail').timepicki({
                                    show_meridian: true,
                                    min_hour_value: 0,
                                    max_hour_value: 12,
                                    step_size_minutes: 01,
                                    overflow_minutes: true,
                                    increase_direction: 'up',
                                    disable_keyboard_mobile: true
                                });
                            </script>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>