.bigSelectButton-wrap{
    margin-top:40px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.Social-Add-Image-Wrap{
    width: 100%;
    background-color: #e5eaf1;
    padding: 10px 30px 20px 30px;
    box-sizing: border-box;
}

.add-image-icon{
    height:70px;
}

.Add-Image-Button{
   margin-left: 15px;
    line-height: 70px;
}

.edit-Image-Button{
   margin-left: 15px;
    margin-top: 15px;
}

.imageAdded{
    max-width: 100%;
}


/**************************************Your Plan**********************/
.yourPlan-date{
    margin-left: 30px;
}

.yourPlan-calSubNav-wrap{
    
}

.yourPlan-calSubNav-Icon-wrap{
    background-color: #0F76a6;
    width: 40px;
    padding: 5px 7px;
    box-sizing: border-box;
    
}

.yourPlan-calSubNav-Icon{
    height: 25px;
    
}

.yourPlan-calSubNav-Jump{
    padding: 0px 20px;
    line-height: 40px;
    background-color: #EFF3F6;
    color: #888;
    font-size: 12px;
}

.subSection{
    background-color: #f9f9f9  ;
    padding: 20px 30px;
}


.closeSubSection-icon{
    width: 15px;
}



