/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2015, 5:52:53 PM
    Author     : Syed Akmal at IntBit Technologies.
*/
.pop-up-container-emailPreview{
    width: 1130px;
   padding-bottom: 45px;
    background-color: #ffffff;
     border-top-left-radius:3px;
     border-top-right-radius:3px;
    border: 1px solid #F9FAFC;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 45px;*/
    box-sizing: border-box;

}
.pop-up-title-emailpreview{
    padding-left: 30px;
    text-align: left;
    padding-top: 15px;
     padding-bottom: 15px;
   border-bottom: 1px #D5DADF  solid;
       font-size: 20px;
    font-weight: 400;
    color:#495055 ;
    overflow: auto;
    width: 1070px;
    box-sizing: border-box;
   

}
.emailPreview-header{
 margin-top: 5px;
}

.emailPreview-header{
 margin-top: 5px;
}

.emailPreviews{
     display: block;
    clear: both;
    
}


.emailPreview-mobile-col{
    width: 360px;
     
    
}

.emailPreview-desktop-col{
    border-right: 1px solid #e7e7e7;
    width: 759px;
}

.emailPreview-headers{
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #B3B6BF;
}
.exit-button-detail-ep{
    height: 100%;
    width: 58px;
    padding: 16px;
    background-color: #0F76A6 ;
    box-sizing: border-box;
    cursor:pointer;
    float: left;
    
}