.email-LeftCol{}

.email-RightCol{
    border-left: 1px solid #D2D3D5;
    background-color: #FFFFFF;
    height: calc(100vh - 100px);
    position: relative;
    left: 0px;
    width: 350px;
    top: 0px;
}

.email-subNav{
    height: 40px;
    border-bottom:  1px solid #D2D3D5;
    display: block;
}

.email-subNav-tab{
    height: 40px;
    line-height: 37px;
    text-align: center;
    border-bottom:  1px solid #D2D3D5;
    display: block;
    font-size: 13px;
        cursor: pointer;
}

.email-subNav-tab-active{
    height: 40px;
    line-height:37px;
    text-align: center;
    border-bottom:  3px solid #0f76a6;
    display: block;
    font-size: 13px;
        cursor: pointer;
}

.email-subNav-tab:hover{
    height: 40px;
    line-height: 37px;
    text-align: center;
    border-bottom:  1px solid #D2D3D5;
    display: block;
    font-size: 13px;
        cursor: pointer;
    background-color: #f9f9f9;
}


.email-RightCol-contentWrap{
    max-height: calc(100vh - 140px);
    position: relative;
    top: 0px;
    overflow-y: scroll;
    padding: 0px 25px;
    box-sizing: border-box;
}

.email-blockSlat{
    border: 1px solid #D2D3D5;
    padding: 15px;
    border-radius: 3px;
    margin-top: 10px;
    width: 300px;
    color: #777;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.email-blockSlat:hover{
    border: 1px solid #D2D3D5;
    padding: 15px;
    border-radius: 3px;
    margin-top: 10px;
    width: 300px;
    color: #777;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    background-color: #f9f9f9;
}

.emailBlock{
    margin: auto;
    display: block;
    width: auto;
}

.email{
    display: block;
    width: calc(100vw - 351px);
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
    box-sizing: border-box;
}