.gallery-item-wrap{
    width: 222px;
      border: 1px solid #D2D3D5;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.gallery-item-wrap-selected{
    width: 224px;
    border: 2px solid #C4E5F4;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.gallery-item-wrap-selected-true{
    width: 224px;
    border: 2px solid #0f76a6;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.gallery-image-wrap{
  height: 100px;
    width: 100%;
}

.gallery-image{
  height: 100px;
    /*width: 222px;*/
    width: 100%;
}

.gallery-name{
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.gallery-settings{
    height: 20px;
}

.gallery-padding{
    padding:30px 30px 0px 30px;
}

.gallery-pane{
    height: 60vh;
}