@import url("icon-fonts-styles.css");

/*-----------------------------------
            General Styling
-----------------------------------*/

body{
    display: block;
    background-color: #EFF2F6;
    font-family: "proxima nova";
    box-sizing: border-box;
}

.login-page{
    background-color: #FFFFFF;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: none;
    padding: 0;
    display:block;
}
button {
    overflow: visible;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}


p{
    margin:0;   
}

h1{
    margin: 0;
    color: #3F3F42;
    font-size: 22px;
    font-weight: 400;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

svg {
    overflow: visible;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: fill 300ms 0s ease, stroke 300ms 0s ease, transform 300ms 0s ease, opacity 300ms 0s ease;
}

input{
    color: #3F3F42 !important;
}

*{
    box-sizing: border-box;
}

h2{
    margin: 0;
    color: #3F3F42;
    font-size: 20px;
    font-weight: 400;
}

h3{
    margin:0;
    color: #3F3F42;
    font-size: 18px;
    font-weight: 400;
}

.fleft{
    float: left
}

.fright{
    float: right;
}


label{
    color: #3E4551;
    font-size: 14px;
    font-weight: 500;
}

a {
    cursor: pointer;
    text-decoration: none;
    color:inherit;
}

.reg-button{
    padding: 9px 12px;
    border-radius: 3px;
    text-align: center;
    font-size:14px;
    font-weight: 500;
}

.long-button{
    padding: 9px 30px;
    border-radius: 3px;
    text-align: center;
    font-size:14px;
    font-weight: 500;
}

.gray-button{
    background-color: #EEF0F2;
    color: #354147; 
}

.gray-button:hover{
    background-color: #DAE1E9;
    color: #354147; 
}

.gray-button:active{
    background-color: #C4CDD5;
    color: #354147; 
}

.gray-button-outline{
    border: 1px solid #DAE1E9;
    color: #354147; 
}

.gray-button-outline:hover{
    background-color: #DAE1E9;
    color: #354147; 
}

.gray-button-outline:active{
    background-color: #C4CDD5;
    color: #354147; 
}


.blue-button{
    background-color: #1EADFC ;
    color: #FFFFFF; 
}

.blue-button:hover{
    background-color: #12A2F2 ;
    color: #FFFFFF; 
}

.blue-button:active{
    background-color: #0B8ED7 ;
    color: #FFFFFF; 
}

.green-button{
    border: 1px solid #5CC2A5;
    color: #5CC2A5; 
}

.green-button:hover{
    border: 1px solid #5CC2A5;
    background-color: #5CC2A5;
    color: #FFF; 
}

.green-button:active{
    border: 1px solid #7dceb7  ;
    background-color: #7dceb7  ;
    color: #FFF; 
}

/*-----------------------------------
            Login Page
-----------------------------------*/

.login-flex{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    visibility: visible;
}


.login-col{
    width:460px;
    margin: auto;
    padding: 30px 50px 50px;
}

.login-col header{
    margin: 0px auto 20px auto;
    text-align: center;
}

.login-logo{
    width: 250px;
    margin: auto;
}

.login-form{}

.login input{
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    height: 40px;
    font-size:14px;
    padding-left:10px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
}


.login-in-button-wrap{
    margin: 30px 0;
}

.login-in-button-wrap button{
    display: block;
    border-radius: 3px;
    width:100%;
    text-align: center;
    font-size:14px;
    font-weight: 500;
    background-color: #1EADFC;
    color: white;
    font-weight: 500;
    padding: 12px 0;
}

.forgot-password-wrap{
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #cbd2d6;
    padding-bottom: 20px;
}

.forgot-password-wrap a{
    margin: 20px auto;
    color: #666666;
    font-size: 14px;

}

.forgot-password-wrap a:hover{
    margin: 20px auto;
    text-decoration: underline;
}

.sign-up-button-wrap{
    margin: 30px 0px 0px 0px;
}

.sign-up-button-wrap a{
    display: block;
    border-radius: 3px;
    text-align: center;
    font-size:14px;
    font-weight: 500;
    background-color: #DAE1E9;
    color: #354147;
    font-weight: 500;
    padding: 12px 0;
}

.sign-up-text{
    font-size: 18px;
    margin: 20px 0px 30px 0px;
    text-align: center;
}


/*-----------------------------------
       Navigation and Structure
-----------------------------------*/

/* main nav */


.side-nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 100vh;
    background-color: #2D4355;
    z-index: 10;
}

.side-nav-logo{
    width:70px;
    height: 70px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-bottom: 30px;


}

.nav-logo a{
    position: relative;
}


a.side-nav-logo{
    background-image: url(/BrndBot/user/images/logo-mark-reverse.svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
}


.side-nav-tabs{
    width: 70px;
    height: 100vh;
}

.main-nav{
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-nav a{
    height: 50px;
    width: 50px;
    padding: 7.5px;
    position: relative;
}


.main-nav a:hover{
    background-color: #1E2F3E;
    border-radius: 5px;
}
.main-nav a:hover:after{            margin-left: 60px;
                                    position: absolute;
                                    color: #FFF;
                                    text-align: center;
                                    top: 25%;
                                    padding: 5px 10px;
                                    display: block;
                                    min-width: 120px;
                                    z-index: 1000;
                                    border-radius:3px;
                                    background-color: #2D4355;
}
.main-nav a:hover.your-plan:after{
    content: "Your Plan";
}

.main-nav a:hover.marketing-campaign:after{
    content: "Marketing Campaigns";
    top: 0px;
}

.main-nav a:hover.media:after{
    content: "Media";
}

.main-nav a:hover.user:after{
    content: "User";
}

.main-nav a:hover.hub:after{
    content: "Marketing Hubs";
}

.main-nav a:hover.log-out:after{
    content: "Log Out";
}

li.main-nav:last-child{
    position: fixed;
    bottom: 0;
    margin-left: 10px;
}

.main-nav a.your-plan:hover{

}d


.main-nav.current a{
    background-color: #1E2F3E;
    border-radius: 5px;
}

.your-plan{
    background-image:url(/BrndBot/user/images/nav-icons/nav-icons_your-plan.svg);
}

.main-nav a:hover.your-plan{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_your-plan-active.svg);
}


.your-plan.active{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_your-plan-active.svg);

}

.marketing-campaign{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_campaign.svg);

}

.main-nav a:hover.marketing-campaign{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_campaign-active.svg);

}


.marketing-campaign.active{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_campaign-active.svg);

}

.hub{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_marketing-hub.svg);

}

.main-nav a:hover.hub{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_marketing-hub-active.svg);

}


.hub.active{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_marketing-hub-active.svg);

}

.media{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_media.svg);

}

.main-nav a:hover.media{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_media-active.svg);

}


.media.active{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_media-active.svg);

}

.user{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_user.svg);


}

.main-nav a:hover.user{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_user-active.svg);

}


.user.active{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_log-out.svg)
}

.log-out{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_log-out.svg)
}

.main-nav a:hover.log-out{
    background-image: url(/BrndBot/user/images/nav-icons/nav-icons_log-out-active.svg)
}

.main-nav a{
    background-size: 70% 70%;
    background-position:center;
    background-repeat: no-repeat;
}


.main-content-wrap{
    position: fixed;
    top: 0px;
    left: 70px;
    width: calc(100vw - 70px);
    overflow-y: scroll;
    z-index: 0;
    height:100vh;
}

.sequence-content-wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    overflow-y: auto;
    z-index: 0;
}

.content-wrap-scrollable{
    overflow-y: scroll;
}



/* top nav */

.top-nav-wrap{
    position: fixed;
    width: calc(100vw - 70px);
    box-sizing: border-box;
    border-bottom: 1px solid #ECF0F2 ;
}

.top-nav-wrap-sequence{
    width: 100% !important;
}

.top-nav-wrap .header{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    align-content: center;
    align-items: center;
    background-color: white;
}

.top-nav-wrap .header .back-button{
    width: 60px;
    height: 60px;
    background: #0F76A6;
    padding: 18px;
}

.top-nav-wrap .header .back-button{
    background-image: url(/BrndBot/user/images/backbutton.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.top-nav-wrap .header h2{
    line-height: 60px;
    padding: 0px 0px 0px 30px;
    margin-top: 0px

}


.top-nav-wrap .header .top-nav-cta-container{
    padding-right: 30px;
    margin-left: auto;
    display: inline-flex;
    align-content: center;

}

.top-nav-bar-offset{
    height: 60px;
}


/* Sub Nav Classes */
.activeCampaign{
    color: #0F76A6;
    box-shadow: inset 0 -3px #0F76A6;
}
.top-sub-nav{
    height:40px;
    border-bottom: 1px solid #E2E3E7 ;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 61px;
    left: 70px;
    display: inline-flex;
}


.hub-dropdown{
    width: 150px;
    background-color: #EFF2F6;
    height: 100%;
    display: inline-flex;
    margin-right: 30px;
}

.hub-dropdown div{
    line-height: 40px;
    padding: 0px 30px;
}

.hub-dropdown i{
    height: 40px;
    width: 40px;
    padding: 13px 12px;
}

.hub-dropdown i:before{
    content: url(/BrndBot/user/images/dropdown.svg)
}

.sub-nav-tab-wrap{
    line-height: 39px;
    color: #AFB0B4 ;
    float: left;
    font-size: 14px;
    font-weight: 500;
    display:flex;

}

.sub-nav-tab-wrap-hub{
    padding-left:30px;

}

.sub-nav-tab-wrap.with-back-button{
    padding-left: 90px;
    width: 100%;
    border-bottom: 1px solid #E2E3E7 ;

}

.sub-nav-tab-wrap.no-back-button{
    padding-left: 30px;
    width: 100%;
    border-bottom: 1px solid #E2E3E7 ;
}


li.sub-nav-tab{
    transition-duration: .2s;
    transition-property: box-shadow, color;
}

li.sub-nav-tab:hover{
    color: darkgray;
    box-sizing: border-box;
    height: 40px;
}

li.sub-nav-tab:hover a{
    color: #555;
}

li.sub-nav-tab.active:hover{
    background-color: transparent;
}



li.sub-nav-tab a{
    line-height: 40px;
    text-align: center;
    height: 40px;
    display: block;
    margin-right: 30px;
}

li.sub-nav-tab.active a{
    color: #0F76A6;
    box-shadow: inset 0 -3px #0F76A6 ;
}

.top-subnav-bar-offset{
    height: 45px;
}



/*Content Classes*/

.content-wrap{
    height: calc(100vh - 60px);
    width: 100%;
}

.content-wrap-padding{
    padding: 25px 0px;
}

.content-wrap-flex{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.content-wrap-with-sub-nav{
    height: calc(100vh - 100px) !important;
}

.content-wrap-with-continue-bar{
    height: calc(100vh - 115px);
    overflow-y: auto;
}


.bottom-offset{
    display: block;
    height: 60px;
}


.continue-bar{
    position: fixed;
    bottom: 0px;
    left: 70px;
    width: calc(100vw - 70px);
    background-color: white;
    border-top: 1px solid #B3B6BF;
    height: 55px;
}

.sequence-continue-bar{
    left: 0px !important;
    width: 100vw !important;
}

.continue-bar a{
    width: 200px;
    line-height: 55px;
    background-color: #D2D3D5;
    text-align: center;
    color: gray; 
    font-size: 13px;
    font-weight: 500;
}

.continue-bar-valid{
    background-color: greenyellow;
    color: white;
}

/* DASHBOARD */

.dash-main-cta-card-wrap{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    margin-left: auto;
    justify-content: space-around;
}

.dash-main-cta-card{
    border: 1px solid #D2D3D5;
    border-radius: 3px;
    padding: 20px 0px;
    text-align: center;
    width: 32%;
    box-sizing: border-box;
}

.dash-main-cta-card object{
    margin: auto;
    width: 100px;
}

.dash-main-cta-card h3{
    padding: 0px 40px;
    color: #727885;
    margin-top: 15px;
    font-weight: 400;
    line-height: 140%;
    font-size: 14px;
    margin-bottom: 20px;
}

.dash-main-cta-card a{
    margin: auto;
    display: inline-block;
}


/*------------------------------
            Overlays
--------------------------------*/

.overlay-dark-bg{
    z-index: 15;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(25,88,124,.7);
}

.overlay-wrap{
    position: fixed;
    top: 0;
    right: 0;
    width: 850px;
    height: 100vh;
    background: #FFFFFF;
}

.overlay-wrap .header{
    height: 60px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #E2E3E7;
    align-content: stretch;
}

.overlay-wrap .header .exit-button{
    width: 60px;
    height: 60px;
    background: #0F76A6;
    padding: 18px;
}

.overlay-wrap .header .exit-button{
    background-image: url(/BrndBot/user/images/overlay-close.svg);
    background-size: 40% 40%;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-wrap .header h2{
    line-height: 60px;
    padding: 0px 0px 0px 30px;
    margin-top: 2px

}


/**/


.overlay-header-cta-wrap{
    margin-left: auto;
    padding: 12.5px 30px 12.5px 0px;
    display: flex;

}


/**/



.overlay-header-cta-wrap .status-button{
    border: 2px #D5D9DD solid;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.overlay-header-cta-wrap .status-button:hover *{
    cursor: pointer;
}


.overlay-header-cta-wrap .status-button i{
    width:25px;
    height: 25px;
    color: inherit;
}

.overlay-header-cta-wrap .status-button label{
    font-weight: 500;
    line-height: 100%;
    font-size: 14px;
    color: inherit;
    margin-top: 1px;

}

.overlay-header-cta-wrap i{
    margin-right: 10px;
}



/**/



.overlay-header-cta-wrap .status-button.template-not-approved:hover{
    border: 2px #33D383  solid;
    background-color: #33D383;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

.overlay-header-cta-wrap .template-not-approved{
    color: lightgray;
}



.overlay-header-cta-wrap .status-button:hover i{
    content: url(/BrndBot/user/images/templatestatus-01-reverse.svg)
}

.overlay-header-cta-wrap .template-not-approved  i:before{
    content: url(/BrndBot/user/images/templatestatus-02.svg)
}


.overlay-header-cta-wrap .template-approved i:before{
    content: url(/BrndBot/user/images/templatestatus-01%202.svg)
}




/**/



.overlay-header-cta-wrap .email-auto-paused{
    color: lightgray;
}


.overlay-header-cta-wrap .email-auto-paused  i:before{
    content: url(/BrndBot/user/images/email-auto/email-auto-icons_Pause-gray.svg)
}

.overlay-header-cta-wrap .email-auto-play i:before{
    content: url(/BrndBot/user/images/email-auto/email-auto-icons_Play-green.svg)
}

.overlay-header-cta-wrap .status-button.email-automation:hover i{
    content: url(/BrndBot/user/images/email-auto/email-auto-icons_Play-white.svg)
}


/**/


.overlay-header-cta-wrap .action-delete-button{
    height: 35px;
    width: 35px;
    border: 2px #D5D9DD  solid;
    border-radius: 35px;
    margin-left: 45px; 
    padding: 5px;
    cursor:pointer;
}

.overlay-header-cta-wrap .action-delete-button:hover{
    border: 2px #F15252   solid;
    background-color: #F15252; 
    cursor:pointer;
}

.overlay-header-cta-wrap .action-delete-button.active{
    border: 2px #F15252   solid;
    background-color: #F15252; 
    cursor:pointer;
}

.overlay-header-cta-wrap .action-delete-button{
    background-image: url(/BrndBot/user/images/overlay-trash-icon.svg);
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-size: 75%;
}

.overlay-header-cta-wrap .action-delete-button:hover{
    background-image: url(/BrndBot/user/images/overlay-trash-icon-white.svg);
}

.overlay-header-cta-wrap .action-delete-button.active{
    background-image: url(/BrndBot/user/images/overlay-trash-icon-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.overlay-wrap .sub-header{
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 90px;
    display: flex;
    border-bottom: 1px solid #E2E3E7;
}



.sub-header .tab{
    padding: 0px 20px;
    line-height: 42px;
    color: #AFB0B4 ;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}


.sub-header .tab:hover{
    color: #3F3F42;
    background-color: #f9f9f9;
}


.sub-header .tab.active{
    color: #0F76A6;
    border-bottom: 3px solid #0F76A6 ;
}


.overlay-content{
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;
    display: block;
    background-color: #EFF2F6 ;
}

.overlay-name-bar{
    height: 80px;
    width: 100%;
    background: #FFF ; 
    padding-left: 75px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.overlay-name-bar a{

}

.overlay-name-bar-button{
    background-color: #D5D9DD;
    color: white;
    font-size: 16px !important;
}

.overlay-name-bar-button:hover{
    background-color: #C6CCD2 ;
}

.overlay-name-bar-button:active{
    background-color: #B1B7BE ;
}

.overlay-name-bar input{
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 3px;
    padding: 9px 15px;
    box-sizing: border-box;
    color: #3F3F42;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.overlay-name-bar input:hover{
    border: 1px solid #CAD1D4;
    background-color: #F6F8FB ;
    border-radius: 3px;
    padding: 9px 15px;
    box-sizing: border-box;
}

.overlay-name-bar input:focus{
    border: 1px solid #CAD1D4;
    background-color: #F6F8FB ;
    border-radius: 3px;
    padding: 9px 15px;
    box-sizing: border-box;
}


.overlay-details-pane{
    border: 1px solid #E2E3E7;
    border-radius: 3px;
    background-color: white;
    margin: 30px 30px 0px 30px;

}

.overlay-details-pane-header{
    border-bottom: 1px solid #E2E3E7;
    border-radius: 3px;
    background-color: white;
    color: #AFB0B4;
    font-size: 14px;
    line-height: 40px;
    padding: 0px 30px;

}

.overlay-details{
    padding: 30px 90px;
    background: #FFF;
}

.help-question-icon{
    color: #AAA;
    margin-left: 5px;
    font-weight: 600;
    position: relative;
}

.detail-sections-wrap{
    padding: 30px 30px;
    width: 100%;
    display: flex;
}

.detail-section-wrap.flex{
    display: flex;
}

.detail-section {
    width: 100%;
}

.detail-section .detail-section-item:not(:first-child){
    margin-top: 20px;
}

.detail-section.half{
    width: 40%;
    flex-basis: auto;
}

.detail-section span{
    color: #3E4551;
    font-size: 14px;
}

.detail-section label{
    font-size: 14px;
    font-weight: 500;
    color: #3E4551 ;
    width: 100%;
    display: block;
}


.email-send-to-list-item{
    color: #3E4551;
    font-size: 14px;
    margin-top: 10px
}


.status-icon-details{
    display: inline-flex;
    margin-top: 10px;
}

.status-show{
    width: 35px;
}

.status-show-email-auto{
    width: 35px;
}

.detail-section .status-show i:before{
    content: url(/BrndBot/user/images/templatestatus-01.svg);
}

.detail-section .status-icon-details span{
    font-size: 14px;
}

.status-icon-details.email-automation{
    display: inline-flex;
    align-content: center;
}

.status-icon-details.email-automation span{
    font-size:16px;
}

/*----------------------------
    Email Overlay Saved Email
------------------------------*/
.overlay-email-preview-header{
    height: 60px;
    width: 100%;
    background: #F9FAFB ; 
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
}

.overlay-email-preview-header h3{
    color: #AFB0B4;
    font-size: 14px;
    line-height: 60px;
}

.overlay-email-preview-header p{
    color: #AFB0B4;
    font-size: 14px;
    line-height: 60px;
}

.overlay-email-preview{}



.email-automation-icon{}

.email-automation-icon.paused:before{
    content: url(/BrndBot/user/images/email-auto/email-auto-icons_Pause-gray.svg);
}

.email-automation-icon.play:before{
    content: url(/BrndBot/user/images/email-auto/email-auto-icons_Play-green.svg);
}

.overlay-detail-item{
    line-height: 30px;
    margin-top: 14px;
    font-weight: 400;
}

.overlay-detail-status{
    align-content: center;
    justify-content: center;
    font-weight: 400;
    line-height: 38px;
    margin-left: 10px
}


.overlay-detail-input{
    height: 40px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    margin-left: -10px;
    margin-top: 10px;
    font-size:16px;
}

.overlay-detail-input:hover *{
    cursor: pointer
}

.overlay-detail-input:hover{
    cursor: pointer;
    border: 1px solid lightgray;
}

.overlay-detail-input:after{
    content: "CHANGE";
    transition: all .3s ease;
    opacity: 0;
    margin-top: 2px;
    font-size: 12px;
    color: lightgray;
}

.overlay-detail-input:hover:after{
    opacity: 1;

}

.overlay-detail-input i{
    width: 25px;
    height: 25px;
}

.time-input i{
    background-image: url(/BrndBot/user/images/time-gray.svg);
}

.date-input i{
    background-image: url(/BrndBot/user/images/calendar-gray.svg);
}

.overlay-detail-input input{
    line-height: 30px;
    margin-left: 15px;
    margin-top: 3px;
    padding: 0px;
    outline: none;
    border: 0px;
    font-size:16px;
}

.ease-all{
    transition: all 0.3s ease;
}

.delete-action-pop-up{
    position: absolute;
    top: 55px;
    right: 20px;
    border: 1px solid #AFB0B4 ;
    border-radius: 3px;
    background-color: white;
    z-index: 1000;
    padding: 25px;
    width: 250px;
    height: auto;
    font-size: 16px;
    display: block;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .3);   
}

.delete-action-pop-up strong{
    color: #393C46;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

.delete-action-pop-up p{
    color: #9A9BA3;
    display: block;
}

.delete-action-pop-up .cta-wrapper{
    display: inline-flex;
    margin-top: 20px;
    color: white;
    font-weight: 500;
}

.delete-action-pop-up .cta-wrapper .cancel-button{
    padding: 5px 25px;
    background-color: #D5D9DD;
    border-radius: 3px;
    margin-right: 10px;
}

.delete-action-pop-up .cta-wrapper .cancel-button:hover{
    background-color: #AFB0B4 ;
}

.delete-action-pop-up .cta-wrapper .delete-button{
    padding: 5px 15px;
    background-color: #F15252 ;
    border-radius: 3px;
}

.delete-action-pop-up .cta-wrapper .delete-button:hover{
    padding: 5px 15px;
    background-color: #F34040  ;
    border-radius: 3px;
}

/**/

.edit-auto-pop-up{
    position: absolute;
    top: 65px;
    right: 20px;
    border: 1px solid #AFB0B4 ;
    border-radius: 3px;
    background-color: white;
    padding: 25px;
    width: 250px;
    height: auto;
    font-size: 16px;
    display: block;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .3);
    visibility: hidden;    
}

.edit-auto-pop-up strong{
    color: #393C46;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

.edit-auto-pop-up p{
    color: #9A9BA3;
    display: block;
}

.edit-auto-pop-up .cta-wrapper{
    display: inline-flex;
    margin-top: 20px;
    color: white;
    font-weight: 500;
}

.edit-auto-pop-up .cta-wrapper .cancel-button{
    padding: 5px 25px;
    background-color: #D5D9DD;
    border-radius: 3px;
    margin-right: 10px;
}

.edit-auto-pop-up .cta-wrapper .cancel-button:hover{
    background-color: #AFB0B4 ;
}

.edit-auto-pop-up .cta-wrapper .edit-button{
    padding: 5px 15px;
    background-color: #0F76A6  ;
    border-radius: 3px;
}

.edit-auto-pop-up .cta-wrapper .edit-button:hover{
    padding: 5px 15px;
    background-color: #0A638C    ;
    border-radius: 3px;
}


/*--------------------------------
            EMAIL OVERLAY
-----------------------------------*/


.overlay-saved-info{
    margin-top: 10px;
    display: block;
}

.more-saved-email-details{
    color: #AFB0B4  ;
    font-weight: 500;
}

.edit-saved-email-button{
    background-color: #D5D9DD;
    color: white;
    font-size: 16px !important;
    position: relative;
}

.edit-saved-email-button:hover{
    background-color: #C6CCD2 ;
}

.edit-saved-email-button:active{
    background-color: #B1B7BE ;
}


.saved-action-header-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #E2E3E7; 
    padding-left: 90px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #FFFFFF;
}



.saved-action-header-details-wrap{
    height: 100%;
}

.saved-action-header-details-wrap p{
    color: #3E4551;
    font-size: 11px;
    margin-top: 5px;
}

.saved-email-container{
    background-color: #ECF0F2;   
    padding: 0px 0px 45px 0px;
    display: block;
}

.no-link-indicator{
    color: #AFB0B4  ;
    font-weight: 500;
    margin-top: 15px;
    font-size: 14px;
}

.social-overlay-saved-image{
    max-width: 600px;
    max-height: 300px;
    margin-top: 20px;

}

.edit-hint{
    position: absolute;
    right: 155px;
    top: 30px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #0F76A6;
    visibility: hidden;

}

.email-overlay-saved-info{
    margin-top: 10px;
    display: block;
}


/**/

.overlay-empty-container{
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.empty-wrap{
    text-align: center;
    height: 250px;
    width: 300px;
    display: block;
}

.empty-wrap object{
    width: 150px;
    height: 150px;
    margin: auto;
}

.empty-wrap p{
    font-style: italic;
    color: #AFB0B4;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.empty-wrap-button{
    margin: auto;
    margin-top: 40px;
    display: inline-block;
}





/*--------------------------------
            MODAL
-----------------------------------*/



.background-pop-up{
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    visibility: visible;
    background-color: rgba(57,60,70,.7);
}


#fade
{
    display: none;
    position:  fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3D5368 !important;
    z-index:99999 !important;
    -moz-opacity: 0.9;
    opacity:.9 !important;
    filter: alpha(opacity=80);
}

.fadeClass{
    display: flex !important;
}

.center-pop-ups{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#addactionClose{
    cursor: pointer;
}

#addAction
{
    display: block;
    z-index: 999999;
}

.modal-pane{
    border: 1px solid #E2E3E7;
    border-radius: 3px;
    background-color: white;
}

.modal-pane-width-reg{
    width:600px;
    max-height: calc(100%-90px);
}

.modal-pane-width-full{
    width:1000px;
    margin: auto;
}


.modal-pane-header-wrap{
    height: 55px;
    border-bottom: 1px solid #E2E3E7;
    padding: 0px 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    align-content: space-between;
}

.modal-pane-header-wrap a{
    margin-left: auto;
}

.modal-pane-header-wrap input{
    height:30px;
    border-radius: 3px;
    padding:0px 10px;
    margin-left: auto;
    border: 1px solid #c9c9c9;
    width:200px;
}

.modal-pane-content-wrap{
    padding: 20px 30px 20px 30px;  
    box-sizing: border-box;
    max-height: 430px;
    overflow-y: auto;
}

.modal-pane-content-wrap.sequence-page{
    padding: 0px 30px 20px 30px;  
    box-sizing: border-box;
    max-height: 430px;
    overflow-y: auto;
}

.modal-pane-content-wrap.secondary-option{
    box-sizing: border-box;
    border-bottom: 1px solid #E2E3E7;
    padding: 20px 0px;
}


.modal-pane-content-wrap .input-wrap:last-child{
    padding: 0px;  
}

p.modal-content-header{
    margin-bottom: 30px;
    color: #878F98;
    line-height: 140%;
}

.modal-pane-header-exit{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: auto;
    display: block;
}

.modal-pane-header-exit{
    background-image: url(/BrndBot/user/images/gray-close.svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-pane-content-wrap .send-or-schedule-wrap{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.send-or-schedule-option{
    border: 1px solid #E2E3E7;
    border-radius: 3px;
    background-color: white;
    width: 230px;
    color: #818388;
}

.modal-pane-back-step{ 
    box-sizing: border-box;
    display: inline-flex;
    border-bottom: 1px solid #E2E3E7;
    background-color: #ECF0F2;
    color: #959AA6; 
    height: 30px;
    width: 100%;
    padding: 0px 30px;
    align-items: center;
}

.modal-pane-back-step i{
    width: 14px;
    margin-right: 10px
}

.modal-pane-back-step i:before{
    content: url(/BrndBot/user/images/back-arrow-modal.svg);
}

.modal-pane-back-step span{
    margin-top: 1px;
    font-size: 12px;
}


.modal-pane-content-wrap .create-new-action-schedule-wrap{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.modal-pane-content-wrap.create-new-schedule-modal{
    padding: 30px 55px;
}



.send-or-schedule-25pad{
    padding: 25px 0px;
}

.send-or-schedule-15pad{
    padding: 15px 0px;
}

.send-or-schedule-option:hover{
    border: 1px solid #44ADE7 ;
    background-color: #faffff;
    color: #393C46 ;
}

.send-or-schedule-option.active{
    border: 1px solid #44ADE7 ;
    background-color: #faffff;
    color: #393C46 ;
}


.send-or-schedule-option:first-child{
    margin-right: 30px;
}


.send-or-schedule-option i{
    width: 30px;
    margin: auto;
    display: block;
}


.send-or-schedule-option .post-now-icon:before{
    content: url(/BrndBot/user/images/post-now-gray.svg);
}

.send-or-schedule-option:hover .post-now-icon:before{
    content: url(/BrndBot/user/images/post-now-blue.svg);
}

.send-or-schedule-option .schedule-post-icon:before{
    content: url(/BrndBot/user/images/schedule-to-action-gray.svg);
}

.send-or-schedule-option:hover .schedule-post-icon:before{
    content: url(/BrndBot/user/images/schedule-to-action-blue.svg);
}



/* CREATE NEW ACTION OR SCHEDULE TO ACTION MODAL */

.send-or-schedule-option .create-action-icon:before{
    content: url(/BrndBot/user/images/create-new-action-gray.svg);
}

.send-or-schedule-option:hover .create-action-icon:before{
    content: url(/BrndBot/user/images/create-new-action-blue.svg);
}

.send-or-schedule-option.active .create-action-icon:before{
    content: url(/BrndBot/user/images/create-new-action-blue.svg);
}

.send-or-schedule-option .schedule-action-icon:before{
    content: url(/BrndBot/user/images/schedule-to-action-gray.svg);
}

.send-or-schedule-option:hover .schedule-action-icon:before{
    content: url(/BrndBot/user/images/schedule-to-action-blue.svg);
}

.send-or-schedule-option.active .schedule-action-icon:before{
    content: url(/BrndBot/user/images/schedule-to-action-blue.svg);
}


.send-or-schedule-option div{
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
    text-align: center;
}

.success-modal{
    padding: 35px;
    text-align: center;
}

.success-modal *{
    margin: auto;
}

.success-modal object{
    width: 85px;
    margin-bottom: 20px;
}

.success-modal h2{
    color: #3F3F42;
    font-size: 24px;
}

.success-modal p{
    width: 300px;
    margin-top: 20px;
    color: #999 ;
    font-size: 18px;
    line-height: 130%
}

/*_________________________________
            HUB PAGES
-----------------------------------*/

.hub-pane{
    border: 1px solid #E2E3E7;
    border-radius: 3px;
    background-color: white;
    width: 1100px;
    margin: auto;
    margin-bottom: 45px;
}


.hub-pane-header-wrap{
    height: 55px;
    border-bottom: 1px solid #E2E3E7;
    padding: 0px 30px;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.hub-pane-content-wrap a{
    margin-left: auto;   
}

.hub-pane-content-wrap{
    padding: 30px 30px 30px 30px;  
    box-sizing: border-box;
}

.hub-section{
    margin-bottom: 60px;
}

.hub-section.sequence-page{
    margin-bottom:30px;
}

.hub-section:last-child{
    margin-bottom: 20px;
}

.hub-section .input-wrap{
    max-width: 490px;
}

.hub-section .section-header{
    margin-bottom: 20px;
    max-width: 450px;
}

.hub-section .section-header h3{
    margin-bottom: 8px;
    font-size: 20px;
}

.hub-section .section-header h3 i{
    font-size: 14px;
    margin-left:10px;
}

.hub-section .section-header p{
    font-size: 14px;
    color: #888 ;
    line-height: 140%;
    margin-top: 4px;
}

.input-help{
    color: #777;
    margin-left: 5px;
}

/*------------------------------------
            Input Wrap
-------------------------------------*/

.input-wrap{
    box-sizing: border-box;
    width: 100%;
    color: #979797;
    margin-bottom: 20px;
}


.input-wrap label{
    margin-bottom: 9px;
    display: block;
    color: #393C46 ;
    font-size: 15px;
    font-weight: 500;
}

.input-wrap:first-child.onboarding label{
    margin-top: 0px;
}

.input-wrap.onboarding label{
    margin-bottom: 10px;
    margin-top: 30px;
    display: block;
    color: #393C46 ;
    font-size: 18px;
    font-weight: 500;
}


.input{
    box-sizing: border-box;
    position: relative;
    align-items: center;
}

.input label{
    display: block
}

.input input{
    display: inline-block;
    padding: 0 .4em 0 .4em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    min-height: 32px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    font-size: 14px;
}

.fluid{
    width: 100%;   
}

.input input:focus{
    border-color:  #1EADFC;
}

.input-wrap-row{
    display: flex;   
}

.input-wrap.half{
    width: 50%;
    flex-basis: auto;
}

.input-wrap.half:first-child{
    margin-right: 30px;
}

.input-wrap-label{
    font-size: 12px;
    color: #737982 ;
    margin-top: 10px;
    font-style: italic;
}

.input-wrap p{
    font-size: 12px;
    color: #737982 ;
    margin-top: 8px;
    font-style: italic;
}



.input.left-icon input{
    padding-left: 40px;
}

.input.left-icon i{
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 4px;
    top: 2px;
    left: 0px;
}

.input.left-icon i.date-icon:before{
    content: url(/BrndBot/user/images/calendar-gray.svg);
}

.input.left-icon i.time-icon:before{
    content: url(/BrndBot/user/images/time-gray.svg);
}

.time-date-select{
    border:none;
    padding-left:15px;
    width:100%;
    height:30px;
    font-size:14px;

}

.dd-dropdown{
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: inline-block;
    padding: 0 .4em 0 .4em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    min-height: 32px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    user-select:none;
}

.dropdown-icon:before{
    content: url(/BrndBot/user/images/dropdown.svg);
}

.date-time-select-icon{
    width: 25px;
    margin-top: 5px;
    margin-left: 10px;
}

.time-select-icon:before{
    content: url(/BrndBot/user/images/time-gray.svg);
}

.date-select-icon:before{
    content: url(/BrndBot/user/images/calendar-gray.svg);
}


.modal-cta-container{
    padding: 20px 0px;
    background-color: #E9EEF0;
    text-align: center;
}

.update-container{
    padding-top: 20px;   
}

.input-wrap-button{
    margin-top: 10px;
    display: inline-block;
}

.dropdown-wrap.selected{
    display: inline-flex;
    padding: 0 .4em 0 .4em;
    vertical-align: middle;
    border-radius: 3px 3px 0 0;
    min-width: 50px;
    min-height: 32px;
    background-color: #fff;
    border: 1px solid #44ADE7;
    position: relative;
    border-bottom: none;
}

.dropdown-list{
    border: 1px solid #44ADE7;
    border-top: none;
    border-radius: 0 0 3px 3px;
    outline: none;
    line-height: 30px;
    max-width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    display: none;
}

.dropdown-list div{
    max-height:200px;
}

.dropdown-list div a{
    line-height: 40px;
    width: 100%;
    display: block;
    padding: 0px .4em;
}


.dropdown-list div a:hover{
    background-color: #f9f9f9;
}



/*------------------------------------
            Footer in Email
-------------------------------------*/

.in-editor-footer-wrap{
    background-color: #f9f9f9;
    border: 1px solid #D5D9DD ;
    border-radius: 3px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    max-width: 600px;
}

.in-editor-footer-wrap h3{
    font-size: 20px;

}

.in-editor-footer-wrap p{
    font-size: 14px;
    color: #909198 ;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0px 80px;
    line-height: 140%
}

.in-editor-footer-wrap a{
    display: inline-block;
}


/*------------------------------------
            Your Plan
-------------------------------------*/

.your-plan-wrap{
    margin: auto;
    min-width: 800px;
    max-width: 1000px;
    margin-bottom:30px;
}

.your-plan-pane{
    border: 1px solid #E2E3E7;
    border-radius: 3px;
    background-color: white;
}

.your-plan-empty-date{
    padding: 10px 30px;
    text-align: left;
    width:100%;
    font-size:14px;
    color:#444;
}

.your-plan-pane:not(:first-child){
    margin-top: 40px;
}

.action-list-pane-header{
    border-bottom: 1px solid #E2E3E7;
    border-radius: 3px;
    background-color: white;
    color: #AFB0B4;
    font-size: 14px;
    line-height: 40px;
    padding: 10px 30px;
    display: inline-flex;
    width: 100%;
}

.action-list-pane-header a{

}

.your-plan-cal-dropdown{
    display: inline-flex;
    align-content: center;
}

.your-plan-cal-dropdown i{
    width: 40px;
    height: 39px;
    padding: 7px 10px 10px 8px;
    background-color: #0F76A6;
    display: block;
}

.your-plan-cal-dropdown i:before{
    content: url(/BrndBot/user/images/calendar-dropdown.svg);
}

.your-plan-cal-dropdown div{
    line-height: 39px;
    border-right: 1px solid #E2E3E7;
    background-color: #EFF2F6;
    padding: 0px 15px;
    color: #9AA1AD;
    font-size: 13px;
}

.your-plan-today{
    margin-right: 8px;
}


.your-plan-date{

}

.your-plan-day{

}

.your-plan-action-wrap{
    padding: 0px 30px;   
}

.your-plan-icon-wrap{
    width: 40px;
    padding-bottom: 15px;
    height: 20px;
    margin-right: 45px;
    display: block;
    align-content: center;
    justify-content: center;
}

.no-template-icon:before{
    content: url(/BrndBot/user/images/template-status/no-template.svg);
}

.template-saved-icon:before{
    content: url(/BrndBot/user/images/template-status/template-saved.svg);
}

.template-approved-icon:before{
    content: url(/BrndBot/user/images/template-status/template-approved.svg);
}



/*------------------------------------
                Slats
-------------------------------------*/

.slat{
    border-radius: 3px;    
    display: flex;
    padding: 22px 0px;   
}

.slat.external-data{
    padding: 22px 20px;   
}

.slat.external-data:hover{
     border: 1px solid #D2D3D5;
     background-color: #f8f8f8;
}



.slat-icon-wrap{
    width: 30px;
    padding-bottom: 15px;
    height: 20px;
    margin-right: 45px;
    display: block;
    align-content: center;
    justify-content: center;
}

.slat-icon-wrap.linked-list:before{
    content: url(/BrndBot/user/images/calendar-gray.svg);
}


.slat-name-wrap{
    width: 40%;
}

.slat-name-wrap h2{
    color: #006A9E ;
}

.slat-name-wrap p{
    color: #6F7176;
    font-size: 12px;
    margin-top: 5px;
}

.slat-detail-wrap{
    display: flex;
    align-self: center;
    padding-left: 20px;
    margin-left: auto;
}

.slat-detail-wrap:last-child{
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    margin-left: auto;
}

.slat-detail{
    margin-right: 30px;
    text-align: right;
}

.slat-detail-wrap:last-child .slat-detail{
    margin-right: 0px;
}

.slat-detail .slat-detail-button{
    margin-left: auto;
}

.slat-detail h2{

}

.slat-detail p{
    color: #6F7176;
    font-size: 12px;
    margin-top: 5px;
}

.slat-detail-wrap:last-child{
    margin-left: auto;
}

.slat-detail{
}

.cat-slat{
    border: 1px solid #D2D3D5;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    line-height: 55px;
    padding:0px  20px;
    box-sizing: border-box;
    font-weight: 500;
    color: #444;
}

.cat-slat:hover{
    background-color: #f8f8f8;
    cursor: pointer;  
}


/*------------------------------------
            Marketing Campaign
-------------------------------------*/

.sequence-pane-content-wrap{
    padding:30px;
}

/*------------------------------------
            Onboarding
-------------------------------------*/

.onboarding-content-header-wrap{
    padding: 0px 0px 20px 0px;
}

.onboarding-content-header{
    color: #555555;
}

.color-palette-col{
    float: left;
    width: 50%;
    height: 300px
}

.color-palette-col:first-child{
    padding-right: 60px;

}

.color-selection-menu{
    display: inline-flex;
    height: 30px;
    width: 100%;
}

.color-selection-option{
    width: 33%;
    text-align: center;
    font-size: 14px;
}

.color-selection-option.selected{
    border-bottom: 2px solid #0F76A6;
    color: #0F76A6;
}

.color-selection-tool-wrap{
    width: 100%;
    height: 260px;
    overflow-y: scroll;
    padding-top: 30px;
}

.color-palette-wrap{}

.color-explanation{
    margin-bottom: 30px;
    margin-top: 40px
}

.user-palette{
    display: flex;
    justify-content: center;
    align-items: center
}

.color-swab{
    border: 1px solid #D2D3D5;
    border-radius: 3px;
    width: 80px;
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.color-swab.selected{
    width: 100px;
    height: 40px;
    border: 2px solid #0F76A6;
}

.color-explation{

}

/*------------------------------------
            UPLOAD ICON
-------------------------------------*/

.upload-icon-box{
    width: 100%;
    padding: 30px;
    border-radius: 4px;
    border: 2px dashed #DDD;
    text-align: center;
    margin: auto;
}

.upload-icon-svg{
    width: 60px;
    height: 60px;
    margin: auto;
    display: block;
}

.upload-icon-svg:before{
    content: url(/BrndBot/user/images/upload-icon.svg);
}

.upload-icon-text{
    color: #666;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.upload-icon-button-wrap{
    text-align: center;
    padding:  0px 0px 15px 0px;
    display: block;
}

.upload-icon-button-wrap p{
    display: block;
    padding: 0px 0px 20px 0px;
    color: #999;
}

/*------------------------------------
            CONFIRM POP UP
-------------------------------------*/
.confirm-pop-up{
    z-index: 1000px;
    background-color: #FFF;
    border-radius:3px;
    border: 1px solid #D2D3D5;
    color: #666;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 140%;
    position: fixed;
    right: 25px;
    bottom: 30px;
    display: inline-flex;
    -webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.confirm-icon{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.confirm-icon:before{
    content: url(/BrndBot/user/images/email-auto/email-auto-icons_Play-green.svg);
}

.confirm-pop-up-text{
    max-width: 200px;
}

.confirm-pop-up-close{
    width: 12px;
    margin-top: 4px;
    margin-left: 10px;
}

.confirm-pop-up-close:before{
    content: url(/BrndBot/user/images/gray-close.svg);
}

.category-list{
    width: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 260px);
    margin-bottom: 5px;
}

.category-option{
    border: 1px solid #D2D3D5;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    line-height: 55px;
    padding: 0px 20px;
    font-weight: 600;
    color: #444;
}

.category-option:hover{
    background-color: #f9f9f9;
}


.activeTab {
    display: block;
    float: left;
    border-bottom: 2px solid #0F76A6;
    color: #0F76A6;
    border-top: 0px;
    padding-bottom: 7px;
    font-weight: 600;
    box-sizing: border-box;
}

.dateSelection{
    position: relative;
    top: -28px;
    left: 50px;
}