/*******************Pane Classes*****************************/

.pane{
    margin-left: auto;
    margin-right:auto;
    background-color: #FFFFFF;
    display: block;
    border-radius: 3px;
    border: 1px solid #D2D3D5;
    padding: 0px 30px 20px 30px;
    box-sizing: border-box;
    width: auto;
}

.pane--fullwidth{
    width: 95%;
    max-width: 1280px;
    min-width: 900px;
}

.pane--600px{
    width: 600px;
}

.pane--catSelected{
    height: 60px;
    margin-bottom: 20px;
    background-color: #DBE1E9 ; 
}

.pane--actionOccured{
    height: 45px;
    margin-bottom: 20px;
    background-color: #DBE1E9  ; 
}

.pane--helpContent{
    padding: 30px 30px;
    background-color: #fbfbfb   ; 
}

.helpContent--header{
    color: #64B6EE ;
}

.helpContent--icon{
    width: 135px;
    height: 135px;
    margin-right: 45px;
}

.helpContent--description{
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    width: 600px;
    line-height: 25px
}




.pane--externalData{
    width: 900px;
}



.pane_header{
    width: 100%;
    border-bottom: 1px solid #D2D3D5;
    box-sizing: border-box;
    height: 65px;
    display: block;
    overflow: hidden;
}

.pane_title{
    line-height: 65px;

}

.pane_header_CTABOX{
    padding: 17px 0px 0px 0px;  
}

.pane_content{
    margin: 20px 0px 20px 0px;
    display: flex;
    box-sizing: border-box;
}

.pane-onboarding{
    width: 550px;
    padding-bottom: 30px;
    
}

.pane-Social-Create{
    width: 550px;
    padding: 0px;
    box-sizing: border-box;
}

.pane-Social-Create-padding{
    padding: 0px 30px;
}

.pane-padding{
    padding: 0px 30px;
}


.pane_subheader-tabs{
    line-height: 40px;
    text-align: left;
    color: #AAA;
    margin-right: 20px;
}

.pane_subheader-tabs-active{
    line-height: 40px;
    text-align: left;
    color: #0F76A6;
    margin-right: 20px;
}
.pane_subheader{
    border-bottom: 1px solid #D2D3D5;
    padding: 0px 0px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

.sendNow-Post-icon{
    /*background:*/ 
}

.schedule-Post-icon{}
.pane-editing{
    display: block !important;
}