.Dummy-page{
background-color: lightgray;
    list-style: none;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.col-2of4{
    width:35%;
    float: left;
}
.col-15of4{
    width:20%;
    float: left;
}

.col-1of4{
    width:25%;
    float: left;
}

.col-1of2{
    width:50%;
}

.col-3of4{
    width:75%;
    box-sizing: border-box;
}

.col-1of1{
    width:100%;
}

.col-7of8{
    width:87.5%;
}

.col-1of8{
    width: 12.5%;
}


.fleft{
    float:left;
    overflow: hidden;
    box-sizing: border-box;
}
.palette-colorswab-global{
    width: 70px;
    height: 35px;
    box-sizing: border-box;
    margin-right: 20px;
    cursor:pointer;
    margin-top: 10px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    border-radius: 5px;
}
.logo-palette-colorswab{
     width: 80px;
    height: 35px;
    border-radius: 3px;
    box-sizing: border-box;
    margin:10px 5px 0px 10px;
    cursor:pointer;
}
.color-picker-space{
    margin-top:3vw;
    margin-left:7vw;
}
.palette-colorswab{
    width: 70px;
    height: 35px;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
}
.palette-colorswab-selected{
    border: 3px solid rgb(216, 15, 15);
    width: 70px;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    cursor:pointer;
}
.pane-palette_left{
    width: 50%;
    border-right: 1px solid #D2D3D5;
    box-sizing: border-box;
    height: 330px;
    padding-right: 20px;
}
.pane-palette_right{
    width: 50%;
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
}
.palette {
    width: 400px;
    margin: auto;
    margin-left: 0px !important;
}

selfclear:before{
    display: table;
}

selfclear:after{
    clear:both;
}


.slat-title-container{
    padding-left:30px;
    box-sizing: border-box;
}
.col-analytic-attribute{
    width:12%;
    box-sizing: border-box;
}

.col-analytic-attribute-lg{
    width:16%;
    box-sizing: border-box;
}
.slat-attribute-container-analytics{
    box-sizing: border-box;
    padding-left:30px;
    margin-top: 5px;
}
.slat-attribute-container{
    box-sizing: border-box;
    padding-left:45px;
}


.slat-inner-column-container{
    float: left;
}


.slat-title{
    color: #0F76A6 ;
}

.slat-column-font{
    color: #495055  ;
}


.email-list-slat-title{}


.action-list-slat-title{}

.action-list-slat-description{
    margin-top: 6px;
}


.list-column-number{

}


.list-column-description{
    margin-top: 6px;
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.md-button {
    padding: 7px 16px 7px 16px;
    border-radius: 3px;
    
    
}

.details-button {
    background-color: #CCCCCC;
      width:60px;
    float: right;
    color:#FFFFFF;
    cursor: pointer;
    
}

.small-button {
    padding: 7px 16px 7px 16px;
    border-radius: 3px;
    text-align: center;
  
    
}

.sh1{
    font-size: 20px;
    font-family: sans-serif;
    
}

.sh2{
    font-size: 16px;
    font-family: sans-serif;
    color:#495055 ;
    
    
}

.sh3{
    font-size: 14px;
    font-family: sans-serif;
    
    
}

.detail-button-font{
    font-size: 15px;
    font-family: sans-serif;
    color:white ;
    
    
}

.status-button{
    margin-top: 7px;
    width: 35px;
    height: 35px;
    
}
.editemail{
    margin-left: 5%;
}
