.Login_left-pane{
background-color: #2D4355 ;
    height: 100vh;
    width:40%
}

.Login_right-pane{
    position: relative;
    height: 100vh;
    width: 60%;
}


.login-container{
    width: 350px;
    padding: 30px 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-45%);
}

.login-logo{
    margin: auto;
    width:150px;
    display: block;
}

.signUp-logo{
    margin: auto;
    width:100px;
    display: block;
}

.sign-up_container{
height: 150px;
    
}

.login-fields{
    background-color: #f9f9f9;
}

.forgot_password{
    font-size: 13px;
    margin-top: 10px;
    color: #555
}

.content-area_onboarding{
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right:auto;
    overflow-y: scroll;
}

.content-wrap{
    position: absolute;
    top: 60px;
    overflow-y: auto;
    width: 100%;
    padding: 30px 0px 60px 0px;
}

.push-z{
    z-index:10000}

