.Login_left-pane{
background-color: #2D4355 ;
    height: 100vh;
    width:40%
}

.Login_right-pane{
    position: relative;
    height: 100vh;
    width: 60%;
}


.login-container{
    width: 350px;
    padding: 30px 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-45%);
}

.login-logo{
    margin: auto;
    width:150px;
    display: block;
}

.signUp-logo{
    margin: auto;
    width:100px;
    display: block;
}

.sign-up_container{
height: 150px;
    
}

.login-fields{
    background-color: #f9f9f9;
}

.forgot_password{
    font-size: 13px;
    margin-top: 10px;
    color: #555
}

.content-area_onboarding{
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right:auto;
    overflow-y: scroll;
}

.content-wrap{
    position: absolute;
    top: 60px;
    overflow-y: auto;
    width: 100%;
    padding: 30px 0px 60px 0px;
}

.push-z{
    z-index:10000}

.button:focus {
    outline: none;
}
.button--moema {
    padding: 1.5em 0.8em;
    padding-right: 1em;
    border-radius: 5px;
    background: #5CC1A3;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.button--text-thick {
    font-weight: 600;
}
.button--text-upper {
    letter-spacing: 2px;
}
.button--size-s {
    font-size: 12px;
    width: 105px;
    height: 30px;
}
.button {
    font-weight: 600;
    white-space: nowrap;
    float: left;
    line-height: 0px;
    max-height: 30px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    color: white;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button--moema:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #fff;
    background-color: #5CC1A3;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
}