/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Aug, 2015, 6:17:22 PM
    Author     : sandeep-kumar
*/
body {
 
  font-family: "proxima-nova",sans-serif !important;
}
MH1,.MH2,.SP1,.SP2,.SH1,.SH2,.SS1,.SS2,.BT1,.BT2,.BC1,.BC2,.FL1,.FL2,.il1,.il2,.LE1,.LE2{
    font-family: "proxima-nova",sans-serif;
}
.MH1,.MH2{
   
font-style: normal;
font-weight: 600;
}

.MH1{
    
    font-size: 1.56em;    
}

.MH2{
    font-size: 1.88em;
}

.SP1,.SP2{
    font-weight: 400;
    font-style:normal;
    font-variant:small-caps;
}
.SP1{
    font-size: 1.25em;
}
.SP2{
    font-size: 1.44em;
}
.SH1,.SH2{
    font-style:normal;
    font-weight: 600;
    font-variant: small-caps;
}
.SH1{
    font-size: 1em;
}
.SH2{
    font-size: 1.38em;
}
.SS1,.SS2{
 font-style: normal;
font-weight: 400;
}
.SS1{
   font-size: 0.75em; 
}
.SS2{
  font-size: 0.88em;  

}
.BT1,.BT2{
    
font-style: normal;
font-weight: 400;
}
.BT1{
     font-size: 0.81em;
}
.BT2{
     font-size: 1.13em;
}
.BC1,.BC2{
   font-style: normal;
font-weight: 400; 
}
.BC1{
    font-size: 0.75em;
}
.BC2{
    font-size: 1em;
}
.FL1,.FL2{
    font-style: normal;
font-weight: 400; 
/*font-variant: all-caps;*/
}
.FL1{
     font-size: 0.75em;
}
.FL2{
     font-size: 0.94em;
}
.il1,.il2{
    font-style: normal;
font-weight: 400; 
}
.il1{
     font-size: 0.63em;
}
.il2{
     font-size: 0.75em;
}
.LE1,.LE2{
  font-style: normal;
font-weight: 600;
}
.LE1{
     font-size:0.81em;
}
.LE2{
    font-size: 1em;
}