<div class="top-nav-wrap"> 
    <div class="header">
        <h2>Account Manager Hub</h2>
    </div>
    <div class="top-sub-nav">
        <ul class="sub-nav-tab-wrap no-back-button">
            <li class="sub-nav-tab"  ng-class="{ active: isActive('#/managedaccountdash')}"> <a href="#/managedaccountdash">Dashboard</a></li>
            <li class="sub-nav-tab"> <a href="#/managedaccounts" ng-class="{ active: isActive('#/managedaccounts')}">Managed Accounts</a></li>
            <li class="sub-nav-tab"  > <a href="#/pushedemaillist" ng-class="{ active: isActive('#/pushedemaillist')}">Pushed Emails</a></li>
            <li class="sub-nav-tab"  > <a href="#/pushedemaildrafts" ng-class="{ active: isActive('#/pushedemaildrafts')}">Pushed Email Drafts</a></li>
        </ul>
    </div>
</div>
<div class="top-nav-bar-offset"></div>
<div class="top-subnav-bar-offset"></div>


