        <link href="../css/jquerygrowl.css" rel="stylesheet" type="text/css"/>
        <script src="../js/utilities/jquerygrowl.js" type="text/javascript"></script>
        <div id="fade" ng-class="fadeClass" class="center-pop-ups" ng-click="promptHideShow(false);isDeletePromptOpen(false);">
        
        <div class="bb-panel-styling bb-panel-default" id="addAction" ng-if="addAction">
            <div class="bb-panel-header">
                <h2 class="">Create a New Action</h2>
                <a id="addactionClose" ng-click = "closeOverlay()" class="modal-pane-header-exit"></a>
            </div>
            <div class="bb-panel-content-wrap">
                <div class="input-wrap">
                    <label>Action Name</label>
                    <a class="input">
                        <input type="text" name="addactiontitle" id="addactiontitle" ng-class="{'invalid-input': addTitle === '' || null}" ng-model="addTitle" placeholder="Enter Title" class="fluid" />
                        <input type="hidden" id="marketing_program" value="0" name="marketing_program_type"/>
                    </a>
                    <span class="validationAlert" ng-if='addTitle === "" || null'>{{actionNameValidation}}</span>
                </div>
                <div class="input-wrap">
                    <label>Action Type</label>
                    <div class="invalidDropdown" dropdown-select="ddSelectActionOptions" dropdown-model="ddSelectAction" dropdown-onchange="chooseActionTypeOnChange(selected)"></div>
                    <span class="validationAlert" ng-if="actionTypeValidation">{{actionDropdownValidation}}</span>
                </div>
                
                <div class="input-wrap" ng-show="moreThanOneUser">
                    <label>Assigned To<i class="bb-label-optional-text">Optional</i></label>
                    <div class="invalidDropdown" dropdown-select="ddSelectUserOptions" dropdown-model="ddSelectUser" dropdown-onchange="chooseUserOnChange(selected)"></div>
                    <span class="validationAlert" ng-if="actionTypeValidation">{{actionDropdownValidation}}</span>
                </div>
<!--                <div>
                    <label>Assigned To:</label>
                    <select id="assignTo" ng-show="moreThanOneUser">
                        <option value="no assignee" selected>no assignee</option>
                        <option ng-repeat="users in allUsers" value="{{users.userId}}">{{users.userName}}</option>
                    </select>
                </div>-->
                <div class="input-wrap-row" >
                    <div class="input-wrap half">
                        <label>Action Date</label>
                        <a class="clickable-input fluid " ng-class="{'invalid-input': datePicker === '' || null}">
                            <div class="date-time-select-icon">
                                <object type="image/svg+xml" data="/BrndBot/images/calendar-gray.svg" style="cursor:pointer;"> </object>
                            </div>
                            <input type="text" name="datepicker" ng-model="datePicker" id="datepicker" readonly class="time-date-select" placeholder="Enter Action Date" />

                            <script>
                                var picker = new Pikaday(
                                        {
                                            field: document.getElementById('datepicker'),
                                            firstDay: 1,
                                            format: KGlobalDatePickerFormate,
                                            minDate: new Date(2000, 0, 1),
                                            maxDate: new Date(2050, 12, 31),
                                            yearRange: [2000, 2050]
                                        });
                            </script>
                        </a>
                        <span class="validationAlert" ng-if='datePicker === "" || null'>{{actionDateValidation}}</span>
                                                
                    </div>
                    <div class="input-wrap half">
                        <label>Action Time</label>
                        <a class="clickable-input fluid" ng-class="{'invalid-input': timePickerVal || dateLesser}">
                            <div class="date-time-select-icon">
                                <object type="image/svg+xml" data="/BrndBot/images/time-gray.svg" style="cursor:pointer;"> </object>
                            </div>
                            <input id="timepicker1" ng-model="timePicker123" type="text" name="" class="time-date-select" placeholder="Enter Action Time"  /> 
                            <script src="../js/utilities/timepicki.js" type="text/javascript"></script>
                            <script>
                                $('#timepicker1').timepicki({
                                    show_meridian: true,
                                    min_hour_value: 1,
                                    max_hour_value: 12,
                                    step_size_minutes: 01,
                                    overflow_minutes: true,
                                    increase_direction: 'up',
                                    disable_keyboard_mobile: true
                                });
                            </script>
                        </a>
                        <span class="validationAlert" ng-if="timePickerVal">{{actionTimeValidation}}</span>
                        <span class="validationAlert" ng-if="dateLesser">{{lesserDateValidation}}</span>
                    </div>
                </div>
                 

            </div>
            <div class="modal-cta-container" >
                <a class="long-button blue-button" id="addActionYourPlan" ng-click="AddAction(addTitle, datePicker, timePicker123, ddSelectAction,programaction.postDate)" href="javascript:void(0)">Create this Action</a>
            </div>
        </div>
        </div>
