    <div id="fade1" class="black_overlay"></div>
    <div ng-init="sho= false" ng-if="sho">
    <div class="pop-up-background" >
        <div class="pop-up-exit-container">
            <a>
                <div class="pop-up-exit-icon" id="close"> <img type="image/svg+xml" src="images/Close.svg" class="exit-button-icon" style="cursor:pointer;"> </img></div>
            </a>
        </div> 
        <div class="pop-up-container pop-up-container-newContact"> 
            <div class="pop-up-title pop-up-title-h1"> Add a New Contact</div>
            <div class="pop-up-inner">
                <div class="input-field-container">
                    <div class="input-header"> Email Address </div>
                    <input type="text" class="input-field-textfield1 input-placeholder" placeholder="Enter Email Address" id="emailId"/>
                    <input type="hidden" id="uuid" value=""></input>
                    <input type="hidden" id="type" value=""></input>
                </div>
                <div class="line-divider"></div>
                <div class="optional-text">Optional</div>
                <div class="input-field-container">
                    <div class="input-header"> First Name </div>
                    <input type="text" value="" class="input-field-textfield1 input-placeholder" placeholder="Enter First Name" id="firstName"/>
                </div>
                <div class="input-field-container">
                    <div class="input-header"> Last Name </div>
                    <input type="text" value="" class="input-field-textfield1 input-placeholder" placeholder="Enter Last Name" id="lastName"/>
                </div>
            </div>
        </div>
    </div>
    <div id="addContactButton" class="pop-up-cta-container pop-up-cta-container-newContact cur" ng-click="updateEmailID()">
        <a href="">
            <div class="pop-up-cta-button-full"> Save Contact</div>
        </a>
    </div> 
</div>
