<div id="fade" ng-class="fadeClass" class="center-pop-ups"  ng-init="showAddContactPopup= false" ng-if="showAddContactPopup">
    <div class="" >
        <div class="modal-pane modal-pane-width-reg" id="addAction" ng-show="addAction">
            <div class="modal-pane-header-wrap">
                <h2 class="">Create a New Action</h2>
                <a id="close" ng-click="closeAddContactPopup()" class="modal-pane-header-exit"></a>
            </div>
            <div class="modal-pane-content-wrap create-new-schedule-modal">
                <div class="input-wrap">
                    <label>Email Address</label>
                    <div class="input">
                        <input type="text" placeholder="Enter Email Address" id="emailId" ng-model="email.emailId" class="fluid" >
                        <input type="hidden" id="uuid" value="">
                    <input type="hidden" id="type" value=""/>
                    </div>
                </div>
                <div class="input-wrap">
                    <label>First Name</label>
                    <div class="input">
                        <input type="text" value="" class="fluid" placeholder="Enter First Name" id="firstName" ng-model="email.firstName"/>
                    </div>
                </div>
                <div class="input-wrap">
                    <label>Action Name</label>
                    <div class="input">
                        <input type="text" value="" class="fluid" placeholder="Enter Last Name" id="lastName" ng-model="email.lastName"/>
                    </div>
                </div>
            </div>
            <div class="modal-cta-container" >
                <a class="long-button blue-button" id="addActionYourPlan" ng-click="updateEmailID(email)" id="addContactButton" href="">Create this Action</a>
            </div>
        </div>
    </div>
</div>