<div class="main-content-wrap">
<!--    <div ng-include="'facebookmanagepages.html'"></div>-->
<!--    <div ng-include="'twitterpopupsocialhub.html'"></div>-->
    <div class="top-nav-wrap">
        <div class="header">
            <a class="back-button" href="dashboard"></a>
            <h2 class="">Create a Social Post</h2>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>
    <div class="content-wrap content-wrap-flex" ng-if="hideBaseSocialSequence"> 
         <div class="modal-pane modal-pane-width-reg">
            <div class="modal-pane-header-wrap">
                <h2>Select a Social Channel</h2>
            </div>
            <div class="modal-pane-content-wrap">
                <div class="cat-list">
                    <div class="cat-slat" ng-click="setChannel('facebook')">
                        <img  src="../images/F_icon.svg" class="social-channel-icon" style="cursor:pointer;" alt=""/>
                        <div class="cat-slat-title" >Facebook</div>
                    </div>  
                    <div class="cat-slat" ng-click="setChannel('twitter')">
                        <img  src="../images/Twitter_icon.svg" class="social-channel-icon" style="cursor:pointer;" alt=""/>
                        <div class="cat-slat-title">Twitter</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>




   



    