
<div class="main-content-wrap">
    <div class="top-nav-wrap">
        <div class="header" ng-init="getUserDetails()">
            <h2 class="">Your Dashboard</h2>
            <h2>{{companyName}} {{userFirstName}} {{userLastName}} {{userRole}} {{logourl}}</h2>
            <input type="button" name="changeCompany" id="changeCompany" value="change company" ng-click="showCompanyList();" />
          
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>

    <div class="content-wrap content-wrap-padding">
        <div class="modal-pane modal-pane-width-full">
            <div class="modal-pane-header-wrap">
                <h2>What would you like to do today?</h2>
            </div>
            <div class="modal-pane-content-wrap dash-main-cta-card-wrap">
                <div class="dash-main-cta-card">
                    <object type="image/svg+xml" data="/BrndBot/user/images/homepage-icons-01.svg" style="cursor:pointer;"> </object>
                    <h3>Create an email to send now or schedule for later</h3>
                    <a class="reg-button gray-button" ng-click="redirectToEmailFlow('baseemaileditor')">Create an Email</a>
                </div>
                <div class="dash-main-cta-card">
                     <object type="image/svg+xml" data="/BrndBot/user/images/homepage-icons-02.svg" style="cursor:pointer;"> </object>
                    <h3>Post now or schedule a Facebook or Twitter post</h3>
                    <a class="reg-button gray-button" ng-click="redirectFlow('socialsequence')">Create a Social Post</a>
                </div>
                <div class="dash-main-cta-card">
                     <object type="image/svg+xml" data="/BrndBot/user/images/homepage-icons-03.svg" style="cursor:pointer;"> </object>
                    <h3>Create a new marketing campaign and plan actions</h3>
                    <a class="reg-button gray-button" ng-click="redirectToMarketingProgram('createmarketingprogram')">Start a Campaign</a>
                </div>
            </div>
        </div>
    </div>
</div>