<div class="contentWrap--withSideNav">
        <div class="topNav clear">
            <div class="topNav--TitleBar clear">
                <span class="topNav--TitleBar--Title fleft h2">Your Dashboard</span>
            </div>
        </div>
        <div class="contentWrapInner">
            <div class="topNav--offset"></div>
            <div class="pane pane--fullwidth">
                <div class="pane_header clear">
                    <div class="pane_title h1 fleft">What would you like to do today?</div>
                </div>
                <div class="pane_content clear">
                    
                    <div class="dashboard-MainCTA-col fleft">
                        <div class="dashboard-MainCTA "> 
                            <div class="dash-icon">
                                <a href="socialsequence"><img type="image/svg+xml" src="images/homepage-icons-01.svg" class="dash-svg" style="cursor:pointer;"></a>                                 
                                </div>
                            <div class="dashboard-mainCTA-subtext">Create an email to send now or schedule for later</div>
                            <div class=" dashboard-mainCTA-button "><a href=""><div class="Button--Blue Dash_Button" ng-click="redirect('emailcategory','')">Create an Email</div></a></div>
                        </div>
                    </div>
                    
                    <div class="dashboard-MainCTA-col fleft">
                        <div class="dashboard-MainCTA "> 
                            <div class="dash-icon">
                                <a href="emailcategory"><img type="image/svg+xml" src="images/homepage-icons-02.svg" class="dash-svg" style="cursor:pointer;"></a>
                                 
                                </div>
                            <div class="dashboard-mainCTA-subtext">Post now or schedule a Facebook or Twitter post</div>
                           
                             <div class=" dashboard-mainCTA-button "><a href="#/socialsequence"><div class="Button--Blue Dash_Button">Create a Social Post</div></a></div>
                        </div>
                    </div>
                    
                    <div class="dashboard-MainCTA-col fleft">
                        <div class="dashboard-MainCTA "> 
                            <div class="dash-icon">
                                <a href="createmarketingprogram">  <img type="image/svg+xml" src="images/homepage-icons-03.svg" class="dash-svg" style="cursor:pointer;"></a>
                                </div>
                            <div class="dashboard-mainCTA-subtext">Create a new marketing campaign and plan actions</div>
                            <div class=" dashboard-mainCTA-button "><a href=""><div class="Button--Blue Dash_Button" ng-click="redirectToMarketingProgram('createmarketingprogram')">Create a Campaign</div></a></div>
                        </div>
                    </div>
                    
                </div>
            </div>   
        </div>
    </div>