
<div  ng-init="getUserDetails()">
           <div class="bb-top-nav">
                <div class="bb-bar-left-wrap bb-one-third-flex-col">
                    <h3 class="bb-top-nav-title">Your Dashboard</h3>
                </div>
                <div class="bb-bar-right-wrap bb-one-third-flex-col">
                    <div class="bb-help-icon">help icon</div>
                    <div class="bb-user-profile-dropdown-wrap" ng-init="getUserDetails()" ng-click="userSettings=true">
                        <div class="bb-user-profile-user-name">{{userFirstName}} {{userLastName}}</div>
                        <img type="image/svg+xml" src="/BrndBot/images/dropdown.svg" class="hub-dropdown-icon" style="cursor:pointer;"/>
                    </div>
                    <div ng-include src="'usersettingsDropDown.html'" class="bb-user-settings-dropdown-target"></div>
                </div>
            </div>
<!--<div class="main-content-wrap">
    <div class="top-nav-wrap">
        <div class="header" >
            <h2 class="">Your Dashboard</h2>
            <h2>{{companyName}} {{userFirstName}} {{userLastName}} {{userRole}} {{logourl}}</h2>
            <input type="button" name="changeCompany" id="changeCompany" value="change company" ng-click="showCompanyList();" />
          
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>-->

    <div class="bb-main-content-wrap bb-main-content-wrap-padding">
        <div class="bb-panel-full-width bb-panel-styling">
            <div class="bb-panel-header">
                <h2>What would you like to do today?</h2>
            </div>
            <div class="bb-panel-content-wrap bb-dash-panel-cta-wrap">
                <div class="dash-main-cta-card">
                    <object type="image/svg+xml" data="/BrndBot/images/homepage-icons-01.svg" style="cursor:pointer;"> </object>
                    <h3>Create an email to send now or schedule for later</h3>
                    <a class="bb-button bb-default-action-button" ng-click="redirectToEmailFlow('baseemaileditor')">Create an Email</a>
                </div>
                <div class="dash-main-cta-card">
                     <object type="image/svg+xml" data="/BrndBot/images/homepage-icons-02.svg" style="cursor:pointer;"> </object>
                    <h3>Post now or schedule a Facebook or Twitter post</h3>
                    <a class="bb-button bb-default-action-button" ng-click="redirectFlow('socialsequence')">Create a Social Post</a>
                </div>
                <div class="dash-main-cta-card">
                     <object type="image/svg+xml" data="/BrndBot/images/homepage-icons-03.svg" style="cursor:pointer;"> </object>
                    <h3>Create a new marketing campaign and plan actions</h3>
                    <a class="bb-button bb-default-action-button" ng-click="redirectToMarketingProgram('createmarketingprogram')">Start a Campaign</a>
                </div>
            </div>
        </div>
    </div>
</div>
