<div id="fade" ng-class="fadeClass" class="center-pop-ups">
        <!-- took this out id="addActionemllist"-->
        <div class="modal-pane modal-pane-width-reg create-email-popup"  ng-show="createEmailListPopup">
            <div class="modal-pane-header-wrap">
                <h2 class="">Create New Email List</h2>
                <a id="addactionlistClose" ng-click="closeCreateEmailList()" class="modal-pane-header-exit"></a>
            </div>
            <div class="modal-pane-content-wrap create-new-schedule-modal">
                <div class="input-wrap">
                    <label>Email List Name</label>
                    <a class="input">
                        <input type="text" id="list_name" ng-model="email.listName" placeholder="Enter a name for the email list" class="fluid" />
                    </a>
                    <span class="validationAlert" ng-if='email.listName === "" || null'>{{emailListValidation}}</span>

                </div>
                <div class="input-wrap">
                    <label>List Description</label>
                    <a class="input">
                        <input type="text" id="list_description" ng-model="email.listDescription" placeholder="Enter List Description" class="fluid" />
                    </a>
                    <span class="validationAlert" ng-if='email.listDescription === "" || null'>{{emailDescriptionValidation}}</span>

                </div>
                <div class="input-wrap">
                    <label>Default from Address</label>
                    <div class="input">
                        <input id="default_from_name" ng-model="email.deafultFromName" type="email"  placeholder="Default from Address" class="fluid" />
                    </div>
                 <span class="validationAlert" ng-if='email.deafultFromName === "" || null'>{{fromAddressValidation}}</span>
                </div>
            </div>
            <div class="modal-cta-container" >
                <a class="long-button blue-button" id="createEmailListButton" ng-click="createEmailList(email)" href="javascript:void(0)">Create this Action</a>
            </div>
        </div>
</div>

