<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/General-Utility.css">
        <link rel="stylesheet" type="text/css" href="css/Navigation.css">
        <link rel="shortcut icon" href="images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="css/Page-Structure.css">
        <link rel="stylesheet" type="text/css" href="css/Pane.css">
        <link rel="stylesheet" type="text/css" href="css/Dashboard.css">
        <link rel="stylesheet" type="text/css" href="css/Email.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/Form-Input.css">
        <link rel="stylesheet" type="text/css" href="css/overlay-drawer.css">
        <link rel="stylesheet" type="text/css" href="css/sequence-Pages.css">
        <link rel="stylesheet" type="text/css" href="css/slats.css">
        <link rel="stylesheet" type="text/css" href="css/onboarding.css">
        <link rel="stylesheet" type="text/css" href="css/login-onboarding.css">
        <link rel="stylesheet" type="text/css" href="css/admin.css">
        <link href="css/popup.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="css/gallery-user.css"/>
        <link href="css/style_detail_overlay-1.css" rel="stylesheet" type="text/css"/>
        <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <link href="css/style_detail_overlay-1.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
        <script src="../js/configurations.js"></script>
        <script>
          var appp = angular.module("imgPopup", []);
            appp.directive('fileModel', ['$parse', function ($parse) {
                    return {
                        restrict: 'A',
                        link: function (scope, element, attrs) {
                            var model = $parse(attrs.fileModel);
                            var modelSetter = model.assign;

                            element.bind('change', function () {
                                scope.$apply(function () {
                                    modelSetter(scope, element[0].files[0]);
                                });
                            });
                        }
                    };
                }]);
            appp.controller("imgPopupController", function ($scope, $http, $q) {
                $scope.showImageGalleryPopup = true;
                $scope.showUserImages = true;
                $scope.imageToBeUploaded = 'images/uploadPhoto.svg';
                $scope.imageSelected = 'gallery-item-wrap-selected-true';
                $scope.imageUnSelect = 'gallery-item-wrap-selected';
                var imageurl = ""; 
                var deffered = $q.defer();
                $scope.getImg = function () {
                        $scope.showUploadImage = false;
                        $scope.showUserImages = true;
                    $http.get(getHost()+"companyImages/get", "", "").then(function (getData) {
                        $scope.datalists = getData.data.d.details;
                        $scope.companyId = getData.data.d.details[0].fkCompanyId.companyId;
                        deffered.resolve(getData.data);
                    });
                };
                $scope.selectImageToPost = function (imageName, imageFrom, companyId,id) {
                        angular.element(document.getElementsByClassName('gallery-item-wrap-selected-true')).addClass('gallery-item-wrap-selected').removeClass('gallery-item-wrap-selected-true');
            angular.element(document.getElementById(id)).removeClass('gallery-item-wrap-selected').addClass('gallery-item-wrap-selected-true');
                    imageurl = "/BrndBot/downloadImage?imageType=GALLERY&imageName=" + imageName + "&companyId=" + companyId + "";
                };
                $scope.addImage = function (){
                    $("#imageDiv").val(imageurl);
                };
                $scope.selectImageFromGallery = function (popmpMode) {
                    if (popmpMode) {
                        $scope.showUploadImage = false;
                        $scope.showUserImages = true;
                    } else {
                        $scope.showUserImages = false;
                        $scope.showUploadImage = true;
                    }
                };
                $scope.uploadLogo = function (myFile) {
                    var file = myFile;
                    console.log(file);
                    var deffered = $q.defer();
                    var fd = new FormData();
                    fd.append('file', file);
                    $http.post(getHost()+"images/save", fd, {
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined}
                    }).then(function (putData) {
                        deffered.resolve(putData.data);
                        $scope.getImg();
                    }, function (error) {
                    });
                };

            });
        </script>
    </head>

    <body ng-app="imgPopup" class="body-normal" ng-controller="imgPopupController">
        <input type="hidden" id="imageDiv">
        <form>
            <div  ng-show="showImageGalleryPopup" class="popUp_background-dark " id="imagePopUp" >
                <div class="popUp_CenterVert" ng-init="getImg()">
                    <div class="popUp-top-wide lear" >
                        <div class="popUp_header clear">
                            <div class="pane_title fleft h2 col1of2">Please Select an Image</div>
                            <div class="popUp_close fright" id="hidepopup" ng-click="selectImageFromGallery(false)">
                                <!--<img type="image/svg+xml" src="../static_resources/images/Pop-Up-Exit-Button.svg" class="fleft popUp_close-icon cursor-shape">-->
                            </div>
                        </div>
                        <div class="popUp_subheader clear">
                            <span  class="popUp_subheader-tabs fleft cursor-shape" id="showGallery" ng-class="selectTabGallery" ng-click="selectImageFromGallery(true)">From Gallery</span>
                            <span  class="popUp_subheader-tabs fleft cursor-shape" id="shoeUploadimage" ng-class="selectTabUpload" ng-click="selectImageFromGallery(false)">Upload Image</span>
                        </div>
                        <div class=" gallery-padding clear gallery-pane">
                            <span id="gallerySpan" ng-init="getUserImages()" ng-show="showUserImages"> 
                                <div class="gallery-item-wrap-selected fleft {{images.companyImagesId}}" id="{{images.companyImagesId}}" ng-repeat="images in datalists" ng-class="imageUnSelect"  ng-click="selectImageToPost(images.imageName, 'gallery', companyId,images.companyImagesId)">
                                    <div class="gallery-image-wrap">
                                        <img id="{{images.companyImagesId}}"  src="/BrndBot/downloadImage?imageType=GALLERY&imageName={{images.imageName}}&companyId={{companyId}}" alt="alt_text" border="0" align="center" class="gallery-image" />
                                    </div>
                                    <div class="gallery-name"> Photo {{images.companyImagesId}}</div>
                                    <div classelectImages="gallery-settings"></div>
                                </div>
                            </span>
                            <span class="" id="uploadImageSpan" ng-show="showUploadImage">
                                <div class="logoUpload-wrap">
                                    <img  ng-src="{{imageToBeUploaded}}" class="logoUpload-svg" style="cursor:pointer;">
                                </div>
                                <div class="Add_Button Button--Gray logoUpload--button">Select Image
                                    <input type="file" file-model="myFile" class="Add_Button Button--Gray logoUpload--button upload fileupld"/>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="popUp-bottom-wide" id="addImageButton" ng-click="addImage()" ng-show="showUserImages">
                        <span class="clickable-area">
                            <div class="popUp-bottom-link">ADD IMAGE</div>
                        </span>
                    </div>
                    <div class="popUp-bottom-wide " id="uploadImageButton"  ng-click="uploadLogo(myFile)" ng-show="showUploadImage">
                        <span class="clickable-area">
                            <div class="popUp-bottom-link">UPLOAD IMAGE</div>
                        </span>
                    </div>

                </div>
            </div>
        </form>
    </body>
</html>
