<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/general_1.css" />
        <script src="../js/utilities/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../js/utilities/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
        <script src="../js/configurations.js"></script>
        <link href="../css/jquerygrowl.css" rel="stylesheet" type=""text/css"/>
        <script src="../js/utilities/jquerygrowl.js" type="text/javascript"></script>
        <script>
            var appp = angular.module("imgPopup", []);
            appp.directive('customOnChange', function () {
                return {
                    restrict: 'A',
                    link: function (scope, element, attrs) {
                        var onChangeFunc = scope.$eval(attrs.customOnChange);
                        element.bind('change', onChangeFunc);
                    }
                };
            });
            appp.directive('toggleClass',function(){
                    var directiveDefinitionObject = {
                    restrict: 'A',
                    template: '<span ng-click=";localFunction()" ng-class="selected"  ng-transclude></span>',
                    replace: true,
                    scope: {
                        model: '='
                    },
                    transclude: true,
                    link: function (scope, element, attrs) {
                        scope.localFunction = function () {
                            scope.model.value = scope.$id;
                        };
                        scope.$watch('model.value', function () {
                            if (scope.model.value === scope.$id) {
                                scope.selected = "bb-email-gallery-image-card active";
                            } else {
                                scope.selected = 'bb-email-gallery-image-card';
                            }
                        });
                    }
                };
                return directiveDefinitionObject;
            });
            appp.controller("imgPopupController", function ($scope, $http, $q) {
                $scope.imageToBeUploaded = '../images/uploadPhoto.svg';
                $scope.imageSelected = 'gallery-item-wrap-selected-true';
                $scope.imageUnSelect = 'gallery-item-wrap-selected';
                var imageurl = "";
                var deffered = $q.defer();
                var companyId = JSON.parse(localStorage.getItem("companyDetails")).companyId;
                $scope.getAllCompanyImages = function () {
                    $scope.fadeClass = 'fadeClass';
                    $scope.showUploadImage = false;
                    $scope.showUserImages = true;
                    $scope.chooseImage = true;
                    $http.get(getHost() + "companyImages/get?companyId="+companyId, "", "").then(function (getData) {
                        $scope.datalists = getData.data.d.details;
                        $scope.companyId = getData.data.d.details[0].fkCompanyId.companyId;
                        deffered.resolve(getData.data);
                    });
                };
                $scope.selectImageToPost = function (imageName, imageFrom, companyId, imageId) {
                    imageurl = getHost() + "downloadImage?imageType=GALLERY&imageName=" + imageName + "&companyId=" + companyId + "";
                    $("#imageDiv").val(imageurl);
                    $scope.setImageBorder=imageId;
                };
                $scope.selectImageFromGallery = function (popmpMode) {
                    if (popmpMode) {
                        $scope.showUploadImage = false;
                        $scope.showUserImages = true;
                    } else {
                        $scope.showUserImages = false;
                        $scope.showUploadImage = true;
                    }
                };
                $scope.showImageUploadPopup = function ()
                {
                    $("#filesToUpload").trigger("click");
                };
                $scope.uploadFile = function () {
                    var deffered = $q.defer();
                    var fd = new FormData();
                    fd.append('file', event.target.files[0]);
                    $http.post(getHost() + "images/save?companyId="+companyId, fd, {
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined}
                    }).then(function (putData) {
                        deffered.resolve(putData.data);
                        $scope.getAllCompanyImages();
                    }, function (error) {
                    });
                };

            });
        </script>
        <style>
            .thumb{
                width:140px;
                height:140px;
                margin:6px;
                float:left;
            }
            .mce-rank-button button {
                color: red !important;
            }
            .imageBorder{
                border: #006A9E 3px solid;
            }
        </style>
    </head>
    <body ng-app="imgPopup" ng-controller="imgPopupController">
        <input type="hidden" id="imageDiv">
                <div class="bb-email-image-pop-up" ng-init="getAllCompanyImages()">
                   
                        <div class="bb-email-image-pop-up-header">
                            <a class="bb-button bb-default-action-button" ng-click="showImageUploadPopup()">Upload an Image</a>
                        </div>
                        <div class="pop-up-inner-gallery" ng-show="chooseImage">
                            <div class="imageGallery-inner-popup" style="display: none !important;">
                                <div class="imageUpload-container">
                                    <div class="browse-button">
                                        <input type="file"  hidden="" id="filesToUpload" custom-on-change="uploadFile"/>
                                    </div>
                                </div>                     
                            </div>
                            <div class="bb-panel-content-wrap gallery-image-content-wrap" ng-show="showUserImages" >
                                <div ng-init="model = { value: 'bb-email-gallery-image-wrap active'}">
                                    <div toggle-class model="model" ng-repeat="images in (filteredItems = (datalists| orderBy: 'createdDate':true))"  ng-click="selectImageToPost(images.imageName, 'gallery', companyId,images.companyImagesId)">
                                        <div  class="bb-gallery-image" id="{{images.companyImagesId}}"  style="background-image: url('/BrndBot/downloadImage?imageType=GALLERY&imageName={{images.imageName}}&companyId={{companyId}}'); background-position:50% 50%; background-repeat:no-repeat; background-size: contain;"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
    </body>
</html>
