<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <link rel="shortcut icon" href="../images/favicon.png">
        <title> BrandBot - Dashboard</title>
        <link rel="import" href="header.html">
        <script src="../js/controller/dashboardController.js" type="text/javascript"></script>
</head>    

    <body ng-app="dashboardFlowApp" class="body-normal" ng-controller="dashboardController">
        <div ng-include src="header.url"></div>
    <script type="text/ng-template"></script>
    <div class="bb-app-frame">
        <div class="bb-main-app-wrap" >
            <div ng-include src="'navbar.html'"></div> 
            
            <input type="hidden" ng-model="categoryId" value="{{categoryId}}"/>
            <input type="hidden" ng-model="subCategoryId" value="{{subCategoryId}}"/>
            <input type="hidden" ng-model="emailChannelId" value="{{emailChannelId}}"/>
            <input type="hidden" ng-model="forwardone" value="{{forwardone}}"/>
            <input type="hidden" ng-model="forwardtwo" value="{{forwardtwo}}"/>
            <input type="hidden" ng-model="lookupId" value="{{lookupId}}"/>
            <input type="hidden" ng-model="externalSourceName" value="{{externalSourceName}}"/>
            <input type="hidden" ng-model="mindbodyid" value="{{mindbodyid}}"/>
            <input type="hidden" ng-model="emailsubject" value="{{emailsubject}}"/>
              <div class="bb-main-container-wrap">
                 <div ng-view></div> 
              </div>
        </div>
    </div>
</body>
</html>