<div class="bb-editor-option-slider">

    <div class="bb-top-nav">
        <div class="bb-bar-left-wrap">
            <a class="bb-back-button bb-rotate-element-180" ng-click="CLOSE BUTTON OVERLAY"></a>
            <h3 class="bb-top-nav-title">Button Options</h3>
        </div> 
    </div>
    <div class="bb-email-option-wrap">
        <div class="input-wrap">
            <label> Button Text </label>
            <div class="input" >
                <input class="fluid" id=""  placeholder="Button URL" ></input>
            </div>
        </div>

        <!--This is a dropdown of marketing campaign links-->
        <div class="input-wrap">
            <label>Choose a URL from Marketing Campaign Links</label>
            <div class="" dropdown-select="" dropdown-model="" dropdown-onchange=""></div>
        </div>
        <div class="input-wrap">
            <label> Input a URL </label>
            <div class="input" >
                <input class="fluid" id=""  placeholder="Input URL"></input>
            </div>
            <p>If you put a URL here it will override the campaign link dropdown</p>
        </div>
        <!--Button Color Change-->

         <div class="input-wrap">
            <label>Choose a Background Color</label>
            <!-- on click show the color picker plus the four palette colors-->
            <div class="bb-color-wrap" ng-click="NEED TO PUT OPEN COLOR PICKER">
                <div class="bb-small-color-swab" style="background-color:{{CURRENT BUTTON BACKGROUND COLOR GOES HERE}}"></div>
                <div class="bb-small-color-swab-label">{{CURRENT HEX VALUE GOES HERE}}</div>
            </div>
             <!--color picker goes here-->
         </div>
       
         <!--This is a dropdown of fonts-->
        <div class="input-wrap">
            <label>Choose a font</label>
            <div class="" dropdown-select="" dropdown-model="" dropdown-onchange=""></div>
        </div>
        <div class="input-wrap">
          <label>Choose a Background Color</label>
          <!-- on click show the color picker plus the four palette colors-->
          <div class="bb-color-wrap" ng-click="NEED TO PUT OPEN COLOR PICKER">
              <div class="bb-small-color-swab" style="background-color:{{CURRENT BUTTON BACKGROUND COLOR GOES HERE}};"></div>
              <div class="bb-small-color-swab-label">{{CURRENT HEX VALUE GOES HERE}}</div>
          </div>
           <!--color picker goes here-->
       </div>
    </div>

</div>