<div class="bb-editor-option-slider">
    <div class="bb-top-nav">
        <div class="bb-bar-left-wrap">
            <a class="bb-back-button bb-rotate-element-180" ng-click="CLOSE BUTTON OVERLAY"></a>
            <h3 class="bb-top-nav-title">Image Options</h3>
        </div> 
    </div>
    <div class="bb-email-option-wrap">
        <div class="input-wrap">
            <div class="input" >
                <div class="bb-button bb-default-action-button">Change Image</div>
                <!--Open Image gallery pop up-->
            </div>
        </div>
        <div class="input-wrap">
            <div class="input" >
                <div class="bb-button bb-default-action-button">Edit Image</div>
            </div>
        </div>
    </div>
</div>