
    <div ng-include src="'navbar.html'"></div>   
    <div class="main-content-wrap" ng-init="redirectBaseURL()">
       
        <div class="top-nav-wrap">
            <div class="header">
                <a class="back-button" href="baseemaileditor#/emailcategory"></a>
                <h2 class="">Create an Email</h2>
            </div>
        </div>
        <div class="top-nav-bar-offset"></div>
        <div class="content-wrap content-wrap-flex content-wrap-with-continue-bar"> 
        <div ng-init="getSubCategories('emailexternalsource','emailsubjects')">
            <div ng-include src="'generictableview.html'"></div>    
        </div>
        </div>
    </div>
