<div ng-include src="'marketinghubnavigation.html'"></div>
<div ng-include src="'savedemaildraftpopup.html'"></div>

    <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav" id="emaildraftsdiv" ng-click="showSettingsPopup(false);">
        <div class="bb-panel-full-width bb-panel-styling" ng-init="displayAllEmailDrafts(false)">
            <div class="bb-panel-header">
                <h2 class="">Your Email Drafts</h2>
            </div>
             <div class="bb-panel-empty-state-wrap"  ng-show="emaildraftnumber === '0'" >
                <h2 class="bb-panel-empty-state-text">You have no email drafts.</h2>  
            </div>
            <div class="bb-panel-empty-state-wrap" ng-if="showDataOverlay">
                    <div class="external-data-loading-wrap">
                        <div class="external-data-loading-block">
                            <div class="loader"></div>
                            <div class="loader-description">Loading your content</div>
                        </div>
                    </div>
            </div>
            <div class="bb-panel-content-wrap" ng-show="marketingHubTab.isSelected(1) && emaildraftnumber !== '0'">
                <!--<div class="hub-empty-wrap" ng-show="emaildraftnumber === '0'"><div class="slat" ><div class="selection-container col-5p" id="deleteids"> {{emaildraftsstatus}}</div></div></div>-->
                    <div class="bb-slat" id="li{{drafts.id}}" ng-repeat="drafts in emaildrafts | filter:userSearch" ng-click="showDraftPopup(drafts.id, drafts.categoryid, drafts.emailsubject, drafts.editdate, drafts.subcategoryid, drafts.mindbodyid, drafts.lookupid)">
                        <div class="selection-container col-5p" id="deleteids"> 
                            <!--<div class="selection-icon" id="{{drafts.id}}" ng-click="emailDraftCheckbox(drafts.id)">
                                <input type="checkbox" id="{{drafts.id}}" value="{{drafts.id}}" name="draftname" style="display:none;"></input>
                            </div>-->
                        </div>
                        
                        <div class="slat-name-wrap">
                            <h2>{{drafts.emailsubject}}</h2>
                            <p>Last edited on {{drafts.editdate| date: "MMM dd yyyy "}}at{{drafts.editdate| date: " h:mm a"}}</p>
                        </div>
                      
                    </div>
            </div>
        </div>
    </div>
