
<!--<div ng-show="overlayFade" id="fade" class="black_overlay" ></div>-->
<div ng-if ="emailMindBodyPopup" class="center-pop-ups" id="emaileditorexternalpopup">

    <!--MainContent-->
   <!--<div class="detail-overlay-content">
        <div class="top-nav-container-detail">
            <div class=" top-navbar-detail topnav-exdata">
                <span ng-click="closeMindbodyPopup()">
                    <a class=" exit-button-detail link svg close" href="" id="mindbodyclose">
                        <img src="images/close.svg" class="exit-button" style="cursor:pointer;"></img>
                    </a>
                </span>
                <div  class="top-navbar-inner-bb-detail">
                    <div class="top-navbar-title-container"><span class="h4 top-navbar-title"> Please select which program to use:</span></div>
                    <div class="top-nav-cta-container">                  
                    </div>    
                </div>
            </div>
        </div>
        <div class="exdata-selection-overlay">
            <div class="inner-content-container-detail">
                <div class="exdata-content-detail">
                    <div ng-show="loadingGifImageMindbody">
                    <img id="loadingGifformindbody" src="images/YogaLoadingGif.gif"/>
                </div>
                
                <ul ng-show="emailScrollyDiv" class="subcategory-list-container col-1of1 fleft scrollydiv"> 
                    <input type="text" placeholder="Search" ng-model="userSearch">
                    <li class="subcategory-list-element col-1of1 fleft" ng-repeat="mindbody in mindbodyDataList.mindbody_data | filter:userSearch" ng-click="didSelectMindbodyDataId(mindbody.id)">
                       <div class="subcat-list col-3of10 fleft padding-right-15 ">{{mindbody.column1}} 
                       </div>
                        <div class=" col-2of10 fleft ">
                            <div class="slat-column-font list-column-number col-1of1 sh2 fleft margin-top-12">{{mindbody.column3}}</div>
                            <div class="list-column-description col-1of1 sh3-contact fleft">Date</div>
                        </div>
                        <div class=" col-3of10 fleft slat-attribute-container">
                            <div class="slat-column-font list-column-number col-1of1 sh2 fleft">{{mindbody.column2}}</div>
                            <div class="list-column-description col-1of1 sh3-contact fleft">Instructor</div>
                        </div>
                        <div class="col-2f10 fleft">
                            <img src="images/nextArrow.svg" class="next-button-icon" ></img>
                        </div>                       
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>-->
   <div class="modal-pane modal-pane-width-full mbPopup ">
       <div ng-init="hideMindbodyOverlay = false" ng-if="hideMindbodyOverlay">
            <div class="modal-pane-header-wrap">
                <h2>Email Template Category</h2>
                 <input type="text" placeholder="Search" ng-model="userSearch">
                 <a class="modal-pane-header-exit" ng-click="closeMindbodyPopup()"></a>
<!--             <a ng-repeat="mindbody in mindbodylist" href="emailsubjects?categoryId=<%=categoryId%>&subCategoryId=<%=subCategoryId%>&mindbodyId={{mindbody.id}}&LookupId=<%=LookupId%>">-->
            </div>
            <div class="mb-modal-pane-content-wrap mbPopup">
                <a ng-repeat="mindbody in mindbodyDataList.mindbody_data | filter:userSearch" ng-click="didSelectMindbodyDataId(mindbody.id)" class="slat external-data">
                    <div class="slat-name-wrap">
                        <h2>{{mindbody.column1}}</h2>
                    </div>
                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2>{{mindbody.column3}}</h2>
                        </div>
                    </div>
                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2>{{mindbody.column2}}</h2>
                        </div>
                    </div>
                </a>
            </div>
       </div>
        </div>
</div>

