<div class="main-content-wrap">
<div ng-include src="'marketinghubnavigation.html'"></div>
    <div class="top-nav-bar-offset"></div>
    <div class="top-subnav-bar-offset"></div>
    <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav" ng-hide="emailDraftDetails">
    <div class="hub-pane" ng-show="emaildraftnumber === '0'">
        <div class="hub-pane-header-wrap">
            <h2 class="">Your Email Drafts</h2>
        </div>
        <div class="hub-pane-content-wrap">
            <div class="hub-empty-wrap">
                <div class="slat" ><div class="selection-container ">{{emaildraftsstatus}}</div></div>                    
            </div>
        </div>
    </div>
    </div>
    <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav" id="emaildraftsdiv" ng-show="emailDraftDetails">
        <div class="hub-pane" ng-init="displayAllEmailDrafts()">
            <div class="hub-pane-header-wrap">
                <h2 class="">Your Email Drafts</h2>
            </div>
            <div class="hub-pane-content-wrap">
                <div class="hub-empty-wrap" ng-show="emaildraftnumber === '0'"><div class="slat" ><div class="selection-container col-5p" id="deleteids"> {{emaildraftsstatus}}</div></div></div>
                <!--<div class="hub-slat-list-wrap" ng-repeat="drafts in emaildrafts" ng-show="emaildrafts.length > 0">-->
                    <div class="slat" id="li{{drafts.id}}" ng-repeat="drafts in emaildrafts | filter:userSearch">
                        <div class="selection-container col-5p" id="deleteids"> 
                            <div class="selection-icon" id="{{drafts.id}}" ng-click="emailDraftCheckbox(drafts.id)">
                                <input type="checkbox" id="{{drafts.id}}" value="{{drafts.id}}" name="draftname" style="display:none;"></input>
                            </div>
                        </div>
                        
                        <div class="slat-name-wrap">
                            <h2>{{drafts.emailsubject}}</h2>
                            <p>Last edited on {{drafts.editdate| date: "MMM dd yyyy "}}at{{drafts.editdate| date: " h:mm a"}}</p>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                 <!--                                        <a class="small-button slat-button detail-button-font" ng-click="editDrafts(drafts.id, drafts.categoryid, drafts.emailsubject, drafts.subcategoryid, drafts.subcategoryname)">View and Edit Draft</a>-->
                                <a class="reg-button gray-button slat-detail-button" ng-click="showDraftPopup(drafts.id, drafts.categoryid, drafts.emailsubject, drafts.editdate, drafts.subcategoryid, drafts.mindbodyid, drafts.lookupid)">Manage Draft</a>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>
    <div ng-include="'savedemaildraftpopup.html'"></div>
</div>