<div class="bb-top-nav">
    <div class="bb-bar-left-wrap bb-one-third-flex-col">
        <a href="dashboard" class="bb-back-button"></a>
        <h3 class="bb-top-nav-title">Choose an Email Template</h3>
    </div>
    <div class="bb-bar-center-wrap bb-one-third-flex-col">
      
    </div>
    <div class="bb-bar-right-wrap bb-one-third-flex-col">
        <div class="bb-help-icon">help icon</div>
        <a  href="dashboard" class="email-editor-save-exit-button"  >Cancel</a> 
    </div>
</div>
<div class="bb-main-content-wrap  bb-center-content">                         
    <div ng-init="getCategories(objectParameter.redirect='emailsubcategory')">
        <div ng-include src="'generictableview.html'"></div>  
    </div>
</div>

