<!DOCTYPE html>
<html>
    <head>
         <link rel="shortcut icon" href="images/favicon.png">
        <title>Email schedule</title>
    </head>
    <body class="body-normal">
        <div ng-include src="'header.html'"></div>
        <div ng-include src="'navbar.html'"></div>    
        <div id="addOrganizationPopupDiv" class="popUp_backgroundlayer"></div>
        <div class="popUp_background-dark" id="emailSchedulePopUp">
            <div class="popUp popUp_CenterVert">
               <div class="popUp_header clear">
                    <div class="pane_title fleft h2 col1of2">Choose to send or schedule</div>
                   <div class="popUp_close fright">
                        <a href="">
                            <object type="image/svg+xml" data="/Final-Icons/Pop-Up-Exit-Button.svg" class="fleft popUp_close-icon" style="cursor:pointer;"> </object>
                        </a>
                    </div>
                </div>
                <div class="pane_content pane-padding">
                        <div class="h3 font--lightGray ">It looks like you are exiting a page that you have work that has not been saved. Are you sure you want to continue?</div>
                        <div class="bigSelectButton-wrap clear">
                            <div class="selectButton-wrap fleft pushRight_45">
                                <object type="image/svg+xml" data="images/Schedule_PostNow_Inactive.svg" class="" style="cursor:pointer;"> </object>
                                <div class="selectButton-label">Post Now</div>
                            </div>
                            <a href="SocialSequence-ScheduleChoice.html"><div class="selectButton-wrap fleft">
                                <object type="image/svg+xml" data="images/Schedule_Schedule_Inactive.svg" class="" style="cursor:pointer;"> </object>
                                <div class="selectButton-label">Schedule for Later</div>
                            </div></a>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
