    <div ng-show="overlayFade" class="center-pop-ups overlay-dark-bg" ng-class="fadeClass">
 
    <div class="bb-panel-styling bb-panel-email-preview" ng-show="emailPreviewPopup">
        <div class="bb-panel-header">
            <h2 class="">Email Preview</h2>
            <a  ng-click="previewCloseButton()" class="modal-pane-header-exit" href="" id="closePreview"></a>
        </div>
        <div class="email-preview-wrap">
            <div class="email-preview-col-desktop">
                <div class="email-preview-header">Desktop Preview</div>
                <div class="email-preview-iFrame-wrap" ng-model="desktopEmailPreview">  
                    <iframe id="dynamictable5" style="position: relative; width: 100%; border: none; height: 100%;background-color: rgb(255, 255, 255);" src="{{iframePath}}"></iframe>                   
                </div>
                <div class="desktopshow" style="display:none;">
                    <iframe id='dynamictable' class="desktoppreview" src='{{iframePath}}'></iframe> 
                </div>                        
            </div>
            <div class="email-preview-col-mobile">
                <div class="email-preview-header">Mobile Preview</div>
                <div class="email-preview-iFrame-wrap">  
                    <iframe id="dynamictable6" style="position: relative; width: 100%; height: 100%; border: none; background-color: rgb(255, 255, 255);" src="{{iframePath}}"></iframe>                   
                </div>
            </div>
        </div>
    </div>
   </div>