    <div ng-include src="'marketinghubnavigation.html'"></div>
    <div ng-include src="'createemailList.html'"></div>
    <div class="bb-main-content-wrap bb-main-content-wrap-padding" id="emaillistsdiv" ng-show="emallistdetails">

        <!--USER ADDED LISTS-->
        <div class="bb-panel-full-width bb-panel-styling">
            <div class="bb-panel-header">
                <h2 class="">Email Lists</h2>
                <a href="" id="addemlstbtn" class="bb-button bb-default-action-button" ng-show="addEmailListButton" ng-click="addEmailList()">
                    <div > Create Email List</div>
                </a>
            </div>
            <div class="bb-panel-content" ng-init="emailListGet()">
                <div class="bb-panel-empty-state-wrap" ng-if="emailLists.length <= 0 || emailLists.length == undefined">
                    <h2 class="bb-panel-empty-state-text">You have no email lists.</h2>  
                
                </div>
                <div class="bb-slat-list-wrap" ng-show="emailLists.length > 0" ng-repeat="email in emailLists"> 
                    <div class="bb-slat" ng-click="viewEmailListDetails(email.emailListName, 'user')">
                       <!-- <div class="selection-container col-5p"> 
                            <div class="selection-icon" id="{{email.emailListID}}" ng-click="selectedEmailCheckbox(email.emailListID)">
                                <input type="checkbox" id="{{email.emailListID}}" value="{{email.emailListName}}" name="entityname" hidden></input>
                            </div>
                        </div>-->
                        <div class="slat-name-wrap">
                            <h2>{{email.emailListName}}</h2>
                            <p>Created on {{email.emailListAddedDate| date: 'MM-dd-yyyy'}}</p>
                        </div>
                        <div class="col-7of10 slat-unit fleft ">
                            <div class="slat-detail-wrap">
                                <div class="slat-detail">
                                    <h2>{{email.noofcontants}}</h2>
                                    <p>Contacts</p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>

        </div>

        <!--NH Show only if User is MINDBODY activated and add loader if lists arent loaded yet-->
        <div class="bb-panel-full-width bb-panel-styling">
            <div class="bb-panel-header">
                <h2 class="">MINDBODY Index Connected Lists</h2>
            </div>
            <div class="bb-panel-content" ng-init="emailListGet()">
                <div class="hub-empty-wrap"  ng-if="emailListsMindbody.length === 0">There are no MINDBODY Index Lists</div>
                <div class="bb-slat-list-wrap" ng-show="emailListsMindbody.length > 0" ng-repeat="email in emailListsMindbody">
                    <div class="bb-slat" ng-click="viewEmailListDetails(email.emailListName, 'user')">
                        <!--<div class="slat-icon-wrap"></div>-->
                        <div class="slat-name-wrap">
                            <h2>{{email.emailListName}}</h2>
                            <p>Created on {{email.emailListAddedDate| date: 'MM-dd-yyyy'}}</p>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <h2>{{email.noofcontants}}</h2>
                                <p>Number of Contacts</p>
                            </div>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail slat-detail-button ">
                                    <a class="reg-button slat-detail-button" >Manage Email List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>