    <link rel="stylesheet" type="text/css" href="css/style_detail_overlay-1.css"></link>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="css/slat.css"></link>
    <link rel="shortcut icon" href="images/favicon.png"></link>
    <link rel="stylesheet" href="css/popup.css">
    <div ng-include src="'navbar.html'"></div> 

<div class="main-content-wrap">
    <div class="top-nav-wrap">
        <!--        <input type="hidden" value="<%=categoryId%>" id="categoryIdTag"/>
        <input type="hidden" value="<%=subCategoryId%>" id="subCategoryIdTag"/>
        <input type="hidden" value="<%=mindbodyId%>" id="mindbodyId"/>
        <input type="hidden" value="<%=email_subject%>" id="email_subject"/>
        <input id="LookupId" type="hidden" value="<%=LookupId%>"/>
        <input id="externalSourceName" type="hidden" value="<%=externalSourceName%>"/>
        <input type="hidden" class="input-field-textfield col-8of10" id="mindbodyid" placeholder="Enter Name of email" value="<%=mindbody_id%>"></input>-->
<!--        <a class=" exit-button-icon" href="emailexternalsource?categoryId=<%=categoryId%>&subCategoryId=<%=subCategoryId%>&mindbodyId=<%=mindbodyId%>&LookupId=<%=LookupId%>">
            <div class="exit-button-detail">
                <img type="image/svg+xml" src="images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;"></img>
            </div>
        </a>-->
        <div class="header">
            <a href="baseemaileditor#/emailsubcategory" class="back-button"></a>
            <h2 class="">Create an Email</h2>
        </div>
    </div> 
    <div class="top-nav-bar-offset" ng-init="redirectBaseURL()"></div>
    <div class="content-wrap content-wrap-flex content-wrap-with-continue-bar">
        <div class="modal-pane modal-pane-width-reg">
            <div class="modal-pane-header-wrap">
                <h2>Email Details</h2>
            </div>
            <div class="modal-pane-content-wrap">
                 <div class="input-wrap">
                    <label> Enter a Subject Line </label>
                    <div class="input ">
                        <input id="emailSub" ng-model="$parent.emailsubject" type="text" value="{{emailsubject}}"  spellcheck="true" placeholder="Enter Subject of email" name="emailsubject"  class="fluid"></input>
                    </div>
                    <span class="validationAlert" ng-if='$parent.emailsubject == "" || null'>{{subjectValidation}}</span>

                </div>
            </div>
        </div>
    </div>
    <div class="continue-bar">
        <a ng-click="redirect('emaileditor','','','','','',emailsubject)" id="continue-bar-button" class="fright">CONTINUE</a>
    </div>
</div>