<!--        <div id="fade"></div>-->
        <div class="content-main" ng-if="showEmailListDetails">
      
            <div ng-include src="'addcontact.html'"></div> 
    
<!--    <input type="hidden" id="get_list_name" value="<%=list_name%>"/>
    <input type="hidden" id="get_type" value="<%=type%>"/>   -->
<!--    <input type="hidden" id="get_list_name" value="{{email.emailListName}}"/>-->
<!--    <input type="hidden" id="get_type" value="<%=type%>"/>   -->
    <div class="top-nav">
        <div class="page-title-bar col-1of1"> 
           <a class=" exit-button-icon" href="emaillists">
               <div class="exit-button-detail">
                <img src="images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;"/>
               </div>
           </a>
            <div class="page-title-with-back page-title-font">{{emailListName}}</div>
            <div class="page-cta-container">
                <a id="unselect" href="" class="gray-button button pushright fleft">
                    <div class=" md-button" onclick="unsel()"> Unselect Contacts</div>    
                </a>
                <a href="" id="delcontact" class="delete-button button fleft">
                    <div class=" md-button" ng-click="deleteSelected()"> Delete Contact</div>    
                </a>
                <a href="javascript:void(0)" class="fleft">
                     <div id="addcontact"  class="add-button md-button" ng-click="addContactDetails(add,'','','','')"> Add Contact</div>    
                </a>
<!--                <a href="javascript:void(0)" class="fleft">
                     <div id="addcontacts"  class="add-button md-button" ng-click="showAddContacts()"> Add Contacts</div>    
                </a>-->
            </div>
        </div>
        <div class="page-subnav-bar-regular"> 
            <div class="top-subnav-tabs-container-with-button">
                <ul class="top-subnav-nav-elements">
                    <li class="top-subnav-link-active" id="emailListli"> <a class="h3-active-subnav" id="emailLists" ng-init="updateList(emailLists)">Email List</a></li>
<!--                    <% if(type.equals("user")){%>-->
                    <li class="top-subnav-links" id="importListli" > <a class="h3" id="importList" ng-click="showAddContacts()">Import Contacts to List</a></li>
                    <!--<% }%>-->
                </ul>
            </div>
        </div>
    </div>
        <!--Main Content GENERIC--> 
        <div class="page-background" id="showList">
        <div class="page-content-container email-list-contact-page">
            
            <!--Inner Content Conatiner GENERIC-->
            <div class="page-inner-content-container ">
                <div class="fleft content" ng-init="updateList()">
                    <!--List Starts Here-->
                    <ul class="main-container fleft">
                        <input type="text" placeholder="Search" ng-model="userSearch">                        
                        <li class="slat-container fleft selfclear" ng-repeat="email in user_emailAddresses | filter:userSearch">
                            <div class="col-1of1 slat-unit fleft ">
                                <a href="">
                                    <div class="selection-container col-5p fleft"> 
<!--                                        <div class="selection-icon" id="{{email.id}}" onclick="selemlcheckbox(this.id);">-->
                                            <div class="selection-icon" id="{{email.emailListID}}" ng-click="selectedEmailCheckbox(email.emailListID)">
                                            <input type="checkbox" id="emailid{{email.emailAddress}}" value="{{email.emailAddress}}" name="emaillistname" hidden></input>
                                        </div>
                                    </div>
                                </a>
                                <div class="slat-title-container col-4of10 fleft">
                                    <div class="slat-title  col-1of1 sh1-contact">{{email.emailAddress}}</div>
                                    <div class="slat-title  col-1of1 sh1-contact" ng-show="email.emailAddress == '' && type == 'user'" id='NoContacts'>No contacts available</div>
                                    <div class="action-list-slat-description col-1of1 sh3-contact">Added on {{email.addedDate| date:'  M/dd/yyyy'}}</div>
                                </div>
                                <div class=" col-2of10 fleft slat-attribute-container" ng-show="email.firstName !== ''">
                                    <div class="slat-column-font list-column-number col-1of1 sh2 fleft">{{email.firstName}}</div>
                                    <div class="list-column-description col-1of1 sh3-contact fleft">First Name</div>
                                </div>
                                <div class=" col-2of10 fleft slat-attribute-container" ng-show="email.lastName !== ''">
                                    <div class="slat-column-font list-column-number col-1of1 sh2 fleft">{{email.lastName}}</div>
                                    <div class="list-column-description col-1of1 sh3-contact fleft">Last Name</div>
                                </div>
                                <div class="col-1of10 slat-cta-container fright">
                                    <a href="" onclick="fun('update','{{email.emailAddress}}','{{email.id}}','{{email.firstName}}','{{email.lastName}}');">
                                        <div class="small-button slat-button detail-button-font">Edit</div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="slat-container fleft selfclear" ng-repeat="email in mindbody_emailAddresses">
                            <div class="col-1of1 slat-unit fleft ">
                                <a href="">
                                    <div class="selection-container col-5p fleft" id="hideformindbdy"> 
<!--                                        <div class="chkmbhide selection-icon" id="{{email.id}}" onclick="selemlcheckbox(this.id);">
                                            <input type="checkbox" id="emailid{{email.emailAddress}}" value="{{email.emailAddress}}" name="emaillistname" hidden></input>
                                        </div>-->
                                    </div>
                                </a>
                                <div class="slat-title-container col-4of10 fleft">
                                    <div class="slat-title  col-1of1 sh1-contact">{{email.emailAddress}}</div>
                                    <div class="slat-title  col-1of1 sh1-contact" ng-show="email.emailAddress == '' && type == 'user'" id='NoContacts'>No contacts available</div>
                                    <div class="action-list-slat-description col-1of1 sh3-contact">Added on {{email.addedDate| date:'  M/dd/yyyy'}}</div>
                                </div>
                                <div class=" col-2of10 fleft slat-attribute-container" ng-show="email.firstName !== ''">
                                    <div class="slat-column-font list-column-number col-1of1 sh2 fleft">{{email.firstName}}</div>
                                    <div class="list-column-description col-1of1 sh3-contact fleft">First Name</div>
                                </div>
                                <div class=" col-2of10 fleft slat-attribute-container" ng-show="email.lastName !== ''">
                                    <div class="slat-column-font list-column-number col-1of1 sh2 fleft">{{email.lastName}}</div>
                                    <div class="list-column-description col-1of1 sh3-contact fleft">Last Name</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
        </div>    
        <div id="tab4" class="col-md-10 col-md-offset-2" class="hide">
                <div id="emailsubjectdiv">
                    <p class="header1">Email List:</p>
                    <input type="text" class="hideinputborder" id="email_list_name" name="email_list_name" placeholder="Enter Here"/>{{emailListName}} <br>
                    <div class="col-md-7 col-md-offset-0">
                        <label>Upload CSV</label><br><br>
                        <input type="file" class="fileUpload" id="fileUpload" name="fileUpload"><br>
                        <input class="button button--moema button--text-thick button--text-upper button--size-s" type="button" id="upload" value="Upload" ng-click="uploadCsv()" /><br>
                    </div><br>
                    <div id="dvCSV"></div>
                    <textarea width="400" height="500" id="textArea"></textarea><br><br>
                    <input  id="emailSubjectContinueButton" type="button" class="button button--moema button--text-thick button--text-upper button--size-s" value="Update" ng-click="updateEmailList()">
                </div>
        </div>
    </div>

        

