
<div ng-init="marketingHubTab.selectTab(4)" ng-include src="'marketinghubnavigation.html'"></div>
<div ng-show="overlayFade" id="fade" class="black_overlay"></div>
<div ng-include="'emailfooterpopup.html'"></div>
<div ng-include src="'unsubscribeemailspopup.html'"></div>

    <div class="bb-main-content-wrap bb-main-content-wrap-padding" ng-init="getEmailSettings()">
        <div class="bb-panel-full-width bb-panel-styling">
            <div class="bb-panel-header">
                <h2 class="">Email Settings</h2>                
            </div>
            <div class="bb-panel-content-wrap">
                <div class="hub-section">
                     <div class="section-header">
                         <h3>General Email Settings</h3>
                        <p>These are the default email settings, they can be overridden when you send out an email.</p>
                     </div>
                    <div class="input-wrap">
                        <label> Default From Email Address </label>
                        <div class="input">
                            <input id="from_address" class="fluid" type="text" ng-model="email_settings.from_address" name="from_address"  placeholder="Enter default email address"/>
                            <span class="validationAlert" ng-if='fromAddressCheck'>{{fromAddressValidation}}</span>
                        </div>
                        <p class="input-wrap-label"> Make this something that your clients will recognize</p>
                    </div>
                    <div class="input-wrap">
                        <label> Default From Name </label>
                        <div class="input">
                            <input id="from_name" class="fluid" type="text" ng-model="email_settings.from_name"   name="from_address"  placeholder="Enter default from name"/>
                            <span class="validationAlert" ng-if='fromNameCheck'>{{fromNameValidation}}</span>
                        </div>
                        <p class="input-wrap-label"> This is the name your clients will see in their inbox</p>
                    </div>
                    <div class="input-wrap">
                        <label> Default Reply-to Address </label>
                        <div class="input">
                            <input id="reply_address" class="fluid" type="text" ng-model="email_settings.reply_email_address"   name="reply_email_address"  placeholder="Enter default reply-to-address"/>
                            <p class="input-wrap-label"> Any replies to your emails will go to this address</p>
                            <span class="validationAlert" ng-if='replyToAddress'>{{replyToValidation}}</span>
                            <span class="validationAlert" ng-if="replyEmailValidation">{{emailaddrValidation}}</span>

                        </div>
                    </div>
                     <div class="update-container" ng-click="saveEmailSettings(email_settings)">
                        <a class="long-button gray-button">Save Settings</a>
                    </div>
                </div>
                <div class="hub-section" ng-init="getFooterDetails()">
                     <div class="section-header">
                        <h3>Email Footer Settings</h3>
                        <p >This footer will be added to the bottom all emails being sent out. If you do not want one of these links in your email footer just leave it blank.  </p>
                     </div>
<!--                    <div class="input-wrap">
                        <label>Company Address</label>
                        <div class="input">
                            <input id="company_address" class="fluid"  type="text" name="from_address" ng-model="company.address" placeholder="Enter company address" />
                            <p class="input-wrap-label"> We need this to comply with email spam (CANSPAM) laws</p>
                        </div>
                        <span class="validationAlert" ng-if='company.address === "" || null'>{{companyAddressValidation}}</span>

                    </div>-->
                    <div class="input-wrap">
                        <label> Website URL </label>
                        <div class="input">
                           <input id="reply_email_address" class="fluid" type="text" ng-model="company.websiteUrl" name="reply_email_address" placeholder="Enter website Url address" />
                            <p class="input-wrap-label"> This can be copied from the browser</p>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <label> Facebook URL </label>
                        <div class="input">
                            <input id="reply_email_address" class="fluid"  type="text" ng-model="company.facebookUrl" name="reply_email_address" placeholder="Enter Facebook Url address" />
                            <p class="input-wrap-label"> Log into your company's Facebook page and copy the URL</p>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <label> Twitter URL </label>
                        <div class="input">
                            <input id="reply_email_address" class="fluid"  type="text" ng-model="company.twitterUrl" name="reply_email_address" placeholder="Enter Twitter Url address" />
                            <p class="input-wrap-label"> Log into your company's Twitter page and copy the URL</p>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <label> Instagram URL </label>
                        <div class="input">
                            <input id="reply_email_address" class="fluid"  type="text" ng-model="company.instagramUrl" name="reply_email_address" placeholder="Enter Instagram Url address" />
                            <p class="input-wrap-label"> Log into your company's Instagram page and copy the URL</p>
                        </div>
                    </div>
                    <div class="update-container">
                        <a class="long-button gray-button" ng-click="changeFooterDetails(company)" href="">Update Email Footer</a>
                    </div>
                </div>
                <div class="hub-section">
                     <div class="section-header">
                         <h3>Upload Unsubscribed Emails</h3>
                        <p>Click below to upload a CSV of email unsubscribes to update their preferences. These email addresses will never recieve emails from BrndBot</p>
                     </div>
                     <div class="update-container" ng-click="openUnsubscribeEmailsPopup()">
                        <a class="long-button gray-button">Unsubscribe Emails</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>