<link rel="stylesheet" type="text/css" href="css/style_detail_overlay-6.css"/>
<div id="fade" class="black_overlay"></div>
<div ng-include src="'emailpreview.html'"></div>
<!--<div ng-include src="'emailpreview.html'"></div>--> 

<div id="boxes" >
    <div id="dialog" class="window" >
    </div>
    <div id="mask"></div>
</div> 

<!--SideNav-->
<!--<div class="content-main" ng-controller="MyController">   -->
<div class="content-main" ng-init="emailEditorInit()">  
    <div ng-include src="'emaileditormindbodypopup.html'"></div> 
    <!--Top Nav-->   
    <div class="top-nav-full">
        <div class="page-title-bar col-1of1"> 
            <a class=" exit-button-icon" href="emailsubjects?categoryId={{categoryId}}&subCategoryId=<{{categoryId}}&mindbodyId={{mindbodyId}}&LookupId={{LookupId}}&emailSubject={{emailSubject}}">    
                <div class="exit-button-detail">
                    <img type="image/svg+xml" src="images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;"> </img>
                </div>
            </a>
            <div class="page-title-with-back page-title-font">Email Editor</div>
            <div class="page-cta-container">
                <a href="" class="gray-button fleft pushright">
                    <div class="nounderline md-button" id="emailpreview" ng-click="emailPreviewOnClick()">  Preview Email</div>  
                </a>
                <a href="" class="gray-button fleft ">
                    <div class=" md-button" id="saveToDraft" ng-click="saveToDraftOnClick()">  Save as Draft</div>    
                </a>
            </div>
        </div>
    </div>
    <!--Main Content GENERIC--> 
    <div class="emailEditor-page-background fleft">
        <div class="emailEditor-leftCol ">
            <script>
                       
            </script>   
            <div id="editor">
                <div id='edit' class="editorclass" style="margin-top: 5px;">
                </div>
            </div>
            <!--////////////........ uncomment for footer....................///////-->
                             <div class="in-editor-footer-wrap">
                                        <h3>Email Footer</h3>
                                        <p>Your email footer is the same on every email. You 
                                    see the footer in this email by previewing your email. To edit
                                    the footer click email footer settings.</p>
<!--                                        <span class="reg-button gray-button" onclick="editFooter()">Edit Email Footer</span>-->
                                        <span class="reg-button gray-button" ng-click="editFooter()">Edit Email Footer</span>
                            </div>
        </div>
        <div class="emailEditor-rightCol fright rightcoloumn">
            <div class="emailSideBar-Header">
                <div class="col-1of2 fleft">
                    <div class="{{blocktab}}" id="blocktab" ng-init="showBlocks()" ng-click="showBlocks()">
                        Add Block
                    </div>
                </div>
                <div class="col-1of2 fleft">
                    <div class="{{styletab}}" id="styletab" ng-init="showStyles('false')" ng-click="showStyles('true')">
                        Change Style
                    </div>
                </div> 
            </div>
            <div class="email-Block-Selection right-email-select">
                <div class="email-Block-Header" id="blockdivheader" ng-show="blockdivheader">Select a block to add:</div>
                <div class="email-Block-Header" id="styledivheader" ng-show="styledivheader">Select a style for this block:</div>
                <div class="block-selection-divider"></div>
                <ul class="block-list" id="blockdiv" ng-show="blockdivheader">
                    <li class="block-slat"  ng-repeat="blocks in blockLists" id="{{blocks.emailBlockId}}" ng-click="blockOnClick(blocks.emailBlockId)">
                        <div class="block-name" id="blklist----{{blocks.emailBlockId}}" >{{blocks.emailBlockName}}</div>                            
                        <div class="block-button hide" ng-click="didChooseBlock(blocks.emailBlockId, blocks.externalSourceKeywordLookupId)" id="div2{{blocks.emailBlockId}}">Add Block</div>
                    </li>
                </ul>

                <ul class="block-list" id="stylediv" ng-show="styledivheader">
                    <li ng-repeat="styles in datalistsstyles.slice().reverse()" class="style-slat" id="stylelistid{{styles.modelId}}" ng-click="addActive('stylelistid' + styles.modelId)">
                        <div class="block-name">
                            <img id="{{styles.modelId}}" class="img-responsive lookchooser5 ptr" src="/BrndBot/downloadImage?imageName={{styles.imageFileName}}&imageType=EMAIL_TEMPLATE_IMAGE&companyId=0" onclick="showText('{{styles.modelId}}')" width="100%" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span ng-init="getFooterDetails()">
        <div ng-include src="'emailfooterpopup.html'"></div> 
    </span>
</div>  

<div id="fade" class="black_overlay" ></div>
<!--<div id="email_previewdiv" ng-show="emailpreviewpopup">
    <div class="pop-up-background popup-screen">
        <div class="pop-up-container-emailPreview"> 
            <a class=" exit-button-detail-ep link svg" href="" id="closePrev">
                <img type="image/svg+xml" src="images/close.svg" class="closeemailpreview" style="cursor:pointer;"> </img>
            </a>
            <div class="pop-up-title-emailpreview "> 
                <div class="emailPreview-header fleft">Email Preview</div>
            </div>
            <div class="pop-up-inner-ep height400">
                <div class="emailPreviews col-1of1 fleft"> 
                    <div class="emailPreview-desktop-col  fleft">
                        <div class="emailPreview-headers">Desktop Preview</div>
                        <div class="content">  
                            <div id="dynamictable5" style="position: relative; width: 100%; border: none; overflow: scroll; height: 420px;background-color: rgb(255, 255, 255);" src="">
                                 <iframe id="dynamictable5" style="position: relative; width: 100%; border: none; height: 420px;background-color: rgb(255, 255, 255);" src="{{iframePath}}"></iframe>
                            </div>                   
                        </div>
                        <div class="desktopshow" style="display:none;">
                            <iframe id='dynamictable' class="desktoppreview" src=''></iframe> 
                        </div>                        
                    </div>
                    <div class="emailPreview-mobile-col fleft">
                        <div class="emailPreview-headers">Mobile Preview</div>
                        <div class="iphoneshow img-responsive" id="mobpreview" style="display: block; height: 370px; width: 100%; margin-left: 6px; margin-top: 0px; border-color: transparent; background-color: rgb(255, 255, 255); background-size: contain; background-repeat: no-repeat;">
                            <div class="content">  
                                <div  id="dynamictable6" style="position: relative; width: 100%; height: 400px; overflow: scroll; border: none; background-color: rgb(255, 255, 255);">
                                    <iframe id="dynamictable6" style="position: relative; width: 100%; height: 400px; border: none; background-color: rgb(255, 255, 255);" src="{{iframePath}}"></iframe>                   
                                </div>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->
<div class="bottom-cta-bar" id="bottomdiv">
    <div class="bottom-cta-button-container-lg">
        <a href="">
            <div class="bottom-continue-button button-text-1" id="saveButton" ng-click="saveButtonOnClick()">Continue</div>
        </a>
    </div>
</div>
<div id="light" class="white_content closepopup">
    <a href = "javascript:void(0)" style="text-decoration:none;">
        <div id="slider-button" style="font-size:40px;text-align:center;z-index:1006;display:none;">
            <p style="margin-top:-7px;"><img src="images/Icons/yourPlan.svg" height="25" width="25" /></p>
        </div>
    </a>
</div>
<script type="text/javascript" src="js/plugins/align.min.js"></script>
<script type="text/javascript" src="js/plugins/colors.min_editor.js" ></script>
<script type="text/javascript" src="js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="js/plugins/font_family.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/image.min.js"></script>
<script type="text/javascript" src="js/plugins/image.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/file.min.js"></script>
<script type="text/javascript" src="js/plugins/image_manager.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/table.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/url.min.js"></script>
<script type="text/javascript" src="js/plugins/entities.min.js"></script>
<script type="text/javascript" src="js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="js/plugins/save.min.js"></script>
<script type="text/javascript" src="js/plugins/quote.min.js"></script>
<script type="text/javascript" src="js/plugins/link.min.js"></script>
