<div ng-if ="emailMindBodyPopup" class="center-pop-ups overlay-dark-bg" id="emaileditorexternalpopup">

    <!--MainContent-->

   <div class="bb-panel-styling bb-panel-full-width ">
       <div >
            <div class="bb-panel-header">
                <h2>Select content for this block</h2>
                 <input class="modal-pane-search-input" type="text" placeholder="Search" ng-model="userSearch">
                 <a class="modal-pane-header-exit" ng-click="closeMindbodyPopup()"></a>
            </div>
            <div class="bb-panel-content-wrap modal-max-height" ng-show="loadingOverlay">
                 <div class="external-data-loading-wrap" >
                    <div class="external-data-loading-block">
                        <div class="loader"></div>
                        <div class="loader-description">Loading your content</div>
                    </div>
                </div>
            </div>
           <div class="bb-panel-content-wrap modal-max-height"  ng-init="hideMindbodyOverlay = false" ng-if="hideMindbodyOverlay">
                <a ng-repeat="mindbody in mindbodyDataList.mindbody_data | filter:userSearch" ng-click="didSelectMindbodyDataId(mindbody.id)" class="slat external-data">
                    <div class="slat-name-wrap">
                        <h2>{{mindbody.column1}}</h2>
                    </div>
                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2>{{mindbody.column3}}</h2>
                        </div>
                    </div>
                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2>{{mindbody.column2}}</h2>
                        </div>
                    </div>
                </a>
            </div>
       </div>
    </div>
</div>