<div class="bb-full-page-overlay" ng-if="isEmailTrigger">
    <div class="bb-full-page-overlay-header-wrap">
        <div ng-click="emailTrigger(false);" class="bb-full-page-overlay-exit-button"></div>
<!--        <div>Help</div>-->
    </div>
    <div class="bb-full-page-offset"></div>
    <div class="bb-full-page-overlay-content-wrap">
        <div class="bb-full-page-overlay-title-wrap">
            <h2 class="bb-full-page-overlay-title">Add an automation recipe {{selectedQueryId}}</h2>
        </div>
        <div class="bb-full-page-overlay-card-wrap">
            <a class="bb-full-page-overlay-card" ng-repeat="query in behaviorJSON.queries" ng-click="clickedQueryId(query)">
                <div class="bb-full-page-overlay-card-label">{{query.querysource}}</div>
                <div class="bb-full-page-overlay-card-header">{{query.queryname}}</div>
                <div class="bb-full-page-overlay-card-p">{{query.querydescription}}</div>
            </a>
        </div>
    </div>
</div>

    