 <link rel="stylesheet" type="text/css" href="css/style_detail_overlay-1.css"></link>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="css/slat.css"></link>
    <link rel="shortcut icon" href="images/favicon.png"></link>
    <link rel="stylesheet" href="css/popup.css">
    <div ng-include src="'navbar.html'"></div> 
<div class="top-nav">
    <div class="page-title-bar col-1of1"> 
<!--        <input type="hidden" value="<%=categoryId%>" id="categoryIdTag"/>
        <input type="hidden" value="<%=subCategoryId%>" id="subCategoryIdTag"/>
        <input type="hidden" value="<%=mindbodyId%>" id="mindbodyId"/>
        <input type="hidden" value="<%=email_subject%>" id="email_subject"/>
        <input id="LookupId" type="hidden" value="<%=LookupId%>"/>
        <input id="externalSourceName" type="hidden" value="<%=externalSourceName%>"/>
        <input type="hidden" class="input-field-textfield col-8of10" id="mindbodyid" placeholder="Enter Name of email" value="<%=mindbody_id%>"></input>-->
<!--        <a class=" exit-button-icon" href="emailexternalsource?categoryId=<%=categoryId%>&subCategoryId=<%=subCategoryId%>&mindbodyId=<%=mindbodyId%>&LookupId=<%=LookupId%>">
            <div class="exit-button-detail">
                <img type="image/svg+xml" src="images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;"></img>
            </div>
        </a>-->

        <a class=" exit-button-icon" href="">
            <div class="exit-button-detail">
                <img type="image/svg+xml" src="images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;"></img>
            </div>
        </a>
        <div class="page-title-with-back page-title-font">Email Details</div>
    </div>
</div>
<div class="sequence-page-background">
    <div class="sequence-page-content-container">
        <div class="sequence-page-header">Enter Subject Line</div>
        <div class="email-detail-selection col-1of1 fleft">
            <div class="col-1of1 fleft">
                <div class="col-9of10 fleft">
                    <input ng-model="emailsubject" class="input-field-textfield col-8of10" placeholder="Enter Subject of email" name="emailsubject" type="text" value="{{emailsubject}}" required/>
                </div>
                <div class="col-9of10 fleft">
                    {{emailSubjectError}}
                </div>
            </div>

            <div class="col-1of1 pushUp fleft">
                <div class="fleft">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-cta-bar">
    <div class="bottom-cta-button-container-lg" ng-click="redirect('emaileditor','','','','')">
        <div class="bottom-continue-button button-text-1">Continue</div>
    </div>
</div>
