<!--Main Content Wrap-->
    <div ng-include src="'navbar.html'"></div> 
<div class="main-content-wrap">
    <div class="top-nav-wrap">
        <div class="header">
            <a class="back-button" href="dashboard"></a>
            <h2 class="">Create an Email</h2>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>
    <div class="content-wrap content-wrap-flex content-wrap-with-continue-bar">                         
        <div ng-init="getCategories('emailsubcategory')">
            <div ng-include src="'generictableview.html'"></div>  
        </div>
    </div>
</div>

