<style>
    .bb-sidenavbar{
        display: none;
    }      
</style>
<div class="bb-top-nav">
    <div class="bb-bar-left-wrap bb-one-third-flex-col">
        <a href="createmarketingprogram#/marketingprogramactions" class="bb-back-button"></a>
        <h3 class="bb-top-nav-title">Create an Email Automation</h3>
    </div>
    <div class="bb-bar-center-wrap bb-one-third-flex-col" ng-show="automationEditor === false">
        <h3 class="bb-step current">Set Up</h3>
        <h3 class="bb-step upcoming">Email Design</h3>
    </div>
    <div class="bb-bar-center-wrap bb-one-third-flex-col" ng-show="automationEditor === true">
        <h3 class="bb-step completed">Set Up</h3>
        <h3 class="bb-step current">Email Design</h3>
    </div>
    <div class="bb-bar-right-wrap bb-one-third-flex-col">
        <div class="bb-help-icon">help icon</div>
    </div>

</div> 

 <div class="bb-main-content-wrap bb-main-content-wrap-padding" ng-include src="'emailautomationsetup.html'" ng-show="automationEditor === false"></div> 
 <div class="bb-email-editor-wrap" ng-include src="'emailautomationeditor.html'" ng-show="automationEditor === true"></div>
 
<div class="bb-bottom-cta-bar">
    <a class="bb-bottom-cta-continue-button" ng-show="automationEditor === true"  ng-click="addUpdateRecuringAction()" >
        <div class="bb-bottom-cta-continue-button-text">Save</div>
        <img class="bb-bottom-cta-continue-button-arrow" src="/BrndBot/images/continue-arrow.svg" />
    </a>
    <a class="bb-bottom-cta-continue-button" ng-show="automationEditor === false" ng-click="addUpdateRecuringAction()" >
        <div class="bb-bottom-cta-continue-button-text">Continue</div>
        <img class="bb-bottom-cta-continue-button-arrow" src="/BrndBot/images/continue-arrow.svg" />
    </a>
</div>
