<div class="bb-full-page-overlay">
    <div class="bb-full-page-overlay-header-wrap">
        <div>Close</div>
        <div>Help</div>
    </div>
    <div class="bb-full-page-overlay-content-wrap">
        <div class="bb-full-page-overlay-title-wrap">
            <h2 class="bb-full-page-overlay-title">Please Select a Trigger Option:</h2>
        </div>
        <div class="bb-full-page-overlay-card-wrap">
            <a class="bb-full-page-overlay-card">
                <div class="bb-full-page-overlay-card-label">MINDBODY</div>
                <div class="bb-full-page-overlay-card-header">TRIGGER NAME</div>
                <div class="bb-full-page-overlay-card-p">Trigger description goes here</div>
            </a>
             <a class="bb-full-page-overlay-card">
                <div class="bb-full-page-overlay-card-label">MINDBODY</div>
                <div class="bb-full-page-overlay-card-header">TRIGGER NAME</div>
                <div class="bb-full-page-overlay-card-p">Trigger description goes here</div>
            </a>
             <a class="bb-full-page-overlay-card">
                <div class="bb-full-page-overlay-card-label">General</div>
                <div class="bb-full-page-overlay-card-header">TRIGGER NAME</div>
                <div class="bb-full-page-overlay-card-p">Trigger description goes here</div>
            </a>
            <a class="bb-full-page-overlay-card">
                <div class="bb-full-page-overlay-card-label">MINDBODY</div>
                <div class="bb-full-page-overlay-card-header">TRIGGER NAME</div>
                <div class="bb-full-page-overlay-card-p">Trigger description goes here</div>
            </a>
        </div>
    </div>
</div>

    