
<div class="bb-top-nav" ng-init="getActive(lookupId)">
    <div class="bb-bar-left-wrap bb-one-third-flex-col">
        <a href="baseemaileditor#/emailsubcategory" class="bb-back-button"></a>
        <h3 class="bb-top-nav-title">Choose an Email Template</h3>
    </div>
    <div class="bb-bar-center-wrap bb-one-third-flex-col">
       
    </div>
    <div class="bb-bar-right-wrap bb-one-third-flex-col">
        <a href="dashboard"><div>Exit</div></a>
        <div class="bb-help-icon">help icon</div>
    </div>
</div>
<div class="bb-main-content-wrap  bb-center-content">                         
    <div class="modal-pane modal-pane-width-full ">
            <div class="modal-pane-header-wrap">
                <h2>Select Content for the Template</h2>
                 <input type="text" placeholder="Search" ng-model="userSearch">
            </div>
            <div class="modal-pane-content-wrap sequence-page">
                <div class="external-data-loading-wrap" ng-show="hideGifImage">
                    <div class="external-data-loading-block">
                        <div class="loader"></div>
                        <div class="loader-description">Loading your content</div>
                    </div>
                </div>
                <a ng-repeat="mindbody in mindbodylist | filter:userSearch" ng-click="redirect('emailsubjects','','','mindbody','',mindbody.id)" class="slat external-data">
                    <div class="slat-name-wrap">
                        <h2>{{mindbody.column1}}</h2>
                    </div>
                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2>{{mindbody.column3}}</h2>
                        </div>
                    </div>
                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2>{{mindbody.column2}}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</div>

