    <div ng-init="marketingHubTab.selectTab(3)" ng-include src="'marketinghubnavigation.html'"></div>
    <div ng-include src="'createemailList.html'"></div>
    
    <div class="bb-main-content-wrap bb-main-content-wrap-padding" id="emaillistsdiv" ng-show="emallistdetails" ng-click="showHideUserSettings(false)">

        <!--USER ADDED LISTS-->
        <div class="bb-panel-full-width bb-panel-styling">
            <div class="bb-panel-header">
                <h2 class="">Email Lists</h2>
                <a href="" id="addemlstbtn" class="bb-button bb-default-action-button bb-last-button" ng-show="addEmailListButton" ng-click="addEmailList()">
                    Create Email List
                </a>
            </div>
            <div class="bb-panel-content" ng-init="emailListGet()">
                <div class="bb-panel-empty-state-wrap" ng-if="emailLists.length <= 0 || emailLists.length == undefined">
                    <h2 class="bb-panel-empty-state-text">You have no email lists.</h2>  
                
                </div>
                <div class="bb-slat-list-wrap" ng-show="emailLists.length > 0" > 
                    <div class="bb-slat" ng-click="viewEmailListDetails(email, 'user');marketingHubTab.selectTab(5);" ng-repeat="email in emailLists">
                       <!-- <div class="selection-container col-5p"> 
                            <div class="selection-icon" id="{{email.emailListID}}" ng-click="selectedEmailCheckbox(email.emailListID)">
                                <input type="checkbox" id="{{email.emailListID}}" value="{{email.emailListName}}" name="entityname" hidden></input>
            <div class="hub-pane-content-wrap" ng-init="emailListGet()">
                <div class="hub-empty-wrap" ng-if="emailLists.length <= 0 || emailLists.length == undefined">No email list present</div>
                <div class="hub-slat-list-wrap" ng-show="emailLists.length > 0" ng-repeat="email in emailLists"> 
                    <div class="slat">
                        <div class="selection-container col-5p"> 
                            <div class="selection-icon" id="{{email.emailListId}}" ng-click="selectedEmailCheckbox(email.emailListId)">
                                <input type="checkbox" id="{{email.emailListId}}" value="{{email.emailListName}}" name="entityname" hidden></input>
                            </div>
                        </div>-->
                        <div class="slat-name-wrap">
                            <h2>{{email.emailListName}}</h2>
                            <p>Created on {{email.createdDate| date: 'MM-dd-yyyy'}}</p>
                        </div>
                        <div class="col-7of10 slat-unit fleft ">
                            <div class="slat-detail-wrap">
                                <div class="slat-detail">
                                    <h2>{{email.numberOfContacts}}</h2>
                                    <p>Number of Contacts</p>
                                </div>
                            </div>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail slat-detail-button ">
                                <!--<div class="reg-button slat-detail-button" ng-click="viewEmailListDetails(email, 'user')">Manage Email List</div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        
        <div class="bb-panel-full-width bb-panel-styling">
            <div class="bb-panel-header">
                <h2 class="">MINDBODY Index Connected Lists</h2>
            </div>
            <div class="bb-panel-content" ng-init="emailListGet()">
                <div  class="bb-panel-empty-state-wrap" ng-if="hideGifImage">
                    <div class="external-data-loading-wrap" >
                    <div class="external-data-loading-block">
                        <div class="loader"></div>
                        <div class="loader-description">Loading your content</div>
                    </div>
                </div>
                </div>
                <div class="bb-panel-empty-state-wrap"   ng-if="emailListsMindbody.length <= 0 || emailListsMindbody.length == undefined ">
                    <h2 class="bb-panel-empty-state-text">There are no MINDBODY indexed lists presently, it might take approximately 20 minutes to sync.</h2>  
                
                </div>
                <div class="bb-slat-list-wrap" ng-show="marketingHubTab.isSelected(3) && emailListsMindbody.length > 0" ng-repeat="email in emailListsMindbody">
                    <div class="bb-slat" ng-click="viewEmailListDetails(email, 'mindbody');marketingHubTab.selectTab(5);">
                        <!--<div class="slat-icon-wrap"></div>-->
                        <div class="slat-name-wrap">
                            <h2>{{email.emailListName}}</h2>
                            <p>Created on {{email.createdDate| date: 'MM-dd-yyyy'}}</p>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <h2>{{email.numberOfContacts}}</h2>
                                <p>Number of Contacts</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="bb-panel-footer">
                    <div class="powered-by-mb-logo"></div>
               </div>
            </div>

        </div>
