<style>
/*    .rcorners2 {
        border-radius: 5px;
        border: 2px solid #00b386;
        padding: 2px; 
                        width: 200px;
                        height: 150px; 
    }*/
    .rcorners2 {
    width: 30px;
    height: 23px;
    background: #DFDFDF url('images/backbutton.svg') no-repeat 0px -252px;
    cursor: pointer;
    position: absolute;
    margin: -10px 0px 0px -12px;
    border-radius: 15px;
    opacity: 0;
}
</style>
<link rel="stylesheet" type="text/css" href="css/style_detail_overlay-6.css"/>
<div ng-show="overlayFade" id="fade" class="black_overlay"></div>
<div ng-include src="'emailpreview.html'"></div>
<!--<div ng-include src="'emailpreview.html'"></div>--> 
<script>
                tinymce.init({
                    selector: 'td.mce-content-body',
                    width:400,
                    inline: true,
                    plugins: [
                        'advlist autolink custombutton lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table contextmenu paste',
                        'emoticons template paste textcolor colorpicker textpattern imagetools'
                    ],
                    toolbar1: 'insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | link image | forecolor backcolor',
                    toolbar2: 'styleselect  fontselect fontsizeselect custombutton '
    });
</script>

<!--<div id="boxes" >
    <div id="dialog" class="window" >
    </div>
    <div id="mask"></div>
</div> -->

<!--SideNav-->
<!--<div class="content-main" ng-controller="MyController">   -->
<div class="content-main" ng-init="emailEditorInit()">  
    <div ng-include src="'emaileditormindbodypopup.html'">
    </div> 
    <!--Top Nav-->   
    <div class="top-nav-full">
        <div class="page-title-bar col-1of1"> 
            <a class="exit-button-icon" href="emailsubjects?categoryId={{categoryId}}&subCategoryId=<{{categoryId}}&mindbodyId={{mindbodyId}}&LookupId={{LookupId}}&emailSubject={{emailSubject}}">    
                <div class="exit-button-detail">
                    <img type="image/svg+xml" src="images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;"> </img>
                </div>
            </a>
            <div class="page-title-with-back page-title-font">Email Editor</div>
            <div class="page-cta-container">
                <a href="" class="gray-button fleft pushright">
                    <div class="nounderline md-button" id="emailpreview" ng-click="emailPreviewOnClick()">  Preview Email</div>  
                </a>
                <a href="" class="gray-button fleft ">
                    <div class=" md-button" id="saveToDraft" ng-click="saveToDraftOnClick()">  Save as Draft</div>    
                </a>
            </div>
        </div>
    </div>
    <!--Main Content GENERIC--> 
    <div class="emailEditor-page-background fleft">






        <!--...................tinyMce test code...............-->
        <div  class="emailEditor-page-background" style="width: 75%; height: 100%;float: left;">
            <div style="max-height: 62%;overflow: auto">
                <div  id ="defaultBlock" >
                     <div class="editor_rightside ui-sortable" style="min-height: 438px; width: 1275px;">

            <div class="emailrender ui-sortable" style="min-height: 523px; height: auto;">
                <div class="module">
                    <div class="view">
                        <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" >
                            <tbody>
                                <tr>
                                    <td>
                                        <table bgcolor="#d41b29" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <div class="innerbg"></div>
                                            <div class="addremove" style="margin-left: 975px;">
                                                <div class="drag"></div>
                                                <div class="remove"></div>

                                            </div>
                                            <tbody>
                                                <tr>
                                                    <td width="100%">

                                                        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 24px; color: #ffffff; padding: 15px 0;" st-content="heading" id="mce_20" class="mce-content-body mce-edit-focus" tabindex="-1" contenteditable="true" spellcheck="false"><p>Latest from Blog</p></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- End of heading --><!-- article -->
                <div class="module">
                    <div class="view">
                        <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="left-image">
                            <tbody>
                                <tr>
                                    <td>
                                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <div class="innerbg"></div>
                                            <div class="addremove" style="margin-left: 945px;">
                                                <div class="drag"></div>
                                                <div class="remove"></div>
                                                    
                                            </div>
                                            <tbody><tr><td width="100%">
                                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth"><tbody><!-- Spacing --><tr><td height="20"></td>
                                                                </tr><!-- Spacing --><tr><td>
                                                                        <table width="560" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner"><tbody><tr><td>
                                                                                        <!-- start of text content table -->
                                                                                        <table width="140" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner"><tbody><!-- image --><tr><td width="140" height="90" align="center">
                                                                                                        <div class="imgpop"><div class="uploader_wrap" style="width: 140px; margin-top: 25px; opacity: 0;"><div class="upload_buttons"><div class="img_link"></div><div class="img_upload"></div><div class="img_edit" style="visibility: visible;"></div></div></div><img src="https://stamplia.com/edit/44106_g3vgfwcpy0gs0wok8oggsoc00ock0wow4ccw004o080kk04ks_83897/img/blog.png" alt="" border="0" width="140" height="90" style="display:block; border:none; outline:none; text-decoration:none;" label="articleimage" st-image="left-image" id="laih0l1eck1rv54e9xr8jjor"></div></td>
                                                                                                </tr></tbody></table><!-- start of right column --><table width="400" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner"><tbody><!-- title --><tr><td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #262626; text-align:left; line-height: 20px;" class="padding-top15 mce-content-body" st-content="title" id="mce_21" tabindex="-1" contenteditable="true" spellcheck="false"><p>Lorem ipsum Sit Dolor</p></td>
                                                                                                </tr><!-- end of title --><!-- Spacing --><tr><td width="100%" height="10"></td>
                                                                                                </tr><!-- Spacing --><!-- content --><tr><td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #4f5458; text-align:left; line-height: 20px;" st-content="paragraph" id="mce_22" class="mce-content-body" tabindex="-1" contenteditable="true" spellcheck="false"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p></td>
                                                                                                </tr><!-- end of content --></tbody></table><!-- end of right column --></td>
                                                                                </tr></tbody></table></td>
                                                                </tr><!-- Spacing --><tr><td height="20"></td>
                                                                </tr><!-- Spacing --><!-- bottom-border --><tr><td width="100%" bgcolor="#d41b29" height="3" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                                                </tr><!-- /bottom-border --></tbody></table></td>
                                                </tr></tbody></table></td>
                                </tr></tbody></table></div></div><!-- end of article --><!-- article --><!-- end of article -->
                <!-- Start of seperator -->
                <div class="module" id="de1">
                    <div class="view">
                        <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator"><tbody><tr><td>
                                        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth"><div class="innerbg"></div><div class="addremove" style="margin-left: 945px;"><div class="drag"></div><div class="remove"></div></div><tbody><tr><td align="center" height="30" style="font-size:1px; line-height:1px;" st-content="separator" id="mce_25" class="mce-content-body" tabindex="-1" contenteditable="true" spellcheck="false"><p>&nbsp;</p></td>
                                                </tr></tbody></table></td>
                                </tr></tbody>
                        </table>
                    </div>
                </div><!-- End of seperator --><!-- footer -->
            </div>
        </div>
                </div>
            </div>
            <div class="emailEditor-leftCol float-lt" style="">
                <div class="in-editor-footer-wrap" style="position: fixed; bottom: 6%;width: 75%;">
                    <h3>Email Footer</h3>
                    <p>Your email footer is the same on every email. You 
                        see the footer in this email by previewing your email. To edit
                        the footer click email footer settings.</p>
                    <!--                                        <span class="reg-button gray-button" onclick="editFooter()">Edit Email Footer</span>-->
                    <span class="reg-button gray-button" ng-click="editFooter()">Edit Email Footer</span>
                </div>
            </div>

        </div>














        <div class="" style="width: 25%; float: left;">
            <div class="emailSideBar-Header">
                <div class="col-1of2 fleft">
                    <div class="{{blocktab}}" id="blocktab" ng-init="showBlocks()" ng-click="showBlocks()">
                        Add Block
                    </div>
                </div>
                <div class="col-1of2 fleft">
                    <div class="{{styletab}}" id="styletab" ng-init="showStyles('false')" ng-click="showStyles('true')">
                        Change Style
                    </div>
                </div> 
            </div>
            <div class="email-Block-Selection right-email-select">
                <div class="email-Block-Header" id="blockdivheader" ng-show="blockdivheader">Select a block to add:</div>
                <div class="email-Block-Header" id="styledivheader" ng-show="styledivheader">Select a style for this block:</div>
                <div class="block-selection-divider"></div>
                <ul class="block-list" id="blockdiv" ng-show="blockdivheader">
                    <li class="block-slat"  ng-repeat="blocks in blockLists" id="{{blocks.emailBlockId}}" ng-click="blockOnClick(blocks.emailBlockId)">
                        <div class="block-name" id="blklist----{{blocks.emailBlockId}}" >{{blocks.emailBlockName}}</div>                            
                        <div class="block-button hide" ng-click="didChooseBlock(blocks.emailBlockId, blocks.externalSourceKeywordLookupId)" id="div2{{blocks.emailBlockId}}">Add Block</div>
                    </li>
                </ul>

                <ul class="block-list" id="stylediv" ng-show="styledivheader">
                    <li ng-repeat="styles in datalistsstyles.slice().reverse()" class="style-slat" id="stylelistid{{styles.modelId}}" ng-click="addActive('stylelistid' + styles.modelId)">
                        <div class="block-name">
                            <img id="{{styles.modelId}}" class="img-responsive lookchooser5 ptr" src="/BrndBot/downloadImage?imageName={{styles.imageFileName}}&imageType=EMAIL_TEMPLATE_IMAGE&companyId=0" ng-click="showText('{{styles.modelId}}')" width="100%" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span ng-init="getFooterDetails()">
        <div ng-include src="'emailfooterpopup.html'"></div> 
    </span>
</div>  

<div ng-show="overlayFade" id="fade" class="black_overlay" ></div>
<!--<div id="email_previewdiv" ng-show="emailpreviewpopup">
    <div class="pop-up-background popup-screen">
        <div class="pop-up-container-emailPreview"> 
            <a class=" exit-button-detail-ep link svg" href="" id="closePrev">
                <img type="image/svg+xml" src="images/close.svg" class="closeemailpreview" style="cursor:pointer;"> </img>
            </a>
            <div class="pop-up-title-emailpreview "> 
                <div class="emailPreview-header fleft">Email Preview</div>
            </div>
            <div class="pop-up-inner-ep height400">
                <div class="emailPreviews col-1of1 fleft"> 
                    <div class="emailPreview-desktop-col  fleft">
                        <div class="emailPreview-headers">Desktop Preview</div>
                        <div class="content">  
                            <div id="dynamictable5" style="position: relative; width: 100%; border: none; overflow: scroll; height: 420px;background-color: rgb(255, 255, 255);" src="">
                                 <iframe id="dynamictable5" style="position: relative; width: 100%; border: none; height: 420px;background-color: rgb(255, 255, 255);" src="{{iframePath}}"></iframe>
                            </div>                   
                        </div>
                        <div class="desktopshow" style="display:none;">
                            <iframe id='dynamictable' class="desktoppreview" src=''></iframe> 
                        </div>                        
                    </div>
                    <div class="emailPreview-mobile-col fleft">
                        <div class="emailPreview-headers">Mobile Preview</div>
                        <div class="iphoneshow img-responsive" id="mobpreview" style="display: block; height: 370px; width: 100%; margin-left: 6px; margin-top: 0px; border-color: transparent; background-color: rgb(255, 255, 255); background-size: contain; background-repeat: no-repeat;">
                            <div class="content">  
                                <div  id="dynamictable6" style="position: relative; width: 100%; height: 400px; overflow: scroll; border: none; background-color: rgb(255, 255, 255);">
                                    <iframe id="dynamictable6" style="position: relative; width: 100%; height: 400px; border: none; background-color: rgb(255, 255, 255);" src="{{iframePath}}"></iframe>                   
                                </div>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->
<div class="bottom-cta-bar" id="bottomdiv">
    <div class="bottom-cta-button-container-lg">
        <a href="">
            <div class="bottom-continue-button button-text-1" id="saveButton" ng-click="saveButtonOnClick()">Continue</div>
        </a>
    </div>
</div>
<div id="light" class="white_content closepopup">
    <a href = "javascript:void(0)" style="text-decoration:none;">
        <div id="slider-button" style="font-size:40px;text-align:center;z-index:1006;display:none;">
            <p style="margin-top:-7px;"><img src="images/Icons/yourPlan.svg" height="25" width="25" /></p>
        </div>
    </a>
</div>
<!--<script type="text/javascript" src="js/plugins/align.min.js"></script>
<script type="text/javascript" src="js/plugins/colors.min_editor.js" ></script>
<script type="text/javascript" src="js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="js/plugins/font_family.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/image.min.js"></script>
<script type="text/javascript" src="js/plugins/image.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/file.min.js"></script>
<script type="text/javascript" src="js/plugins/image_manager.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/table.min_editor.js"></script>
<script type="text/javascript" src="js/plugins/url.min.js"></script>
<script type="text/javascript" src="js/plugins/entities.min.js"></script>
<script type="text/javascript" src="js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="js/plugins/save.min.js"></script>
<script type="text/javascript" src="js/plugins/quote.min.js"></script>
<script type="text/javascript" src="js/plugins/link.min.js"></script>-->
<script>
//            function dragactions() {
//
//                $('.view').find('table:first').find('td:first').mouseenter(function () {
//                    $(this).find('table:first').addClass('selecthover');
//                });
//                $('.view').find('table:first').find('td:first').mouseleave(function () {
//                    $(this).find('table:first').removeClass('selecthover');
//                });
//
//
//
//            }
//
//
///////////COLOR SELECTOR///////////////////////
//            function colorselector() {
//
//                $('.colorSelectorinner').hover(function () {
//                    var seldiv = $(this);
//
//                    $(seldiv).ColorPicker({
//                        color: '#0000ff',
//                        onShow: function (colpkr) {
//                            $(colpkr).fadeIn(500);
//                            return false;
//                        },
//                        onHide: function (colpkr) {
//                            $(colpkr).fadeOut(500);
//                            return false;
//                        },
//                        onChange: function (hsb, hex, rgb) {
//                            $(seldiv).css('background-color', '#' + hex).attr('bgcolor', '#' + hex);
//                            //var color = $(this).css( "background-color" );
//                            $(seldiv).parent('[st-bgcolor="edit"]').attr('bgcolor', '#' + hex);
//                            //$('.sort table:first td:first table:first').css('backgroundColor', '#' + hex).attr('bgcolor','#' + hex);
//                        }
//                    });
//
//                });
//
//            }



            $(document).ready(function () {
                alert("");
                $('.view').find('table:first').find('td:first').mouseenter(function () {
                    $(this).find('table:first').addClass('selecthover');
                });
                $('.view').find('table:first').find('td:first').mouseleave(function () {
                    $(this).find('table:first').removeClass('selecthover');
                });

                $(".editor_rightside .emailrender").sortable({
                    connectWith: ".module",
                    opacity: .8,
                    handle: ".drag",
                    axis: "y",
                    placeholder: 'highlight',
                    helper: function () {
                        return $("<div class='highlight' style='height:40px;text-align:center;line-height:40px;'><div style='background-color:#1abc9c;width:600px;margin:auto; color:#ffffff;'>Moving</div></div>");
                    }
                });

                $(".modules_sidebar .module").draggable({
                    connectToSortable: ".emailrender",
                    placeholder: "highlight",
                    helper: function () {
                        var modimg = $(this).find('.mod_thumb img').attr('src');
                        return $("<div style='position:absolute;background-color:#ffffff;border-radius:3px;border:1px solid #dadada;width:40px;height:40px;'><img src='" + modimg + "' width='40' height='40'></div>");
                    },
                    cursorAt: {left: -1, top: -10},
                    // start:function(){
                    // 	var winh=$(".emailrender").height();
                    //     $(".emailrender").css("height",winh+100);
                    // },
                    drag: function (e, t) {
                        t.helper.width(40);

                        t.helper.find('.preview').remove();
                        t.helper.find('.module').css({"background": "none!important", "border": "none!important"});
                        $('.emailrender').find('.preview').remove();
                        //$(".emailrender").css("padding-bottom", "90px");
                    },
                    stop: function () {
                        $('.view').find('table:first').find('table:first .colorSelectorinner:first').css({"margin-left": "-20px"});
                        $('.emailrender a').click(function (event) {
                            event.preventDefault();
                        });

                        //mouseover();
                        //handleJsIds()
                        dragactions();
                        move_up_down();
                        colorselector();
                        tinymcereload();
                        $('.innerbg').mouseenter(function () {
                            var seldiv = $(this).parents('[st-sortable]');
                            $(this).colpick({
                                layout: 'hex',
                                submit: 0,
                                onChange: function (hsb, hex, rgb, fromSetColor) {
                                    $(seldiv).find('table:first').attr('bgcolor', '#' + hex);
                                }
                            });
                        });

                        $('.buttonbg').mouseenter(function () {
                            var seldiv = $(this).parent('[st-button]');
                            $(this).colpick({
                                layout: 'hex',
                                submit: 0,
                                onChange: function (hsb, hex, rgb, fromSetColor) {
                                    seldiv.attr('bgcolor', '#' + hex);
                                    seldiv.css('background-color', '#' + hex);
                                }
                            });
                        });
                        //monkey
                        //$('.imgpop').prepend('<div class="uploader_wrap"><div class="upload_buttons"><div class="img_link"></div><div class="img_upload"></div></div></div>');
                        upload_buttons();


                        //$('[st-content]')attr("mc:allowdesigner","");
                        //$('[st-content]').attr(" mc:allowtext","contentattr");

                        //monkey
                        // var winh=$(".emailrender").height();
                        // $(".emailrender").css("height",winh-100);


                    }
                });



            });




        </script>
        <script>
            $(document).ready(function () {
                alert("ready");
                dragactions();
                removeElm() ;
            });
            function dragactions() {
                alert("");
                $('.view').find('table:first').find('td:first').mouseenter(function () {
                    $(this).find('table:first').addClass('selecthover');
                });
                $('.view').find('table:first').find('td:first').mouseleave(function () {
                    $(this).find('table:first').removeClass('selecthover');
                });



            }
            function removeElm() {
                $(".emailrender").delegate(".remove", "click", function (e) {
	e.preventDefault();<!--
                    $(this).closest('table').parents('.module ').slideUp('200', function () {
                        $(this).remove();
                    });
                    $(this).closest('.remove').css("opacity", "0");
                    $(this).parents('.view').find('table:first').find('table:first').removeClass('selecthoverred');
                    $(this).parents('.view').find('.move_controls').show();
                });


// $(".emailrender").delegate(".confirmyes", "click", function (e) { 

//         $(this).closest('table').parents('table').parents('.module ').slideUp('200', function(){  $(this).remove(); } );
//         $(this).closest('.remove').css("opacity","0");
//         $(this).closest('.confirmbox').remove();
//         $(this).parents('.view').find('table:first').find('table:first').removeClass('selecthoverred');
//         $(this).parents('.view').find('.move_controls').show();
//     });

// $(".emailrender").delegate(".confirmno", "click", function (e) { 

//         $(this).parents('.confirmbox').css({"opacity":"0"}).delay(300).slideUp(1);
//         $(this).parents('.view').find('table:first').find('table:first').removeClass('selecthoverred');
//         $(this).parents('.view').find('.move_controls').show();
//     });

            }

            function clearDemo() {
                $(".emailrender").empty()
            }

            function removeMenuClasses() {
                $("#menu-layoutit li button").removeClass("active")
            }


            function cleanHtml(e) {
                $(e).parent().append($(e).children().html())
            }


            function downloadLayoutSrc() {

                var e = "";
                var emailrendercontent = $(".emailrender").html();
                $("#download-layout").html(emailrendercontent);
                var t = $("#download-layout");
                var contentattr = $('[st-content]').attr("st-content");
                t.find(".preview, .configuration, .move_controls, .addremove, .colorSelectorinner").remove();
                t.find(".module").addClass("removeClean");
                t.find(".box-element").addClass("removeClean");
                t.find(".module .module .module .module .module .removeClean").each(function () {
                    cleanHtml(this)
                });
                t.find(".module .module .module .module .removeClean").each(function () {
                    cleanHtml(this)
                });
                t.find(".module .module .module .removeClean").each(function () {
                    cleanHtml(this)
                });
                t.find(".module .module .removeClean").each(function () {
                    cleanHtml(this)
                });

                t.find(".module .removeClean").each(function () {
                    cleanHtml(this)
                });
                t.find(".removeClean").each(function () {
                    cleanHtml(this)
                });
                t.find(".removeClean").remove();
                //t.find(".mce-content-body").remove();
                t.find(".mce-content-body").removeClass("mce-content-body");


                //$("#download-layout .emailrender").removeClass("ui-sortable");
                //$("#download-layout .row-fluid").removeClass("clearfix").children().removeClass("column");

                formatSrc = $.htmlClean($("#download-layout").html(), {
                    format: true,
                    allowComments: true,
                    allowedAttributes: [
                        ["class"],
                        ["width"],
                        ["height"],
                        ["style"],
                        ["align"],
                        ["cellspacing"],
                        ["cellpadding"],
                        ["bgcolor"],
                        ["valign"],
                        ["border"],
                        ["st-content"],
                        ["st-sortable"],
                        ["st-image"],
                        ["st-title"],
                        ["st-webversion"],
                        ["st-unsubscribe"],
                        ["mc:edit"],
                        ['mc:label'],
                        ["mc:repeatable"],
                    ]
                });

                var $body = $(formatSrc).find("body");
                for (var attrName in bodyAttrs) {
                    var value = bodyAttrs[attrName];
                    $body.attr(attrName, value);
                }

                $("#download-layout").html(formatSrc);
                templateheader = $('textarea.templatehead').text();
                templatefooter = $('textarea.templatefooter').text();
                $("#downloadModal textarea").empty();
                $("#downloadModal textarea").val(templateheader + formatSrc + templatefooter);
            }


///////////////////////////////////////////////////

            var currentDocument = null;
            var timerSave = 2e3;

            $(document).ready(function () {

//                $("[data-target=#downloadModal]").click(function (e) {
//                    e.preventDefault();
//
//                    downloadLayoutSrc()
//                });



                $("#edit").click(function () {
                    $("body").removeClass("devpreview sourcepreview");
                    $("body").addClass("edit");
                    removeMenuClasses();
                    $(this).addClass("active");
                    return false
                });
                $("a#clear").click(function (e) {
                    e.preventDefault();
                    clearDemo();
                });
                $("#devpreview").click(function () {
                    $("body").removeClass("edit sourcepreview");
                    $("body").addClass("devpreview");
                    removeMenuClasses();
                    $(this).addClass("active");
                    return false
                });
                $("#sourcepreview").click(function () {
                    $("body").removeClass("edit");
                    $("body").addClass("devpreview sourcepreview");
                    removeMenuClasses();
                    $(this).addClass("active");
                    return false
                });

                $(".nav-header").click(function () {
                    $(".sidebar-nav .boxes, .sidebar-nav .rows").hide();
                    $(this).next().slideDown()
                });


                //configurationElm();
                //gridSystemGenerator();
//    setInterval(function () {
//        //handleSaveLayout()
//    }, timerSave)
            });

        </script>-->