   <div class="main-content-wrap">
  
     
    <div ng-include src="'marketinghubnavigation.html'"></div>
      <div class="top-nav-bar-offset"></div>
    <div class="top-subnav-bar-offset"></div>
    <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav">
        <div class="hub-pane" ng-init="displayEmailHistory()">
            <div class="hub-pane-header-wrap">
                <h2 class="">Email History</h2>
                <input type="text" class="search-bar" placeholder="Search" ng-model="userSearch"  ng-show="email_history.length > 0">
            </div>
            <div class="hub-pane-content-wrap" ng-show="email_history.length == 0">
                <div class="hub-empty-wrap">No email history present</div>
            </div>
            <div class="hub-pane-content-wrap" ng-show="email_history.length > 0 ">
                
                <div class="hub-slat-list-wrap">
                    <div class="slat" ng-repeat="email in email_history | filter:userSearch">
                  
                        <div class="slat-name-wrap">
                            <h2>{{email.tag}}</h2>
                        </div>
                         <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <h2 ng-show="(email.opens / email.sent) * 100 != 'NaN'">{{(email.opens / email.sent) * 100 | number : 2}}%</h2>
                                <h2 ng-show="(email.opens / email.sent) * 100 == 'NaN'">--</h2>
                                <p>Open Rate</p>
                            </div>
                             <div class="slat-detail">
                                <h2 ng-show="(email.clicks / email.sent) * 100 != 'NaN'">{{(email.clicks / email.sent) * 100 | number : 2}}%</h2>
                                <h2 ng-show="(email.clicks / email.sent) * 100 == 'NaN'">--</h2>

                                <p>Click Through Rate</p>
                            </div>
                             <div class="slat-detail">
                                <h2>{{email.unsubs}}</h2>
                                <p>Unsubscribes</p>
                            </div>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <!--<a class="reg-button gray-button slat-detail-button">View Email</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>