<div class="content-wrap content-wrap-flex" ng-init="managepage = false"   ng-if ="managepage" ng-show="managepagesettings">
    <div class="modal-pane modal-pane-width-reg1">
        <div class="modal-pane-header-wrap">
            <h2>Please select a managed page for your company</h2>
        </div>
        <div class="modal-pane-content-wrap">

            <div class="cat-list" ng-repeat="fbDetails in fbPagesDetails">
                <div class="cat-slat {{fbDetails.profileName}}"> 
                     <img src="{{fbDetails.profilPicture}}" class="social-channel-icon">
                     <div class="cat-slat-title" ng-click="setPageAccessToken(fbDetails.pageAccessToken,fbDetails.profileName,fbProfileName);selectManagePage(fbDetails.profileName)"> {{fbDetails.profileName}}</div>                    
                </div>
            </div>
            <div class="cat-list"  ng-show="pageName === 'marketingPrograms'" ng-repeat="displayAllMarketingProgram in displayAllMarketingPrograms">
                <div  class="cat-slat">
                    <div class="cat-slat-title" ng-click="redirectProgram(forward, marketingCategoryId, displayAllMarketingProgram.marketingProgramId, displayAllMarketingProgram.htmlData)" id="{{displayAllMarketingProgram.marketingProgramId}}" class="cat-slat-titles">{{displayAllMarketingProgram.marketingProgramName}}</div>
                </div>
            </div> 
        </div>
        <div class="modal-cta-container" >
            <a class="long-button blue-button" ng-click="postToSelectedPage()" href="">Set as default managed page</a>
        </div>
    </div>
</div>