<!--
    Document   : facebookmanagepages
    Created on : 3 May, 2016, 4:29:01 PM
    Author     : sandeep
-->
<div class="popUp_background-dark displayNone"  id="fbmanagePagePopUp" ng-init="managepage = false" ng-show="facebook"  ng-if ="managepage">
            <div class="popUp_CenterVert ">
                <div class="popUp-top-wide clear">
                    <div class="popUp_header clear">
                        <div class="pane_title fleft h2 col1of2">Please Select a page</div>
                        <div class="popUp_close fright" ng-click ="hideFbPopup1('s')">
                            <img  src="../images/Pop-Up-Exit-Button.svg" class="fleft popUp_close-icon cursor-shape">
                        </div>
                    </div>
                    <div class="popUp_subheader clear">
                        <span class="popUp_subheader-tabs fleft darktext">
                            <input type="checkbox" name="defaultManagePage" id="setDefaultManagePage" class="marginRight">Set selected page as default<br>
                        </span>
                    </div>
                    <div class=" gallery-padding clear gallery-pane">
                        <span ng-repeat="fbDetails in fbPagesDetails">
                            <div class="gallery-item-wrap-selected fleft " ng-click="setPageAccessToken(fbDetails.pageAccessToken,fbDetails.profileName,fbProfileName);selectImage(fbDetails.profileName)">
                                <div class="gallery-image-wrap">
                                    <img src="{{fbDetails.profilPicture}}" alt="alt_text" border="0" align="center" class="gallery-image" style="width: 218px;">
                                </div>
                                <div class="gallery-name"> {{fbDetails.profileName}}</div>
                                <div class="gallery-settings"></div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="popUp-bottom-wide">
                    <span class="clickable-area" ng-click="postToSelectedPage()">
                        <div class="popUp-bottom-link">Done</div>
                    </span>
                </div>
            </div>
        </div>
