<div class="main-content-wrap" ng-init="fbTwitterinit()">
    <div class="top-nav-wrap">
        <div class="header">
            <a class="back-button" href="socialsequence#/socialsequence"></a>
            <h2 class="">Create a Facebook Post</h2>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>
    <div class="content-wrap content-wrap-padding content-wrap-with-continue-bar">
        <div class="modal-pane modal-pane-social-sequence">
            <div class="modal-pane-header-wrap">
                <h2>Facebook Post</h2>
            </div>
            <div class="modal-pane-content-social-sequence">
                <div class="input-wrap">
                    <label> What would you like to share? </label>
                    <div class="input ">
                        <textarea class="fluid facebook-post-textarea" placeholder="Type post here" id="shareText" ng-model="fbPostData.shareText"></textarea>
                    </div>
                    <span class="validationAlert" ng-if='fbPostData.shareText === "" || null'>{{facebookPostValidation}}</span>

                </div>
                
                <div ng-if="linkpost" id="linkPostFields">
                   <div class="input-wrap">
                        <label> Link Title </label>
                        <div class="input ">
                            <input placeholder="Type post here" id="linkTitle" ng-model="fbPostData.linkTitle" class="fluid"></input>
                        </div>
                        <span class="validationAlert" ng-if='fbPostData.linkTitle === "" || null'>{{facebookLinkValidation}}</span>

                    </div>
                    <div class="input-wrap">
                        <label> Enter a Link Description </label>
                        <div class="input ">
                            <textarea placeholder="Type post here" id="linkDescription" ng-model="fbPostData.linkDescription" type="text" class="fluid"></textarea>
                        </div>
                        <span class="validationAlert" ng-if='fbPostData.linkDescription === "" || null'>{{facebookDescriptionValidation}}</span>

                    </div>
                    <div class="input-wrap">
                        <label>Choose a Link</label>
                        <div class="input " id='urlDropDownSpan' ng-init="getUrls()">
<!--                            <select ng-model="linkUrls" id="dropdownurl"  class="select_Field_lg removeDrag" ng-options="url.url as url.prigram_name + ' - ' + url.link_name + ' - ' + url.url for url in urls"></select>-->
                            <div dropdown-select="ddSelectlinkUrlsOptions" dropdown-model="ddSelectlinkUrls" dropdown-onchange="getSelectedUrl(selected)"></div>
                            <p class="input-label">If you have a custom link write it below</p>
                        </div>
<!--                        <span class="validationAlert" ng-if="fbLinkValidation">{{linkValidation}}</span>-->
                                                
                    </div>
                    <div class="input-wrap">
                        <label>Write a Custom Link</label>
                        <div class="input ">
                            <input id="facebooklink" class="fluid" placeholder="http://www.brndbot.com" ng-model="fbPostData.url"></input>
                        </div>
                        <span class="validationAlert" ng-if='fbPostData.url === "" || null'>{{customLinkValidation}}</span>

                    </div>
                </div>
                <div class="add-link-facebook-container">
                    <a class="long-button gray-button" ng-click="changeFbPostType(postType)" id="postType" >{{postType}}</a>
                </div>
            </div>
            <div ng-show="addImageToPostButton" class="Social-Add-Image-Wrap " id="addImageToTwitterPost" ng-click="show_hide_ImageGalleryPopup(true)">
                <img  src="/BrndBot/user/images/add-Image.svg" ng-model="twitterShare.img" class="add-image-icon" style="cursor:pointer;">
                <div class="Add-Image-Button"> Add Image to Post</div>
            </div>
            <div ng-show="twitterImageDivToPost" class="Social-Add-Image-Wrap-with-img " id="addImageDivToTwitterPost">
                <img ng-src="{{displayImage}}" ng-model="fbPostData.img = displayImage" alt="alt_text" border="0" align="center" id="selectedImage" class="imageAdded">
                <div class=\">
                    <div class="reg-button" id="changeImage"  ng-click="show_hide_ImageGalleryPopup(true)">
                        Change Image
                    </div>
                </div>
            </div>
            <span class="validationAlert Social-Add-Image-Wrap" ng-if="imageValidation">{{facebookImageValidation}}</span>

        </div>
        <div class="continue-bar-offset"></div>
    </div>
      
</div>
<div class="continue-bar">
        <a id="continue-bar-button" class="fright" ng-click="openPostOrShedulePopup('facebook', fbPostData)">CONTINUE</a>
    </div>
 <div ng-include src="'schedulepopup.html'"></div>
    <div ng-include src="'sendorschedulepopup.html'"></div>
    <div ng-include src="'sociallistselection.html'"></div>
    <!--<div ng-include src="'facebookpostsuccesspopup.html'"></div>--> 