 <div ng-include="'facebookmanagepages.html'"></div>
 <div class="bb-top-nav" ng-init="checkForCode()" ng-init="fbTwitterinit()">
    <div class="bb-bar-left-wrap bb-one-third-flex-col">
        <a href="socialsequence#/socialsequence" class="bb-back-button"></a>
        <h3 class="bb-top-nav-title">Create a Facebook Post</h3>
    </div>
    <div class="bb-bar-center-wrap bb-one-third-flex-col">
      
    </div>
    <div class="bb-bar-right-wrap bb-one-third-flex-col">
        <div class="bb-help-icon">help icon</div>
    </div>
</div>
   
    <div class="bb-main-content-wrap bb-main-content-wrap-padding">
        <div class="bb-panel-styling bb-panel-default bb-center-horiz-panel">
            <div class="bb-panel-header">
                <h2>Facebook Post</h2>
            </div>
            <div class="bb-panel-content-wrap">
                <div class="input-wrap">
                    <label> What would you like to share? </label>
                    <div class="input ">
                        <textarea class="fluid facebook-post-textarea" placeholder="Type post here" id="shareText" ng-model="fbPostData.shareText" ng-class="{'invalid-input': fbPostData.shareText === '' || null}"></textarea>
                    </div>
                    <span class="validationAlert" ng-if='fbPostData.shareText === "" || null'>{{facebookPostValidation}}</span>

                </div>

                <div ng-if="linkpost" id="linkPostFields">
                    <div class="input-wrap">
                        <label> Link Title </label>
                        <div class="input ">
                            <input placeholder="Type post here" id="linkTitle" ng-model="fbPostData.linkTitle" class="fluid" ng-class="{'invalid-input': fbPostData.linkTitle === '' || null}"></input>
                        </div>
                        <span class="validationAlert" ng-if='fbPostData.linkTitle === "" || null'>{{facebookLinkValidation}}</span>

                    </div>
                    <div class="input-wrap">
                        <label> Enter a Link Description </label>
                        <div class="input ">
                            <textarea placeholder="Type post here" id="linkDescription" ng-model="fbPostData.linkDescription" type="text" class="fluid"  ng-class="{'invalid-input': fbPostData.linkDescription === '' || null}"></textarea>
                        </div>
                        <span class="validationAlert" ng-if='fbPostData.linkDescription === "" || null'>{{facebookDescriptionValidation}}</span>

                    </div>
                    <div class="input-wrap">
                        <label>Choose a Link</label>
                        <div class="input " id='urlDropDownSpan' ng-init="getUrls()">
                            <div dropdown-select="ddSelectlinkUrlsOptions" dropdown-model="ddSelectlinkUrls" dropdown-onchange="getSelectedUrl(selected)"  ng-class="{'invalid-input': ddSelectlinkUrls === '' || null}"></div>
                            <p class="input-label">If you have a custom link write it below</p>
                        </div>

                    </div>
                    <div class="input-wrap">
                        <label>Write a Custom Link</label>
                        <div class="input ">
                            <input id="facebooklink" class="fluid" placeholder="http://www.brndbot.com" ng-model="fbPostData.url" ng-class="{'invalid-input': fbPostData.url === '' || null}"></input>
                        </div>
                        <span class="validationAlert" ng-if='fbPostData.url === "" || null'>{{customLinkValidation}}</span>

                    </div>
                </div>
                <div class="add-link-facebook-container">
                    <a class="long-button gray-button" ng-click="changeFbPostType(postType)" id="postType" >{{postType}}</a>
                </div>
            </div>
            <div ng-show="addImageToPostButton" class="Social-Add-Image-Wrap " id="addImageToTwitterPost" ng-click="show_hide_ImageGalleryPopup(true)">
                <img  src="/BrndBot/images/add-Image.svg" ng-model="twitterShare.img" class="add-image-icon" style="cursor:pointer;">
                <div class="Add-Image-Button"> Add Image to Post</div>
            </div>
            <div ng-show="twitterImageDivToPost" class="Social-Add-Image-Wrap " >
               
                   
                    <div class="bb-button bb-secondary-action-button" ng-click="show_hide_ImageGalleryPopup(true)">
                        Change Image
                    </div>
             
                <div class="bb-button bb-secondary-action-button" ng-click="openAviaryEditor('selectedImage')"> Edit Image</div>
            </div>
            <div ng-show="twitterImageDivToPost" class="Social-Add-Image-Wrap-with-img " id="addImageDivToTwitterPost">
                <img ng-src="{{displayImage}}" ng-model="fbPostData.img = displayImage" alt="alt_text" border="0" align="center" id="selectedImage" class="imageAdded">
            </div>
            <span class="validationAlert Social-Add-Image-Wrap" ng-if="imageValidation">{{facebookImageValidation}}</span>

        </div>
    </div>
      
<div class="bb-bottom-cta-bar">
        <a class="bb-bottom-cta-continue-button"  ng-class="{'valid' : fbPostData.shareText.length > 0}" ng-click="getManagePage('facebook', fbPostData)" >
            <div class="bb-bottom-cta-continue-button-text">Continue</div>
            <img class="bb-bottom-cta-continue-button-arrow" src="/BrndBot/images/continue-arrow.svg" />
        </a>
    </div>

<div ng-include src="'schedulepopup.html'"></div>
<div ng-include src="'sendorschedulepopup.html'"></div>
<div ng-include src="'sociallistselection.html'"></div>