<div class="bb-panel-styling bb-panel-default">
            <div class="bb-panel-header">
                <h2>{{header}}</h2>
            </div>
            <div class="bb-panel-content-wrap-clickable-slats">
                <div  ng-show="pageName === 'marketing'"  ng-repeat="marketingCategory in marketingCategories">
                    <div class="bb-clickable-slat" ng-click="marketingFlowObject.marketingCategoryId=marketingCategory.marketingCategoryId;marketingFlowObject.mindbody='nonmindbody';redirect(forward);">
                        <h3>{{marketingCategory.marketingCategoryName}} </h3>
                    </div>  
                </div>
                <div ng-show="pageName === 'emailcategory'" ng-repeat="category in displayAllCategories">
                    <div class="bb-clickable-slat" ng-click="objectParameter.categoryId=category.categoryId;objectParameter.mindbody='nonmindbody';redirect();">                   
                        <h3>{{category.categoryName}}</h3>                    
                    </div>
                </div>
                <div ng-show="pageName === 'emailsubcategory'" ng-repeat="subcategory in displayAllCategories">
                    <div class="bb-clickable-slat" ng-click="objectParameter.subCategoryId=subcategory.subCategoryId;objectParameter.mindbody=subcategory.externalSourceName;objectParameter.lookupId=subcategory.externalSourceKeywordLookupId;redirect();">                  
                        <h3>{{subcategory.subCategoryName}}</h3>                    
                    </div>
                </div>
                <div  ng-show="pageName === 'marketingPrograms'" ng-repeat="displayAllMarketingProgram in displayAllMarketingPrograms">
                    <div class="bb-clickable-slat" id="{{displayAllMarketingProgram.marketingProgramId}}" ng-click="kEmailFlowObject.marketingCategoryId=marketingCategoryId;kEmailFlowObject.marketingProgramId=displayAllMarketingProgram.marketingProgramId;kEmailFlowObject.htmlData=displayAllMarketingProgram.htmlData;redirectProgram(forward);">
                        <h3>{{displayAllMarketingProgram.marketingProgramName}}</h3>
                    </div>
                </div> 
            </div>
        </div>