<!-- HEAD franchisebackend1 -->
<html>
    <head>

    </head>
    <body ng-app="yourPlanFlowApp" class="body-normal" ng-controller="yourPlanController" id="yourPlanController">

        <div class="overlay-content" ng-show='marketingTab.isSelected(7) || yourplanTab.isSelected(7);' style="position: relative">
            <div ng-show="moreThanOneUser">
                <div class="overlay-details-pane" ng-hide="action_template_status === 'Complete'">
                    <div class="overlay-details-pane-header">GENERAL DETAILS</div>
                    <div class="detail-sections-wrap">
                        <input type="hidden" class="textbox" id="emaildays" name="emaildays" value="0"/>

                        <div class="detail-section">
                            <label class="detail-section-label">Action Assignment</label>
                            <div class=" bb-assignment-wrap">
                                <!--<div class="bb-button bb-default-action-button" ng-click="openChangeUserDD(true)" ng-hide="assignedFirstName.length > 0">Click to Assign</div>-->
                                <!--<div class="bb-assignment-selection" ng-click="openChangeUserDD(true)" ng-show="assignedFirstName.length > 0">{{assignedFirstName}}&nbsp{{assignedLastName}}</div>-->
                                <div  class="bb-user-assignment-dropdown-wrap">
                                    <div class="invalidDropdown" dropdown-select="ddSelectUserOptions" dropdown-model="ddSelectUser" dropdown-onchange="ChangeUserOnChange(selected)"></div>
                                </div>
                            </div>
                        </div>

                     
                    </div>

                </div>
                <div class="email-preview-bar" ng-init="getActionComments(schedule_id)"><div>ACTION COMMENTS</div></div>
                <div class="bb-action-comment-list-wrap"  >
                    <div class="" ng-repeat="comment in comments">
                        <div class="bb-action-comment-item" ng-show="comment.isActivity == false">
                            <div ng-include src="'userbadge.html'"></div>
                            <div class="bb-action-comment-body-wrap">
                                <div class="bb-action-comment-detail-wrap">
                                    <span class="bb-action-comment-name">{{comment.createdByFirstName}} {{comment.createdByLastName}}</span>
                                    <span class="bb-action-comment-details">{{comment.createdAt| date:"MMMM d, y 'at' h:mma"}}</span>
                                </div>
                                <div class="bb-action-comment-text">{{comment.commentName}} </div>
                            </div>
                            <a id="addactionClose" ng-show="comment.isLoginUser == true" ng-click = "removeActionComment(schedule_id, comment.commentId)" class="modal-pane-header-exit" alt="Remove Comment"></a>
                        </div>


                    </div>
                </div>
            </div>
          
               
                <div  ng-show="moreThanOneUser == false">
                    <div class="overlay-content">
                        <div class="overlay-empty-container">
                            <div class="empty-wrap">

                                <p class="bb-empty-state-text"> There is only one user in your account. Click below to add another user.</p>
                                <!--need to have a bunch of button state management. We should have a factory -->
                                <div class="bb-button bb-primary-action-button" ng-click="showInviteUsersPopup()">Invite a User</div>


                            </div>
                        </div>
                    </div>
                </div>
        
            <div class="bb-action-comment-wrap" ng-hide="moreThanOneUser == false">
                <div class="input" ng-form name="actionCommentForm">
                    <input  name="comment" class="fluid bb-action-comment-input" id="comment"  placeholder="Add a comment to this action" ng-model="comment" contenteditable="true" style="max-width:780px;">
                    <div class="bb-button bb-primary-action-button  ease-all" value="comment" ng-click="addActionComment(schedule_id, comment);comment='';" ng-show="actionCommentForm.$dirty">Add Comment</div>
                    <div value="refresh" ng-click="getActionComments(schedule_id)"></div>
                </div>
            </div>
        </div>
    </body>
</html>