
<div class="overlay-content" id="emailactionsection" ng-init='hideSaveButton()' ng-show='generalActions' ng-form name="actionDetailsForm">
    <div class="overlay-name-bar">
        <input size="40" value="Email Action Name" id="email_edit_title" name="email_edit_title" ng-model='scheduleData.schedule_title' ng-change="showSaveButton()" value="{{scheduleData.schedule_title}}">
        <input class="inputbox SP1" type="hidden" name="email_scheduleid" id="email_scheduleid" value='{{scheduleData.schedule_id}}' />
        <input class="inputbox SP1" type="hidden" name="email_schedule_type" id="email_schedule_type" value='{{scheduleData.schedule_type}}'/>
    </div>
                <div class="overlay-details-pane" ng-show="isRecurring === false">
                    <div class="overlay-details-pane-header">GENERAL DETAILS</div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section half">
                            <label class="detail-section-label">Action Status <span><a class="help-question-icon">?</a></span></label>
                            <div class="status-icon-details">
                                <div class="status-show">
                                    
                                        <img ng-show="action_template_status == 'Template Saved'" src="/BrndBot/user/images/template-saved.svg" />
                                  
                                 
                                        <img ng-show="action_template_status == 'No Template'" src="/BrndBot/user/images/no-template.svg"/>
                                 
                                    
                                        <img ng-show="action_template_status == 'Complete'" src="/BrndBot/user/images/ActionComplete.svg"/>
                                   
                                   
                                        <img ng-show="action_template_status == 'Approved'" src="/BrndBot/user/images/template-approved.svg"/>
                                   
                                 
                                </div>
                                <div class="overlay-detail-status">{{action_template_status}}</div>
<!--                                <div class="overlay-detail-status">{{scheduleData.email_template_status}}</div>
                                <div class="status-show">
                                   
                                        <img ng-show="scheduleData.email_template_status == 'Template Saved'" src="/BrndBot/user/images/template-saved.svg" />
                                  
                                 
                                        <img ng-show="scheduleData.email_template_status == 'No Template'" src="/BrndBot/user/images/no-template.svg"/>
                                 
                                    
                                        <img ng-show="scheduleData.email_template_status == 'Complete'" src="/BrndBot/user/images/ActionComplete.svg"/>
                                   
                                   
                                        <img ng-show="scheduleData.email_template_status == 'Approved'" src="/BrndBot/user/images/template-approved.svg"/>
                                                                
                                </div>-->
                            </div>
                        </div>
                        <div class="detail-section half">
                            <label class="detail-section-label">Assigned Marketing Campaign</label>
                            <p class="overlay-detail-item">{{scheduleData.marketing_program_name}} </p>
                        </div>
                    </div>
                </div>
                <div class="overlay-details-pane" ng-show="isRecurring === false">
                    <div class="overlay-details-pane-header">{{scheduledTo}} DETAILS</div>
                    <div class="detail-sections-wrap">
                        <input type="hidden" class="textbox" id="emaildays" name="emaildays" value="0"/>
                       
                        <div class="detail-section half">
                            <label class="detail-section-label">Date</label>
                            <a class="overlay-detail-input date-input ease-all">
                                <img type="" class="date-time-input-img" src="/BrndBot/user/images/calendar-gray.svg" />
                                <input type="text" ng-blur="showSaveButton()" id="emaildatetime" name="emaildatetime" />
                                <!--<input type="hidden" value="{{scheduleData.entities_selected_time| date:'MMM dd yyyy'}}" id="emaildateid"/>-->
                                    <script>
                                        
                                        var picker = new Pikaday(
                                                {
                                                    field: document.getElementById('emaildatetime'),
                                                    format: 'MMM DD YYYY',
                                                    firstDay: 1,
                                                    minDate: new Date(2000, 0, 1),
                                                    maxDate: new Date(2050, 12, 31),
                                                    yearRange: [2000, 2050]
                                                });
                                                
                                    </script>
                            </a>
                        </div>
                       <div class="detail-section half">
                            <label class="detail-section-label">Time of Day </label>
                            <a class="overlay-detail-input time-input ease-all">
                                <img type="" class="date-time-input-img" src="/BrndBot/user/images/time-gray.svg" />
                                <input type="text" ng-blur="showSaveButton()" id="timepickertextbox" name="timepickertextbox" value="{{scheduleData.schedule_time}}" readonly />
                                 <!--                            <input id="timepickeremail123" class="timepickertextbox "  value ="{{scheduleData.schedule_time| date:'hh : mm : a': 'UTC'}}">-->
                                <!--<script src="js/timepicki.js" type="text/javascript"></script>-->
                                <script>
                                        $('#timepickertextbox').timepicki({
                                            show_meridian: true,
                                            min_hour_value: 1,
                                            max_hour_value: 12,
                                            step_size_minutes: 01,
                                            overflow_minutes: true,
                                            increase_direction: 'up',
                                            disable_keyboard_mobile: true
                                        });
                                </script>
                            </a>
                        </div>
                    </div>
                    <!--<div class="detail-sections-wrap">
                        <div class="action-sent-notice">This email was sent successfully at 10:45.
                    </div>
                </div>-->
            </div>
    
    
            <div class="bottom-cta-button-container-overlay"  ng-show="showUpdateBtn">
                <a class="reg-button success-button" id="updateAction1" ng-click="updateAction(scheduleData)" ng-show="isRecurring === false" >Save Action</a>
            </div>
            <div class="bottom-cta-button-container-overlay" ng-show="isRecurring === true" ng-show="showUpdateBtn">
                 <div class="edit-button-detail md-button button-text-1 edit-button-detailrecemail" ng-click="redirectToEmailAutomation('emailautomation','edit','', schedule_id)" >Edit Automation Details</div>
            </div>
    
    <div class="recurring-fields" ng-show="isRecurring===true">
                    <!--SAVED POST GOES HERE-->
                    <div class="fleft">
                        <div class="input-header-actionDetail" style="">
                            Name of Email
                        </div>
                        <div class="fleft input-field-textfield">
                            {{recurringScheduleData.schedule_title}}
                        </div>
                        <input type="hidden" id="recurring_email_title" value="{{recurringScheduleData.schedule_title}}" class="input-field-textfield" readonly/>
                        <input class="inputbox SP1" type="hidden" name="fb_scheduletype" id="fb_scheduletype" value='{{recurringScheduleData.schedule_type}}'/>
                        <input class="inputbox SP1" type="hidden" name="fb_scheduleid" id="fb_scheduleid" value='{{recurringScheduleData.schedule_id}}'/>

                        <div class="input-header-actionDetail pushUp-50" style="">
                            Description of Email
                        </div>
                        <div class="fleft input-field-textfield">
                            {{recurringScheduleData.schedule_desc}}
                        </div>
                        <!--<input id="recurring_email_description" class="input-field-textfield" type="text" readonly  value="{{schedule_desc}}"/>-->
                    </div>
                    <div class="fleft">
                        <div class="input-header-actionDetail pushUp-30" style="">
                            Email Sending Details
                        </div>
                        <div class="sendingDetails-row fleft">
                            <div class="fleft input-supportText">
                                Send an email
                            </div>
                            <div class="fleft  input-field-date">{{recurringScheduleData.days}}
                            </div>
                            <div class="fleft input-supportText">
                                days after added to
                            </div>
                            <input class="fleft input-field-date" readonly value="{{recurringScheduleData.entities_list_name}}"/>

                            <div class="fleft input-supportText">
                                email list.
                            </div>
                        </div>    
                        <div class="sendingDetails-row fleft">
                            <div class="fleft input-supportText">
                                Send the email at
                            </div>
                            <div class="fleft  input-field-date">
                                {{recurringScheduleData.entities_selected_time}}
                            </div>
                        </div>  
                        <!--                        <div class="sendingDetails-row fleft" >
                                                    <div class="fleft input-supportText">
                                                        Have this email automation recur until:
                                                    </div>
                                                    <div class="fleft  input-field-date">
                                                       {{entities_till_date| date:'MMMM dd yyyy'}}
                                                    </div>
                                                </div> -->
                    </div>    
                    <div class="fleft pushUp-">
                        <div class="input-header-actionDetail" style="">
                            Subject Line of Email:
                        </div>
                        <div class="input-field-textfield">
                            {{recurringScheduleData.entities_subject}}
                        </div>
                        <div class="input-header-actionDetail" style="">
                            From name:
                        </div>
                        <div class="input-field-textfield">
                            {{recurringScheduleData.entities_from_name}}
                        </div>
                        <div class="input-header-actionDetail" style="">
                            Reply-to-address:
                        </div>
                        <div class="input-field-textfield">
                            {{recurringScheduleData.entities_reply_to_email_address}}
                        </div>
                    </div>
                </div>
</div>

<!--Commented this out not sure if we need this--> 

<!-- <div class="bottom-cta-button-container" ng-show="isRecurring === false">
    <div class="edit-button-detail md-button button-text-1 fleft savebutton" ng-click="updateAction(recurringScheduleData)" >Save Action</div>
</div>
<div class="bottom-cta-button-container"  ng-show="isRecurring === true">
     <div class="edit-button-detail md-button button-text-1 edit-button-detailrecemail" ng-click="redirectToEmailAutomation('emailautomation','edit','', schedule_id)">Edit Automation Details</div>
</div>-->