<div class="overlay-content" id="emailactionsection" ng-init='hideSaveButton()' ng-show='marketingTab.isSelected(5) || yourplanTab.isSelected(5); ' ng-form name="actionDetailsForm">
    <div ng-show="isProgramArchived" class="clickProofLayer"></div>
    <div class="overlay-name-bar" ng-show="isRecurring === false">
        <input size="40" value="Email Action Name" id="email_edit_title" name="email_edit_title" ng-model='scheduleData.schedule_title' ng-change="showSaveButton()" value="{{scheduleData.schedule_title}}"><br/>
        <input class="inputbox SP1" type="hidden" name="email_scheduleid" id="email_scheduleid" value='{{scheduleData.schedule_id}}' />
        <input class="inputbox SP1" type="hidden" name="email_schedule_type" id="email_schedule_type" value='{{scheduleData.schedule_type}}'/>
    </div>
    <span class="validationAlert general-action-alert " ng-if='scheduleData.schedule_title === "" || null'>{{actionNameValidation}}</span>
    
                
                <div class="overlay-details-pane" ng-show="isRecurring === false">
                    <div class="overlay-details-pane-header">GENERAL DETAILS</div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section half">
                            <label class="detail-section-label">Action Status </label>
                            <div class="status-icon-details">
                                <div class="status-show">
                                    
                                        <img ng-show="action_template_status == 'Template Saved'" src="/BrndBot/images/template-saved.svg" />
                                  
                                 
                                        <img ng-show="action_template_status == 'No Template'" src="/BrndBot/images/no-template.svg"/>
                                 
                                    
                                        <img ng-show="action_template_status == 'Complete'" src="/BrndBot/images/template-complete.svg"/>
                                   
                                   
                                        <img ng-show="action_template_status == 'Approved'" src="/BrndBot/images/template-approved.svg"/>
                                   
                                 
                                </div>
                                <div class="overlay-detail-status">{{action_template_status}}</div>
                            </div>
                        </div>
                        <div class="detail-section half" ng-hide="scheduleData.marketing_program_name === 'General'">
                            <label class="detail-section-label">Assigned Marketing Campaign</label>
                            <p class="overlay-detail-item">{{scheduleData.marketing_program_name}} </p>
                        </div>
                    </div>
                </div>
                <div class="overlay-details-pane" ng-show="isRecurring === false">
                    <div class="overlay-details-pane-header">{{scheduledTo}} DETAILS</div>
                    <div class="detail-sections-wrap">
                        <input type="hidden" class="textbox" id="emaildays" name="emaildays" value="0"/>
                       
                        <div class="detail-section half">
                            <label class="detail-section-label">Date</label>
                            <a class="overlay-detail-input date-input ease-all">
                                <img type="" class="date-time-input-img" src="/BrndBot/images/calendar-gray.svg" />
                                <input type="text" ng-blur="showSaveButton()" id="emaildatetime" name="emaildatetime" />
                                    <script>
                                        
                                        var picker = new Pikaday(
                                                {
                                                    field: document.getElementById('emaildatetime'),
                                                    format: KGlobalDatePickerFormate,
                                                    firstDay: 1,
                                                    minDate: new Date(2000, 0, 1),
                                                    maxDate: new Date(2050, 12, 31),
                                                    yearRange: [2000, 2050]
                                                });
                                                
                                    </script>
                            </a>
                            <span class="validationAlert" ng-if='generalTimeAction'>{{actionDateValidation}}</span>
                        </div>
                        <div class="detail-section half" style="margin-left:20px;">
                            <label class="detail-section-label">Time of Day </label>
                            <a class="overlay-detail-input time-input ease-all">
                                <img type="" class="date-time-input-img" src="/BrndBot/images/time-gray.svg" />
                                <input type="text" ng-blur="showSaveButton()" id="timepickertextbox" name="timepickertextbox" value="{{scheduleData.schedule_time}}" readonly />
                                <script>
                                        $('#timepickertextbox').timepicki({
                                            show_meridian: true,
                                            min_hour_value: 1,
                                            max_hour_value: 12,
                                            step_size_minutes: 01,
                                            overflow_minutes: true,
                                            increase_direction: 'up',
                                            disable_keyboard_mobile: true
                                        });
                                </script>
                            </a>
                        </div>
                    </div>
                    <span class="validationAlert" ng-if='dateLesser'>{{lesserDateValidation}}</span>
            </div>
            <div ng-init="getActionComments(schedule_id)">
            <div class="overlay-details-pane" ng-show="isRecurring === false">
                    <div class="overlay-details-pane-header">ACTION ACTIVITY</div>
                    <div class="detail-sections-wrap" style="display:block;">
                        <!--PUT ACTIVITY HERE-->
                    <div ng-repeat="comment in comments">
                 
                        <div ng-show="comment.isActivity==true">
                            <div class="bb-action-activity-item">
                                <div class="bb-action-activity-name"><b>{{comment.createdByFirstName}} {{comment.createdByLastName}}</b></div>
                                <div class="bb-action-activity-name">{{comment.activityName}} </div>
                                <div class="bb-action-activity-name">{{comment.assignedToFirstName}} {{comment.assignedToLastName}}</div>
                                <div class="bb-action-activity-date">{{comment.createdAt | date:"MMMM d, y 'at' h:mma"}}</div>
                            </div>
                        </div>
                        

                    </div>                        
                    </div>
                </div>
            </div>
    
            <div class="bottom-cta-button-container-overlay"  ng-show="showUpdateBtn && !isProgramArchived">
                <a class="reg-button success-button" id="updateAction1" ng-click="updateAction(scheduleData);marketingTab.selectTab(4)" ng-show="isRecurring === false" >Save Action</a>
            </div>
           
    
   
                   
            <div class="overlay-content" id="recurringactiondiv" ng-show="isRecurring===true">
                <div class="overlay-name-bar">
                    <div class="overlay-name-bar-recurring-title" ng-click="hideShowEditDot(true)" >{{recurringScheduleData.schedule_title}}</div>
                    <input type="hidden" id="recurring_email_title" value="{{schedule_title}}" class="input-field-textfield" readonly/>
                    <input class="inputbox SP1" type="hidden" name="fb_scheduletype" id="fb_scheduletype" value='{{schedule_type}}'/>
                    <input class="inputbox SP1" type="hidden" name="fb_scheduleid" id="fb_scheduleid" value='{{schedule_id}}'/>
                    <a ng-hide="isProgramArchived"  class="reg-button slat-detail-button edit-email-auto-button" ng-click="redirectToEmailAutomation('emailautomation','edit','', schedule_id)"> Edit Email Automation Details
                        <div class="email-automation-hint" ng-show="editAutomationHint"></div></a>
                </div>
                <div class="overlay-details-pane">
                    <div class="overlay-details-pane-header">GENERAL DETAILS</div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section-item">
                            <label class="detail-section-label">Email Description</label>
                            <p class="detail-section-data" ng-click="hideShowEditDot(true)">{{recurringScheduleData.schedule_desc}}</p>
                        </div>
                    </div>
                </div>
<!--                <div class="overlay-details-pane">
                    <div class="overlay-details-pane-header">TRIGGER DETAILS</div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section-item">
                            <label class="detail-section-label">Trigger to send</label>
                            <div class="recurring-email-trigger-sentence-wrap">
                                <span class="">Send an email at</span>
                                <span style="width:100px;padding: 0px 1px;" class="user-data" ng-click="hideShowEditDot(true)">{{recurringScheduleData.entities_selected_time}}</span>
                                <span class="user-data" ng-click="hideShowEditDot(true)">{{recurringScheduleData.days}}</span>
                                <span class=""> days after being added to</span>
                                <span class="user-data unselected" ng-click="hideShowEditDot(true)" ng-hide="hideShowEmailList">Need to Select an Email List</span>
                                <span class="user-data spanwidthclip" ng-click="hideShowEditDot(true)" ng-show="hideShowEmailList">{{recurringScheduleData.entities_list_name}}</span>
                                <span class="">email list.</span>
                            </div> 
                       </div>
                    </div>
                </div>-->
            </div>
</div>
