<div id="fade" class="black_overlay" ng-class="fadeClass"></div>
<div class="overlay-wrap overlay-slide " id="emailsection" ng-class="emailsectionClass">
    <div class="bb-top-nav" id="emailtopnav">
        <div class="bb-bar-left-wrap bb-one-half-flex-col">
            <a id="closePopupSlider" class="bb-back-button bb-rotate-element-180" ng-click="closePopup();promptHideShow(false);marketingTab.selectTab(4);marketingHubTab.selectTab(2);isDeletePromptOpen(false);" href="">
            </a>
            <h3 class="bb-top-nav-title">{{generalActionDetailsHeader}} Action Detail</h3>
        </div>
        <div class="bb-bar-right-wrap bb-one-half-flex-col bb-overlay-header-cta-wrap" ng-show="pushedEmail==false && !isPushed">
            <a  class="bb-button green-button" ng-show="action_template_status === 'Template Saved' && !isProgramArchived" ng-click="Approval(schedule_id, 'approved', masterActionType)">
                {{templateApproveButton}}
            </a>
             <a class="bb-button bb-default-action-button" id="marketingemailapprove" ng-show="action_template_status === 'Approved' && !isProgramArchived" ng-click="Approval(schedule_id, 'template_saved', masterActionType)"  >
                {{templateDisapproveButton}}
            </a>
            <div ng-hide="isProgramArchived" class="action-delete-button" ng-click="isDeletePromptOpen(true);promptHideShow(false)" ></div>
            <div ng-show="clickedDeleteAction" class="action-pop-up delete-action-pop-up ease-all">
                <strong>Are you sure you want to delete this action?</strong>
                <p>All data will be erased and you will lose any saved emails and posts</p>
                <div class="cta-wrapper">
                    <a ng-click="isDeletePromptOpen(false);" href="" class="cancel-button">Cancel</a>
                    <a ng-click="isDeletePromptOpen(false);deleteSchedule(schedule_id, 'delete', generalActionDetailsHeader,'');marketingTab.selectTab(4);" href="" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="bb-top-sub-nav bb-top-sub-nav-backbutton-offset" ng-show="pushedEmail==false">
        <div class="bb-top-sub-nav-tab" ng-if="isEmailHistory">
            <a id="emailnote1" ng-click="setTab('emailHistory')" ng-class="top_subnav_link_active_emailHistoryDetail_Class" href="">Email History Details</a>
        </div>
        <div class="bb-top-sub-nav-tab">
            <a id="emailaction1" val="{{schedule_id}}" ng-click="marketingTab.selectTab(5);yourplanTab.selectTab(5);getActionComments(schedule_id);isDeletePromptOpen(false);promptHideShow(false)" ng-class="{'top-subnav-link-active-detail-Class':marketingTab.isSelected(5) || yourplanTab.isSelected(5)}" href="">Action Details</a>
        </div>
        <div class="bb-top-sub-nav-tab">
             <a id="emailpost1" ng-click="marketingTab.selectTab(6);yourplanTab.selectTab(6);promptHideShow(false);isDeletePromptOpen(false);" ng-class="{'top-subnav-link-active-detail-Class':marketingTab.isSelected(6) || yourplanTab.isSelected(6)}" href="">{{savedPreheader}} {{savedHeader}}</a>
        </div>
        <div class="bb-top-sub-nav-tab ">
            <a id="emailnote1" ng-click="marketingTab.selectTab(7);yourplanTab.selectTab(7);getActionComments(schedule_id);isDeletePromptOpen(false);promptHideShow(false);" ng-show="isRecurring == false;" ng-class="{'top-subnav-link-active-detail-Class':marketingTab.isSelected(7) || yourplanTab.isSelected(7)}"  href="">Collaboration</a>
        </div>
        <div class="bb-top-sub-nav-tab" ng-if="isRecurring">
             <a id="emailAnalytics" ng-click="marketingTab.selectTab(8);yourplanTab.selectTab(8);" ng-class="{'top-subnav-link-active-detail-Class':marketingTab.isSelected(8) || yourplanTab.isSelected(8)}"  href="">Analytics</a>
        </div>
    </div>
    <div class="bb-top-sub-nav bb-top-sub-nav-backbutton-offset" ng-show="pushedEmail==true">
        <div class="bb-top-sub-nav-tab" >
             <a id="emailpost1" ng-click="setTab('savedDetails')" ng-class="top_subnav_link_active_savedDetail_Class" href="">Saved {{savedHeader}}</a>
        </div>
        <div class="bb-top-sub-nav-tab">
             <a id="emailnote1" ng-click="setTab('associatedAcccounts')" ng-class="top_subnav_link_active_notesDetail_Class" href="">Associated Accounts</a>
        </div>
    </div>
    
    <div ng-include src="'pushedactionssaveddetails.html'"></div>
    <div ng-include src="'pushedactionassociatedaccounts.html'"></div>
    <div ng-include src="'generalActionDetails.html'"></div>
    <div ng-include src="'generalActionAnalytics.html'"></div>
    <div ng-include src="'generalActionNotes.html'"></div>
    <div ng-include src="'generalSavedDetails.html'"></div>
    <div ng-include src="'emailhistorypopup.html'"></div>
    
</div>