<div id="fade" class="black_overlay" ng-class="fadeClass"></div>
<div class="overlay-wrap overlay-slide" id="emailsection" ng-class="emailsectionClass">
    <div class="header" id="emailtopnav">
        <a class="exit-button" ng-click="closePopup()" href="">
        </a>
        <h2> {{generalActionDetailsHeader}} Action Detail</h2>
        <div class="overlay-header-cta-wrap">
            <a class="status-button template-not-approved" ng-show="action_template_status === 'Template Saved'" ng-click="Approval(schedule_id, 'approved', masterActionType)">
                <i class=""></i>
                <label>{{templateApproveButton}}</label>
            </a>
             <a class="status-button template-not-approved" id="marketingemailapprove" ng-show="action_template_status === 'Approved'" ng-click="Approval(schedule_id, 'template_saved', masterActionType)">
                 <i class=""></i>
                <label>{{templateDisapproveButton}}</label>
            </a>
            <div class="action-delete-button" ng-click="clickedDeleteAction = true"></div>
            <div ng-show="clickedDeleteAction" class="delete-action-pop-up ease-all">
                <strong>Are you sure you want to delete this action?</strong>
                <p>All data will be erased and you will lose any saved emails and posts</p>
                <div class="cta-wrapper">
                    <a ng-click="clickedDeleteAction = false" href="" class="cancel-button">Cancel</a>
                    <a ng-click="deleteSchedule(schedule_id, 'delete', generalActionDetailsHeader,'')" href="" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="sub-nav-tab-wrap with-back-button">
        <li class="sub-nav-tab ">
             <a id="emailaction1" val="{{schedule_id}}" ng-click="setTab('actionDetails')" ng-class="top_subnav_link_active_actionDetail_Class" href="">Action Details</a>
        </li>
        <li class="sub-nav-tab ">
             <a id="emailpost1" ng-click="setTab('savedDetails')" ng-class="top_subnav_link_active_savedDetail_Class" href="">Saved {{savedHeader}}</a>
        </li>
         <li class="sub-nav-tab ">
             <a id="emailnote1" ng-click="setTab('notes')" ng-class="top_subnav_link_active_notesDetail_Class" ng-if="isRecurring===false" href="">Notes</a>
        </li>
    </ul>
    <div ng-include src="'generalActionDetails.html'"></div>
    <div ng-include src="'generalActionNotes.html'"></div>
    <div ng-include src="'generalSavedDetails.html'"></div>
</div>