<!-- HEAD franchisebackend1 -->
<html>
    <head>
        
    </head>
    <body ng-app="yourPlanFlowApp" class="body-normal" ng-controller="yourPlanController" id="yourPlanController">
        
<div class="overlay-content" ng-show='generalNotes' style="position: relative">
    <div ng-show="moreThanOneUser">
        <div class="overlay-details-pane" ng-show="isRecurring === false">
                <div class="overlay-details-pane-header">GENERAL DETAILS</div>
                <div class="detail-sections-wrap">
                    <input type="hidden" class="textbox" id="emaildays" name="emaildays" value="0"/>

                    <div class="detail-section half">
                        <label class="detail-section-label">Action Assignment</label>
                        <a class="overlay-detail-input  ease-all"  ng-click = "changeUsers=true">
                            <div class="user-badge" style="height:30px; width:30px; line-height: 30px; text-align: center; margin-right: 15px; border-radius: 30px; background-color:lightblue; font-size: 14px; font-weight: bold; color: white;">{{assignedToInitialChars}}</div>
                            <span class="user-assignment-name" style="margin-right: 10px; min-width: 150px; font-size: 16px;">{{assignedFirstName}} {{assignedLastName}}</span>
                        </a>
                    </div>
                    <div ng-show="changeUsers">
                        <a id="addactionClose" ng-click = "changeUsers=false" class="modal-pane-header-exit"></a>
                        <select id="assignTo">
                            <option ng-repeat="users in allUsers" value="{{users.userId}}">{{users.userName}}</option>
                        </select><br><br>
                        <input type="button" id="changeUser" value="change user" ng-click="changeAssignedTo(schedule_id)"/>
                    </div>
    <!--
    <div id="facebooknotesection1" ng-show='generalNotes'>
    <div class="below-nav-container-saved-post-detail">
    <div class="inner-content-container-detail">
        <div class="inner-content-detail">
            <div class="saved-note-detail">
                <div class="notes-container">
                    <textarea ng-model="scheduleData.schedule_desc" class="notes-container-textarea" name="fb_description" id="fb_description{{scheduleData.schedule_id}}">{{scheduleData.schedule_desc}}</textarea>
    development branch-->
                </div>

        </div>
        <div class="email-preview-bar" ng-init="getActionComments(schedule_id)">ACTION COMMENTS</div>
        <div class="action-comments-wrap" style="height:calc(95vh - 450px); background-color: #f2f2f4; width: 100%; padding:0px 60px; overflow-y: scroll;" >
            <div class="action" style="padding:0px 30px;  border-radius: 3px;  "ng-repeat="comment in comments">
                <div style="background-color:white;">
                <div style="display: inline-flex;" ng-show="comment.isActivity==false">
                    <div style="height:30px; width:30px; line-height: 30px; text-align: center; margin-right: 10px; border-radius: 30px; background-color:lightblue; font-size: 14px; font-weight: bold; color: white;">{{comment.initials}}
                    </div>
                    <span style="margin: 0px 5px; line-height: 30px; font-size: 16px; color:#3f3f42;">{{comment.createdByFirstName}} {{comment.createdByLastName}}</span>
                    <span style=" font-size: 14px; color: #7c7d82; line-height: 30px; margin-left: 10px; ">{{comment.createdAt | date:"MMMM d, y 'at' h:mma"}}</span>
                    <a id="addactionClose" ng-show="comment.isLoginUser==true" ng-click = "removeActionComment(schedule_id,comment.commentId)" class="modal-pane-header-exit" alt="remove comment"></a>
                </div>
                <div style=" padding-left: 45px; margin-top: 5px;">
                    <div>{{comment.commentName}} </div>
                </div>
                </div>
                <div style="display: inline-flex;" ng-show="comment.isActivity==true">
<!--                    <div style="height:30px; width:30px; line-height: 30px; text-align: center; margin-right: 10px; border-radius: 30px; background-color:lightblue; font-size: 14px; font-weight: bold; color: white;">{{comment.initials}}
                    </div>-->
                    <span style="margin: 0px 5px; line-height: 10px; font-size: 12px; color:#3f3f42;"><b>{{comment.createdByFirstName}} {{comment.createdByLastName}}</b></span>
                    <span style="margin: 0px 5px; line-height: 10px; font-size: 12px; color:#3f3f42;">{{comment.activityName}} </span>
                    <span style="margin: 0px 5px; line-height: 10px; font-size: 12px; color:#3f3f42;">{{comment.assignedToFirstName}} {{comment.assignedToLastName}}</span>
                    <span style=" font-size: 12px; color: #7c7d82; line-height: 10px; margin-left: 10px; ">{{comment.createdAt | date:"MMMM d, y 'at' h:mma"}}</span>
                </div>

            </div>
        </div>     
    </div>
    <div ng-show="moreThanOneUser==false">
        <br>
            <input type="button" value="Invite a user" name="inviteUser" ng-click="showInviteUsersPopup()"/>
        <br>
    </div>
    <div class="action-comment-input-wrap" style="position: absolute; bottom:0px; width:100%; padding: 15px 60px; background-color:white; ">
        <div class="input">
            <textarea size="40" class="fluid" id="comment" placeholder="comment here" ng-model="comment"></textarea>
            <input type="button" value="comment" ng-click="addActionComment(schedule_id, comment)"/>
        </div>
    </div>
</div>
    </body>
</html>
