<div class="overlay-content" ng-show='marketingTab.isSelected(8) || yourplanTab.isSelected(8);' style="position: relative">
    <div class="overlay-details-pane">
                <div class="overlay-details-pane-header">EMAIL HISTORY STATS</div>
                <div class="detail-sections-wrap">
                    <div class="detail-section half">
                        <p class="detail-section-data"> 14.5 %</p>
                        <label class="detail-section-label">Open Rate</label>
                    </div>
                    <div class="detail-section half">
                        <p class="detail-section-data">1.3 %</p>
                        <label class="detail-section-label">Click Through Rate</label>
                    </div>
                    <div class="detail-section half">
                        <p class="detail-section-data">52</p>
                        <label class="detail-section-label">Unsubscribes</label>
                    </div>
                    <div class="detail-section half">
                        <p class="detail-section-data">5,214</p>
                        <label class="detail-section-label">Number Sent</label>
                    </div>
                    <div class="detail-section half">
                        <p class="detail-section-data">5</p>
                        <label class="detail-section-label">Hard Bounces</label>
                    </div>
                </div>
    </div>
    
</div>