<div  ng-show='marketingTab.isSelected(6) || yourplanTab.isSelected(6);'>

    <div class="overlay-content" ng-show="savedEmail">
        <div ng-if="isRecurring === true">
            <div class="overlay-content" >
                <div class="overlay-details-pane">
                    <div class="overlay-details-pane-header">
                        <div >SAVED EMAIL DETAILS</div>
                        
                    </div>
                    <div ng-if="clickedRemoveAction" class="action-pop-up remove-saved-post-pop-up ease-all ease-all">
                        <strong>Are you sure you want to remove this saved email?</strong>

                        <div class="cta-wrapper">
                            <a ng-click="promptHideShow(false);" href="" class="cancel-button">Cancel</a>
                            <a ng-click="deleteSchedule(schedule_id, 'remove', generalActionDetailsHeader, '');marketingTab.selectTab(4);" href="" class="delete-button">Remove</a>
                        </div>
                    </div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section">  
                            <div class="detail-section-item">
                                <label class="detail-section-label">Subject Line</label>
                                <p class="detail-section-data">{{recurringScheduleData.entities_subject}}</p>
                            </div>
                            <div class="detail-section-item">
                                <label class="detail-section-label">Reply-to-address:</label>
                                <p class="detail-section-data">{{recurringScheduleData.entities_reply_to_email_address}}</p>
                            </div>
                            <div class="detail-section-item">
                                <label class="detail-section-label"> From name:</label>
                                <p class="detail-section-data">{{recurringScheduleData.entities_from_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bb-overlay-button-wrap">
                    <a ng-hide="isProgramArchived"  class="bb-button bb-secondary-action-button" ng-click="redirectToEmailAutomation('emailautomation', 'template', '', schedule_id, 'edit saved email')"> Edit Saved Email</a>
                    <a ng-hide="isProgramArchived"  class="bb-button bb-secondary-action-button" ng-click="promptHideShow(true);isDeletePromptOpen(false);"> Remove Saved Email</a>
                </div>

                <div class="email-preview-bar">EMAIL PREVIEW</div>
                <div class="overlay-email-preview"><div id="recurringEmailHtmlBody"></div>
                    <!--<iframe id="iframeForRecurringEmail" class="email-overlay-iFrame"></iframe>-->
                    <!--iframe goes here-->
                </div>
            </div>
        </div>

        <div ng-show="masterActionType == 'Twitter'">
            <div class="overlay-content">
                <div class="overlay-details-pane">
                    <div class="overlay-details-pane-header">
                        <div>Saved Post Details</div>
                        <a ng-hide="isProgramArchived"  class="overlay-details-pane-header-cta" ng-click="promptHideShow(true);clickedDeleteAction = false"> Remove Saved Post</a>
                    </div>
                    <div ng-if="clickedRemoveAction" class="action-pop-up remove-saved-post-pop-up ease-all">
                        <strong>Are you sure you want to remove this post?</strong>

                        <div class="cta-wrapper">
                            <a ng-click="promptHideShow(false);" href="" class="cancel-button">Cancel</a>
                            <a ng-click="deleteSchedule(schedule_id, 'remove', generalActionDetailsHeader, '');marketingTab.selectTab(4);" href="" class="delete-button">Remove</a>
                        </div>
                    </div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section">
                            <div class="detail-section-item">
                                <label class="detail-section-label">post text</label>
                                <p class="detail-section-data">{{entitiesdetails.metadata.text}}</p>
                            </div>
                            <div class="detail-section-item" ng-show="entitiesdetails.metadata.shorturl != ''">
                                <label class="detail-section-label">post url</label>
                                <p class="detail-section-data">{{entitiesdetails.metadata.shorturl}}</p>
                            </div>
                            <div class="detail-section-item">
                                <label class="detail-section-label">saved photo </label>
                                <img class="saved-post-image"/>
                                <div ng-show="entitiesdetails.image_type == 'gallery'">
                                    <img id="prevfbimg" src="/BrndBot/downloadImage?imageName={{entitiesdetails.image_name}}&imageType=GALLERY&companyId={{companyId}}" />
                                </div>
                                <div ng-show="entitiesdetails.image_type == 'url'">
                                    <img id="prevfbimg" src="{{entitiesdetails.image_name}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="masterActionType == 'Facebook'">
            <div class="overlay-content">
                <div class="overlay-details-pane">
                    <div class="overlay-details-pane-header">
                        <div>Saved Post Details</div>
                        <a ng-hide="isProgramArchived"  class="overlay-details-pane-header-cta" ng-click="promptHideShow(true);clickedDeleteAction = false"> Remove Saved Post</a>
                    </div>
                    <div ng-if="clickedRemoveAction" class="action-pop-up remove-saved-post-pop-up ease-all">
                        <strong>Are you sure you want to remove this saved post?</strong>

                        <div class="cta-wrapper">
                            <a ng-click="promptHideShow(false);" href="" class="cancel-button">Cancel</a>
                            <a ng-click="deleteSchedule(schedule_id, 'remove', generalActionDetailsHeader, '');marketingTab.selectTab(4);" href="" class="delete-button">Remove</a>
                        </div>
                    </div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section">
                            <div class="detail-section-item">
                                <label class="detail-section-label">Post Text</label>
                                <p class="detail-section-data">{{entitiesdetails.metadata.post_text}}</p>
                            </div>
                            <div ng-show="entitiesdetails.metadata.url != ''">
                                <div class="detail-section-item">
                                    <label class="detail-section-label">Post Url</label>
                                    <p class="detail-section-data">{{entitiesdetails.metadata.url}}</p>
                                </div>
                                <div class="detail-section-item">
                                    <label class="detail-section-label">Post Link Title</label>
                                    <p class="detail-section-data">{{entitiesdetails.metadata.title}}</p>
                                </div>
                                <div class="detail-section-item">
                                    <label class="detail-section-label">Post Link Description</label>
                                    <p class="detail-section-data">{{entitiesdetails.metadata.description}}</p>
                                </div>
                            </div>
                            <div class="detail-section-item">
                                <label class="detail-section-label">Saved Photo</label>
                                <img class="saved-post-image"/>
                                <div ng-show="entitiesdetails.image_type == 'gallery'">
                                    <img id="prevfbimg" src="/BrndBot/downloadImage?imageName={{entitiesdetails.image_name}}&imageType=GALLERY&companyId={{companyId}}"/>
                                </div>
                                <div ng-show="entitiesdetails.image_type == 'layout'" style="display: none;">
                                    <img id="prevfbimg" src="/BrndBot/downloadImage?imageType=LAYOUT_IMAGES&amp;imageName=13.jpg">
                                </div>
                                <div ng-show="entitiesdetails.image_type == 'url'">
                                    <img id="prevfbimg" src="{{entitiesdetails.image_name}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="overlay-content" ng-show="masterActionType == 'Email'">

            <div class="overlay-details-pane" ng-show="action_template_status == 'Complete'">
                <div class="overlay-details-pane-header">
                    <div >EMAIL HISTORY STATS</div>
                </div>
                <div class="external-data-loading-wrap" ng-show="hideGifImage">
                    <div class="external-data-loading-block">
                        <div class="loader"></div>
                        <div class="loader-description">Loading your content</div>
                    </div>
                </div>
                <div class="detail-sections-wrap" ng-if="tagerror">
                    <div class="detail-section">
                        <div class="detail-section-item">{{tagerror}}</div>
                    </div>
                </div> 
                 <div class="bb-auto-email-analytics-wrap" ng-if="!tagerror" ng-repeat="tag in tagsDetails">
                   
                    <div class="bb-auto-email-analytics-table">
                        <div class="bb-analytics-table-item  ">
                            <p class="detail-section-data">{{tag.stats[0].metrics.delivered}}</p>
                            <label class="detail-section-label">Number Sent</label>
                        </div>
                        <div class="bb-analytics-table-item ">
                            <p class="detail-section-data"> {{(tag.stats[0].metrics.unique_opens / tag.stats[0].metrics.delivered) * 100 | number : 2}} %</p>
                            <label class="detail-section-label">Open Rate</label>
                        </div>
                        <div class="bb-analytics-table-item  ">
                            <p class="detail-section-data">{{(tag.stats[0].metrics.unique_clicks / tag.stats[0].metrics.delivered) * 100 | number : 2}} %</p>
                            <label class="detail-section-label">Click Rate</label>
                        </div>
                       
                        
                        <div class="bb-analytics-table-item  ">
                               <p class="detail-section-data">{{tag.stats[0].metrics.unsubscribes}}</p>
                               <label class="detail-section-label">Unsubscribes</label>
                           </div>
                       <div class="bb-analytics-table-item  ">
                           <p class="detail-section-data">{{tag.stats[0].metrics.bounces}}</p>
                           <label class="detail-section-label">Hard Bounces</label>
                       </div>
                    </div>
                </div>
            </div>

            <div class="overlay-details-pane">
                <div class="overlay-details-pane-header">
                    <div >SAVED EMAIL DETAILS</div>

                </div>
                <div ng-if="clickedRemoveAction" class="action-pop-up remove-saved-template-pop-up ease-all ease-all">
                    <strong>Are you sure you want to remove this saved email?</strong>

                    <div class="cta-wrapper">
                        <a ng-click="promptHideShow(false);" href="" class="cancel-button">Cancel</a>
                        <a ng-click="deleteSchedule(schedule_id, 'remove', generalActionDetailsHeader, '');marketingTab.selectTab(4);" href="" class="delete-button">Remove</a>
                    </div>
                </div>
                <div class="detail-sections-wrap">
                    <div class="detail-section">  
                        <div class="detail-section-item">
                            <label class="detail-section-label">Subject Line</label>
                            <p class="detail-section-data">{{entitiesdetails.subject}}</p>
                            <p hidden="">{{entitiesdetails.preheader}}{{entitiesdetails.html_body}}</p>
                        </div>
                        <div class="detail-section-item">
                            <label class="detail-section-label">Send to List</label>
                            <p class="detail-section-data">{{entitiesdetails.email_list_name}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bb-overlay-button-wrap" ng-hide="action_template_status == 'Complete'">
                <a ng-hide="isProgramArchived" class="bb-secondary-action-button bb-button" ng-click="editSavedEmail(schedule_id, entitiesdetails);"> Edit Saved Email</a>
                <a ng-hide="isProgramArchived"  class="bb-secondary-action-button bb-button" ng-click="promptHideShow(true);isDeletePromptOpen(false);"> Remove Saved Email</a>
            </div>

            <div class="email-preview-bar">EMAIL PREVIEW </div>
            <div class="overlay-email-preview"><div id="emailHtmlBody"></div>
            </div>
        </div>
    </div>
    <div id="noemailsdiv" ng-if="savedEmail === false">
        <div class="overlay-content">
            <div class="overlay-empty-container">
                <div class="empty-wrap">
                    <object type="image/svg+xml" data="/BrndBot/images/Overlay_EmptyStates_email.svg"></object>
                    <p>{{actionTypeNoTemplateMessage}}</p>
                    <!--need to have a bunch of button state management. We should have a factory -->
                    <a class="reg-button blue-button empty-wrap-button" href="{{savedDetailsAddTemplateLink}}" ng-if="isRecurring === false && masterActionType != 'Email'">{{savedDetailsAddTemplateButton}}</a>
                    <a class="reg-button blue-button empty-wrap-button" href="" ng-click="saveEmailByActionId(scheduleData)" ng-if="isRecurring === false && masterActionType == 'Email'">{{setEmailToThisAction}}</a>
                    <a class="reg-button blue-button empty-wrap-button" ng-click="redirectToEmailAutomation('emailautomation', 'template', '', schedule_id)" ng-if="isRecurring === true">{{savedDetailsAddTemplateButton}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
