
<div class="bb-top-nav" ng-init="showImage()">
    <div class="bb-bar-left-wrap bb-one-third-flex-col">
        <h3 class="bb-top-nav-title">Your Media</h3>
    </div>
    <div class="bb-bar-right-wrap bb-one-third-flex-col">
        <div class="bb-help-icon">help icon</div>
        <div class="bb-user-profile-dropdown-wrap" ng-init="getUserDetails()" ng-click="userSettings=true">
                 <div class="bb-user-profile-user-name">{{userFirstName}} {{userLastName}}</div>
                 <img type="image/svg+xml" src="/BrndBot/images/dropdown.svg" class="hub-dropdown-icon" style="cursor:pointer;"/>
             </div>
             <div ng-include src="'usersettingsDropDown.html'" class="bb-user-settings-dropdown-target"></div>
    </div>
</div>
<div class="bb-main-content-wrap bb-main-content-wrap-padding" ng-click="userSettings=false">
    <div class="bb-panel-full-width bb-panel-styling" ng-init="getAllCompanyImages()">
        <div class="bb-panel-header">
            <h2 class="">Your Images</h2>
                <a id="liPriority" href="" class=" bb-button bb-default-action-button" ng-click="showImageUploadPopup()"> Upload an Image</a>
        </div>
        <div class="bb-gallery-image-wrap bb-panel-content-wrap">
            <div class="bb-gallery-image-card" ng-repeat="images in (filteredItems = (datalists| orderBy: 'createdDate':true))" ng-mouseover="hoverInGalleryImage()" ng-mouseleave="hoverOutGalleryImage()">
                <div  class="bb-gallery-image" id="{{images.companyImagesId}}"  style="background-image: url('/BrndBot/downloadImage?imageType=GALLERY&imageName={{images.imageName}}&companyId={{companyId}}'); background-position:50% 50%; background-repeat:no-repeat; background-size: contain;max-width:100%;margin:auto;"/></div>
                <div ng-show="hoverEditGalleryImage" class="bb-gallery-image-options"> 
                    <img type="image/svg+xml" id="delete" src="/BrndBot/images/overlay-trash-icon.svg" class="gallery-image-options-trash-icon" ng-click="deleteImage(images.companyImagesId)"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'imageuploadpopup.html'"></div>



