<style>
    .thumb{
        width:140px;
        height:140px;
        margin:6px;
        float:left;
    }
</style>
<div id="fade" class="black_overlay">

<div class="pop-up-background-gallery" id="imagepopup" ng-show="hidePopup">
    <div class="pop-up-container-galleryselect"> 
        <div class="pop-up-header">
            <div class="exit-button-detail" ng-click="closeImageUploadPopup()">
                <a class=" exit-button-icon" href="">
                    <img  type="image/svg+xml" src="../images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;"/>
                </a>
            </div>
            <div class="pop-up-title-gallery fleft col-9of10">

                <div class="pop-up-title-h1-gallery fleft"> Upload an Image:</div>
            </div>
        </div>
        <div class="pop-up-inner-gallery">
            <div class="imageGallery-inner-popup">
                <div class="imageUpload-container">
                    <div class="browse-button">
                        <div id="triggerfile" class="md-button gray-button">Browse your Images</div>
                        <input type="file"  name="filesToUpload[]" id="filesToUpload" file-model="myFile" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)">
                        <span class="validationAlert" ng-if='myFile === "" || null'>{{logoValidation}}</span>
                    </div>
                    <div ng-repeat="image in imageModal">
                        <img class="thumb" src="{{image}}" />
                    </div>
                    <div ng-if="showImageUploaded" class="imageNamecenter">
                        <input type="text" placeholder="No image selected" class="noborder imageNamecenter" id="imagetext" readonly/>
                    </div>
                </div>                     
            </div>
            <div class="browse-button">
                <div class="add-action-button md-button button-text-1 uploadimgbtn" id="upload" ng-click="uploadLogo(myFile); $event.stopPropagation();"> Upload Image</div>

            </div>
        </div>
    </div>
</div>
</div>