<style>
    .thumb{
        width:140px;
        height:140px;
        margin:6px;
        float:left;
    }

    #growl growl-notice growl-medium {
        z-index: 99999 !important;
        position: absolute; 
    }

    #fade {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(61,83,104,.8) !important;
        z-index: 9999 !important;
    }
</style>

<div  ng-if="showImageGalleryPopup" class="center-pop-ups " id="fade" ng-class="fadeClass">

    <div class="center-pop-ups"  >

        <div class="modal-pane modal-pane-width-full mbPopup ">
            <div ng-init="getUserImages()">
                <div class="modal-pane-header-wrap">
                    <h2 class="">Your Images</h2>
                    <!--PUT UPLOAD IMAGE FUNCTIONALITY HERE-->
                    <div class="upload-photo-button reg-button gray-button" ng-click="showImageUploadPopup()">Upload an Image</div>

                    <a class="modal-pane-header-exit" id="hidepopup" ng-click="show_hide_ImageGalleryPopup(false)"></a>
                </div>
                <div class="pop-up-inner-gallery" ng-show="chooseImage">
                    <div class="imageGallery-inner-popup">
                        <div class="imageUpload-container">
                            <div class="browse-button">
                                <div id="triggerfile" class="md-button gray-button">Browse your Images</div>
                                <input type="file"  name="filesToUpload[]" id="filesToUpload" file-model="myFile" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)">
                                <span class="validationAlert" ng-if='myFile === "" || null'>{{logoValidation}}</span>
                            </div>
                            <div ng-repeat="image in imageModal">
                                <img class="thumb" src="{{image}}" />
                            </div>
                            <div ng-if="showImageUploaded" class="imageNamecenter">
                                <input type="text" placeholder="No image selected" class="noborder imageNamecenter" id="imagetext" readonly/>
                            </div>
                        </div>                     
                    </div>
                    <div class="browse-button">
                        <div class="add-action-button md-button button-text-1 uploadimgbtn" id="upload" ng-click="uploadLogo(myFile);
                            $event.stopPropagation();"> Upload Image</div>
                    </div>
                </div>
                <div class="full-height-modal-pane-content-wrap pop-up-image-gallery-wrap modal-pane-content-social-sequence" ng-init="getUserImages()" ng-show="showUserImages" >
                    <div class="gallery-image-wrap {{images.companyImagesId}}">
                        <div class="gallery-image-card image-gal-pop-up" ng-repeat="images in datalists"  ng-click="selectImageToPost(images.imageName, 'gallery', companyId)">

                            <img  class="gallery-image" id="{{images.companyImagesId}}"  src="/BrndBot/downloadImage?imageType=GALLERY&imageName={{images.imageName}}&companyId={{companyId}}" alt="{{images.imageName}}"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--PUT THIS UPLOAD FUNCTIONALITY INTO THE MODAL-CTA-CONTAINER-BELOW-->
        <span class="" id="uploadImageSpan" ng-show="showUploadImage">
            <div class="logoUpload-wrap">
                <img type="image/svg+xml" ng-src="{{imageToBeUploaded}}" class="logoUpload-svg" style="cursor:pointer;">
            </div>
            <div class="Add_Button Button--Gray logoUpload--button">Select Image
                <input type="file" file-model="myFile1" class="Add_Button Button--Gray logoUpload--button upload fileupld"/>
            </div>
        </span>
    </div>
</div>
