<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>Loading</title>
        <link rel="stylesheet" type="text/css" href="../css/general_1.css"/>
        <script src="../js/utilities/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
        <script src="../js/admin/alertmessage.js" type="text/javascript"></script>
        <script src="../js/configurations.js"></script> 
        <script src="../js/utilities/angularappconfiguration.js"></script> 
        <script src="../js/utilities/colpick.js" type="text/javascript"></script>
        <link href="../css/colpick.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="images/favicon.png"/> 
        <script src="../js/controller/routing.js" type="text/javascript"></script>
        <script src="../js/factory/appSessionFactory.js" type="text/javascript"></script>
        <script src="../js/utilities/models.js" type="text/javascript"></script>
        <script src="../js/controller/onboardingController.js" type="text/javascript"></script>
        <script src="../js/factory/subCategoryFactory.js" type="text/javascript"></script>
        <script src="../js/factory/settingsFactory.js" type="text/javascript"></script>
        <script src="../js/factory/onboardingFactory.js" type="text/javascript"></script>
        <script src="../js/factory/organizationFactory.js" type="text/javascript"></script>
        <script src="../js/factory/urlServices.js" type="text/javascript"></script>
        <script src="../js/factory/authFactory.js" type="text/javascript"></script>
        <script src="../js/factory/assetsFactory.js" type="text/javascript"></script>
        <script src="../js/factory/externalContentFactory.js" type="text/javascript"></script>
        <script src="../js/factory/signupFactory.js" type="text/javascript"></script>
        <script src="../js/factory/yourPlanFactory.js" type="text/javascript"></script>
        <script src="../js/controller/routing.js" type="text/javascript"></script>
        <script src="../js/utilities/angulardropdown.js" type="text/javascript"></script>
</head>  
    <body ng-app="signupApp" ng-controller="onboardingController">
        <div ng-init="getLoggedInUserId()"></div>
        <div class="bb-app-frame">
            <div class="bb-main-app-wrap" >
                <div class="bb-main-container-wrap">
                    <div ng-if="hideDataOverlay" class="bb-welcome-loading-overlay">
                        <div class="bb-welcome-loading-overlay-content">
                            <div class="bb-welcome-loading-gif-wrap">
                                <img class="bb-welcome-loading-gif" src="../images/loadinggif.gif"  />
                            </div>
                            <div class="bb-welcome-loading-logo-wrap">
                                <img class="bb-welcome-loading-logo" src="../images/Logo_Standard.svg"  />
                            </div>
                        </div>
                    </div>
                        <!--    <a  class="slat external-data">
                                <div class="slat-name-wrap">
                                    <h2>{{companyDetail.companyName}}</h2>
                                </div>
                                <div class="slat-detail-wrap">
                                    <div class="slat-detail">
                                        <h2>{{companyDetail.roleName}}</h2>
                                    </div>
                                </div>
                            </a>-->
                            <div class="bb-main-content-wrap bb-main-content-wrap-padding bb-center-content ">
                                <div class="bb-panel-styling bb-panel-default">
                                    <div class="bb-panel-header">
                                        <h2>Please select an account:</h2>
                                    </div>
                                    <div class="bb-panel-content-wrap bb-panel-content-wrap-max-height">
                                       <div ng-repeat="companyDetail in companies" ng-click="getAccountStatus(companyDetail)">
                                           <div class="bb-clickable-slat">                   
                                               <div class="slat-name-wrap" >{{companyDetail.companyName}}</div>  
                                               <div class="slat-detail-wrap" >{{companyDetail.roleName}}</div>  
                                           </div>
                                       </div>
                                   </div>
                                </div>
                            </div>
                    
                </div> 
            </div>
        </div>    
           

                
                        
                           
                        
                    
  

</body>
</html>

