

    <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav">
        <div class="modal-pane modal-pane-width-full">
            <div class="modal-pane-header-wrap">
                <h2>What would you like to do today?</h2>
            </div>
            <div class="modal-pane-content-wrap dash-main-cta-card-wrap">
                <div class="dash-main-cta-card">
                    <object type="image/svg+xml" data="/BrndBot/user/images/push-email-icon.svg" style="cursor:pointer;"> </object>
                    <h3>Create an email to push to your managed accounts</h3>
                    <a class="reg-button gray-button" ng-click="redirectToEmailFlow('baseemaileditor')">Create a Pushed Email</a>
                </div>
                
            </div>
        </div>
    </div>