

    <div class="content-wrap content-wrap-padding">
        <div class="modal-pane modal-pane-width-full">
            <div class="modal-pane-header-wrap">
                <h2>What would you like to do today?</h2>
            </div>
            <div class="modal-pane-content-wrap dash-main-cta-card-wrap">
                <div class="dash-main-cta-card">
                    <object type="image/svg+xml" data="/BrndBot/user/images/homepage-icons-01.svg" style="cursor:pointer;"> </object>
                    <h3>Create an email to send now or schedule for later</h3>
                    <a class="reg-button gray-button">Create an Email</a>
                </div>
                
            </div>
        </div>
    </div>