
        <div id="fade"></div>
        <div class="content-main" >
 
            <div ng-include src="'createEmailList.html'"></div>
            <div ng-include src="'savedEmailDraftPopup.html'"></div>
            <!--Top Nav-->   
            <div class="top-nav">
                <div class="page-title-bar col-1of1"> 
                    <!--<div class="exit-button-detail"></div>-->
                    <div class="page-title-regular page-title-font">Your Email Hub</div>
                    <div class="page-cta-container">
                        <a href="">
                            <div class="delete-button md-button button fleft"  id="deleteEmaildraft" ng-click="deletedrafts('deleteMultiple');" > Delete Email Drafts</div>
                        </a>
                        <a href="">
                            <div id="addemlstbtn" class="add-action-button md-button button-text-1" ng-click="addemaillist()"> Add Email List</div>
                        </a>
                        <a href="">
                            <div id="savesetbtn" class="add-action-button md-button button-text-1" ng-click="setEmailSettings()">Save</div>
                        </a>
                    </div>
                </div>
                <div class="page-subnav-bar-with-dropdown">
                    <div class="subnav-dropdown pushright" onclick="funshowdropdown()">
                        <span class="hub-dropdown-text" id="emlsclspanid">Email<img type="image/svg+xml" src="images/dropdown-icon.svg" class="dropdown-icon" style="cursor:pointer;"></img></span>
                    </div>
                    <div class="top-subnav-tabs-container">
                        <ul class="top-subnav-nav-elements">
                            <li class="top-subnav-links" id="emldrftab"> <a  class="h3">Email Drafts</a></li>
                            <li class="top-subnav-links" id="emlhistab"> <a class="h3">Email History and Analytics</a></li>
                            <!--                        <li class="top-subnav-links"> <a class="h3">Scheduled Emails</a></li>-->
                            <li class="top-subnav-link-active" id="emllistab"> <a class="h3-active-subnav">Email Lists</a></li>
                            <li class="top-subnav-links" id="emlsettab" ng-click="getemailsettings()"> <a class="h3">Email Settings</a></li>
                            <li class="top-subnav-links" id="footertab"> <a  class="h3">Footer Settings</a></li>
                        </ul>
                    </div>

                </div>
                <div class="dropdown-hub" id="emaildropdown" style="display:none;">
                    <ul class="dropdown-inner">
                        <li class="dropdown-section fleft col-1of1 " id="emailhubli">
                            <a href="/BrndBot/user/emaillist">
                                <div><img type="image/svg+xml" src="images/Hub-Dropdowns_email.svg" class="dropdown-hub-icon fleft col-2of10" style="cursor:pointer;"></img></div>
                                <div class="fleft col-6of10 dropdown-label-active">Email Hub</div>
                            </a>                        
                        </li>
                        <a href="/BrndBot/user/social">
                            <li class="dropdown-section col-1of1 fleft" id="socialhubli" >
                                <div><img type="image/svg+xml" src="images/Hub-Dropdowns_social.svg" class="dropdown-hub-icon fleft col-2of10" style="cursor:pointer;"></img></div>
                                <div class="fleft col-6of10 dropdown-label">Social Hub</div>
                            </li>
                        </a>

                    </ul>
                </div>
            </div>
            <!--Main Content GENERIC--> 
            <div class="page-background">
                <div ng-include src="'emailList.html'"></div>
                <div ng-include src="'emailDraft.html'"></div>
                <div ng-include src="'emailHistory.html'"></div>
                <div ng-include src="'emailsetting.html'"></div>
                <div ng-include src="'footerSetting.html'"></div>
            </div>
            <div class="bottom-cta-bar padleft" id="removeselactions" >
                <div class="bottom-cta-button-container padright">
                    <div class="remove-action-detail md-button button-text-1" id="deleteEmailList" ng-click="deleteEmailList();">Remove Selected Email List(s)</div>
                </div>
            </div>
            <div ng-include src="'emailFooterPopup.html'"></div>
        </div>
        <div id="light" class="white_content closepopup">
            <a href = "javascript:void(0)" style="text-decoration:none;">
                <div id="slider-button" style="font-size:40px;text-align:center;z-index:1006;display:none;">
                    <p style="margin-top:-7px;"><img src="images/yourPlan.svg" height="25" width="25" /></p>
                </div>
            </a>
        </div>     
        <!--CTA Bar-->
        
    </body>
</html>