           
                <div class="top-nav-wrap"> 
                    <div class="header">
                        <h2>Your Email Hub</h2>
                    </div>
                    <div class="page-cta-container">
                        <a href="">
                            <div class="delete-button md-button button fleft"  id="deleteEmaildraft" ng-show="deletDraftsButton" ng-click="deleteDrafts('deleteMultiple');" > Delete Email Drafts</div>
                        </a>
                    </div>
             
                <div class="top-sub-nav">
                    <div class="hub-dropdown" ng-click="showDropDown()">
                        <span class="hub-dropdown-text" id="emlsclspanid">Email</span>
                        <img type="image/svg+xml" src="/BrndBot/images/dropdown.svg" class="hub-dropdown-icon" style="cursor:pointer;"></img>
                    </div>

                   
                        <ul class="sub-nav-tab-wrap">
                            <li class="sub-nav-tab" id="emldrftab" ng-click="displayAllEmailDrafts()"> <a href="#/emaildraft" ng-class="activeEmailDrafts">Email Drafts</a></li>
                            <li class="sub-nav-tab" id="emlhistab" ng-click="displayEmailHistory()"> <a href="#/emailhistory" ng-class="activeEmailHistory">Email History and Analytics</a></li>
                            <li class="sub-nav-tab" id="emllistab" ng-click="emailListGet()"> <a href="#/emaillist" ng-class="activeEmailList">Email Lists</a></li>
                            <li class="sub-nav-tab" id="emlsettab" ng-click="getEmailSettings()"> <a href="#/emailsetting" ng-class="activeEmailSettings">Email Settings</a></li>
                        </ul>
                   
                </div>
                
                    <div class="dropdown-hub" ng-show="emaildropdown">
                        <div class="dropdown-inner-hub">
                            <a class="hub-dropdown-section" href="/BrndBot/user/social" id="socialhubli">
                                <img type="image/svg+xml" src="../images/Hub-Dropdowns_social.svg" class="hub-dropdown-section-icon" style="cursor:pointer;"/>
                                <div class=" dropdown-label-active">Social Hub</div>
                            </a>
                            <a class="hub-dropdown-section" href="/BrndBot/user/basemarketinghub#/" id="emailhubli">
                                <img type="image/svg+xml" src="../images/Hub-Dropdowns_email.svg" class="hub-dropdown-section-icon" style="cursor:pointer;"/>
                                <div class=" dropdown-label">Email Hub</div>
                            </a>                     
                        </div>
                    </div>
            </div>
            <div class="bottom-cta-bar padleft" id="removeselactions" ng-show="showDeleteEmailList" >
                <div class="bottom-cta-button-container padright">
                    <div class="remove-action-detail md-button button-text-1" id="deleteEmailList" ng-click="deleteEmailList();">Remove Selected Email List(s)</div>
                </div>
            </div>