
<div ng-include src="'addaction.html'"></div>
<div ng-include src="'usersettingpopup.html'"></div>
 
  <div  ng-init="getUserDetails(); assignmentTooltip=false">
    <div class="bb-top-nav">
         <div class="bb-bar-left-wrap bb-one-third-flex-col">
             <h3 class="bb-top-nav-title">Your Plan</h3>
         </div>
         <div class="bb-bar-right-wrap bb-one-third-flex-col">
             <div class="bb-help-icon">help icon</div>
             <div class="bb-user-profile-dropdown-wrap"  ng-click="userSettings=true">
                 <div class="bb-user-badge bb-action-comment-user-badge" style="background-color: {{userColor}}">
                     <div>{{userInitials}}</div>
                 </div>
                 <div class="bb-user-name-company-wrap">
                     <div class="bb-user-profile-user-name"><b>{{userFirstName}}</b></div>
                      <div class="bb-user-profile-company-name">{{companyName}}</div>
                 </div>
                 <img type="image/svg+xml" src="/BrndBot/images/dropdown.svg" class="hub-dropdown-icon" style="cursor:pointer;"/>
             </div>
             <div ng-include src="'usersettingsDropDown.html'" class="bb-user-settings-dropdown-target"></div>
         </div>
     </div>
</div>
    <div class="bb-top-sub-nav" ng-init="getAllUsersInCompany()">
        <a href="javascript:void(0)" class="bb-button bb-primary-action-button bb-add-action" id="liPriority" ng-click="ShowAddAction()">Add Action</a>
        <div class="" ng-click="setCurrentDateActions()">
                <div class="your-plan-cal-dropdown" for="jumptodatepicker" > 

                    <!--<label for="jumptodatepicker"><i style="cursor: pointer;"></i></label>-->
                    <label class="bb-default-action-button bb-button bb-jump-to-date" for="jumptodatepicker" >Jump to Date</label>
                    <input type="text"  name="datepicker" id="jumptodatepicker" readonly class="hideinput"/>
                </div>

                <script>
                    var picker = new Pikaday(
                            {
                                field: document.getElementById('jumptodatepicker'),
                                format: KGlobalDatePickerFormate,
                                firstDay: 1,
                                minDate: new Date('2000-01-01'),
                                maxDate: new Date('2050-12-31'),
                                yearRange: [2000, 2050],
                                onSelect: function () {
                                    var mydate = this.getMoment();
                                    var mydt = mydate.toLocaleString();
                                    var myDate = new Date(mydt);
                                    angular.element(document.getElementById('yourPlanController')).scope().setCurrentDate(myDate);
                                }
                            });
                </script>
            </div>
    </div>
    <div class="bb-main-content-wrap bb-main-content-wrap-padding" ng-init="getCampaigns()" ng-click="userSettings=false">
        <div class="bb-panel-styling bb-panel-full-width" ng-repeat="entity in entitySet">
            <div class="your-plan-pane" >
                <div class="bb-panel-header">
                    <h3 class="your-plan-date" ng-show="entity.date == today_date">Today's Actions</h3>
                    <h3 class="your-plan-date" ng-show="(entity.date != today_date)">{{getDayOfMonth(entity.date)}} {{myYear(mySplit(entity.date, 1))}} {{mySplit(entity.date, 2)}} {{mySplit(entity.date, 0)}}</h3>
                </div>
                <div class="bb-slat-list-wrap" ng-hide="entity.dataArray == ''" >
                    <div class="bb-slat" ng-repeat="entitydetails in entity.dataArray" ng-click="yourplanTab.selectTab(6);getScheduleDetails(entitydetails.schedule_id,
                                                       entitydetails.template_status,
                                                       entitydetails.schedule_time,
                                                       entitydetails.entity_type,
                                                       entitydetails.assignedFirstName,
                                                       entitydetails.assignedLastName,
                                                       entitydetails.assignedToInitialChars,
                                                       entitydetails.schedule_title,
                                                       entitydetails.schedule_description,
                                                       entitydetails.marketingName,
                                                       entitydetails.user_marketing_program_id,
                                                       entitydetails.days,
                                                       entitydetails.is_today_active, entity.date,
                                                       entitydetails.isPushed);" >
                        <div class="bb-your-plan-icon-wrap">
                            <div ng-show="entitydetails.entity_type != master_note">
                                <div class="your-plan-icon hint--top" ng-show="entitydetails.template_status == 'Template Saved'"  data-hint="Template Saved" > 
                                    <img class="bb-your-plan-icon-svg" src="/BrndBot/images/template-saved.svg" />
                                </div>
                                <div class="your-plan-icon hint--top" ng-show="entitydetails.template_status == 'No Template'"  data-hint="No Template" >
                                    <img class="bb-your-plan-icon-svg" src="/BrndBot/images/no-template.svg"/>
                                </div>
                                <div class="your-plan-icon hint--top" ng-show="entitydetails.template_status == 'Complete'"  data-hint="Complete" > 
                                    <img class="bb-your-plan-icon-svg" src="/BrndBot/images/template-complete.svg"/>
                                </div>
                                <div class="your-plan-icon hint--top" ng-show="entitydetails.template_status == 'Approved'"  data-hint="Approved" > 
                                    <img class="bb-your-plan-icon-svg" src="/BrndBot/images/template-approved.svg"/>
                                </div>
                            </div>
                            <div ng-show="entitydetails.entity_type == master_note">
                                <!--Need an ng-show if reminder is incomplete-->
                                <div class="your-plan-icon hint--top" data-hint="Reminder" ng-show="entitydetails.template_status == 'No Template'" > 
                                    <img class="bb-your-plan-icon-svg" src="/BrndBot/images/task-status_task.svg"/>
                                </div>
                                <!--Need an ng-show if reminder is complete-->
                                <div class="your-plan-icon hint--top" data-hint="Reminder" ng-show="entitydetails.template_status == 'Complete'"> 
                                    <img class="bb-your-plan-icon-svg" src="/BrndBot/images/task-status_completed-task.svg"/>
                                </div>
                            </div>
                        </div>

                        <div class="slat-name-wrap">
                            
                            <h2>{{entitydetails.schedule_title}}</h2>
                            <p ng-show="entitydetails.user_marketing_program_id > 0">{{entitydetails.marketingName}}</p>
                            <p ng-show="entitydetails.user_marketing_program_id == 0">No Marketing Program</p>
                        </div>

                        <div class="slat-detail-wrap slat-detail-wrap-your-plan">
                            <div class="slat-detail">
                                <h2 ng-show="entitydetails.entity_type == master_facebook || entitydetails.entity_type == master_twitter">{{entitydetails.entity_type}}</h2>
                                <h2 ng-show="entitydetails.entity_type == master_email">{{entitydetails.entity_type}}</h2>
                                <h2 ng-show="entitydetails.entity_type == master_note">Task</h2>
                               
                            </div>
                        </div>


                        <div class="slat-detail-wrap slat-detail-wrap-your-plan" >
                            <div class="slat-detail">
                                <div class=" bb-action-slat-assignee-wrap">
                                    <h2  class="bb-action-slat-assignee" ng-hide="entitydetails.assignedFirstName == undefined" ng-mouseover="assignmentTooltip=true" ng-mouseleave="assignmentTooltip=false">{{entitydetails.assignedToInitialChars}}</h2>
                                    <div class="bb-tooltip bb-tooltip-top bb-action-slat-assignee-tooltip" ng-show="assignmentTooltip">Assigned to <br><b>{{entitydetails.assignedFirstName}} {{entitydetails.assignedlastName}}</b></div>
                                </div>
                            </div>
                        </div>

                        <div class="slat-detail-wrap slat-detail-wrap-your-plan" >
                            <div class="slat-detail">
                                <div class=" bb-action-slat-assignee-wrap">
                                    <h2  class="bb-action-slat-assignee" ng-show="entitydetails.isPushed">Pushed</h2>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <div class="bb-your-plan-empty-state-wrap" ng-show="entity.dataArray == ''">
                    
                        <div class="bb-your-plan-empty-state-text"> No actions scheduled for today</div>
                
                </div>
            </div>
        </div>
        </div>


