<div ng-include src="'navbar.html'"></div> 
<div ng-include src="'addaction.html'"></div>
<div class="main-content-wrap" ng-init="getProgramActions('emailautomation')">
    <div ng-hide="true" ng-include src="'recurringemailpopup.html'"></div>
    <div class="top-nav-wrap">
        <div class="header">
            <a class="back-button" ng-click="backToPreviousPage('marketingprogramlists')" ></a>
            <h2 class="">{{programs.programdetails.programName}}</h2>
            <input type="hidden" name="program_name2" id="program_name2" value="{{programs.programdetails.programName}}">
            <!--<% if(past!=1) {%>-->
            <a ng-hide="isProgramArchived" href="" class="reg-button gray-button top-nav-header-cta" ng-click="endMarketingProgram()" id="endMarketingProgram">Archive Campaign</a>
            <!--<% } %>-->
        </div>
    
    <div class="top-sub-nav">
            <ul class="sub-nav-tab-wrap with-back-button">
                <li class="sub-nav-tab " id="ovrviewli" ng-hide="checkProgramStatus()" ng-click="displayCampaignDetails()">
                     <a id="overview" class="" ng-class="campaignDetailsClass">Campaign Details</a>
                </li>
                <li class="sub-nav-tab" id="actionsli" ng-click="displayCampaignActions();">
                    <a  id="actions" class="" ng-class="campaignActionsClass">Campaign Actions</a>
                </li>
               
            </ul>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>
    <div class="top-subnav-bar-offset"></div>

    <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav" id="" ng-show="showCampaignActions==true">
        
             <div class="hub-pane">
                <div class="hub-pane-header-wrap">
                    <h2 class="">Recurring Automated Emails</h2>
                    <!--<% if(past!=1){%>-->
                    <a ng-hide="isProgramArchived" id="addrecemail" ng-click="redirectToEmailAutomation(forward,'add','', '0')" class="long-button green-button">Add an Automated Emails</a>
                    <!--<%}%>-->
                </div>
                <div class="your-plan-action-wrap" >
                    <div class="slat" ng-repeat="emailautomation in programs.emailautomation">
                        <div class="your-plan-icon-wrap no-template-icon">
                            
                        </div>
                        <div class="slat-name-wrap">
                            <h2>{{emailautomation.programTemplateName}}</h2>
                            <p>{{emailautomation.description}}</p>
                        </div>
                        
                         <div class="slat-detail-wrap">
                             <div class="slat-detail">
                                <h2>{{actionType}}</h2>
                                <p>Status</p>
                            </div>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <a class="reg-button slat-detail-button" ng-click="getRecurringScheduleDetails(emailautomation.scheduledEntityListId,
                                                                emailautomation.status, emailautomation.tillDate,
                                                                emailautomation.dateTime,
                                                                emailautomation.actionType,
                                                                emailautomation.programTemplateName,
                                                                emailautomation.description,
                                                                emailautomation.postDateStatus,
                                                                emailautomation.days)">Action Details</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="hub-pane">
            <div class="hub-pane-header-wrap" >
                <h2 class="">One Time Actions</h2>
                <!--<% if(past!=1){%>-->
                <a ng-hide="isProgramArchived" id="onetimeactbtn" class="long-button green-button" ng-click="ShowAddAction()">Add a One Time Action</a>
                <!--<%}%>-->
            </div>
            <div class="your-plan-action-wrap">
                <div class="slat" ng-repeat="programaction in (filteredItems = (programs.programactions| orderBy: 'postDate':true))">
                    <div class="your-plan-icon-wrap no-template-icon"></div>
                    <div class="slat-name-wrap">
                        <h2>{{programaction.programTemplateName}}</h2>
                        <p>{{programaction.description}}</p>
                    </div>

                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2>{{programaction.postDate| date:'MMM dd yyyy'}}</h2>
                            <p>Action Date</p>
                        </div>
                    </div>
                    <div class="slat-detail-wrap">
                        <div class="slat-detail">
                            <h2 ng-show="programaction.actionType == master_facebook || programaction.actionType == master_twitter">{{programaction.actionType}}</h2>
                            <h2 ng-show="programaction.actionType == master_note || programaction.actionType == master_email">{{programaction.actionType}}</h2>
                            <p>Action Type</p>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <a class="reg-button  slat-detail-button" ng-click="getScheduleDetails(programaction.scheduledEntityListId,
                                                                        programaction.status,
                                                                        programaction.postDate,
                                                                        programaction.actionType,
                                                                        programaction.programTemplateName,
                                                                        programaction.description,
                                                                        programaction.postTime,
                                                                        programaction.postDateStatus,
                                                                        programaction.days,
                                                                        programs.programdetails.programName)">Action Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bottom-offset"></div>
    </div>
    <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav"  id="" ng-show="showCampaignDetails == true">
        <div class="hub-pane" >
            <div class="hub-pane-header-wrap">
                <h2 class="">Marketing Campaign Details</h2>
            </div>
            <div class="hub-pane-content-wrap">
                <div class="hub-section">
                    <div class="input-wrap">
                        <label>Marketing Campaign Name</label>
                        <a class="input">
                           <input id="program_name" name="program_name" ng-model="programs.programdetails.programName" class="fluid"/>

                        </a>
                    </div>
                 
                    <div class="input-wrap">
                        <label> Marketing Campaign Date </label>
                        <a class="clickable-input fluid ease-all">
                                <div class="date-time-select-icon">
                                    <object type="image/svg+xml" data="/BrndBot/user/images/calendar-gray.svg" style="cursor:pointer;"> </object>
                                </div>
                                <input type="text" readonly name="datepicker" id="progactdatepicker" class="fluid time-date-select" value="{{programs.programdetails.dateOfEvent | date : 'EEE MMM d y'}}">
                                    <script>
                                        var picker = new Pikaday(
                                                {
                                                        field: document.getElementById('progactdatepicker'),
                                                        firstDay: 1,
                                                        minDate: new Date(2000, 0, 1),
                                                        maxDate: new Date(2050, 12, 31),
                                                        yearRange: [2000, 2050]
                                                });
                                    </script>
                            </a>
                    </div>
                    <div class="input-wrap">
                        <label> Marketing Campaign Link </label>
                        <div class="input">
                            <input class="fluid" id="link_url" name="link_url" ng-model="programs.programdetails.linktodestination">
                        </div>

                    </div>
                    <div class="input-wrap">
                        <label> Marketing Campaign Link Name</label>
                        <div class="input">
                            <input id="link_name" name="link_name" class="fluid" ng-model="programs.programdetails.link_name">
                        </div>

                    </div>
                    <div class="update-container">
                        <a class="long-button gray-button"  ng-click="updateUserProgram(programs)">Save Changes</a>
                    </div>
                </div>

            </div>
        </div>
    </div>