
<body ng-app="marketinghubFlowApp" ng-controller="marketingHubController">
        <div ng-include src="'header.html'"></div>
        <div ng-include src="'navbar.html'"></div>-->
        <div id="fade"></div>
        <div class="content-main">
            <!--SideNav-->

            <div ng-include src="'createEmailList.html'"></div>
            <div ng-include src="'savedEmailDraftPopup.html'"></div>
            <!--Top Nav-->   
            <div ng-include src="'marketinghubnavigation.html'"></div>
            <!--Main Content GENERIC--> 
<!--            <div class="page-background">
                <div ng-include src="'emaillist.html'"></div>
                <div ng-include src="'emaildraft.html'"></div>
                <div ng-include src="'emailhistory.html'"></div>
                <div ng-include src="'emailsetting.html'"></div>
                <div ng-include src="'footersetting.html'"></div>
                
            </div>-->
            <div class="bottom-cta-bar padleft" id="removeselactions" >
                <div class="bottom-cta-button-container padright">
                    <div class="remove-action-detail md-button button-text-1" id="deleteEmailList" ng-click="deleteEmailList();">Remove Selected Email List(s)</div>
                </div>
            </div>
            <!--<div ng-include src="'emailFooterPopup.html'"></div>-->
        </div>
        <div id="light" class="white_content closepopup">
            <a href = "javascript:void(0)" style="text-decoration:none;">
                <div id="slider-button" style="font-size:40px;text-align:center;z-index:1006;display:none;">
                    <p style="margin-top:-7px;"><img src="images/yourPlan.svg" height="25" width="25" /></p>
                </div>
            </a>
        </div> 
        <!--CTA Bar-->
        
    </body>
</html>