<div class="bb-full-page-overlay">
    <div class="bb-full-page-overlay-header-wrap">
        <div>Close</div>
        <div>Help</div>
    </div>
    <div class="bb-full-page-overlay-content-wrap">
        <div>Go back</div>
        <div class="bb-full-page-overlay-title-wrap">
            <h2 class="bb-full-page-overlay-title">Choose trigger options</h2>
        </div>
        <div>Label</div>
        <div dropdown-select="ddSelectEmailListOptions" dropdown-model="ddSelectEmailList"  dropdown-onchange="chooseEmailListOnChange(selected)"></div>
        <div>Label</div>
        <div dropdown-select="ddSelectEmailListOptions" dropdown-model="ddSelectEmailList"  dropdown-onchange="chooseEmailListOnChange(selected)"></div>
        <div>Label</div>
        <div dropdown-select="ddSelectEmailListOptions" dropdown-model="ddSelectEmailList"  dropdown-onchange="chooseEmailListOnChange(selected)"></div>
        <div class="bb-button bb-primary-action-button">Save Trigger</div>
    </div>
</div>
