<div class="bb-full-page-overlay" ng-if="isSelectedQueryIdOne() === '1'">
     <div class="bb-full-page-overlay-header-wrap">
        <div class="bb-full-page-overlay-exit-button" ng-click="emailTrigger(false);"></div>
        <!--<div>Help</div>-->
    </div>
    <div class="bb-full-page-overlay-content-wrap">
        <div class="bb-full-page-offset"></div>
        <a  ng-click="clickedQueryId('0')">
            <div class="bb-back-text">Go back</div>
        </a>
       
        <div class="bb-full-page-overlay-title-wrap">
            <h2 class="bb-full-page-overlay-title">Choose what the client has purchased</h2>
        </div>
        <!--<div>Start Date</div>
        <input type="text" name="datepicker" id="startdatepicker" readonly class="time-date-select" placeholder="Enter Start Date" />

        <script>
            var picker = new Pikaday(
                    {
                        field: document.getElementById('startdatepicker'),
                        firstDay: 1,
                        format: KGlobalDatePickerFormate,
                        minDate: new Date(2000, 0, 1),
                        maxDate: new Date(2050, 12, 31),
                        yearRange: [2000, 2050]
                    });
        </script>
        <div>End Date</div>
        <input type="text" name="datepicker" id="enddatepicker" readonly class="time-date-select" placeholder="Enter End Date" />

        <script>
            var picker = new Pikaday(
                    {
                        field: document.getElementById('enddatepicker'),
                        firstDay: 1,
                        format: KGlobalDatePickerFormate,
                        minDate: new Date(2000, 0, 1),
                        maxDate: new Date(2050, 12, 31),
                        yearRange: [2000, 2050]
                    });
        </script>-->
        <div class="bb-email-auto-recipe-input-wrap">
        <div class="input-wrap">
            <label>Revenue Type<i class="bb-label-optional-text">Optional</i></label>
            <div dropdown-select="ddRevenueTypeOptions" dropdown-model="ddRevenueType"  dropdown-onchange="chooseRevenueTypeOnChange(selected)"></div>
        </div>
        <div class="input-wrap">
            <label>Revenue Categories<i class="bb-label-optional-text">Optional</i></label>
            <div dropdown-select="ddRevenueCategoriesOptions" dropdown-model="ddRevenueCategories"  dropdown-onchange="chooseRevenueCategoriesOnChange(selected)"></div>
        </div>
        <div class="input-wrap">
            <label>Schedule Type<i class="bb-label-optional-text">Optional</i></label>
             <div dropdown-select="ddScheduleTypeOptions" dropdown-model="ddScheduleType"  dropdown-onchange="chooseScheduleTypeOnChange(selected)"></div>
        </div>
        
        <div class="input-wrap">
            <label>Service Categories<i class="bb-label-optional-text">Optional</i></label>
            <div dropdown-select="ddServiceCategoriesOptions" dropdown-model="ddServiceCategories"  dropdown-onchange="chooseServiceCategoriesOnChange(selected)"></div>
        </div>
        <div class="input-wrap">
            <label>Pricing Options<i class="bb-label-optional-text">Optional</i></label>
            <div dropdown-select="ddPricingOptions" dropdown-model="ddPricingOptionsSelected"  dropdown-onchange="choosePricingOptionsOnChange(selected)"></div>
        </div>
        
        <div class="input-wrap">
            <label ng-init="getAllSiteLocations();">Site Location<i class="bb-label-optional-text">Optional</i></label>
            <div dropdown-select="ddLocationIdOptions" dropdown-model="ddLocationId"  dropdown-onchange="chooseLocationIdOnChange(selected)"></div>
        </div>
        </div>
        <div class="update-container">
            <div class="bb-button bb-primary-action-button" ng-click="saveTriggerData(ddRevenueType, ddRevenueCategories, ddScheduleType, ddServiceCategories, ddPricingOptionsSelected, ddLocationId)">Save Trigger</div>
        </div>
    </div>
        
</div>
