   <link rel="SHORTCUT ICON" href="images/favicon.png"/>
            <script src="//use.typekit.net/wnn8jyx.js"></script>
            <script>try{Typekit.load({ async: true });}catch(e){}</script>
             <!--<link href="css/textstyle.css" rel="stylesheet" type="text/css"/>-->
             <script>
                 function showOverlay(){
                     $("#loadoverlaydiv").show();
                 }
                 function hideOverlay(){
                     $("#loadoverlaydiv").hide();
                 }
             </script>
             <style>
                 /*cursor pointer on every select box in Brndbot*/
                 select,.ptr{
                     cursor: pointer;
                 }
                 body{
                      font-family: "proxima-nova",sans-serif !important;
                 }
                 #loadoverlaydiv{display: none}
             </style>
<div class="mainNav" >   
        <a href="dashboard"><div class="bb-logo-wrap">
                 <img type="image/svg+xml" src="images/Logo_Reverse.svg" class="brndbot_logo" style="cursor:pointer;">
            
            </div></a>
        <a  class="hint--right" href="marketing" data-hint="YOUR PLAN"><div class="nav-tabs">
                <img type="image/svg+xml" src="images/yourPlan.svg" class="nav-elements-icon" style="cursor:pointer;">
          
            </div></a>
    <a class="hint--right" href="/BrndBot/user/createmarketingprogram#/marketingprogramlists" data-hint="MARKETING PROGRAM"><div class="nav-tabs ">
                <img type="image/svg+xml" src="images/marketingProgram.svg" class="nav-elements-icon" style="cursor:pointer;">
            
            </div></a>
     <a href="/BrndBot/user/marketinghub" class="hint--right" data-hint="MARKETING HUB"><div class="nav-tabs">
                  <img type="image/svg+xml" src="images/yourHubs.svg" class="nav-elements-icon" style="cursor:pointer;">

                  
            </div></a>
        <a href="imagegallery"   class="hint--right" data-hint="GALLERY"><div class="nav-tabs">
                 <img type="image/svg+xml" src="images/media.svg" class="nav-elements-icon" style="cursor:pointer;">
            
            </div></a>
        <a href="settings"   class="hint--right" data-hint="SETTINGS"><div class="nav-tabs">
                 <img type="image/svg+xml" src="images/user.svg" class="nav-elements-icon" style="cursor:pointer;">
            </div></a>
     <a href="${pageContext.request.contextPath}/logout" >
        <div class="nav-elements-icon-container-bottom nav-tabs" >
             <img type="image/svg+xml" src="images/logout.svg" class="nav-elements-icon" style="cursor:pointer;">
            
        </div>
        </a>
    </div>
    