<div class="popUp_background-dark" id="fbSuccessPostPopup" ng-show="isPostSuccess">
<div class="background-pop-up">
    <div class="modal-pane modal-pane-width-reg">
        <div class="success-modal">
            <object type="image/svg+xml" data="/icons/Valid-Check.svg"></object>
            <h2>{{postedTo}} Post Scheduled Successful</h2>
            <p>Your post has been successfully scheduled to an action</p>
        </div>
    <div class="modal-cta-container">
        <a class="long-button blue-button"  href="/BrndBot/user/dashboard">Go to Dashboard</a>
    </div>
</div>
</div>
</div>
<!--    <div class="popUp_background-dark" id="fbSuccessPostPopup" ng-show="isPostSuccess">
        <div class="popUp popUp_CenterVert">
           <div class="popUp_header clear">
                <div  class="pane_title fleft h2 col1of2">Scheduled Successful!</div>
            </div>
             <div class="postSent-svg-wrap">
                 <a href="../../../images/postSent.svg"></a>
                 <img type="image/svg+xml" src="../images/postSent.svg" class="postSent-svg" style="cursor:pointer;">
            </div>
            <div class="pane_content pane-padding pane-editing">
                <div class="postSent-desc-wrap">
                    <div class="h3 font--lightGray ">Your post has been successfully scheduled on {{postedTo}}. Would you like to schedule another content on {{postedTo}}? </div>
                </div>
                <div class="postSent-button-wrap">
                  
                    <div class="fright dashboard-link">
                        <a href="/BrndBot/user/dashboard"><div class="CTA_Button Button--Gray ">Go to Dashboard</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
