     <div class="content-wrap content-wrap-padding content-wrap-with-sub-nav">
        <div class="hub-pane" >
            <div class="hub-pane-header-wrap">
                <h2 class="">Pushed Emails</h2>
                <input type="text" class="search-bar" placeholder="Search" ng-model="userSearch"  ng-show="email_history.length > 0">
            </div>
            <div class="hub-pane-content-wrap" ng-show="email_history.length == 0">
                <div class="hub-empty-wrap">No Pushed Emails</div>
            </div>
            <div class="hub-pane-content-wrap">
                
                <div class="hub-slat-list-wrap">
                    <div class="slat" >
                  
                        <div class="slat-name-wrap">
                            <h2>Pushed Email Name</h2>
                            <p> Created on June 16th 2016 at 9:56:05 PM</p>
                        </div>
                         <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <h2 >Scheduled</h2>
                                <p>Status</p>
                            </div>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                              <a class="reg-button gray-button slat-detail-button" href="#/pushedemaildetailbase">View Email Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hub-pane-content-wrap" >
                <div class="hub-empty-wrap">No Pushed Emails</div>
            </div>
            <div class="hub-pane-content-wrap">
                
                <div class="hub-slat-list-wrap">
                    <div class="slat" >
                  
                        <div class="slat-name-wrap">
                            <h2>Pushed Email Name</h2>
                            <p> Created on June 16th 2016 at 9:56:05 PM</p>
                        </div>
                         <div class="slat-detail-wrap">
                            <div class="slat-detail">
                                <h2 >Scheduled</h2>
                                <p>Status</p>
                            </div>
                        </div>
                        <div class="slat-detail-wrap">
                            <div class="slat-detail">
                              <a class="reg-button gray-button slat-detail-button" ng-click="viewPushedEmailDetails()">View Email Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>