     <div class="bb-main-content-wrap bb-main-content-wrap-padding">
        <div class="bb-panel-full-width bb-panel-styling" >
            <div class="bb-panel-header">
                <h2 class="">Pushed Emails</h2>
                <input type="text" class="search-bar" placeholder="Search" ng-model="userSearch"  ng-show="email_history.length > 0">
            </div>
            <div class="bb-panel-content-wrap" ng-show="email_history.length == 0">
                <div class="hub-empty-wrap">No Pushed Emails</div>
            </div>
         
            <div class="bb-panel-content-wrap" ng-show="noPushedEmails">
                <div class="hub-empty-wrap">No Pushed Emails</div>
            </div>
            <div class="bb-panel-content-wrap" ng-init="getAllPushedEmailsForFranchise()">
                
                <div class="hub-slat-list-wrap" ng-repeat="pushedEmail in allPushedEmails">
                    <div class="slat" >
                            <div class="slat-name-wrap" >
                                <h2>{{pushedEmail.pushedActionName}}</h2>
                                <p>Created on {{pushedEmail.pushedactionDateTime | date:'MMMM d, y at  h:mm:ss a' }} </p>
                            </div>
                            <div class="slat-detail-wrap">
                                <div class="slat-detail">
                                  <a class="reg-button gray-button slat-detail-button" ng-click="getScheduleDetails(pushedEmail.pushedActionName, pushedEmail.scheduledEntityListId,
                                              pushedEmail.entityId, pushedEmail.pushedactionDateTime)">View Email Details</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>