<div id="fadePushedEmail"  class="black_overlay" ng-show="savedDraftPopup">

    <div  class="overlay-wrap overlay-slide" id="emaildraftpopup">
        <div class="detail-overlay-content">
            <div class="bb-top-nav" id="emailtopnav">
            <div class="bb-bar-left-wrap bb-one-half-flex-col">
                <a class="bb-back-button bb-rotate-element-180" href="" id="closedraftpopup" ng-click="clickedDeleteAction = false;closeSavedEmailDraftPopup()">
                </a>
                <h3 class="bb-top-nav-title">{{generalActionDetailsHeader}} Action Detail</h3>
            </div>
                <div class="bb-bar-right-wrap bb-one-half-flex-col bb-overlay-header-cta-wrap" >
                    
                    <div class="action-delete-button" ng-click="clickedDeleteAction = true"></div>
                    <div ng-show="clickedDeleteAction" class="action-pop-up delete-action-pop-up ease-all">
                        <strong>Are you sure you want to delete this action?</strong>
                        <p>All data will be erased and you will lose any saved emails and posts</p>
                        <div class="cta-wrapper">
                            <a ng-click="clickedDeleteAction = false" href="" class="cancel-button">Cancel</a>
                            <a ng-click="clickedDeleteAction = false;deleteDrafts('delete',id);" href="" class="delete-button">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        
            <!--Below Nav-->
            <div class="overlay-content-saved-email-draft" >
                <div class="overlay-details-pane">
                    <div class="overlay-details-pane-header">
                        <div >SAVED EMAIL DRAFT DETAILS</div>
                    </div>
                    <div class="detail-sections-wrap">
                        <div class="detail-section">  
                            <div class="detail-section-item">
                                <label class="detail-section-label">Subject Line</label>
                                <p class="detail-section-data">{{emailsubject}}</p>
                            </div>
                            <div class="detail-section-item">
                                <label class="detail-section-label">Last Edited On</label>
                                <p class="detail-section-data">{{editdate|date: "MMMM dd yyyy"}} at {{editdate|date: "hh:mm a"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="bb-overlay-button-wrap">
                    <a class="bb-button bb-secondary-action-button" ng-click="editDrafts(id, categoryid, emailsubject, subcategoryid, mindbodyId, lookupId)">
                        Edit This Draft
                    </a>
                 </div>
                <div class="email-preview-bar">EMAIL PREVIEW</div>
                <div class="overlay-email-preview"><div id="draftshow"></div></div>   
            </div>
        </div>
    </div> 
</div>
