<div class="background-pop-up" ng-init="schedulePopup = false" ng-if="schedulePopup">
    <div class="modal-pane modal-pane-width-reg" ng-init="getAllMaketingPrograms()">
        <div class="modal-pane-header-wrap">
            <h2 class="">Send or Schedule</h2>
            <a class="modal-pane-header-exit" ng-click="hidePopup('schedulePopup')"></a>
        </div>
        <a class="modal-pane-back-step">
            <i></i>
            <span>Go to Previous Step</span>
        </a>
        <div class="modal-pane-content-wrap secondary-option">
            <div class="create-new-action-schedule-wrap">
                <a class="send-or-schedule-option send-or-schedule-15pad ease-all " ng-class='activeClassNew' ng-click="createNewAction()">
                    <i class="create-action-icon"></i>
                    <div>Create a New Action</div>
                </a>
                <a class="send-or-schedule-option send-or-schedule-15pad ease-all  " ng-class='activeClassExisting' ng-click="existingAction()">
                    <i class="schedule-action-icon"></i>
                    <div>Schedule to an Existing Action</div>
                </a>
            </div>
        </div>
        <div class="modal-pane-content-wrap create-new-schedule-modal"  ng-if="existingActionPopup">
            <div class="input-wrap">
                <label>Marketing Campaign Name</label>
                <a class="input dropdown-right">
                    <input  size="10" class="fluid" />
                    <div class="dropdown"></div>
                </a>
            </div>
            <div class="input-wrap">
                <label>Action Name</label>
                <a class="input dropdown-right">
                    <input  size="10" class="fluid" ></input>
                    <div class="dropdown"></div>
                </a>
            </div>
        </div>
        <div class="modal-pane-content-wrap create-new-schedule-modal" ng-init="createNewActionPopup = false" ng-if="createNewActionPopup">
            <div class="input-wrap">
                <label>Action Name</label>
                <div class="input">
                    <input  size="100" class="fluid" placeholder="Action Name" />
                </div>
            </div>
            <div class="date-time-input-wrap">
                <div class="input-wrap">
                    <label>Action Date</label>
                    <a class="input dropdown-right">
                        <input  size="10"  />
                        <div class="dropdown"></div>
                    </a>
                </div>
                <div class="input-wrap">
                    <label>Action Time</label>
                    <a class="input dropdown-right">
                        <input  size="10" />
                        <div class="dropdown"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-cta-container">
            <a class="long-button blue-button">{{scheduleButtonData}}</a>
        </div>
    </div>
</div>