<div id="sendOrSchedulePopup" class="background-pop-up" ng-init="postTypeSelectionPopUp = false"  ng-if='postTypeSelectionPopUp' ng-click="hidePopup('sendOrSchedulePopup')">
</div>

    <div class="modal-pane modal-pane-width-reg sendOrSchedulePopup" ng-if='postTypeSelectionPopUp'>
        <div class="modal-pane-header-wrap">
            <h2 class="">Send or Schedule</h2>
            <a id="sendOrSchedulePopupClose" class="modal-pane-header-exit" ng-click="hidePopup('sendOrSchedulePopup')"></a>
        </div>
        <div class="modal-pane-content-wrap">
            <div class="send-or-schedule-wrap">
                <a class="send-or-schedule-option send-or-schedule-25pad ease-all" ng-click="postToSocialMedia(selectedSocialmedia,postData)">
                    <i class="post-now-icon"></i>
                    <div>{{postTo}}</div>
                </a>
                <a class="send-or-schedule-option send-or-schedule-25pad ease-all" ng-click="openSchedulePopup(selectedSocialmedia)">
                    <i class="schedule-post-icon"></i>
                    <div>Schedule for Later</div>
                </a>
            </div>
        </div>
    </div>