<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SETTINGS</title>       
        <link rel="import" href="header.html">
        <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script> 
    </head>
    <body ng-app>         
    <div ng-include src="'navbar.html'"></div>
        <div ng-include src="'loadingoverlay.html'"></div>
        <div class="content-main" ng-controller="controllerUserChanges">
        <!--<input type="hidden" value="<%=change%>" id="change"></input>-->
        <!--Top Nav-->   
        <div class="top-nav">
            <div class="page-title-bar col-1of1"> 
                <div class="page-title-regular page-title-font">User Settings</div>
            </div>
            <div class="page-subnav-bar-regular"> 
                <div class="top-subnav-tabs-container">
                    <ul class="top-subnav-nav-elements">
                        <li class="top-subnav-link-active" id="accountsettingtab"> <a class="h3-active-subnav">Account Settings</a></li>
                        <li class="top-subnav-links" id="logosettingtab"> <a class="h3">Logo Settings</a></li>
                        <li class="top-subnav-links" id="palettesettingtab" ng-click="getLogoColors()"> <a class="h3">Palette Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Main Content GENERIC--> 
        <div class="sequence-page-background">            
            <div ng-include src="'useraccountsettings.html'"></div>
            <div ng-include src="'userlogosettings.html'"></div>
            <div ng-include src="'userpalettesettings.html'"></div>
        </div>
        </div>
    </body>
</html>
