<style>
    #sendpopup{ 
        padding-left: 29%;
        padding-top: 10%;
    }
    #fade{display:block;}
    .pop-up-inner1{margin-top: 14px;}.arrow_top{display:none;}
    #schedule_time{width:60% !important;}
    .pop-up-background {
        width: calc(60vw - 200px) !important;
        margin-top: 0vw !important;
    }

</style>

<div ng-show="show_Post_SchedulePopup">
    <div id="fade" class="black_overlay" ng-show="show_BlackLayer"></div>
    <div>
        <div id="sendpopup" ng-show="showSendPopup">
            <div class="pop-up-background">
                <div class="pop-up-exit-container">
                    <div class="pop-up-exit-icon" id="closesendpopup" ng-click='show_hide_SocialListSelectionPopup(false)'>
                        <img type="image/svg+xml" src="../images/Close.svg" class="exit-button-icon" style="cursor:pointer;">
                    </div>
                </div> 
                <div class="pop-up-container1 pop-up-container-Schedule"> 
                    <div class="pop-up-title pop-up-title-h1"> Would you like to post now or schedule for later?</div>
                    <div class="pop-up-inner-imageSelection">
                        <div class="col-8of10  center">
                            <div class="col-4of10 pushright fleft" ng-click="postToTwitter(twitterShare);">
                                <div class="image-selection-button" id="posttofb"> 
                                    <img type="image/svg+xml" src="../images/postNow.svg" class="post-button-icon" style="cursor:pointer;">
                                </div>
                                <div class="button-description">Post to Twitter Now</div>
                            </div>
                            <div class="col-4of10 fright" ng-click="schedulePostToTwitter(true)">
                                <div class="image-selection-button" id="">
                                    <img type="image/svg+xml" src="../images/schedulePost.svg" class="schedule-button-icon" style="cursor:pointer;">
                                </div>
                                <div class="button-description">Schedule for Later</div>
                            </div>
                            <div class="button-description">Schedule for Later</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show='showSchedulePopup' id="schedulepopup">
            <div class="pop-up-exit-container">
                <div class="pop-up-exit-icon" id="closeschedulepopup" ng-click="schedulePostToTwitter(false)">
                    <img type="image/svg+xml" src="../images/Close.svg" class="exit-button-icon"></img>
                </div>
            </div>
            <div class="pop-up-background" >
                <div class="pop-up-container pop-up-container-newaction1"> 
                    <div class="pop-up-title pop-up-title-h1"> Schedule this Action</div>
                    <div class="pop-up-inner1" >
                        <div class="popup-section-header">Save to Existing Action</div>
                        <div class="line-divider-notop"></div>
                        <div class="input-field-container">
                            <div class="input-header"> Choose Marketing Program</div>
                            <div>
                                <select ng-model="marketingProgramsList" ng-options="programs.program_id as programs.name for programs in marketing_programs track by programs.program_id" name="programs" id="programs" class="full input-field-textfield2 input-placeholder" ng-change="validateProgramActions(marketingProgramsList);">
                                   <option value="">--General--</option>
                                </select>
                            </div>
                            <div id="facebookselection" ng-show="facebookActions">
                                <div class="input-header"> Choose Facebook Action</div>
                                <div ng-init="getSocialFacebookActions();">
                                    <select name="facebookactions" id="facebookactions" class="input-field-textfield input-placeholder full" onchange="validateact();">
                                        <option value="0" >CUSTOM FACEBOOK</option>
                                        <option ng-repeat="fbactions in facebook_actions" value="{{fbactions.id}}">{{fbactions.schedule_title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div id="twitterselection" ng-show="twitterActions">
                                <div class="input-header"> Choose Twitter Action </div>
                                <div ng-init="getSocialTwitterActions();">
                                    <select ng-model="twitterAction" ng-options="twitteractionslist.id as twitteractionslist.schedule_title for twitteractionslist in twitter_actions track by twitteractionslist.id" name="twitteractions" id="twitteractions" class="input-field-textfield input-placeholder full" ng-change="validateActions(twitterAction);">
                                        <option value="">CUSTOM TWITTER</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="popup-section-header pushUp-45">-Or- Create a New Action</div>
                        <div class="line-divider-notop "></div>
                        <div class="input-header">Name this Action</div>
                        <div class="">
                            <input ng-model="action.new_schedule_title" type="text" class="input-field-textfield input-placeholder full" id="schedule_title" name="schedule_title" placeholder="TITLE" ng-disabled="existingAction"></input>
                        </div>
                        <div class="input-header">Description</div>
                        <div class="">
                            <textarea ng-model="action.new_schedule_desc" class="input-field-textfield input-placeholder fulltextarea" name="schedule_desc" id="schedule_desc" placeholder="Description" value="" ng-disabled="existingAction"></textarea>
                        </div>
                        <div class="cols-2">
                            <div class="input-field-container col-4of10 fleft pushright">
                                <div class="input-header"> Action Date </div>
                                <input ng-model="action.new_schedule_date" type="text" readonly id="schedule_social_date" name="schedule_social_date" class="input-field-textfield input-placeholder"  placeholder="Enter Action Date" ng-disabled="existingAction"></input>
                                <script>
                                    var picker = new Pikaday(
                                            {
                                                field: document.getElementById('schedule_social_date'),
                                                format: KGlobalDatePickerFormate,
                                                firstDay: 1,
                                                minDate: new Date(2000, 0, 1),
                                                maxDate: new Date(2050, 12, 31),
                                                yearRange: [2000, 2050]
                                            });
                                </script>
                            </div>
                            <div class="input-field-container col-4of10 fleft">
                                <div class="input-header"> Action Time </div>
                                <div class="">
                                    <input ng-model="action.new_schedule_time" id="schedule_social_time" type="text" name="schedule_social_time" class="input-field-textfield input-placeholder" placeholder="Enter Action Time" ng-disabled="existingAction" readonly/><br>
                                    
                                    <script>
                                        $('#schedule_social_time').timepicki({
                                            show_meridian: true,
                                            min_hour_value: 0,
                                            max_hour_value: 12,
                                            step_size_minutes: 01,
                                            overflow_minutes: true,
                                            increase_direction: 'up',
                                            disable_keyboard_mobile: true
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pop-up-cta-container pop-up-cta-container-newaction1 cur" id ="schedulethepost"  ng-click="scheduleTwitter(action)">
                        <input type="hidden" value="socialmedia"/>
                        <div class="algnmnt" name="socialscheduleid" id="socialscheduleid" >SCHEDULE</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
