<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/png">
        <title>Social Sequence</title>
        <script src="../js/utilities/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
        <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
        <script src="../js/utilities/alertmessageuser.js" type="text/javascript"></script>
        <script src="../js/configurations.js"></script>
        <script src="../js/utilities/angularappconfiguration.js"></script> 
        <script src="../js/utilities/pikaday.js"></script>
        <script src="../js/utilities/moment.js" type="text/javascript"></script>
        <link rel="stylesheet" href="../css/pikaday.css"/>
        <script src="../js/utilities/timepicki.js" type="text/javascript"></script>
        <link href="../css/timepicki.css" rel="stylesheet" type="text/css"/>
        <script src="../js/factory/appSessionFactory.js" type="text/javascript"></script>
        <script src="../js/factory/categoryFactory.js" type="text/javascript"></script>
        <script src="../js/factory/subCategoryFactory.js" type="text/javascript"></script>
        <script src="../js/factory/settingsFactory.js" type="text/javascript"></script>
        <script src="../js/factory/companyMarketingFactory.js" type="text/javascript"></script>
        <script src="../js/factory/onboardingFactory.js" type="text/javascript"></script>
        <script src="../js/factory/organizationFactory.js" type="text/javascript"></script>
        <script src="../js/factory/urlServices.js" type="text/javascript"></script>
        <script src="../js/factory/authFactory.js" type="text/javascript"></script>
        <script src="../js/factory/companyFactory.js" type="text/javascript"></script>
        <script src="../js/factory/companyImagesFactory.js" type="text/javascript"></script>
        <script src="../js/factory/genericRedirectFactory.js" type="text/javascript"></script>
        <script src="../js/factory/imagesFactory.js" type="text/javascript"></script>
        <script src="../js/factory/socialPostFactory.js" type="text/javascript"></script>
        <script src="../js/factory/scheduleActionsFactory.js" type="text/javascript"></script>
        <script src="../js/factory/yourPlanFactory.js" type="text/javascript"></script>
        <script src="../js/controller/routing.js" type="text/javascript"></script>
        <script src="../js/controller/socialController.js" type="text/javascript"></script>
        <script src="../js/utilities/angulardropdown.js" type="text/javascript"></script>
        <link href="../css/jquerygrowl.css" rel="stylesheet" type="text/css"/>
        <script src="../js/utilities/jquerygrowl.js" type="text/javascript"></script>
        <link href="../css/general_1.css" rel="stylesheet" type="text/css"/>
        <script src="../js/utilities/models.js" type="text/javascript"></script>
        <style>
        .timepicker_wrap {
            width:113% !important;
        }
        .time_pick{
            width:100% !important;
        }
        .input.dropdown-right input {
            padding-right: 10px;
        }
        .input-Wrap {
            overflow: visible;
        }
    </style>       
</head>
    <body ng-app="socialFlowApp" class="body-normal" ng-controller="socialController"> 
        <script type="text/ng-template"></script>
    <div class="bb-app-frame">
      <div class="bb-main-app-wrap" >
        <div ng-include src="'twitterpopupsocialhub.html'"></div>
        <div ng-include src="'imagegallerypopup.html'"></div>
        <div ng-include src="'postsuccesspopup.html'"></div>
        <div ng-view class="bb-main-container-wrap"></div> 
      </div>
    </div>
    
</body>
</html>        