
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
    <head>
        <link rel="import" href="header.html"></link>
        <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script> 
        <script src="js/social.js" type="text/javascript"></script>  
        <title>Brndbot - Marketing Hub</title>  
    </head>    
<!--    <%@ include file="twitterpopupforsocialhub.jsp"%>
    <%@include file="header.jsp" %>
    <%@include file="navbar.jsp" %>-->
    <body ng-app ng-controller="controllerSocial">
        
    <div ng-include src="'navbar.html'"></div>
        <div ng-include src="'loadingoverlay.html'"></div>
        <div ng-include src="'twitterpopupsocialhub.html'"></div>
        <div  id="controllerSocial"> 
            <!--SideNav-->


            <!--Top Nav-->   
            <div class="top-nav" ng-init="checkForCode()">
                <div class="page-title-bar col-1of1"> 
                    <!--<div class="exit-button-detail"></div>-->
                    <div class="page-title-regular page-title-font">Your Social Hub</div>
                </div>
                <div class="page-subnav-bar-with-dropdown"> 
                    <div class="subnav-dropdown pushright"  id="socialclick">
                        <span class="hub-dropdown-text">Social</span>
                        <img type="image/svg+xml" src="images/dropdown-icon.svg" class="dropdown-icon" style="cursor:pointer;"> </img>
                    </div>
                    <div class="top-subnav-tabs-container">
                        <ul class="top-subnav-nav-elements">
                            <li class="top-subnav-link-active" id="fbsetting"> <a class="h3-active-subnav" ng-click="getFacebookDetails()">Facebook Settings</a></li>
                            <li class="top-subnav-links" id="twsetting"> <a class="h3">Twitter Settings</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-hub" id="socialdropdown">
                        <ul class="dropdown-inner">
                            <li class="dropdown-section col-1of1 fleft" id="socialhubli" >
                                <a href="social">
                                    <div><img type="image/svg+xml" src="images/Hub-Dropdowns_social.svg" class="dropdown-hub-icon fleft col-2of10" style="cursor:pointer;"></img></div>
                                    <div class="fleft col-6of10 dropdown-label-active">Social Hub</div>
                                </a>
                            </li>
                            <a href="emaillists">
                                <li class="dropdown-section fleft col-1of1 " id="emailhubli">
                                    <div><img type="image/svg+xml" src="images/Hub-Dropdowns_email.svg" class="dropdown-hub-icon fleft col-2of10" style="cursor:pointer;"></img></div>
                                    <div class="fleft col-6of10 dropdown-label">Email Hub</div>
                                </li>
                            </a>                     
                        </ul>
                    </div>
                </div>
            </div>
            <!--Main Content GENERIC--> 
            <div class="page-background">
                <div class="page-content-container email-draft-page">
                    <!--Inner Content Conatiner GENERIC-->
                    <div class="page-inner-content-container">
                        <div class="fleft content">  
                            <div>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="col-md-10 ">
                                            <div style="width:500px; margin:0px; padding:120px 0 40px;">
                                                <div class="tabcontents">
                                                    <div ng-include src="'socialfacebooksettings.html'"></div>
                                                    <div ng-include src="'socialtwittersettings.html'"></div>
                                                </div>
                                            </div>                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <div ng-include src="'facebookmanagepages.html'"></div>                               
    </body>
</html>