
<input type="hidden" ng-model="showTwitterLink"/>     
<div class="bb-main-content-wrap" ng-init="fbTwitterinit()">
    <div class="bb-top-nav ng-scope">
        <div class="bb-bar-left-wrap bb-one-third-flex-col">
            <a href="socialsequence#/socialsequence" class="bb-back-button"></a>
            <h3 class="bb-top-nav-title">Create a Twitter Post</h3>
        </div>
        <div class="bb-bar-center-wrap bb-one-third-flex-col">
        </div>
        <div class="bb-bar-right-wrap bb-one-third-flex-col">
            <div class="bb-help-icon">help icon</div>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>
    <div class="content-wrap content-wrap-padding content-wrap-with-continue-bar">
        <div class="modal-pane modal-pane-social-sequence">
            <div class="modal-pane-header-wrap">
                <h2>Twitter Post</h2>
            </div>
            <div class="modal-pane-content-social-sequence">
                <div class="input-wrap">
                    <label> What would you like to share? </label>
                    <div class="input ">
                        <textarea class="input_Field_lg removeDrag" placeholder="Type post here" id="twitterShareText"  maxlength="116" ng-model="twitterPostData.text"  ng-class="{'invalid-input': twitterPostData.text === '' || null}"></textarea>
                    </div>
                    <span class="validationAlert" ng-if='twitterPostData.text === "" || null'>{{actionNameValidation}}</span>

                </div>
                <div ng-if="showTwitterLink == true" id='urlDropDownSpan' ng-init="getUrls()">
                    
                    <div class="input-wrap">
                        <label>Choose from your Existing Links:</label>
                        <div class="input " id='urlDropDownSpan' >
                            <div dropdown-select="ddSelectlinkUrlsOptions" dropdown-model="ddSelectlinkUrls" dropdown-onchange="getSelectedUrl(selected)"></div>
                            <p class="input-label">If you have a custom link write it below</p>
                        </div>                                                
                    </div>
                    <span ng-if="showTwitterLink" class="" id="twitterLinkPost">
                    <div class="input-wrap">
                        <label>Write a Custom Link</label>
                        <div class="input ">
                            <input  class="fluid" ng-model="twitterPostData.url" placeholder="http://www.brndbot.com" id="linkOfUrls"  ng-class="{'invalid-input': twitterPostData.url === '' || null}"></input>
                        </div>
                        <span class="validationAlert"  ng-if='twitterPostData.url === "" || null'>{{customLinkValidation}}</span>

                    </div>
                    </span>
                </div>
                <div class="add-link-facebook-container" ng-click="twitterShare.url = '';twitterPostData.url= undefined;changeTwitterPostType();">
                    <a class="long-button gray-button"  id="postType" >{{TwtPostType}}</a>
                </div>
            </div>
            <div ng-show="addImageToPostButton" class="Social-Add-Image-Wrap clear" id="addImageToTwitterPost" ng-click="show_hide_ImageGalleryPopup(true)">
            <span class="clickable-area">
                <img  src="/BrndBot/images/add-Image.svg" ng-model="twitterShare.img" class="add-image-icon fleft" style="cursor:pointer;">
                <div class="Add-Image-Button fleft">
                    Add Image to Post
                </div>
            </span>
        </div>
        <div ng-show="twitterImageDivToPost" class="Social-Add-Image-Wrap clear"  >
            <span class="clickable-area" ng-click="show_hide_ImageGalleryPopup(true)">
                <img  src="/BrndBot/images/add-Image.svg" ng-model="twitterShare.img" class="add-image-icon fleft" style="cursor:pointer;">
                <div class="Add-Image-Button fleft">
                    Change Image
                </div>
            </span>
            <span class="clickable-area magginLeftAuto" ng-click="openAviaryEditor('selectedImage')"> edit image</span>
        </div>
            
        <div ng-show="twitterImageDivToPost" class="Social-Add-Image-Wrap clear" id="addImageDivToTwitterPost">
            <img ng-src="{{displayImage}}" ng-model="twitterPostData.img = displayImage"alt="alt_text" border="0" align="center" id="selectedImage" class="imageAdded pushUp_10 fleft">
        </div>
        <span class="validationAlert Social-Add-Image-Wrap" ng-if="twitterImageValidation">{{facebookImageValidation}}</span>

        </div>
        <div class="continue-bar-offset"></div>
    </div>
      
</div>
<div class="bottomNav">
    <div class="bottom-ContinueButton fright" ng-click="isDefaultTwitterAccountSet('twitter', twitterPostData)">CONTINUE</div>
</div>
<div ng-include="'twitterpopupsocialhub.html'"></div>
<div ng-include src="'schedulepopup.html'"></div>
<div ng-include src="'sendorschedulepopup.html'"></div>
<div ng-include src="'sociallistselection.html'"></div>



