<!--
    <body class="body-normal" ng-app="imageGallery"  ng-controller="displayImageFromGallery">-->
<input type="hidden" ng-model="showTwitterLink"/>     
        <div class="contentWrap--withSideNav">
            <div class="topNav topNav-withSubnav clear">
                 <a class="exit-button-icon" href="socialsequence#/socialsequence">      
                <div class="topNav--BackButton fleft">              
                        <img  src="images/backbutton.svg" class="exit-button-icon" style="cursor:pointer;">            
                  
                </div>
                       </a>
                <div class="topNav--TitleBar--withBackButton fleft">
                    <span class="topNav--TitleBar--Title fleft h2">Create a Twitter Post</span>
                    <div class="topNav--TitleBar--CTABox fright">
                        <div class="CTA_Button Button--Gray">Help!</div>
                    </div>
                    <div class="topNav--TitleBar--CTABox fright pushRight_30" ng-click="twitterShare.url='';changeTwitterPostType();">
                        <div class="CTA_Button Button--Gray" id="postType">Change To Link Post</div>
                    </div>
                </div>
            </div>
            <div class="topNav--offset"></div>
            <div class="contentWrapInner">
                <div class="pane pane-Social-Create ">
                    <div class="pane_header clear  pane-Social-Create-padding">
                        <div class="pane_title fleft h2">Twitter Post</div>
                    </div>
                    <div class="pane_content pane-Social-Create-padding ">
                        <div class="inputSection col1of1 pushUp_20">
                            <span>
                                <div class="input_Label">What would you like to share?</div>
                                <textarea class="input_Field_lg removeDrag" placeholder="Type post here" id="twitterShareText" maxlength="116" ng-model="twitterPostData.text"></textarea>
                                <span class="validationAlert" ng-if='twitterPostData.text === "" || null'>{{actionNameValidation}}</span>

                            </span>
                            <span ng-show="showTwitterLink == true" class="" id='urlDropDownSpan' ng-init="getUrls()">                               
                                <div class="input_Label pushUp_20">Choose from your Existing Links:</div>
<!--                                <select ng-model="linkUrls" id="dropdownurl"  class="select_Field_lg removeDrag" ng-options="url.url as url.prigram_name+' - '+url.link_name+' - '+url.url for url in urls"></select>-->
                            <div dropdown-select="ddSelectlinkUrlsOptions" dropdown-model="ddSelectlinkUrls" dropdown-onchange="getSelectedUrl(selected)"></div>
                            </span>
                            <span class="validationAlert" ng-if="twitterLinkValidation">{{linkValidation}}</span>

                            <span ng-show="showTwitterLink == true" class="" id="twitterLinkPost">
                                <div class="input_Label pushUp_20">Write Custom Link</div>
                                <input class="socialLink_attached removeDrag removeBorder fluid" ng-model="twitterPostData.url" placeholder="http://www.brndbot.com" id="linkOfUrls"></input></span><br>
<!--                                <span class="validationAlert" ng-if='twitterPostData.url === "" || null'>{{customLinkValidation}}</span>-->
                                <span class="validationAlert" ng-if="twitterCustomLink">{{customLinkValidation}}</span>
                        </div>  
                    </div>
                    <div ng-show="addImageToPostButton" class="Social-Add-Image-Wrap clear" id="addImageToTwitterPost" ng-click="show_hide_ImageGalleryPopup(true)">
                        <span class="clickable-area">
                            <img  src="images/add-Image.svg" ng-model="twitterShare.img" class="add-image-icon fleft" style="cursor:pointer;">
                            <div class="Add-Image-Button fleft">
                                Add Image to Post
                            </div>
                        </span>
                    </div>
                    <div ng-show="twitterImageDivToPost" class="Social-Add-Image-Wrap clear" id="addImageDivToTwitterPost">
                        <img ng-src="{{displayImage}}" ng-model="twitterPostData.img = displayImage"alt="alt_text" border="0" align="center" id="selectedImage" class="imageAdded pushUp_10 fleft">

                        <div class="col-1of1 clear">
                            <div class="edit-Image-Button fleft" id="changeImage"  ng-click="show_hide_ImageGalleryPopup(true)">
                                Change Image
                            </div>
                            <!--                            <div class="edit-Image-Button fleft">
                                                            Edit Image
                                                        </div>-->
                        </div>
                    </div>
                    <span class="validationAlert Social-Add-Image-Wrap" ng-if="twitterImageValidation">{{facebookImageValidation}}</span>

                </div>   
            </div>
        </div>
        <div class="bottomNav">
            <div class="bottom-ContinueButton fright" ng-click="openPostOrShedulePopup('twitter',twitterPostData)">CONTINUE</div>
        </div>
    <div ng-include src="'schedulepopup.html'"></div>
    <div ng-include src="'sendorschedulepopup.html'"></div>
    <div ng-include src="'sociallistselection.html'"></div>
    <div ng-include src="'imagegallerypopup.html'"></div>


     
