
<div ng-show="showTwitterPopup" class="popUp_background-dark " id="twitterSetPinPopUpFromSocialhub">
    <div class="popUp_CenterVert bb-panel-styling">
        <div class="popUp-top-wide clear" style="width: 700px;height: 350px;">
            <div class="bb-panel-header">
                <h2 class="">Connect BrndBot to your Twitter</h2>
                <a id="hidepopup" ng-class="twittersample" ng-click="closeTwitterPopup()" class="modal-pane-header-exit"></a>
            </div>
            <div class="popUp_subheader clear">
            </div>
            <div class="success-modal gallery-padding clear gallery-pane">
                <h3>You now need to connect BrndBot to your Twitter account. Click 'get your pin' you will be given a 7 digit pin by Twitter. Copy and paste that pin here and you are all set!</h3>
                <div class="popUp_subheader clear"></div>
                <h2 id="twitterlink"><a href="{{getTwitterPin}}" style="color:blue;" target="_blank">get your pin</a></h2>
                <a class="input">
                    <p> Enter the Pin <input type="text" id="pinTextBox" ng-model="pinCode" name="pinTextBox" placeholder="Type Pin" autofocus><p>
                </a>
            </div>   
        </div>
        <div class="popUp-bottom-wide" style="width: inherit;">
            <span class="clickable-area">
                <div class="popUp-bottom-link" ng-click="setTwitterAccessTokenFromSocialHub(pinCode)">Done</div>
            </span>
        </div>
    </div>
</div>