<div class="popUp_background-dark" ng-hide="neverShowUnsubscribeEmailpopup">
<div class="background-pop-up">
    <div class="modal-pane modal-pane-width-reg">
        <div class="success-modal">
            <h2> Unsubscribe Email list</h2>
            <p>Please make sure you uploaded unsubscribe email list </p>
            <input type="checkbox" ng-init="isChecked = false" ng-model="isChecked" ng-checked="isChecked"> Don't show this pop-up  again 
        </div>
    <div class="modal-cta-container">
        <button class="long-button blue-button" ng-click="setUnsubscribeFlage(isChecked)">Ok</button>
    </div>
</div>
</div>
</div>