<!DOCTYPE html>
<!-- 
    Document   : unsubscribeemailspopup
    Created on : 17 June, 2016, 11:12:37 AM
    Author     : ilyas
-->
<link href="css/normalize.css" rel="stylesheet" type="text/css"/>
<link href="css/general.css" rel="stylesheet" type="text/css"/>

<div class="unsubscribeEmailsPopupDiv" ng-if="unsubscribePopup">
<div class="popUp_background-dark" id="unsubscribeEmailsPopup">
    <div class="modal-pane modal-pane-width-reg popUp_CenterVert">
        <div class="modal-pane-header-wrap">
            <h2 class="">Unsubscribe Emails Settings</h2>
            <a class="modal-pane-header-exit">
                <div class="popUp_close " ng-click="hideUnsubscribeEmailsPopup()">
                    <img  src="../images/Pop-Up-Exit-Button.svg" class="fleft cursor-shape">
                </div>
            </a>
        </div>
        <div class="modal-pane-content-wrap" style="overflow-y: scroll;">
            <p class="modal-content-header">Please select a csv file with email addresses to unsubscribe them.</p>
            <div class="input-wrap">
                <div class="input">
                    <input type="file" id="fileid">
                </div>
                <span class="validationAlert" ng-show="csvFileValidation">{{uploadCsvValidation}}</span>
                <span class="validationAlert" ng-show="csvValidation">{{validCsvFileValidation}}</span>
                <span class="validationAlert" ng-show="csvInvalidValidation">{{invalidCsvValidation}}</span>


            </div>

        </div>
        <div class="modal-cta-container" ng-click="uploadEmailListOnClick()">
            <a class="long-button blue-button">Unsubscribe Now</a>
        </div>
    </div>
</div>
</div>
