<div ng-include src="'navbar.html'"></div>           
<div class="main-content-wrap"  ng-init="marketingProgramDetails()">
    <input type="hidden" value="<%=marketing_category_id%>" id="marketing_category_id"/>
    <input type="hidden" value="{{marketingProgramId}}" ng-model="marketingProgramId" />
    <div class="top-nav-wrap">
        <div class="header">
            <a class="back-button"  href="createmarketingprogram#/marketingprogram"></a>
            <h2 class="ng-binding">Create a Marketing Campaign</h2>

        </div>
    </div>

    <div class="top-nav-bar-offset"></div>

    <div class="content-wrap content-wrap-padding content-wrap-with-continue-bar">
        <div class="modal-pane modal-pane-width-full">

            <div class="modal-pane-header-wrap">
                <h2>Marketing Program Details</h2>
            </div>

            <div class="sequence-pane-content-wrap">
                <div class="hub-section sequence-page">
                    <div class="section-header">
                        <h3>General Campaign Settings</h3>
                       <p>These are the default settings for this campaign. They can be changed at any time in the campaign overview.</p>
                    </div>
                    <div class="input-wrap">
                        <label> Campaign Name </label>
                        <div class="input ">
                            <input class="fluid" id="campaignname" type="text" ng-model="programName" >
                        </div>
                        <span class="validationAlert" ng-if='programName === "" || null'>{{campaignNameValidation}}</span>

                        <p> This is for internal use only</p>
                    </div>
                    <div class="input-wrap ">
                        <label>{{htmlData}}</label>
                        <div class="input">
                            <input class="fluid" type="text" ng-model="programDateTime" name="programdatetime" id="programdatetime" value="" readonly="">
                            <span class="validationAlert" ng-if='programDateTime === "" || null'>{{campaignDateValidation}}</span>

                            <script>
                                        var picker = new Pikaday(
                                                {

                                                    field: document.getElementById('programdatetime'),
                                                    firstDay: 1,
                                                    format: 'YYYY-MM-DD',
                                                    minDate: new Date(2000, 0, 1),
                                                    maxDate: new Date(2050, 12, 31),
                                                    yearRange: [2000, 2050]

                                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="hub-section">
                    <div class="section-header">
                        <h3>Campaign Link Settings<i>Not Required</i></h3>
                        <p>This link will be able to be used throughout your templates. It should link to where your clients can take action e.g. sign up or learn more.</p>
                    </div>
                    <div class="input-wrap">
                        <label>URL </label>
                        <div class="input">
                            <input class="fluid" id="program_url" ng-model="programUrl" type="text" onchange="validateurl()" placeholder="Ex. http://www.google.com">
                            <p> This can be copied from the browser</p>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <label> Link Name </label>
                        <div class="input">
                            <input class="fluid" id="program_url_name" ng-model="programUrlName"  type="text">
                            <p> This is for internal use only to reference this link URL. </p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="continue-bar-offset"></div>
    </div>
    <div class="continue-bar" ng-click="saveMarketingProgram(programName,programUrl,programUrlName,programDateTime)">
        <a id="saveMarketingProgram" class="fright">CONTINUE</a>
    </div>
</div>
  