<div class="sequence-page-content-container" id="logosettingdiv">
    <div class="page-inner-content-container ">
        <div class="fleft content">
            <!--List Starts Here-->
            <div class="h4 pushUp-60">
                Logo
            </div>
            <div class="pushUp">
                <form id="data" name="formpersonality"  enctype="multipart/form-data" method="post" class="ng-pristine ng-valid">
                    <div class="col-2of10 fleft cur1">
                        <div ng-repeat="step in stepsModel">
                    <img class="thumb" ng-src="{{step}}" />
                    </div>
                        <div class="logo-container"><textarea class="top55 left10 right10" id="filetext1">Choose an Image to upload</textarea>
                            <input type="file" file-model="logoImage" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)">
<!--                            <input type="hidden" name="upload" value="update"></input>
                            <input type="file" name="fileUpload" style="border: 1px solid;" class="upload" id="filevalue" onchange="changefilename()"></input>-->
<!--<div ng-repeat="step in stepsModel">
                    <img class="thumb" ng-src="{{step}}" />
                    </div>-->
<!--<input type="file" file-model="logoImage" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)">-->
   
                        </div>
                    </div>
                    
                    <style>
                        .thumb{
    width:140px;
    height:140px;
    margin:6px;
    float:left;
}

.uploader{
    clear:both;
}
                        </style>
                    
                    
                    
     
<!--                    <div ng-repeat="step in stepsModel">
                    <img class="thumb" ng-src="{{step}}" />
                    </div>-->
    
<!--                    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />-->
    
    
                    <div class="col-1of2 fleft">
                        <button class="pushUp-60 edit-button-detail md-button" type="submit" id="Servicecontinue" ng-click="changeLogo(logoImage)"> Change Logo </button>
                    </div>
                </form>
            </div>
        </div>
    </div>            
</div>