<div class="sequence-page-content-container" id="accountsettingdiv">            
    <!--Inner Content Conatiner GENERIC-->
    <div class="page-inner-content-container ">
        <div class="fleft content">
            <!--List Starts Here-->
            <div class="input-field-container col-1of1 fleft">
                <div class="input-header"> Change Password </div>
                <input type="{{inputType}}" ng-model="password" placeholder="Enter your password" class="input-field-textfield5 width33" />
                <input type="{{inputType}}" ng-model="confirmPassword" placeholder="Confirm password" class="input-field-textfield5 width33 confirmpassword" />
                <input type="checkbox" id="checkbox" ng-model="passwordCheckBox" ng-click="hideShowPassword()" />
                <label class="checkboxshowpassword" for="checkbox" ng-if="passwordCheckBox">Hide password</label>
                <label class="checkboxshowpassword" for="checkbox" ng-if="!passwordCheckBox">Show password</label>
            </div>
            
        </div>
    </div>                    
    <div class="" id="savePassword">
        <div class="edit-button-detail md-button button-text-1 fleft savebutton savebuttonsettingspage" ng-click="changePassword(password,confirmPassword)">Save Password</div>
    </div>
</div>




