<div  id="logosettingdiv">
    <div class="bb-panel-full-width bb-panel-styling">
        <div class="bb-panel-header">
            <h2 class="">Account Brand Settings</h2>
        </div>
        <div class="bb-panel-content-wrap">
            <div class="hub-section">
                <div class="section-header">
                    <h3>Company Logo</h3>
                    <p>These are the default email settings, they can be overridden when you send out an email.</p>
                </div>
                <form id="data" name="formpersonality"  enctype="multipart/form-data" method="post" class="ng-pristine ng-valid">
                    <div class="col-2of10 cur1">
                        <div ng-repeat="step in stepsModel">
                            <img class="thumb" src="{{step}}" />
                        </div>
                        <div class="logo-container">
                            <label class="top55 left10 right10 long-button reg-button gray-button" id="filetext1" for="uploadlogo">Upload a New Logo</label>
                            <input hidden id="uploadlogo" type="file" name="uploadlogo" file-model="logoImage" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)">
                        </div><br>
                        <span class="validationAlert" ng-if='logoImage === "" || null'>{{logoValidation}}</span>

                    </div>

                    <style>
                        .thumb{
                            width:140px;
                            height:140px;
                            margin:6px;
                            float:left;
                        }

                        .uploader{
                            clear:both;
                        }
                    </style>


                    <div class="update-container ">
                        <button class="long-button reg-button gray-button" type="submit" id="Servicecontinue" ng-click="changeLogo(logoImage)"> Save Logo Changes </button>
                    </div>
                </form>
            </div>
            <div class="hub-section" id="palettesettingdivs">
                <div class="section-header">
                    <h3>Company Color Palette</h3>
                    <p>These are the default email settings, they can be overridden when you send out an email.</p>
                </div>
                <div class="container" ng-init="showColors()">
                    <div id="contentdiv" class="row">   
                        <div class="col-md-8 col-md-offset-0">
                            <div class="palette clear" ng-init="colorModel = { value: 'palette - colorswab fleft'}">
                                <div id="color1Div" class="select-palette-colorswab fleft"><div id="color1" style="background-color: {{user_preferences_colors[0]}}" ng-model="selectedColor.color1" toggle-class model="colorModel"></div></div>
                                <div id="color2Div" class="select-palette-colorswab fleft"><div id="color2" style="background-color: {{user_preferences_colors[1]}}" ng-model="selectedColor.color2" toggle-class model="colorModel"></div></div>
                                <div id="color3Div" class="select-palette-colorswab fleft"><div id="color3" style="background-color: {{user_preferences_colors[2]}}" ng-model="selectedColor.color3" toggle-class model="colorModel"></div></div>
                                <div id="color4Div" class="select-palette-colorswab fleft"><div id="color4" style="background-color: {{user_preferences_colors[3]}}" ng-model="selectedColor.color4" toggle-class model="colorModel"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="update-container">
                        <button class="long-button reg-button gray-button" ng-click="showPaletteChangePopUp()">Change Palette</button>

                    </div>

                </div>
            </div>            
        </div>

        <!--Update Palette Modal-->
        <div ng-show="paletteChangePopUp" class="center-pop-ups update-palette-pop-up">
            <div class="modal-pane modal-pane-width-full">
                <div class="modal-pane-header-wrap">
                    <h2 class="">Change Palette Colors</h2>
                    <a ng-click="closePaletteChangePopUp()" class="modal-pane-header-exit"></a>
                </div>
                <div class="modal-pane-content-wrap" ng-init="getColorFromPicker()">
                    <!--PUT PALETTE CHANGING HTML IN HERE-->
                    <div class="color-palette-col"> 
                        <div class="color-palette-wrap">
                            <div class="color-explanation">Explanation Goes Here</div>
                            <div class="palette clear" ng-init="colorModel = { value: 'palette - colorswab fleft'}">
                                <div id="color1Div" class="select-palette-colorswab fleft"><div id="colorPalete1" style="background-color: {{user_preferences_colors[0]}}" ng-model="selectedColor.color1" toggle-class model="colorModel"></div></div>
                                <div id="color2Div" class="select-palette-colorswab fleft"><div id="colorPalete2" style="background-color: {{user_preferences_colors[1]}}" ng-model="selectedColor.color2" toggle-class model="colorModel"></div></div>
                                <div id="color3Div" class="select-palette-colorswab fleft"><div id="colorPalete3" style="background-color: {{user_preferences_colors[2]}}" ng-model="selectedColor.color3" toggle-class model="colorModel"></div></div>
                                <div id="color4Div" class="select-palette-colorswab fleft"><div id="colorPalete4" style="background-color: {{user_preferences_colors[3]}}" ng-model="selectedColor.color4" toggle-class model="colorModel"></div></div>
                            </div>
                        </div>

                        <div class="CTA_Button Button--Gray clear-colors" ng-click="clearColorPalette()">Clear Colors</div>
                        <!-- Save button-->
                        <div class="update-container ">
                            <button  type="button" class="long-button reg-button gray-button" style="margin-left: -6%;" ng-click="saveColorPalette()">Save</button>                           
                        </div>
                    </div>
                    <div class="color-palette-col">
                        <div class="color-selection-menu">
                            <div class="color-selection-option" ng-class="activeColorTheme"  id="themeColors" ng-click="getAllThemes()">Color Themes</div>
                            <div class="color-selection-option" ng-class="activeColorPicker"  id="customColors" ng-click="getColorFromPicker()">Color Picker</div>
                            <div class="color-selection-option" ng-class="activeColorLogo"  id="logoColorsDiv" ng-click="getColorsFromLogo()">Logo Colors</div>
                        </div> 
                        <div class="color-selection-tool-wrap">
                            <div ng-show="colorFrom == 'custom'"  class="color-picker-space" id="picker"></div>
                            <div ng-if="colorFrom == 'theme'" id="themeColorsDiv1" class="palette-theme-global">
                                <div ng-repeat="color in themeColors" class="palette-wrap-globalColors">
                                    <div id="{{color.globalColorsId}}" class="palette-global clear">
                                        <div class="palette-colorswab-global fleft" style="background-color:{{color.color1}};" ng-click="getColorID(color.color1)"></div>
                                        <div class="palette-colorswab-global fleft" style="background-color:{{color.color2}};" ng-click="getColorID(color.color2)"></div>
                                        <div class="palette-colorswab-global fleft" style="background-color:{{color.color3}};" ng-click="getColorID(color.color3)"></div>
                                        <div class="palette-colorswab-global fleft" style="background-color:{{color.color4}};" ng-click="getColorID(color.color4)"></div>
                                        <div class="font--lightGray pointer" style="margin-top: 7px;height: 50px;"
                                             ng-click="selectTheme(color.color1, color.color2, color.color3, color.color4)">{{color.colorName}}</div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="colorFrom === 'logo'" class="palette-wrap" id="logocolor1" >
                                <div class="palette clear" id="picktheme">
                                    <div ng-repeat="col in color">
                                        <div  class="palette-colorswab-global fleft" style="background-color:{{col}};" ng-click="getColorID(col)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>
