<div class="sequence-page-content-container" id="accountsettingdiv">            
    <!--Inner Content Conatiner GENERIC-->
    <div class="page-inner-content-container ">
        <div class="fleft content">
            <!--List Starts Here-->
            <div class="input-field-container col-1of1 fleft">
                <div class="input-header"> Change Password </div>
                <input type="password" placeholder="Enter New Password" ng-model="password" id="inputpassword" class="input-field-textfield5 width33 showornot"></input>
                <input type="text" placeholder="Enter New Password"  id="inputpassword1" class="input-field-textfield5 width33 hideornot"></input>
                <input type="password" placeholder="Enter Confirm Password" ng-model="confirmpassword" id="inputreenter" class="input-field-textfield5 width33 showornot"></input>
                <input type="text" placeholder="Enter Confirm Password" id="inputreenter1" class="input-field-textfield5 width33 hideornot"></input>
                <div class="inlineblock margin-top-10">
                    <input type="checkbox" name="showpassword" value="" id="showpassword"><p class="posi"> Show Password</p></input>
                </div>
            </div>
        </div>
    </div>                    
    <div class="" id="savePassword">
        <div class="edit-button-detail md-button button-text-1 fleft savebutton savebuttonsettingspage" ng-click="changePassword(password,confirmpassword)">Save Password</div>
    </div>
</div>




