        
    <div class="bb-panel-full-width bb-panel-styling" id="accountsettingdiv" ng-init="setTab('account')">
            <div class="bb-panel-header">
                <h2 class="">Company Account Settings</h2>
                
            </div>
            <div class="bb-panel-content-wrap" ng-init="getCompanyAddress()">
               
                    
                    <div class="hub-section">
                     <div class="section-header">
                         <h3>Update your company Address</h3>
                        <!--<p>These are the default email settings, they can be overridden when you send out an email.</p>-->
                     </div>
                        <div class="input-wrap">
                    <label>Enter Company Address</label>
                    <div class="input">
                        <input onFocus="geolocate()" class="fluid" id="companyAddress" ng-model="companyDetails.companyAddress" placeholder="Company Address" ng-class="{'invalid-input': companyData.companyAddress === '' || null}"></input>
                    </div>
                    <div class="hide">
                        <input ng-model="companyDetails.addressline1" id="street_number">
                        <input ng-model="companyDetails.addressline2" id="route">
                        <input ng-model="companyDetails.city" id="locality">
                        <input ng-model="companyDetails.state" id="administrative_area_level_1">
                        <input ng-model="companyDetails.zipcode" id="postal_code">
                        <input ng-model="companyDetails.country" id="country">
                    </div> 
                    <span class="validationAlert" ng-if='companyDetails.companyAddress == "" || null' >{{companyAddressValidation}}</span>
                    <span class="validationAlert" ng-if='companyDetails.addressline2 == "" || companyDetails.zipcode == ""' id="invalidCompanyAddressValidation">{{invalidCompanyAddressValidation}}</span>
                    </div>
<!--                    <div class="input-wrap">
                    <label>Company Address Line 1</label>
                    <div class="input">
                        <input class="fluid" id="addressLine1" ng-model="companyAddressDetails.addressLine1" ng-class="{'invalid-input': companyAddressDetails.addressLine1 === '' || null}" placeholder="Address Line 1"/>
                    </div>
                    <span class="validationAlert" ng-if='companyAddressDetails.addressLine1 == "" || null' >{{addressLine1Validation}}</span>
                    </div>
                    <div class="input-wrap">
                        <label>Company Address Line 2</label>
                        <div class="input">
                            <input class="fluid" id="addressLine2" ng-model="companyAddressDetails.addressLine2" ng-class="{'invalid-input': companyAddressDetails.addressLine2 === '' || null}" placeholder="Address Line 2"/>
                        </div>
                        <span class="validationAlert" ng-if='companyAddressDetails.addressLine2 == "" || null'  >{{addressLine2Validation}}</span>
                    </div>
                    <div class="input-wrap">
                        <label>City</label>
                        <div class="input">
                            <input id="city" class="fluid" ng-model="companyAddressDetails.city"  ng-class="{'invalid-input': companyAddressDetails.city === '' || null}" placeholder="Country"/>
                        </div>
                        <span class="validationAlert" ng-if='companyAddressDetails.city == "" || null' >{{cityValidation}}</span>
                    </div>
                    <div class="input-wrap">
                        <label>State</label>
                        <div class="input">
                            <input class="" id="state" ng-model="companyAddressDetails.state"  ng-class="{'invalid-input': companyAddressDetails.state === '' || null}" placeholder="State"/>
                        </div>
                        <span class="validationAlert" ng-if='companyAddressDetails.state == "" || null' >{{stateValidation}}</span>
                    </div>
                    <div class="input-wrap">
                        <label>Zip code</label>
                        <div class="input">
                            <input class="" id="zipcode" ng-model="companyAddressDetails.zipCode" ng-class="{'invalid-input': companyAddressDetails.zipCode === '' || null}"  placeholder="Zip code"/>
                        </div>
                        <span class="validationAlert" ng-if='companyAddressDetails.zipCode == "" || null' >{{zipcodeValidation}}</span>
                    </div>
                    <div class="input-wrap">
                        <label>Country</label>
                        <div class="input">
                            <input class="fluid" id="country" ng-model="companyAddressDetails.country"  ng-class="{'invalid-input': companyAddressDetails.country === '' || null}" placeholder="Country"/>
                        </div>
                        <span class="validationAlert" ng-if='companyAddressDetails.country == "" || null' >{{countryValidation}}</span>
                    </div>-->
                    <div class="update-container">
                        <a class="long-button gray-button" ng-click="updateCompanyAddress(companyDetails)">Update Company Address</a>
                    </div>
                </div>
                 
            </div>
        </div>
  
       
        <div class="bb-panel-full-width bb-panel-styling" ng-init="getUserDetails()" id="accountsettingdiv"  ng-show="userRole=='Owner'">
            <div class="bb-panel-header">
                <h2 class="">Your Team</h2>
                
            </div>
            <div class="bb-panel-content-wrap" ng-init="getInvitedUsers()">
                <div class="hub-section">
                     <div class="section-header">
                         <h3>List of Users</h3>
                        <p>Add all of your team members and give them different permissions.</p>
                     </div>
                    <div class="user-slat" ng-repeat="users in invitedUsers">
                        <div class="user-email-address">{{users.emailID}}</div>
                        <div class="user-role">{{users.userRole}}</div>
                        <div class="user-status">{{users.inviteStatus}}</div>
                        <div class="user-slat-cta-wrap">
                             <div class="user-slat-button resend-user-email" ng-hide="users.inviteStatus=='Invite Accepted'" ng-click="resendUserInvite(users.inviteId)">Resend User Email</div>
                             <div class="user-slat-button edit-user-permissions" ng-hide="users.inviteStatus=='Invite Sent'" ng-click="showEditUser(users.inviteId,users.userRoleLookUp,users.emailID)">Edit User Permissions</div>
                             <div class=" user-slat-button remove-user-button" ng-click="removeUser(users)">Remove User</div>
                        </div>
                    </div>
                    <div class="update-container">
                        <a class="long-button gray-button" ng-click="showAddUser()">Invite a User</a>
                    </div>
                </div>
                 
            </div>
     
    
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-aw9KjncC2ozrBz6glsVjNjW9Fkmy8ME&libraries=places&callback=initAutocomplete" async defer></script>