<div class="sequence-page-content-container" id="palettesettingdiv">
    <div id="" style="width:750px; height:auto;" >
        <div class="container" ng-init="showColors()">
            <div class="row">
            </div>
            <div id="contentdiv" class="row">   
                <div class="col-md-8 col-md-offset-0">
                    <p id="comment2">Click on a color to change it or choose from a theme. Don't worry, you can always change it later.</p>
                    <div class="col-md-12"><p id="test" class="span3" >MOST USED<span class="col-md-offset-5" id="leastuse">LEAST USE</span></p> </div>
                    <div id="sortable" class="step_wrapper">
                        <div ng-model="themecolor1" id="elementToPutStyleInto1" class="blankcolor-box step_box ptr" style="background-color: {{user_preferences_colors[0]}}"  onclick="getElementID('elementToPutStyleInto1')"></div>
                        <div ng-model="themecolor2" id="elementToPutStyleInto2" class="blankcolor-box step_box ptr" style="background-color: {{user_preferences_colors[1]}}"  onclick="getElementID('elementToPutStyleInto2')"></div>
                        <div ng-model="themecolor3" id="elementToPutStyleInto3" class="blankcolor-box step_box ptr" style="background-color: {{user_preferences_colors[2]}}"  onclick="getElementID('elementToPutStyleInto3')"></div>
                        <div ng-model="themecolor4" id="elementToPutStyleInto4" class="blankcolor-box step_box ptr" style="background-color: {{user_preferences_colors[3]}}"  onclick="getElementID('elementToPutStyleInto4')"></div>
                        <div class="resetpalette ptr"> <p id="resetpalette">RESET ORIGINAL PALETTE</p></div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-0 ">         
                    <div class="">
                        <div class="page-title-bar col-1of1"> 
                        </div>
                        <div class="page-subnav-bar-regular"> 
                            <div class="top-subnav-tabs-container">
                                <ul class="top-subnav-nav-elements">
                                    <li class="top-subnav-links" id="fromThem"> <a class="h3">PICK FROM A THEME</a></li>
                                    <li class="top-subnav-links" id="fromPalette"> <a class="h3">CHOOSE CUSTOM</a></li>
                                    <li class="top-subnav-links" id="fromLogo"> <a class="h3">PICK FROM LOGO COLORS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="picktheme">
                        <div style="height:250px; overflow-y:scroll;">
                            <div ng-repeat="color in themes" class="palette-wrap-globalColors">
                                <div id="{{color.globalColorsId}}" class="palette-global clear">
                                    <div class="foo blankcolor-box step_box ptr" style="background-color:{{color.color1}};" onclick="setSelectedColor('{{color.color1}}')"></div>
                                    <div class="foo blankcolor-box step_box ptr" style="background-color:{{color.color2}};" onclick="setSelectedColor('{{color.color2}}')"></div>
                                    <div class="foo blankcolor-box step_box ptr" style="background-color:{{color.color3}};" onclick="setSelectedColor('{{color.color3}}')"></div>
                                    <div class="foo blankcolor-box step_box ptr" style="background-color:{{color.color4}};" onclick="setSelectedColor('{{color.color4}}')"></div>
                                    <div onclick="setThemeColors('{{color.color1}}','{{color.color2}}','{{color.color3}}','{{color.color4}}')"style="padding-top: 10px; color: #7f7f7f;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{color.colorName}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane displayNone" id="custom">
                        <br>     
                        <div  id="picker"></div><br><br>
                    </div>
                    <div class="tab-pane displayNone" id="logocolor" >
                        <div class="tab-pane active" id="picktheme">
                            <div ng-repeat="col in color">
                                <div class="foo" style="background-color:{{col}};" onclick="setSelectedColor('{{col}}')"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-0 col-md-4" >
                            <form class="form-horizontal">
                                <input type="hidden" id="finalcolor1" name="finalcolor1" ng-model="selColor.finalcolor1"  />
                                <input type="hidden" id="finalcolor2" name="finalcolor2" ng-model="selColor.finalcolor2" />
                                <input type="hidden" id="finalcolor3" name="finalcolor3" ng-model="selColor.finalcolor3"/>
                                <input type="hidden" id="finalcolor4" name="finalcolor4" ng-model="selColor.finalcolor4"/>
                                <input type="hidden" id="finalcolor5" name="finalcolor5" ng-model="selColor.finalcolor5"/>
                                <input type="hidden" id="finalcolor6" name="finalcolor6" ng-model="selColor.finalcolor6"/>
                                <div class="span4 col-md-offset-0">
                                    <button  type="button" class="edit-button-detail md-button button-text-1 fleft savebutton noborder" style="margin-left: -6%;" ng-click="createUserPreferences(themecolor1,themecolor2,themecolor3,themecolor4)">SAVE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>