  <style>
    .bb-sidenavbar{
        display: none;
    } 
    
</style>

 <input type="hidden" value="<%=marketing_category_id%>" id="marketing_category_id"/>
    <input type="hidden" value="{{marketingProgramId}}" ng-model="marketingProgramId" />
<div class="bb-top-nav" ng-init="marketingProgramDetails()">
    <div class="bb-bar-left-wrap bb-one-third-flex-col">
        <a href="createmarketingprogram#/marketingprogram" class="bb-back-button"></a>
        <h3 class="bb-top-nav-title">Create a Marketing Campaign</h3>
    </div>
    <div class="bb-bar-center-wrap bb-one-third-flex-col">
      
        <div class="bb-step completed">Select Category</div>
                    <div class="bb-step completed">Select Template</div>
                    <div class="bb-step current">Campaign Details</div>
    </div>
    <div class="bb-bar-right-wrap bb-one-third-flex-col">
        <div class="bb-help-icon">help icon</div>
    </div>
</div>

<div class="bb-main-content-wrap bb-main-content-wrap-padding"> 
    <div class="bb-panel-styling bb-panel-full-width">

            <div class="bb-panel-header">
                <h2>Marketing Program Details</h2>
            </div>

            <div class="bb-panel-content-wrap">
                <div class="hub-section sequence-page">
                    <div class="section-header">
                        <h3>General Campaign Settings</h3>
                       <p>These are the default settings for this campaign. They can be changed at any time in the campaign overview.</p>
                    </div>
                    <div class="input-wrap">
                        <label> Campaign Name </label>
                        <div class="input ">
                            <input class="fluid" id="campaignname" type="text" ng-model="programName" ng-change="programUrlName=programName +' Link'" ng-class="{'invalid-input' : programName === '' || null}">
                        </div>
                        <span class="validationAlert" ng-if='programName === "" || null'>Please enter a name for this campaign</span>
                        <p> This is for internal use only</p>
                    </div>
                    <div class="input-wrap ">
                        <label>{{htmlData}}</label>
                        <a class="clickable-input fluid">
                            <div class="date-time-select-icon">
                                <object type="image/svg+xml" data="/BrndBot/images/calendar-gray.svg" style="cursor:pointer;"> </object>
                            </div>
                            <input class="time-date-select fluid" type="text" ng-model="programDateTime" name="programdatetime" id="programdatetime" value="" readonly="" ng-class="{'invalid-input' : programDateTime === '' || null}">
                            

                            <script>
                                        var picker = new Pikaday(
                                                {

                                                    field: document.getElementById('programdatetime'),
                                                    firstDay: 1,
                                                    format: kGlobalDateFormat,
                                                    minDate: new Date(2000, 0, 1),
                                                    maxDate: new Date(2050, 12, 31),
                                                    yearRange: [2000, 2050]

                                                });
                            </script>
                            <span class="validationAlert" ng-if='programDateTime === "" || null'>Please choose a date for this campaign</span>
                        </a>
                        
                    </div>
                    
                </div>
                <div class="hub-section">
                    <div class="section-header">
                        <h3>Campaign Link Settings<i>Not Required</i></h3>
                        <p>This link will be able to be used throughout your templates. It should link to where your clients can take action e.g. sign up or learn more.</p>
                    </div>
                    <div class="input-wrap">
                        <label>URL </label>
                        <div class="input">
                            <input class="fluid" id="program_url" ng-model="programUrl" type="text" onchange="validateurl()" placeholder="Ex. http://www.google.com">
                            <p> This can be copied from the browser</p>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <label> Link Name </label>
                        <div class="input">
                            <input class="fluid" id="program_url_name" ng-model="programUrlName" type="text">
                            <p> This is for internal use only to reference this link URL. </p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
</div>

<div class="bb-bottom-cta-bar">
    <a class="bb-bottom-cta-continue-button" ng-class="{'bb-valid': programDateTime.length>0 && programName.length>0}" ng-click="saveMarketingProgram(programName,programUrl,programUrlName,programDateTime)" >
        <div class="bb-bottom-cta-continue-button-text">Continue</div>
        <img class="bb-bottom-cta-continue-button-arrow" src="/BrndBot/images/continue-arrow.svg" />
    </a>
</div>

  