<div class="bb-dropdown-wrap" ng-show="userSettings">
        <a class="hub-dropdown-section" href="settings" id="socialhubli">
            <div class=" dropdown-label-active">Settings</div>
        </a>
        <a class="hub-dropdown-section" href="loading" id="socialhubli">
            <div class=" dropdown-label-active">Change Company</div>
        </a>
        <!--<a class="hub-dropdown-section" href="#/marketing" id="socialhubli">
            <div class=" dropdown-label-active">Upgrade Account</div>
        </a>-->
        <a class="hub-dropdown-section" href="/BrndBot/logout" id="emailhubli">
            <div class=" dropdown-label">Log Out</div>
        </a>                     
</div>