<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->

<div id="browserCompatibilityPopup" class="popUp_background" ng-show="browserCompatibilityPopup == true">
    <div id="browserCompatibilityPopupDiv" class="popUp_backgroundlayer" ></div>
    <div  class="popUp addPopUp">
        <div class="content-area_header">
            <div class="popUp_title fleft"> Create a Franchise</div>
            <a id="addactionClose" ng-click = "closeOverlay()" class="modal-pane-header-exit"></a>
        </div>
        <div class="inputSection col1of2">
            <div class="input_Label">This application supports only Chrome and Safari browsers</div>
        </div>
    </div>
</div> 
