<div class="sequence-content-wrap">
    <div class="top-nav-wrap top-nav-wrap-sequence">
        <div class="header">
            <a class="back-button" href="#/signup/uploadlogo"></a>
            <h2>Create a Profile</h2>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>

    <div class="content-wrap content-wrap-padding content-wrap-with-continue-bar content-wrap-flex" >
        <div class="modal-pane modal-pane-full-width">
            <div class="modal-pane-header-wrap">
                <h2 class="">Upload your logo</h2>
            </div>
            <div class="modal-pane-content-wrap" ng-init="getColorFromPicker()">
                <div class="color-palette-col">
                    <div class="onboarding-content-header-wrap">
                        <h3 class="onboarding-content-header">Would you like to connect your new profile with tools you currently use?</h3>
                    </div>   
                    <div class="color-palette-wrap">
                        <div class="color-explanation">Explanation Goes Here</div>
                        <div class="user-palette" ng-init="colorModel = { value: 'color - swab'}">
                            <div id="color1Div" class="color-swab"><div id="color1" ng-model="selectedColor.color1" toggle-class model="colorModel"></div></div>
                            <div id="color2Div" class="color-swab"><div id="color2" ng-model="selectedColor.color2" toggle-class model="colorModel"></div></div>
                            <div id="color3Div" class="color-swab"><div id="color3" ng-model="selectedColor.color3" toggle-class model="colorModel"></div></div>
                            <div id="color4Div" class="color-swab"><div id="color4" ng-model="selectedColor.color4" toggle-class model="colorModel"></div></div>
                        </div>
                        <span class="validationAlert" ng-if="colorsAlert">{{colorValidation}}</span>
                    </div>

                    <div class="CTA_Button Button--Gray clear-colors cur" ng-click="clearColorPalette()">Clear Colors</div>
                </div>
                <div class="color-palette-col">
                    <div class="color-selection-menu">
                        <div class="color-selection-option cur" ng-class="activeColorTheme"  id="themeColors" ng-click="getAllThemes()">Color Themes</div>
                        <div class="color-selection-option cur" ng-class="activeColorPicker"  id="customColors" ng-click="getColorFromPicker()">Color Picker</div>
                        <div class="color-selection-option cur" ng-class="activeColorLogo"  id="logoColorsDiv" ng-click="getColorsFromLogo()">Logo Colors</div>
                    </div> 
                    <div class="color-selection-tool-wrap">
                        <div ng-show="colorFrom == 'custom'"  class="color-picker-space" id="">
                            <input type="text" name="togglePaletteOnly" id="togglePaletteOnly" style="display:none !important; visibility: hidden">
                            <script>
                                
                            </script>
                        </div>
                        <div ng-if="colorFrom == 'theme'" id="themeColorsDiv1" class="palette-theme-global">
                            <div ng-repeat="color in themeColors" class="palette-wrap-globalColors">
                                <div id="{{color.globalColorsId}}" class="palette-global clear">
                                    <div class="palette-colorswab-global fleft" style="background-color:{{color.color1}};" ng-click="getColorID(color.color1)"></div>
                                    <div class="palette-colorswab-global fleft" style="background-color:{{color.color2}};" ng-click="getColorID(color.color2)"></div>
                                    <div class="palette-colorswab-global fleft" style="background-color:{{color.color3}};" ng-click="getColorID(color.color3)"></div>
                                    <div class="palette-colorswab-global fleft" style="background-color:{{color.color4}};" ng-click="getColorID(color.color4)"></div>
                                    <div class="palette-colorswab-global fleft cur" style="margin-top:10px;border:none;"
                                         ng-click="selectTheme(color.color1, color.color2, color.color3, color.color4)">{{color.colorName}}</div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="colorFrom === 'logo'" class="palette-wrap" id="logocolor1" >
                            <div class="palette clear" id="picktheme">
                                <div ng-repeat="col in color">
                                    <div class="logo-palette-colorswab fleft" style="background-color:{{col}};" ng-click="getColorID(col)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
    <div class="continue-bar-offset"></div>
</div>
<div class="continue-bar sequence-continue-bar">
    <a id="continue-bar-button" ng-click="saveColorPalette()" class="fright">CONTINUE</a>
</div>