 <link rel="stylesheet" type="text/css" href="css/general_1.css"/>
    <body class="login-page ease-all" ng-app="signupApp" ng-controller="onboardingController">
    <div class="login-flex">
        <div class="login-col">
            <header>
                <h2>Please select an account</h2>
            </header>
                <div >
                    <div class="cat-slat">                   
                        <div class="cat-slat-title" >Company Name 1</div>  
                    </div>
                </div>
        </div>
    </div>
</body>

