<!--
    Document   : newjsp
    Created on : 1 Jun, 2016, 6:02:21 PM
    Author     : sandeep-->

    <!--SideNav-->
    <!--Main Content Wrap-->
    
   <body>
<div class="sequence-content-wrap" ng-init="getOrganizations()">
    <div class="top-nav-wrap top-nav-wrap-sequence">
        <div class="header">
            <h2>Create a Profile</h2>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>

    <div class="content-wrap content-wrap-padding content-wrap-with-continue-bar content-wrap-flex">
        <div class="modal-pane modal-pane-width-reg">
            <div class="modal-pane-header-wrap">
                <h2 class="">Welcome to BrndBot!</h2>
            </div>
            <div class="modal-pane-content-wrap">
                <div class="input-wrap onboarding">
                    <label> Company Name </label>
                    <div class="input">
                        <input class="fluid" id="companyName" ng-model="companyData.companyName" placeholder="Company Name"></input>
                    </div>
                    <span class="validationAlert" ng-if='companyData.companyName == "" || null' id="companyValidation">{{companyValidation}}</span>
                    
                    <p class="input-wrap-label"> Log into your company's Instagram page and copy the URL<a class="input-help" href="#">Click to learn how</a></p>
                </div>                
               <div class="input-wrap onboarding">
                    <label> Please select an Organization</label>
                    <div class="input">
                           <div dropdown-select="ddSelectOrganizationOptions" dropdown-onchange="selectedOrganization(selected)" value="{{companyData.ddSelectOrganization}}" dropdown-model="companyData.ddSelectOrganization"></div>
                    </div>
                    <span class="validationAlert" ng-if="organizationValidation">{{dropdownValidation}}</span>

                </div>
                <div class="input-wrap onboarding">
                    <label>Address Line-1</label>
                    <div class="input">
                        <input class="fluid" id="addressLine1" ng-model="companyData.addressLine1" placeholder="Address Line1"></input>
                    </div>
                    <span class="validationAlert" ng-if='companyData.addressLine1 == "" || null' id="addressLine1Validation">{{addressLine1Validation}}</span>
                </div>
                <div class="input-wrap onboarding">
                    <label>Address Line-2</label>
                    <div class="input">
                        <input class="fluid" id="addressLine2" ng-model="companyData.addressLine2" placeholder="Address Line2"></input>
                    </div>
                    <span class="validationAlert" ng-if='companyData.addressLine2 == "" || null' id="addressLine2Validation">{{addressLine2Validation}}</span>
                </div>
                <div class="input-wrap onboarding">
                    <label>City</label>
                    <div class="input">
                        <input class="fluid" id="city" ng-model="companyData.city" placeholder="city"></input>
                    </div>
                    <span class="validationAlert" ng-if='companyData.city == "" || null' id="cityValidation">{{cityValidation}}</span>
                </div>
                <div class="input-wrap onboarding">
                    <label>State</label>
                    <div class="input">
                        <input class="fluid" id="state" ng-model="companyData.state" placeholder="state"></input>
                    </div>
                    <span class="validationAlert" ng-if='companyData.state == "" || null' id="stateValidation">{{stateValidation}}</span>
                </div>
                <div class="input-wrap onboarding">
                    <label>Zipcode</label>
                    <div class="input">
                        <input class="fluid" id="zipcode" ng-model="companyData.zipcode" placeholder="zipcode"></input>
                    </div>
                    <span class="validationAlert" ng-if='companyData.zipcode == "" || null' id="zipcodeValidation">{{zipcodeValidation}}</span>
                </div>
                <div class="input-wrap onboarding">
                    <label>Country</label>
                    <div class="input">
                        <input class="fluid" id="country" ng-model="companyData.country" placeholder="country"></input>
                    </div>
                    <span class="validationAlert" ng-if='companyData.country == "" || null' id="countryValidation">{{countryValidation}}</span>
                </div>
            </div>
            
        </div>
        <div class="continue-bar-offset"></div>
    </div>

</div>
<div class="continue-bar sequence-continue-bar">
    <a id="continue-bar-button" ng-click="saveCompany(companyData)" class="fright">CONTINUE</a>
</div>
</body>