<!--
    Document   : newjsp
    Created on : 1 Jun, 2016, 6:02:21 PM
    Author     : sandeep-->

    <!--SideNav-->
    <!--Main Content Wrap-->
   <body>
<div class="sequence-content-wrap">
    <div class="top-nav-wrap top-nav-wrap-sequence">
        <div class="header">
            <h2>Create a Profile</h2>
        </div>
    </div>
    <div class="top-nav-bar-offset"></div>

    <div class="content-wrap content-wrap-padding content-wrap-with-continue-bar content-wrap-flex">
        <div class="modal-pane modal-pane-width-reg">
            <div class="modal-pane-header-wrap">
                <h2 class="">Welcome to BrndBot!</h2>
            </div>
            <div class="modal-pane-content-wrap">
                <div class="input-wrap onboarding">
                    <label> Company Name </label>
                    <div class="input">
                        <input class="fluid" id="companyName" ng-model="companyName" placeholder="Company Name"></input>
                    </div>
                    <p class="input-wrap-label"> Log into your company's Instagram page and copy the URL<a class="input-help" href="#">Click to learn how</a></p>
                </div>
               <div class="input-wrap onboarding">
                    <label> Please select an Organization</label>
                    <div class="input">
                           <div dropdown-select="ddSelectOrganizationOptions" value="{{ddSelectOrganization}}" dropdown-model="ddSelectOrganization"></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="continue-bar-offset"></div>
    </div>

</div>
<div class="continue-bar sequence-continue-bar">
    <a id="continue-bar-button" ng-click="saveCompany(companyName,ddSelectOrganization.value)" class="fright">CONTINUE</a>
</div>
</body>