<!--
    Document   : newjsp
    Created on : 1 Jun, 2016, 6:02:21 PM
    Author     : sandeep-->

    <!--SideNav-->
    <!--Main Content Wrap-->
    
<body>
    <div class="bb-app-frame">
        <div class="bb-main-app-wrap"  ng-init="getOrganizations()">
            <div class="bb-main-container-wrap">
               <div class="bb-top-nav">
                    <div class="bb-bar-left-wrap bb-one-third-flex-col">
                        <h3 class="bb-top-nav-title">Create a Profile</h3>
                    </div>
                    <div class="bb-bar-center-wrap bb-one-third-flex-col">
                          
                            <div class="bb-step current">Company Details</div>
                            <div class="bb-step upcoming">Integrations</div>
                            <div class="bb-step upcoming">Company Brand</div>
                    </div>
                    <div class="bb-bar-right-wrap bb-one-third-flex-col">
                        <div class="bb-help-icon">help icon</div>
                    </div>
                </div>
                <div class="bb-main-content-wrap bb-main-content-wrap-padding bb-center-content">
                    <div class="modal-pane modal-pane-width-reg">
                        <div class="modal-pane-header-wrap">
                            <h2 class="">Welcome to BrndBot!</h2>
                        </div>
                        <div class="modal-pane-content-wrap">
                            <div class="input-wrap onboarding">
                                <label> Company Name </label>
                                <div class="input">
                                    <input class="fluid" id="companyName" ng-model="companyData.companyName" placeholder="Company Name"></input>
                                </div>
                                <span class="validationAlert" ng-if='companyData.companyName == "" || null' id="companyValidation">{{companyValidation}}</span>
                            </div>                
                           <div class="input-wrap onboarding">
                                <label> Please select an Organization</label>
                                <div class="input">
                                       <div dropdown-select="ddSelectOrganizationOptions" dropdown-onchange="selectedOrganization(selected)" value="{{companyData.ddSelectOrganization}}" dropdown-model="companyData.ddSelectOrganization"></div>
                                </div>
                                <span class="validationAlert" ng-if="organizationValidation">{{dropdownValidation}}</span>

                            </div>
                        </div>

                    </div>
                 </div>
                <div class="bb-bottom-cta-bar">
                    <a class="bb-bottom-cta-continue-button" ng-class="{'bb-valid' : companyData.companyName.length > 0}" ng-click="saveCompany(companyData)">
                        <div class="bb-bottom-cta-continue-button-text">Continue</div>
                        <img class="bb-bottom-cta-continue-button-arrow" src="/BrndBot/images/continue-arrow.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>