<!--
    Document   : newjsp
    Created on : 1 Jun, 2016, 6:02:21 PM
    Author     : sandeep
-->
    <div class="bb-app-frame">
        <div class="bb-main-app-wrap"  ng-init="getAllServices()">
            <div class="bb-main-container-wrap">
               <div class="bb-top-nav">
                    <div class="bb-bar-left-wrap bb-one-third-flex-col">
                        <a href="#/signup/company" class="bb-back-button"></a>
                        <h3 class="bb-top-nav-title">Create a Profile</h3>
                    </div>
                    <div class="bb-bar-center-wrap bb-one-third-flex-col">
                        <div class="bb-step completed">Company Details</div>
                            <div class="bb-step current">Integrations</div>
                            <div class="bb-step upcoming">Company Brand</div>
                    </div>
                    <div class="bb-bar-right-wrap bb-one-third-flex-col">
                        <div class="bb-help-icon">help icon</div>
                    </div>
                </div>
                <div class="bb-main-content-wrap bb-main-content-wrap-padding bb-center-content">
                    <div class="bb-panel-styling bb-panel-default">
                        <div class="bb-panel-header">
                            <h2 class="">Connect to Your Tools</h2>
                        </div>
                        <div class="bb-panel-content-wrap">
                            <div class="onboarding-content-header-wrap">
                                <h3 class="onboarding-content-header">Would you like to connect your new profile with tools you currently use?</h3>
                            </div> 
                               <div class="input-wrap">
                                <label> Choose from these BrandBot integrations </label>
                                <div class="input">
                                    <div dropdown-select="ddSelectServicesOptions" dropdown-model="ddSelectServices"></div>
                                    <p class="input-wrap-label">If you do not use any services, please select 'none'</p>
                                </div>
                                </div>
                            <div ng-if="ddSelectServices.value==1">
                                <div class="input-wrap">
                                    <label> Enter your MINDBODY Studio ID </label>
                                    <div class="input ">
                                        <input class="input_Field " type="text" id="mindbodyStudioId" ng-model="studioId"></input>
                                        <p class="input-wrap-label">If you need help finding your MINDBODY ID please<a class="input-help" href="#">click here for help</a></p>
                                    </div>
                                    <span class="validationAlert" ng-if='studioId === "" || null'>{{studioIdValidation}}</span>
                                    <span class="validationAlert" ng-if='mindbodyActive'>{{inActiveMindbodyValidation}}</span>
                                </div>
                                <div class="input-wrap">
                                    <label> Grant Access in MINDBODY</label>
                                   <a class="bb-button bb-default-action-button" ng-click="isMindbodyActivated(ddSelectServices,studioId, false)" href="">Click Here to Activate in MINDBODY</a>
                                   <p class="input-wrap-label">You will be directed to your MINDBODY account. Please login as an owner. You do not need to take any other action.</p>
                                </div>
<!--                                <div class="input-wrap">
                                    <label> Allow BrndBot to access your MINDBODY data </label>
                                   <a class="reg-button gray-button input-wrap-button" id="activationLinkDiv" href="{{activationLink}}" id="actiovationLink" target="_blank">Grant access in MINDBODY</a>
                                </div>-->
                            </div>
                        </div>
                    </div>     
                </div>
                <div class="bb-bottom-cta-bar">
                    <a class="bb-bottom-cta-continue-button" ng-class="{'bb-valid' : mindbodyContinue}"  ng-click="isMindbodyActivated(ddSelectServices,studioId, true)">
                        <div class="bb-bottom-cta-continue-button-text">Continue</div>
                        <img class="bb-bottom-cta-continue-button-arrow" src="/BrndBot/images/continue-arrow.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
