<!--    Document   : newjsp
    Created on : 1 Jun, 2016, 6:02:21 PM
    Author     : sandeep
-->
   <div class="login-flex login-page ease-all">
       <div id="browserCompatibilityPopup" class="popUp_background" ng-show="browserCompatibilityPopup">
            <div id="browserCompatibilityPopupDiv" class="popUp_backgroundlayer" ></div>
            <div  class="popUp addPopUp">
                <div class="content-area_header">
                    <a id="addactionClose" ng-click = "closeOverlay()" class="modal-pane-header-exit"></a>
                </div>
                <div class="inputSection col1of2">
                    <div class="input_Label">This application supports only Chrome browsers</div>
                </div>
            </div>
        </div>
        <div class="login-col" id="loginForm" ng-show="loginForm">
            <header>
                <object type="image/svg+xml" data="images/Logo_Standard.svg" class="login-logo"></object>
            </header>
            <form class="login-form input " id="signform"  method="POST" action="/BrndBot/login"> 
                <div class="input-wrap">
                    <div class="login">
                        <input name="username" type="email" required class="fluid" placeholder="Email"></input>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="login ">
                        <input name="password" type="password" required placeholder="Password" class="fluid"></input>
                    </div>
                </div>
                <div class="login-in-button-wrap">
                    <button type="submit">Log In</button>
                </div>
            </form>
            <div class="forgot-password-wrap">
                <a href="#/signup/resetpassword">Forgot your password?</a>
            </div>
            <div class="sign-up-button-wrap">
              <a href="/BrndBot/signup/registration">Sign Up</a>  
            </div>
        </div>
    </div>
