
        <!-- <div >
                
            <img id="logo" src="images/logo.png" class="img-responsive" width="100" height="150"> <br>
                <form class="form-horizontal" id="signform" ng-submit="resetPassword(user)" >
                        <div class="group">
                             <div class="col-md-3 col-md-offset-5">                            
                                  <p class=" MH2">Enter  your Email id</p>
                             </div>
                        </div>
                        
                        <div class="group">
                    <div class="col-md-3 col-md-offset-5">                            
                        <input id="inputemail" class=" " type="email" required ng-model="user.emailid">
                        <label>EMAIL</label><br>
                    </div>
                </div>
                <div  class="form-group">
                       <div class="col-md-5 col-md-offset-5">
                           <button type="submit" id="enter" class="button button--moema button--text-thick button--text-upper button--size-s">Enter</button><br><br>
                       </div>
                </div>
                </form>
        </div>-->


   <body class="login-page ease-all" id="signupdiv">
    <div class="login-flex">
        <div class="login-col">
            <header>
                <h3 class="forgot-pw-header">Forgot your Password?</h3>
                <p class="forgot-pw-p">No problem we can help!</p>
            </header>
            <form class="login-form input"id="signform" ng-submit="resetPassword(user)">
                <!--<label class="sign-up-text">Sign up with our free month trial</label>-->
                <div class="input-wrap">
                    <div class="login">
                        <input id="inputemail" type="email" required ng-model="user.emailid" class="fluid" placeholder="Type your Email Address"></input>
                    </div>
                </div>
            </form>
            <div class="login-in-button-wrap">
                <button ng-click="saveUser(userDetails)">Send Verification Email</button>
            </div>
            <div class="sign-up-button-wrap">
              <a href="/BrndBot/#/signin">Sign In</a>  
            </div>
        </div>