
  <link rel="stylesheet" type="text/css" href="css/general_1.css"/>
   <body class="login-page ease-all" id="signupdiv">
    <div class="login-flex">
        <div class="login-col">
            <header>
                <h1 class="forgot-pw-header">Forgot your Password?</h1>
                <p class="forgot-pw-p">No problem we can help!</p>
            </header>
            <form class="login-form input"id="signform" ng-submit="resetPassword(user)">
                <!--<label class="sign-up-text">Sign up with our free month trial</label>-->
                <div class="input-wrap">
                    <div class="login">
                        <input id="inputemail" type="email" ng-model="user.emailid" class="fluid" placeholder="Type your Email Address"></input>
                    </div>
                </div>
                <span class="validationAlert" ng-if='user.emailid === "" || null'>{{emailAddressValidation}}</span>
            <div class="login-in-button-wrap">
                <button >Send Verification Email</button>
            </div>

            </form>
            <div class="sign-up-button-wrap">
              <a href="/BrndBot/#/signin">Sign In</a>  
            </div>
        </div>
    </div>
    </body>