<style>
    .thumb{
        max-height: 100px;
        margin: auto;
    }
/*    input[type=file] {
        width: 500px;
        height: 100px;
        background: orange;
    }*/
</style>
<div class="bb-app-frame">
    <div class="bb-main-app-wrap"  ng-init="getAllServices()">
        <div class="bb-main-container-wrap">
           <div class="bb-top-nav">
                <div class="bb-bar-left-wrap bb-one-third-flex-col">
                    <a href="#/signup/datasource" class="bb-back-button"></a>
                    <h3 class="bb-top-nav-title">Create a Profile</h3>
                </div>
                <div class="bb-bar-center-wrap bb-one-third-flex-col">
                    <div class="bb-step completed">Company Details</div>
                    <div class="bb-step completed">Integrations</div>
                    <div class="bb-step current">Company Brand</div>
                </div>
                <div class="bb-bar-right-wrap bb-one-third-flex-col">
                    <div class="bb-help-icon">help icon</div>
                </div>
            </div>
            <div class="bb-main-content-wrap bb-main-content-wrap-padding bb-center-content">
                <div class="modal-pane modal-pane-width-reg">
                    <div class="modal-pane-header-wrap">
                        <h2 class="">Upload your logo</h2>
                    </div>
                    <div class="modal-pane-content-wrap">
                        <div class="onboarding-content-header-wrap">
                            <h3 class="onboarding-content-header">Please Upload a .JPEG or .PNG version of your logo.</h3>
                        </div> 
                        <div class="upload-logo-wrap">
                            <div ng-repeat="step in stepsModel">
                                <img class="thumb" src="{{step}}" />
                            </div>
                            

                            <span class="validationAlert" ng-if='myFile === "" || null '>{{logoValidation}}</span>
                            <div class="upload-logo-button-wrap">
                               
                                <label for="logoUpload" id="triggerFile" class="bb-button bb-default-action-button">Browse your files</label>
                                <input hidden="" id="logoUpload" type="file" fileread="uploadme.src" file-model="myFile" class="Add_Button Button--Gray logoUpload--button upload fileupld inputhide" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)">

                            </div>
                        </div>
                    </div>
                </div>     
            </div>
            <div class="bb-bottom-cta-bar">
                <a class="bb-bottom-cta-continue-button"  ng-click="uploadLogo(myFile)" ng-class="{'bb-valid' : myFile != null}">
                    <div class="bb-bottom-cta-continue-button-text">Continue</div>
                    
                    <img class="bb-bottom-cta-continue-button-arrow" src="/BrndBot/images/continue-arrow.svg" />
                </a>
            </div>
        </div>
    </div>
</div>