<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
    <head>

      <title>Add Franchise</title>
    </head>
    <body>
       
        <div id="addFranchisePopup" class="popUp_background" ng-show="addCompanyPopup==true">
            <div id="addFranchisePopupDiv" class="popUp_backgroundlayer" ></div>
        <div  class="popUp addPopUp">
            <div class="content-area_header">
               <div class="popUp_title fleft"> Add Company to Franchise</div>
            </div>
            <div class="inputSection col1of2">
                <div class="input_Label" ng-init="getAllNonSelectedCompanies()"></div>
                Select the company :
                <select id="company">
                    <option ng-repeat="company in nonSelectedcompanies" value="{{company.companyId}}">{{company.companyName}}</option>
                </select>

                <div id="createOrganization" class="CTA_Button Button--Gray fleft pushUp_30" ng-click="associateCompanyToFranchise()">Select the company</div>
            </div>
        </div>
        </div> 
    </body>
</html>