<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
<head>
        <link rel="shortcut icon" href="images/favicon.png"/>       
        <script type="text/javascript" src="../js/utilities/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../js/utilities/angular.min.js"></script>
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
        <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="css/admin.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
         
        <link rel="stylesheet" type="text/css" href="css/dropdown.css"/>
        <link rel="shortcut icon" href="../images/favicon.png"/> 
        <script src="../js/admin/globalimage.js" type="text/javascript"></script>
        <script src="../js/admin/organization.js" type="text/javascript"></script>
        <script src="../js/configurations.js" type="text/javascript"></script>   
        <script src="../js/admin/basejs.js" type="text/javascript"></script>
        <script src="../js/admin/alertmessage.js" type="text/javascript"></script>
        <script src="../js/admin/emailtemplate.js" type="text/javascript"></script>
        <script src="../js/admin/emailblockmodels.js" type="text/javascript"></script>
        <script src="../js/admin/assets.js" type="text/javascript"></script>
        <script src="../js/admin/recurringemail.js" type="text/javascript"></script>
         
        <script src="../js/admin/marketingprogramdetails.js" type="text/javascript"></script>
        <script src="../js/admin/allcompanies.js" type="text/javascript"></script>        
    <title>Sub Category</title>  
</head>    
<body class="body-normal" ng-app  ng-controller="organizationcontroller">
    
    <div ng-init="organizationCategoryDetails()">
     <input id="categoryIdTag" type="text" hidden value="{{categoryId}}"/>
     <input id="organizationIdTag" type="text" hidden value="{{organizationId}}"/>
     <input id="subCategoryIdTag" type="text" hidden value="{{subcategoryId}}"/>
    </div>
    <div ng-include src="'header.html'" ></div>
    <div ng-include src="'addemailtemplate.html'"></div>
     <div  ng-init="organizationdetails()">
    <div class="content-area" ng-init="getAllCategoryDetails()">
        <div class="content-area_header" ng-init="getAllSubCategories()">
            <div class="header_path fleft"> <a style="text-decoration:none;color:#3E4551;" href="/BrndBot/admin/organizationdetails?organizationId={{organizationId}}">{{organizationDetails.organizationName}}</a>  > </div>
            <div class="header_path fleft"> <a style="text-decoration:none;color:#3E4551;" href="/BrndBot/admin/emailsubcategory?organizationId={{organizationId}}&categoryId={{categoryId}}">{{categoryDetails.categoryName}}</a>  > </div>
            <div class="header_title fleft">{{subCategoryDetailsTitle.subCategoryName}}</div>
            <div class="CTA_Button Button--Blue fright" id="addTemplateButton" ng-click="getAllNonAddedEmailModelsBySubCategoryId()">Add Template</div>
            <div class="CTA_Button Button--Delete fright" ng-click="deleteSubCategory()">Delete Sub Category</div>
        </div>
        <div class="slatSection" ng-init="getEmailModelBySubCategoryId()">
            <div class="slatHeaders">
                <div class="listHeaderCol col1of2 fleft">
                    <span class="listCol_Header fleft"> Template Names </span>
                </div>
            </div>
            <ul class="slatArea">
                <li class="listItem" ng-repeat="emailModel in emailModels">
                    <div class="listCol col1of2 fleft">
                        <span class="listCol_Text fleft">{{emailModel.emailModelName}}</span>
                    </div>
                    <div class="listCol col1of4 fright" >
                        <div class="CTA_Button Button--Gray fright" ng-click="deleteSubCategoryEmailModel(emailModel.modelId)">Remove Template</div>
                    </div>
                </li>
                <li class="listItem" ng-show="emailModels==null">
                    <div class="listCol col1of2 fleft">
                        <span class="listCol_Text fleft">No Email Templates exist.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
     </div>
  
</body>
