<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
    <head>
        <link rel="shortcut icon" href="images/favicon.png"/>
        <title>BrndBot-Admin Marketing Program</title>
    </head>
   
    <div ng-include src="header.html"/>
    <body class="body-normal" ng-app  ng-controller="organizationcontroller" >        
      
        <div class="content-area" ng-init="gellAllMarketingProgramList()">
        <div class="content-area_header">
            <div class="header_path fleft"> Marketing Program </div>
            <a href="${pageContext.request.contextPath}/admin/marketingprogramdetails?add=yes"><div class="CTA_Button Button--Blue fright" id="addTemplate" >Add New Program</div></a>
        </div>
            <div class="slatSection">
            <div class="slatHeaders">
                
            </div>
            <ul class="slatArea"  ng-repeat="marketingProgramList in marketingProgramLists.slice().reverse()">
                <li class="listItem">
                    <div class="listCol col1of2 fleft">
                        <span class="listCol_Text fleft">{{marketingProgramList.marketingProgramName}}</span>   
                    </div>
                    
                    
                    <div class="listCol col1of2 fleft">
                        <a href="${pageContext.request.contextPath}/admin/marketingprogramdetails?marketingProgramId={{marketingProgramList.marketingProgramId}}"><div class="CTA_Button Button--Gray fright">VIEW/EDIT</div></a>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
  
    </body>
</html>
