<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="../js/utilities/angular.min.js"></script>
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/admin.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/basecss.css"/>
        <link rel="stylesheet" type="text/css" href="css/dropdown.css"/>
        <link rel="shortcut icon" href="../images/favicon.png"/> 
        <script src="../js/admin/globalimage.js" type="text/javascript"></script>
        <script src="../js/admin/organization.js" type="text/javascript"></script>
        <script src="../js/configurations.js" type="text/javascript"></script>   
        <script src="../js/admin/basejs.js" type="text/javascript"></script>
        <script src="../js/admin/alertmessage.js" type="text/javascript"></script>
        <script src="../js/admin/emailtemplate.js" type="text/javascript"></script>
        <script src="../js/admin/emailblockmodels.js" type="text/javascript"></script>
        <script src="../js/admin/assets.js" type="text/javascript"></script>
        <script src="../js/admin/recurringemail.js" type="text/javascript"></script>
        <script src="../js/utilities/imageToBase64Converter.js" type="text/javascript"></script>
        <script src="../js/admin/marketingprogramdetails.js" type="text/javascript"></script>
        <script src="../js/admin/allcompanies.js" type="text/javascript"></script>        
        <title>Marketing Program category</title>
        <link rel="shortcut icon" href="images/favicon.png"/>        
    </head>
<body class="body-normal" ng-app  ng-controller="organizationcontroller" >
    <div ng-init="organizationMarketingCategoryId()">
        <input id="marketingCategoryId" type="text" hidden value="{{marketingCategoryId}}"/>
        <input id="organizationIdTag" type="text" hidden value="{{organizationId}}"/>
    </div>
    <div ng-include src="'header.html'"></div>
    <div ng-include src="'addmarketingtemplate.html'"></div>
    <div class="content-area" ng-init="organizationdetails()">
        <div class="content-area_header"  ng-init="getAllMarketingCategoryById()">
            <div  class="header_path fleft"><a style="text-decoration:none;color:#3E4551;" href="/BrndBot/admin/organizationdetails?organizationId={{organizationId}}">{{organizationDetails.organizationName}}</a>  > </div>
            <div class="header_title fleft">{{marketingCategoryTitle.marketingCategoryName}}  </div>
            <div id="deleteCategoryButton" class="CTA_Button Button--Delete fright" ng-click="deleteMarketingCategory('{{marketingCategoryId}}')">Delete Category</div>
            <div class="CTA_Button Button--Blue fright" id="addMarketingTemplate" ng-click="getAllNonAddedMarketingProgram()">Add Template</div>
        </div>
        <div class="slatSection" >
            <div class="slatHeaders">
                <div class="listHeaderCol col1of2 fleft">
                    <span class="listCol_Header fleft">Template Names</span>
                </div>
            </div>
            <ul class="slatArea" ng-init="marketingProgramsById()">
                <li class="listItem" ng-repeat="getMarketingProgram in getMarketingPrograms">
                    <div class="listCol col1of2 fleft">
                        <span class="listCol_Text fleft">{{getMarketingProgram.marketingProgramName}}</span>
                        
                    </div>
                    <div class="listCol col1of4 fright">
                        <div ng-click="deleteMarketingCategoryProgram(getMarketingProgram.marketingCategoryProgramId)" class="CTA_Button Button--Gray fright">Remove Template</div>
                    </div>
                </li>
                
            </ul>
            
        </div>
        
    </div>
</html>
