<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
    <head>

      <title>Add a new category</title>
    </head>
    <body ng-app  ng-controller="organizationcontroller">
      
        <div id="addPrintCategoryPopup" class="popUp_background">
              <div id="addOrganizationPopupDivPrint" class="popUp_backgroundlayer"></div>
        <div  class="popUp">
             <div class="content-area_header">
                <div class="popUp_title fleft"> Add a new category </div>
            </div>
            <div class="inputSection col1of2">
                
                <input id="printCategory" class="input_Field" type="text" placeholder="Category Name" />
               
                
                <div id='addPrintCategory' class="CTA_Button Button--Gray fleft pushUp_30" ng-click="addPrintCategory()">Create Category</div>
            </div>
        </div>
        </div> 
    </body>
</html>
