<!DOCTYPE html>
<!--
Copyright 2015 Intbit Technologies. This software and documentation contains
confidential and proprietary information that is owned by Intbit
Technologies. Unauthorized use and distribution are strictly prohibited.
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Admin welcome page</title>
</head>
<body>
    Dear <strong>${user}</strong>, welcome to our site.</br></br></br>
    <a href="${pageContext.request.contextPath}/logout">Logout</a>
</body>
</html>
