<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
    <property name="hibernate.dialect">com.intbit.util.JsonPostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/brnd</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">brndbotpostgres2015</property>
    <mapping resource="com/intbit/marketing/model/TblMarketingProgramUsersLookup.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblColors.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblUserMarketingProgram.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblSubCategory.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblMarketingCategory.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblUserImages.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblUserPreferences.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblOrganization.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblBlocks.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblCategory.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblMarketingAction.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblBrandPersonality.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblLook.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblMarketingCategoryUsersLookup.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblBrandColorTheme.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblScheduledEntityList.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblEmailsenthistory.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblScheduledEmailList.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblScheduledSocialpostList.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblMarketingProgram.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblFontFamily.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblEmailMandrillHistory.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblModel.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblFontSize.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblScheduledEntityTypeColor.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblSocialposthistory.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblForgotPassword.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblFontStyle.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblRecuringEmailTemplate.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblBrandFontFamily.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblUserLoginDetails.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblScheduledEmailRecipients.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblScheduledTwitter.hbm.xml"/>
    <mapping resource="com/intbit/marketing/model/TblEmailDraft.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
