/* Tab Content - menucool.com */
ul.tabs1
{
    padding: 6px 0;
    font-size: 0;
    margin:0;
	width:120px;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs1 li
{
	position:relative;
    margin: 0;
    margin-right:0px; /*distance between tabs*/
	height:31px;
	width:130px;
}
        
ul.tabs1 li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 6px 16px;
	width:130px;
    border: 1px solid #CCC;
    border-bottom-color:#AAA;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) repeat-x 0 0;
    border-radius: 2px 2px 0 0;
    outline:none;
}
        
ul.tabs1 li a:visited
{
    color: #000;
}
        
ul.tabs1 li a:hover
{
    border: 1px solid #AAA;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs1 li.selected a, ul.tabs1 li.selected a:hover
{
    padding: 9px 16px 6px;
    position: relative;
    top: 0px;
	width:130px;
    font-weight:bold;
    background: white url(tabbg.gif) 0 -72px repeat-x;
    border: 1px solid #AAA;
    border-right-color: white;
}
        
        
ul.tabs1 li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
	position:absolute;
	border: 1px solid #AAA;
	padding: 30px;
	margin-left:95px;
	top:180px;
	background-color:#FFF;
	border-radius: 2px;
	left: 35px;
}
