/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Aug, 2015, 4:41:26 PM
    Author     : sandeep-kumar
*/
.simplebox {

 border: none ;
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
   box-shadow: none !important ;
  border-bottom:1px solid #757575;
  border-radius:0px; 
  
}

input{
   border: none ;
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
   box-shadow: none !important ;
  border-bottom:1px solid #757575;
  border-radius:0px; 
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus         { outline:none; }

/* ----------------LABEL -------------------- */
label                {
  color:#999; 
  font-size:13px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:10px;
  transition:1s ease all; 
  -moz-transition:1s ease all; 
  -webkit-transition:1s ease all;
}

/* active state */
#name:focus ~ label, #name:valid ~ label        {
  left:-70px;
  font-size:13px;
  color:#999;
}
#subject:focus ~ label, #subject:valid ~ label        {
  left:-45px;
  font-size:13px;
  color:#999;
}
#formaddress:focus ~ label, #formaddress:valid ~ label        {
  left:-90px;
  font-size:13px;
  color:#999;
}
#toaddress:focus ~ label, #toaddress:valid ~ label        {
  left:-70px;
  font-size:13px;
  color:#999;
}
#email:focus ~ label, #email:valid ~ label        {
  left:-100px;
  font-size:13px;
  color:#999;
}

#text1{
    margin-top: 50px;
    font-size: 18px;   
}
#text2{
    color: #999;
}
#emailform{
    margin-top: 70px;
}
/*.imagediv{
    position: relative;
    margin-top: 110px;
    width: 300px;
    height: 500px;
    background-image: url('../images/iphone 6 screen.png');
    background-repeat: no-repeat; 
    -webkit-background-size: contain;
}*/