/*!
By Satyajit Roy form http://www.intbittech.com
*/
            #tab2,#tab3,#tab4
            {
                display:none;
            }
            #deleteSelected
            {
                cursor: pointer;
            }
            .hide{
                display:none;
            }
           .brdr{ 
                text-align:left;
                border:none;
                border-bottom:1px solid #7ab5d3;
           }
            .emlhisdata li{
                display: table-cell;
                position: relative;
                left:58em;
                bottom:0px;
                top:-70px;
            }
            .button--moema {
                padding: 1.5em 0.8em;
                padding-right: 1em;
                border-radius: 5px;
                background: #5CC1A3;
                color: #fff;
            }
            .emlist {
                position: relative;
                width:200px;
                left:-50px;
                font-family: "proxima-nova",sans-serif;
                font-weight: 300;
                color: #2d4355;
                font-style: normal;
                text-align: left;
                line-height: 25.9px;
                letter-spacing: 0em;
            }
            .delsel li{
                font-family: "proxima-nova",sans-serif;
                color: #2d4355;
                position: relative;
                top:-60px;
                display: table-cell;
                padding: 3px;
                width: 250px; 
            }
            
            
            .emlOneRowDatalst li{
                font-family: "proxima-nova",sans-serif;
                color: #2d4355;
                position: relative;
                top:-70px;
                height: 10%;
                display: table-cell;
                padding: 3px;
                width: 250px;
            }
            .emlOneRowDatalst button{
                font-family: "proxima-nova",sans-serif;
                color: #2d4355;
                width:100px;    
                background-color: transparent;
                border:1px #000 solid;
                border-radius: 5px;   
                position:relative;
                display: table-cell;
            }
            #datadiv{
                margin-top:120px;
            }

            .header1{
                font-size: 28px;
            }
            .hideinputborder{
                background-color:transparent;
                border: 0px solid;
                height:50px;
                width:450px;
                font-size: 35px;
            }
            .hideinputborder:focus{
                outline: none;
            }
            .hideinputEmailId{
                background-color:transparent;
                border: 0px solid;
                height:50px;
                width:250px;
                margin-left: 150px;
                font-size: 18px;
            }
            .hideinputEmailId{
                outline: none;
            }
            #chooseEmailList {
                background-color: #e4e4e4;
                border: 1px solid #DADADA;
                height:50px;
                width:250px;
                font-size: 18px;
                border-radius: 10px;
            }
            #chooseEmailId:focus{
                outline: none;
            }
            #textArea{
                width: 400px;
                height : 300px;
                background-color: #e4e4e4;
            }
            .btn-primary{
                border-radius: 13px;
                position: relative;
                width: 150px;
                background-color: #00A37A;
                border-color: #00A37A;
                bottom: 10px;
            }
            .fileUpload {
                position: relative;
                overflow: hidden;
                margin: 10px;
            }
            .fileUpload input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        