.firstcol{
    margin: 51px 40.3px 48px 57px;
}
.secondcol{
    margin: 51px 40.3px 48px 42.7px;
}
.borderright{
    border-right: 2px solid #979797;
}
.headtitle{
}
.headdelete{
    margin-left:40px;
    margin-top:5px;
}
.inlineFlex
{
    display:inline-flex;
    width:100%;
}
.left{
    margin-left:57px;
    width: 100%;
}
.left1
{
    margin-left:47px;
    width: 100%;
}
.rightthirty{
    margin-right:30px;
}
.rightfive{
    margin-right:5px;
}
right223
{
    margin-right:223.7px;
}
.toptwo{
    margin-top:2px;
}
.topfive{
    margin-top:5px;
}
.topsix{
    margin-top:6px;
}
.topnine{
    margin-top:9px;
}
.topten{
    margin-top:10px;
}
.top10nhalf{
    margin-top:10.5px;
}
.top12
{
    margin-top:12px;
}
.topnineteen{
    margin-top:19px;
}
.top111{
    margin-top:111px;
}
.toptweenty{
    margin-top:20px;
}
.top20nhalf
{
    margin-top: 20.5px;
}
.toptweentyone{
    margin-top:21px;
}
.toptweentyfive{
    margin-top: 25px;
}
.top27{
    margin-top: 27px;
}
.topthirty{
    margin-top:30px;
}
.top32{
    margin-top:32px;
}
.topthirty8{
    margin-top:38px;
}
.topfourty{
    margin-top:40px;
}
.topsixeight{
    margin-top:68px;
}
.top120
{
    margin-top:120px;
}
.tenpix
{
    font-size: 10px;
}
.twlvpix
{
    font-size: 12px;
}
.sixtnpix
{
    font-size: 16px;
}
.headcolor{
    color: #2d4355;
}
.titlecontain{
    color:#19587c;
}
.containe{
    color:#3f3f42;
}
.half{
    width:50%;
}
.scrolly{
    overflow-y:scroll;
}
.height75{
    height:75px;
}
.greenDot{
    height:10px;
    width:10px;
    background-color:#5cc2a5;
    border-radius: 50%;
}
.redDot{
    height:10px;
    width:10px;
    background-color:#f27821;
    border-radius: 50%;
}
.buttonmargin{
    margin:0px !important;
}
.editbuttonwidthheightcolor{
    width:103px;
    height:25px;
    background-color:#e3e3e3 !important;
    color: #3f3f42 !important;
    font-size: 12px !important;
}
.approvebuttonwidthheightcolor{
    width:126px;
    height:25px;
    background-color:#e3e3e3 !important;
    color: #3f3f42 !important;
    font-size: 12px !important;
}
.button.approvebuttonwidthheightcolor.buttonmargin.button--moema.button--text-thick.button--text-upper.fontpns {
    width: 165px !important;
}
.fbimg{
    height:124px;
    width:260px;
    border: 1px solid #979797;
}
.mailimg{
    height:306px;
    width:260px;
    border: 1px solid #979797;
}
.actionmainviv
{
    margin-bottom: 48px;
    margin-left: 47px;
    margin-right: 28px;
    margin-top: 51px;
}
 #dvPriorityDialog, #dvFastingDialog {
    position:fixed;
    height:100%;
    background:#ffffff;
    width:424px;
    right:0px;
    margin-right: -424px;
    border: 1px solid #ccc;
    z-index: 1005;
}
.circle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b2b2b2;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    height: 80px;
    width: 80px;
    margin-left: 57px;
    margin-top: 10px
}
.rectangle {
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    height: 106px;
    margin-bottom: 24px;
    margin-left: 50px;
    margin-top: 23px;
    width: 200px;
}
.createPostbuttonwidthheightcolor
{
    background-color: #e3e3e3 !important;
    color: #3f3f42 !important;
    font-size: 12px !important;
    height: 25px;
    width: 138px;
}
   .actiondetinput{
                border-color:#e3e3e3 !important;  
                border-radius:1px;
                width:100% !important;
                height:50px !important;
                background-color: #f6f7f7;
                color:#19587c !important;
                font-size: 16px;
                padding:5px 5px 5px 5px;
                resize:none;
                overflow: hidden;
            }
            .actiondetdesc{
                border-color:#e3e3e3 !important;  
                border-radius:1px;
                width:100% !important;
                height:85px !important;
                background-color: #f6f7f7;
                color:#3f3f42 !important;
                font-size: 12px;
                padding:5px 5px 5px 5px;
                resize:none;
                overflow-x: hidden;
                overflow-y: scroll;
            }
            .postto{
                color:#2d4355 !important;
            }
            .emailsavebtn{
                width:103px;
                height:25px;
                margin:0px !important;
                color:#f6f7f7;
                font-size: 12px;
                padding:5px 38px 5px 32px;
            }
            .posttextemail{
                overflow-x: hidden;
                overflow-y:scroll;
                height: 62px;
            }
#create_Post {
    margin-left: 78px !important;
}
#fbremovedtemplate, #twremovedtemplate, #mailremovedtemplate{
    display:none;
}
