/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Jul, 2015, 4:45:04 PM
    Author     : sandeep-kumar
*/

.glyphicon.glyphicon-home,.glyphicon.glyphicon-envelope,.glyphicon.glyphicon-comment, .glyphicon.glyphicon-picture, .glyphicon.glyphicon-cog, .glyphicon.glyphicon-edit{
    font-size:20px;
    position: relative;
    left:-15px;
    padding: 7px;
}
#logoimage{
    position: relative;
    left: 105px;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -65px;
    left: 60px;
    width: 80px;
    background: #384656;
    position: fixed;
    height: 100%;
    z-index: 10000;
    overflow-y: auto;
    transition: all .4s ease 0s;
}

#sidebar-wrapper1 {
    margin-left: -150px;
    right:  0px;
    width: 70px;
    background: #F4F0F8;
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}



.sidebar-nav {
    display: block;
    float: left;
    width: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0px;
    margin-left: 60px;
    margin-right: 40px;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 70px;
}
.navbar-default {
    background-color: #384656;
    border-color: #384656;
    position: absolute;
    left:4px;
}

.hamburger,.cross{
    margin-left: 10px;
    
}
.logo{
    margin-left: 5px;
}


.menu li p{
    margin-left: 5px;
}
.menu a{
    position: relative;
    margin-top: 0px;
}

.sidebar-nav li {
    line-height: 10px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #000000;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

