/* 
    Created on : 1 Aug, 2015, 11:39:04 AM
    Author     : Satyajit Roy At IntBit Technologies
*/

.firstcol{
    margin: 51px 40.3px 48px 57px;
}
.secondcol{
    margin: 51px 40.3px 48px 42.7px;
}
.borderright{
    border-right: 2px solid #979797;
}
.headtitle{
}
.headdelete{
    margin-left:40px;
    margin-top:5px;
}
.inlineFlex
{
    display:inline-flex;
    width:100%;
}
.left{
    margin-left:57px;
    width: 100%;
}
.left1
{
    margin-left:47px;
    width: 100%;
}
.rightthirty{
    margin-right:30px;
}
.rightfive{
    margin-right:5px;
}
.right223
{
    margin-right:223.7px;
}

.firstcol{
    margin: 51px 40.3px 48px 57px;
}
.secondcol{
    margin: 51px 40.3px 48px 42.7px;
}
.borderright{
    border-right: 2px solid #979797;
}
.headtitle{
}
.headdelete{
    margin-left:40px;
    margin-top:5px;
}
.inlineFlex
{
    display:inline-flex;
    width:100%;
}
.left{
    margin-left:57px;
    width: 100%;
}
.left1
{
    margin-left:47px;
    width: 100%;
}
.rightthirty{
    margin-right:30px;
}
.rightfive{
    margin-right:5px;
}
.right223
{
    margin-right:223.7px;
}

.toptwo{
    margin-top:2px;
}
.topfive{
    margin-top:5px;
}
.topsix{
    margin-top:6px;
}
.top8{
    margin-top:8.8px;
}
.topnine{
    margin-top:9px;
}
.topten{
    margin-top:10px;
}
.top10nhalf{
    margin-top:10.5px;
}
.top12
{
    margin-top:12px;
}
.top11
{
    margin-top:11px;
}
.top18
{
    margin-top:18px;
}
.topnineteen{
    margin-top:19px;
}
.top111{
    margin-top:111px;
}
.top19{
    margin-top:19px;
}
.toptweenty{
    margin-top:20px;
}
.top20nhalf
{
    margin-top: 20.5px;
}
.toptweentyone{
    margin-top:21px;
}
.toptweentyfive{
    margin-top: 25px;
}
.top26{
    margin-top: 26.3px;
}
.top27{
    margin-top: 27px;
}
.topthirty{
    margin-top:30px;
}
.top32{
    margin-top:32px;
}
.topthirty7{
    margin-top:37px;
}
.topthirty8{
    margin-top:38px;
}
.topfourty{
    margin-top:40px;
}
.top58{
    margin-top:58.3px;
    padding-bottom: 48px !important;
}
.topsixeight{
    margin-top:68px;
}
.top80{
    margin-top:80.3px !important;
}
.top120
{
    margin-top:120px;
}
.tenpix
{
    font-size: 10px;
}
.twlvpix
{
    font-size: 12px;
}
.sixtnpix
{
    font-size: 16px;
}
.headcolor{
    color: #2d4355;
}
.titlecontain{
    color:#19587c;
}
.containe{
    color:#3f3f42;
}
.half{
    width:50%;
}
.half1{
    width:25%;
}

.scrolly{
    overflow-y:auto;
}
.height75{
    height:75px;
}
/*.black_overlay{
    display: none;
    position:  fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #3D5368 !important;
    z-index:99999 !important;
    -moz-opacity: 0.9;
    opacity:.9 !important;
    filter: alpha(opacity=80);
}*/
.input-field-textfield1 {
    height: 30px;
    background-color: #F9F9F9;
    border: 1px solid #d5dadf;
    padding: 6px 10px 3px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    color: #000000;
    width:100%;
}         

.width75{
    width:75% !important;
}
    
.black_overlay1{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 120%;
    background-color: #3D5368 !important;
    z-index:99999 !important;
    -moz-opacity: 0.8;
    opacity:.9 !important;
    filter: alpha(opacity=80);
}  
.full{
    width:100%;
    height: 32px !important;
}         
.full99{
    width:99%;
    height: 32px !important;
}
.full88{
    width:88%;
    height: 32px !important;
}
.fulltextarea {
    width: 100%;
    height: 70px !important;
}
.percentage99
{
    width:99%;
}
.time_pick {
    left: 1px;
    width:200%;
}
.claro1{
    overflow: none !important;
}
 #actiontype{
    background-color: #f6f7f7 !important;
    border-radius: 3px;
    border-color:#e3e3e3;
    height:25px;
    //width:120px;
    font-size: 12px;
    appearance: none;
    -moz-appearance: none;
    background-image: url("images/dropdown.png"), none;
}
#marketing_program {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #f6f7f7 !important;
    border-color: #e3e3e3;
    border-radius: 3px;
    font-size: 12px;
    height: 25px;
    //width: 120px;
    resize:none;
}
#addactionClose{
    cursor: pointer;
}
#addAction
{
    display: none;
    position: fixed;
    z-index: 999999;
    margin-left: 27%;
}
img.exit-button {
    width: 25px;
    margin-left: -6px;
}
#facebooksection{
    position: fixed;
    z-index: 999999;
    height: 100%;
    /*overflow-y: auto;*/
    max-height: 100%;
    width: 900px;
    right: 0px;
    margin-right: -900px;
}
#twittersection{
    position: fixed;
    z-index: 999999;
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    width: 900px;
    right: 0px;
    margin-right: -900px;
}
#emailsection{
    //display: none;
    position: fixed;
    z-index: 999999;
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    width: 900px;
    right: 0px;
    margin-right: -900px;
}
#recuringPopup{
    //display: none;
    position: fixed;
    z-index: 999999;
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    width: 900px;
    right: 0px;
    margin-right: -900px;
}
#slider-button
{
    position:fixed;
    width:38px;
    height:50px;
    right:0px;
    background:transparent;
    top: 0px;

}
.input-field-container.col-1of1{
    z-index: 0;
}
.timepicker_wrap{
    z-index: 5;
}
.pop-up-container.pop-up-container-newaction
{
    z-index: 0;
}
///////////////////////////////////////////////// latest end ////////////////////////////////            
#popup
{
    position: fixed;
    width: auto;
    height:300px;
    top: 30%;
    left: 50%;
    margin-left:-155px;
    margin-top:-110px;
    border:5px solid #686868 ;
    background-color:#CDCDFF;
    padding:30px;
    z-index:102;
    font-family:Verdana;
    font-size:10pt;
    border-radius:10px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    font-weight:bold;
    overflow: auto;
}
#content
{
    height:auto;
    width:300px;
    height:500px;
    margin:5px auto;
}
#popupclose
{
    margin:35px 0 0 80px;
    width:50px;
}
@media screen and (min-width: 480px) {
    head {
        background-color: lightgreen;
    }
}
/*-------------------------------------------- emaillist popup -------------------------------*/


#fade
{
    display: none;
    position:  fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #3D5368 !important;
    z-index:99999 !important;
    -moz-opacity: 0.9;
    opacity:.9 !important;
    filter: alpha(opacity=80);
}
.savebutton {
    margin-left: 86%;
    margin-top: 1%;
    width:130px;
}
.removebutton {
    margin-left: 81%;
    margin-top: 1%;
    width: 179px;
}
#facebookaction,#facebookpost,#facebooknote
{
    cursor: pointer;
}
#facebookpostsection,#facebooknotesection,#fbpostremove,#fbnotesave
{
    display:none;
}
#twitterpostsection,#twitternotesection,#twpostremove,#twnotesave
{
    display:none;
}
#emailpostsection,#emailnotesection,#emailpostremove,#emailnotesave
{
    display:none;
}

::-webkit-scrollbar {
    display: none !important;
}

/*--------------------------------------------------------------------------------------------*/

.datepickertextbox
{
    height: 30px;
    background-color: #F9F9F9;
    border: 1px solid #d5dadf;
    padding: 6px 10px 3px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    color: #000000;
    width: 75%;
}
.timepickertextbox
{
    height: 30px;
    background-color: #F9F9F9;
    border: 1px solid #d5dadf;
    padding: 6px 10px 3px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    color: #000000;
    width: 75%;
}
input#timepicker1 {
    width: 53%;
}

#addContact {
    position: fixed;
    display: none;
    z-index: 99999;
    left: 30%;
}
.algn{
    margin-left: -42px;
    padding-top: 7px;
}
.noborder{
    border:none;
}
#imageGalleryDiv
{
    position: fixed;
    display: none;
    z-index: 99999;
    left: 10%;
    margin-top: 4%;
    width: 79%;
}
#imageUploadDiv2
{
    position: fixed;
    display: none;
    z-index: 1000002;
    left: 34%;
}
.galleryImge{
    width: 100%;
    background-color: #ffffff;
    cursor: pointer;
}
.top-nav1
{
    top: 0;
    /* width: 100%; */
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
}
.galCard-content.col-1of1 {
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    margin: 5px;
}
.gallery-page-content-container.fleft {
    height: 500px;
    overflow: auto;
}
.space-right
{
    margin-left: 36%;
}
#addimage{
    display: none;
}
#fileuploaddiv {
    display: none;
    z-index: 100000;
    position: fixed;
    padding-left: 13%;
    padding-top: 4%;
    width:79%
}
#fade1
{
    display: none;
}
#closefileuploadpopup {
    margin-left: 160.5%;
    margin-top: 6%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    filter: alpha(opacity=0);
}
.file-input{
    width: 100%;
    margin-left: 0px;
    opacity: 0;
    margin-top: -27px;
}
/*.imageGallery-card:hover
{
    border: 2px solid #64B6EE;
    bottom: -3px;
}*/
.blueborder
{
    border: 2px solid #64B6EE;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
}
.greyborder{
    border: solid 1px #D5DADF;
}
.bottom-margin{
    margin-bottom: 3px;
}
#upload{
    cursor:pointer;
}
#linkpopup {
    display: none;
    z-index: 100000;
    position: fixed;
    padding-left: 24%;
    padding-top: 1%;
    width:50%
}
#submitLink
{
    cursor: pointer;
}
#twittertext {
    width: 98%;
    padding-top: 10px;
    height: 60px;
}
#postpopup {
    display: none;
    z-index: 100000;
    position: fixed;
    padding-left: 24%;
    padding-top: 1%;
    width:50%
}
#sendpopup
{
    display: none;
    z-index: 100000;
    position: fixed;
    padding-left: 24%;
    padding-top: 1%;
    width:50%
}
#schedulepopup {
    display: none;
    z-index: 100000;
    position: fixed;
    padding-left: 24%;
    padding-top: 1%;
    width:50%;
    height:200px;
}
.pop-up-container.pop-up-container-newaction1 {
    z-index: 0;
    height: 500px;
}
.pop-up-cta-container-newaction1 {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -2px;
    width: 100.6%;
    /* height: 45px; */
    box-sizing: border-box;
    background-color: #64B6EE;
}
.pop-up-cta-button-full1 {
    width: 100%;
    box-sizing: border-box;
    background-color: #64B6EE;
    text-align: center;
    color: #FFF;
    padding-top: 14px;
}
#leftalign
{
    margin-left: 15%;
}

/*-------------------------------------------- After marge by Satyajit Roy ------------------------------------------------*/
select#dropdownurl,#url {
    color: #3b3b4b;
}
#addActionemllist{
    display: block;
    position: fixed;
    z-index: 99999;
    margin-left: 30%;
}
#emaildraftpopup{
    //display: none;
    position: fixed;
    z-index: 999999;
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    width: 900px;
    right: 0px;
    margin-right: -900px;
}
#draftshow {
    position: relative;
    top: 0px;
    font-family: "proxima-nova";
    font-weight: 500;
    left: 10em;
    float: left;
    color: #2D4444;
}
.top-navbar_draft{
    background-color: #FFFFFF;
    height: 60px;
    border-bottom: 1px solid #E9EAEE;
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
}
/*--------------------------------------------- satyajit start 5/01/2016-----------------------------------------------*/
.fileupld{
    opacity: 0;
    margin-top: -26px;
    width: 100%;
}
.width38{
    width:38% !important;
}
img#prevfbimg {
    width: 100%;
}
.bottom-cta-bar5 {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #F9FAFC;
    height: 0px;
    border-top: 1px solid #D9D9D9;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}
.fields-note-detail5 {
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    float: left;
    padding-top: 35px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 105px;
}
.edit-button-detail.md-button.button-text-1.fleft {
    margin-left: 84%;
    width: 150px;
}
.mouseclk{
    background-color: #F9F9F9;
}
.mouseunclk{
     background-color: #FFFFFF;
}
#mousef{
    cursor:pointer;
}
#mouset{
    cursor:pointer;
}
#mousef:hover{
    background-color: #F9F9F9;
}
#mouset:hover{
    background-color: #F9F9F9;
}
#link,#link_title,#link_description,#Linkurl,#removeLink,#editLink{
    display:none;
}
a#removeLink {
    margin-left: 14px;
}
.editImage {
    background-color: lightgrey;
    width: 200px;
    position: fixed;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 80px;
    margin-left: 265px;
    margin-right: auto;
    color: white;
    cursor: pointer;
    opacity: .9;
}
.changeImage1 {
    background-color: lightgrey;
    width: 200px;
    position: fixed;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 110px;
    margin-left: 36px;
    margin-right: auto;
    color: white;
    cursor: pointer;
    opacity: .9;
}
.feditImage {
    background-color: lightgrey;
    width: 200px;
    position: fixed;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 110px;
    margin-left: 258px;
    margin-right: auto;
    color: white;
    cursor: pointer;
    opacity: .9;
}
.fchangeImage1 {
    background-color: lightgrey;
    width: 200px;
    position: fixed;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 110px;
    margin-left: 33px;
    margin-right: auto;
    color: white;
    cursor: pointer;
    opacity: .9;
}
#recuringtemplatediv,#recuringnotediv,#avpw_main_overlay,#avpw_main_frames,#avpw_main_resize,#avpw_main_orientation,#avpw_main_saturation,#avpw_main_focus,#avpw_main_brightness,#avpw_main_contrast{
    display:none;
}
.avpw_scroll_page.avpw_scroll_page_incomplete {
    display: none;
}
a#avpw_rghtArrow,#avpw_lftArrow {
    display: none !important;
}
.Twitter-preview-image1 {
    width: 100%;
}
.input-field-textfield1 {
    height: 30px;
    background-color: #F9F9F9;
    border: 1px solid #d5dadf;
    padding: 0px -1px 0px 0px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    /* color: #cccccc; */
    color: #000000;
}
.width45
{
    width:45%;
}
.timepickertextbox2 {
    height: 30px;
    background-color: #F9F9F9;
    border: 1px solid #d5dadf;
    padding: 6px 10px 3px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    color: #000000;
    width: 38%;
}
#endMarketingProgram:hover{
    color:#ffffff;
    background-color: #F44E4E;
}
input#schedule_social_time {
    width: 57%;
}
#notediv{
    position: fixed;
    z-index: 999999;
    height: 100%;
    /*overflow-y: auto;*/
    max-height: 100%;
    width: 900px;
    right: 0px;
    margin-right: -900px;
}
#savedreminderdiv{
    display: none;
}
/*--------------------------------------------- satyajit end code-----------------------------------------------*/
