/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2015, 8:46:56 PM
    Author     : development
*/
.container{
    background: snow;
    font-size: large;
}

#signupdiv{
    position: relative;
   top:100px; 
   background:whitesmoke;
   
}
#signupformheading{
    text-align: center;
}