/* Main body and Navigation */

.main{
    font-family: proximanova, opensans;
    box-sizing: border-box;
}

.mainPage{
    max-width: 100%;
    overflow-x: hidden;
    padding-left:70px;
    background-color: #F6F4F5 ;
    margin:0;
    box-sizing: border-box !important;
}
    
.navigation{
    display: block;
    position: fixed;
    left: 0;
    border-right: 1px #EEEEEE solid;
    background-color: #2D4355 ;
    width: 70px;
    height:100%;
}


.main-nav-logo{
    height: 70px;
}

.nav-tabs{ 
    display: block;
    height: 54px;
    line-height: 53px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.nav-elements-selected{ 
    
}

.nav-elements-icon{ 
    border-top: 1px solid #282c32;
    display: block;
    height: 54px;
    line-height: 53px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float:left;
    
}
.content{ 
    disply: block;
}
/* Fonts */

.top-nav-maintitle{
 font-size:20px;
 color: #3F3F42;
}

/* Top Bar */

    

    
 .number-card{
    margin-top: 30px;
    margin-right:3%;
    padding-bottom: 60px;
    border: 1px solid #d5dadf;
    width:30%;
    box-sizing: border-box;
    border-radius: 3px;
     float:left;
}

.top-navbar{
    background-color: #FFFFFF;
    height:70px;
    border-bottom: 1px solid #d5dadf;
    display: block;
}

.top-navbar-inner{
    padding:20px 15px 20px 15px;
    display: block;
    float: left;
    line-height: 120%;
    width:95%;
     box-sizing: border-box;
}

    .dashboardHeader{
        float:left;
        margin-top:6px;
    }
    

    
.top-navbar-button{
    margin:auto;
    display:block;
    float: right;
}

.backbutton {
    width:5%;
    min-width:40px;
    max-width:60px;
    background-color: #0F76A6 ;
    float:left;
    display: block;
    height: 70px;
    position: relative;
    padding-top:25px;
    box-sizing: border-box;
    
}

.top-subnav{
    background-color: #FFFFFF;
    height:50px;
    padding-right:60px;
    padding-left: 60px;
    border-bottom: 1px solid #d5dadf;
    box-sizing: border-box;

}

.top-subnav-links{
    margin-right:30px;
    list-style: none;
    display: block;
    float: left;
    border-bottom: 0px #0F76A6 solid;
    border-top: 0px;
    height:50px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-weight: 600;
    box-sizing: border-box;
}
    
.top-subnav-link-active{
    margin-right:30px;
    list-style: none;
    display: block;
    float: left;
    border-bottom: 3px #0F76A6 solid;
    border-top: 0px;
    height:50px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-weight: 600;
    box-sizing: border-box;
}
    


.brndfont-icon{
    margin-left:15px;
    line-height: 100%;
    color: white;
}

.page-content {
    background-color: #F6F4F5;
    box-sizing: border-box;
}

.main-content {
   width:100%;
    box-sizing: border-box;
}

.main-content-header {
    background-color: #F6F4F5;
    width: 100%;
    margin-top:60px;
    box-sizing: border-box;
    display: block;
    float: left;
}

.top-subnav-nav {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}


.lg-button {
    background-color: #5CC2A5 ;
    padding: auto;
    border-radius: 3px;
    text-align: center;
     
    
    
}
    
.lg-button-notCTA {
    background-color: #d5dadf ;
    padding: 7px 16px 7px 16px;
    border-radius: 3px;
    
    
}
    
.button-text{
    font-family: proxima-nova, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 13px;
    margin: auto;
    
}
    

.h2 {
    font-size: 20px;
    
}

.h2-active {
    font-size:20px;
    color: #0F76A6;
}

.h1 {
    font-size: 24px;
    color: #3F3F42 ;
    
}

.h3 {
    font-size: 16px;
    color: #3F3F42 ;
    
}

.h3-active {
    font-size: 16px;
    color: #0F76A6 ;
    
}
    

    
    


    .dropdown{
    background-color: #F7F7F7  ;
    padding: 7px 16px 7px 16px;
    border: 1px #979797 solid;
    border-radius: 3px;
    float: left;
    display: block;
    width:135px;
    height: 30px;
    margin-top: 2px;
    box-sizing: border-box;
        
        
    }
    
    .main-content-title{
    margin-right:30px;
    box-sizing: border-box;
    display: block;
        float: left;
        
        
    }
    
    .inner-content-section{
    margin-top: 30px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 60px;
    border: 1px solid #d5dadf;
    width:100%;
    box-sizing: border-box;
    background-color: white;
        float: left;
        border-radius: 3px;
    
    

}
    
.inner-content-header{
    list-style: none;
    margin-top: 30px;
    margin-left: 80px;
    float:left;
    
}

.list-header-label{
    font-size: 14px;
    font-weight: 600;
    color: #8A8F98 ;
}

.list-header-first{
    width:350px;
    height:100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    float:left;
}

.list-header-second{
    width:135px;
      height:100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    float:left;
    text-align: center;
}

.list-header-last{
    width:170px;
      height:100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    float:left;
    text-align: center;
}
    


    .list-container{
        list-style: none;
        border-bottom: 1px solid #d5dadf;
        float: left;
        width:100%;
        padding:0;
        box-sizing: border-box;
        margin:0;
        height:85px;
    
    }
    
.edit-button{
    float: left;
    font-size: 14px;
    color: #d5dadf;
    display: block;
    margin-left:15px;
    margin-top: 6px;
    clear: right;
}
    
.list-selection{
    width:80px;
    float: left;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:28px;
    box-sizing: border-box;
    position: relative;
    left: 0;
    
}

.list-item{
    padding:0;
}

.list-selection-icon{
    width: 15px;
    height: 15px;
    border: 1px #d5dadf solid;
    border-radius: 3px;
    float: left;
    margin: auto;
    
}
    
.mp-list-title{
    width:500px;
    height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    float:left;
}
    
.mpaction-list-title-section{
       width:30%;
    height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    float:left;
    min-width:300px;
}

.mp-list-action{
    width:170px;
    height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    float:left;
}

.mp-list-date{
    width:135px;
    height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    float:left;
}

.mp-list-font{
    font-family: sans-serif;
    color: #3F3F42;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}
    
.mp-list-title-font{
    font-family: sans-serif;
    color: #3F3F42;
    font-weight: 600;
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
    float:left;
    width:100%;
}
    
.mp-list-title-description{
    font-family: sans-serif;
    color: #3F3F42;
    font-weight: 400;
    text-align: left;
    font-size: 12px;
    margin-top: 8px;
    float:left;
}
   
    
.mp-list-manage-button {
    width:135px;
    height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    float:left;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
    color: #0F76A6;
    
    
}
    
.main-content-button{
    background-color: #5CC2A5  ;
    padding: 7px 16px 7px 16px;
    border-radius: 3px;
    float: right;
    display: block;
    width:auto;
    height: 30px;
    margin-top: 2px;
    box-sizing: border-box;
        
        
    }
    
.overview-content{
    margin-top: 15px;
    float:left;
    clear: left;
    width:100%;
}
    

.list-item{
font-family: sans-serif;
    color: #3F3F42;
    font-weight: 600;
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
    float:left;
    width:100%;
}


.list-sub-item{
     font-family: sans-serif;
    color: #3F3F42;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    float:right;
}

.list-item-button{
     font-family: sans-serif;
    color: #3F3F42;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.list-sub-element-container{
    width:60%;
    height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    min-width:400px;
    float:right;
    
}

.topnav-title-nobackbutton{
    margin-right: 80px;
}

.hub-dropdown{
    width:120px;
    height:100%;
    background-color: #0F76A6;
    float:left;
    list-style: none;
    
}