/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2015, 11:36:22 AM
    Author     : Syed Akmal at IntBit Technologies.
*/

.markprog{
    margin-left:0px;
    margin-top:82.3px;
    /*width:422px;*/
    height:24px;
    font-size:20px;
    color:#3f3f42;
}
.marksubline{
    margin-left:0px;
    margin-top:5.7px;
    width:564px;
    height:30px;
    font-size:12px;
    color:#6d6d74;
}
.inputname{
    margin-left:0px;
    margin-top:25px;
}
.subinput{ 
    width:538px;
    height:30px;
    border-radius: 5px;
    border:1px #e3e3e3; 
    background-color: #f6f6f6 !important;
    font-size:14px !important;
    color:#3f3f42;  
    padding:7px 14.5px 6px 14.5px;
    
}
.padlft{
    margin-left: -15px !important;
}
.datevent{
    margin-left:0px;
    margin-top:60.3px;
    /*width:298px;*/
    height:24px;
    font-size:20px;
    color:#3f3f42;
}
.datepara{
    margin-left:0px;
    margin-top:5.7px;
    width:344px;
    height:30px;
    font-size:12px;
    color:#6d6d74;
}
.worklink{
    margin-left:0px;
    margin-top:59.1px;
    /*width:246px;*/
    height:24px;
    font-size:20px;
    color:#3f3f42;
}
.workpara{
    margin-left:0px;
    margin-top:5.7px;
    width:344px;
    height:30px;
    font-size:12px;
    color:#6d6d74;
}
.subinputdate{
    border-radius: 5px;
    border:1px #e3e3e3; 
    background-color: #f6f6f6 !important;
    font-size:14px !important;
    color:#3f3f42;  
    width:107px;
    height: 17px;
    padding:7px 416.5px 7px 6px;
    
}
.subinputlink{
    border-radius: 5px;
    border:1px #e3e3e3; 
    background-color: #f6f6f6 !important;
    font-size:14px !important;
    color:#3f3f42; 
    width:344px;
    height:30px;
    padding:7px 14.5px 6px 14.5px ;
    
}
.inputday{
    margin-left:0px;
    margin-top:25px;
      
    width:149px;
}
.subinputday{
    border-radius: 5px;
    border:1px #e3e3e3; 
    background-color: #f6f6f6 !important;
    font-size:14px !important;
    color:#3f3f42;
    height:30px;
    padding:7px 14.5px 6px 14.5px;
}
.inputmonth{
    margin-left:5px;
    margin-top:25px;
}
.subinputmonth{
    border-radius: 5px;
    border:1px #e3e3e3; 
    background-color: #f6f6f6 !important;
    font-size:14px !important;
    color:#3f3f42;  
    width:149px;
    height:30px;
    padding:7px 14.5px  6px 14.5px;
}
.inputlink{
    margin-left:0px;
    margin-top:25px;
}
.subcont{
    margin-left:0px !important;
    margin-top:145.6px !important;
    width:103px !important;
    height:25px !important; 
    padding:5px 38px 5px 28px !important;
}
/*p.LE2{
                    color: #95969A;
    }*/
@media screen and (max-width: 990px){
.headposition{
    margin-top: 17%;
    margin-bottom: 7%;
    
}
.subjbottom{
        margin-bottom: 10%;
}
.subjectinput{
    max-width:80% !important;
    margin-bottom: 10%;
}
.subjectinputdate{
    max-width:70% !important;
    margin-bottom: 10%;
}
 }
 @media screen and (min-width: 990px){
     .subjbottom{
        margin-bottom: 5%;
    }
    .a{
        margin-top:10%;
    }
    
    .b{
        margin-top:0%;
    }
     .subjectinput{
    max-width:80%;
    margin-bottom: 10%;
}
.headposition{
    margin-top: 10%;
    margin-bottom: 5%;
}
.subjectinputdate{
    max-width:70% !important;
    margin-bottom: 10%;
}
 }
 @media screen and (max-width: 767px){
   .headposition{
    margin-top: 17%;
    margin-bottom: 5%;
}  
.subjectinputdate{
    max-width:100% !important;
    margin-bottom: 10%;
}
.subjectinput{
    max-width:80% !important;
    margin-bottom: 10%;
}
}
@media screen and (max-width: 459px){
    
    .subjectinputdate{
    max-width:90% !important;
    margin-bottom: 10%;
}
.subjectinput{
    max-width:90% !important;
    margin-bottom: 10%;
}
}
 @media screen and (min-width: 460px) and (max-width:767px){
        .a.form-control.subjectinputdate {
       width: 100%;
       
   }
   .row.ab {
    display: inline-flex;
    }
   .MH1.at {
       font-size: 17px;
   }
   .b.form-control.subjectinputdate {
       width: 100%;
   }
   .MH1.bt {
       font-size: 17px;
   }
 }