<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="BrndBotPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.intbit.marketing.model.TblEmailDraft</class>
    <class>com.intbittech.model.Channel</class>
    <class>com.intbittech.model.Category</class>
    <class>com.intbittech.model.ExternalSourceKeywordLookup</class>
    <class>com.intbittech.model.ExternalSourceKeyword</class>
    <class>com.intbittech.model.ExternalSource</class>
    <class>com.intbittech.model.EmailBlockExternalSource</class>
    <class>com.intbittech.model.SubCategoryExternalSource</class>
    <class>com.intbittech.model.MarketingCategory</class>
    <class>com.intbittech.model.MarketingProgram</class>
    <class>com.intbittech.model.MarketingAction</class>
    <class>com.intbittech.model.MarketingCategoryProgram</class>
    <class>com.intbittech.model.UserRole</class>
    <class>com.intbittech.model.Users</class>
    <class>com.intbittech.model.GlobalImages</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/brnd"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="brndbotpostgres2015"/>
    </properties>
  </persistence-unit>
</persistence>
