<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app>
    <head>
        <title>studio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link href="css/simplecontinuebutton.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="css/main1.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <link href="css/textstyle.css" rel="stylesheet" type="text/css"/>
        <script src="js/configurations.js"></script>

        <script>
            function studioController($scope, $http)
            {

                $scope.createStudio = function (){
                    
                var siteid = $("#inputstudio").val();
                var studio = {"studioid": siteid};
                    $http({
                        method: 'POST',
                        url: getHost() + 'SetStudioID',
                        headers: {'Content-Type': 'application/json'},
                        data: studio
                    }).success(function (data)
                    {
                        if (data == "true") {
                            
                            var look = {"type": "insert"};
                            
                            $http({
                                method: 'POST',
                                url: getHost() + 'SetLookID',
                                headers: {'Content-Type': 'application/json'},
                                data: look
                            }).success(function (data)
                            {
                                if (data != "") {
                                    var brand = {"type": "insert", "lookID": data};

                                    $http({
                                        method: 'POST',
                                        url: getHost() + 'SubbrandPersonality',
                                        headers: {'Content-Type': 'application/json'},
                                        data: brand
                                    }).success(function (data)
                                    {
                                        if (data == "true") {
                                            window.open(getHost() + "uploadlogo.jsp", "_self");
                                        } else {
                                            alert("Problem saving the data, please try after some time");
                                        }
                                    }).error(function (data, status) {
                                        // called asynchronously if an error occurs
                                        // or server returns response with an error status.

                                        alert("Request not successful, please try after some time");
                                    });
                                } 
                            }).error(function (data, status) {
                                // called asynchronously if an error occurs
                                // or server returns response with an error status.

                                alert("Request not successful, please try after some time");
                            });
        
                        } else {
                            alert("Problem saving the data, please try after some time");
                        }
                    }).error(function (data, status) {
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.

                        alert("Request not succesful, please try after some time");
                    });
                };

                $scope.getActivation = function () {
                    var siteid = $("#inputstudio").val();
                    
                    if (siteid != ""){
                        var studio = {"studioid": siteid, "query": "activationlink"};
                        $http({
                            method: 'POST',
                            url: getHost() + 'MindBodyDataServlet?studioid='+siteid+'&query=activationlink',
                        }).success(function (data)
                        {
                            var mindbody_data = JSON.stringify(data);
                            if (mindbody_data.activation_link !== "") {
                                $scope.mindbodyactivation = mindbody_data.activation_link;
//                                $("#studiobuttoncontinue").attr("disabled", false);
                                $("#para").show();
                            } else if (mindbody_data.activation_link === "") {
                                $scope.mindbodyactivation = "Invalid Studio id.";
                            } else if (data === error) {
                                alert(data);
                            }
                            $scope.status = data;

                        }).error(function (data, status) {
                                    // called asynchronously if an error occurs
                                    // or server returns response with an error status.

                            alert("request not succesful");
                        });
                        
                    }else {
                        alert("site id not entered, please enter the site id");
                        $("#inputstudio").focus();
                    }

                };
            };

        </script>
        <style>
            #studiobuttonactivation{
                position: relative;
                margin-top: 0px;
                margin-left: 0px;
            }  
            #studiobuttoncontinue{
                position: relative;
                margin-top: -48px;
                margin-left: 13em;
            }
            
        </style>
    </head>
    <body >
        <div class="container">
            <div id="contentdiv" class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p id="comment1" class="MH2">Please enter your MINDBODY studio ID:</p>
                    <p class="commentlin BC1" >Please enter your 4 digit MINDBODY studio ID.</p>
                </div>
                <form ng-controller="studioController" class="form-horizontal">
                    <div id="std"><div class="col-md-3 col-md-offset-4 group1">
                             <input id="inputstudio" name="inputstudio" class="form-control simplebox" type="text" required><br>
                             <label>STUDIO ID</label>
                             <div><p id="para" style="display:none;">click here to activate mindbody</p> <a target="_blank" href="{{status.activation_link}}">{{status.activation_link}}</a></div><br>
                        </div></div>
             
                    <!--                    {{status}}-->
                    <div class="form-group">
                        <div class=" col-md-4 col-md-offset-4">
                            <button id="studiobuttonactivation" type="button"  class="button button--moema button--text-thick button--text-upper button--size-s" ng-click="getActivation()" style="width:130px;">ACTIVATION</button>
                            <button id="studiobuttoncontinue" type="button"  class="button button--moema button--text-thick button--text-upper button--size-s" ng-click="createStudio()">CONTINUE</button><br><br><br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
