<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>incomingURLs</param-name>
        <param-value>http:\\localhost:8084\BrndBot\servletUserRegistration</param-value>
    </context-param>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.controller.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOrganizations</servlet-name>
        <servlet-class>com.controller.getOrganizations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUserRegistration</servlet-name>
        <servlet-class>com.controller.servletUserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmail</servlet-name>
        <servlet-class>com.controller.sendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserCategories</servlet-name>
        <servlet-class>com.controller.getUserCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSubCategories</servlet-name>
        <servlet-class>com.controller.getSubCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authentication</servlet-name>
        <servlet-class>com.controller.authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadLogo</servlet-name>
        <servlet-class>com.controller.uploadLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subbrandPersonality</servlet-name>
        <servlet-class>com.controller.subbrandPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUpdateOrganization</servlet-name>
        <servlet-class>com.controller.addUpdateOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLooks</servlet-name>
        <servlet-class>com.controller.getLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBrandPersonality</servlet-name>
        <servlet-class>com.controller.getBrandPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setLookID</servlet-name>
        <servlet-class>com.controller.setLookID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setStudioID</servlet-name>
        <servlet-class>com.controller.setStudioID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getColorPalettes</servlet-name>
        <servlet-class>com.controller.getColorPalettes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getColorsFromLogo</servlet-name>
        <servlet-class>com.controller.getColorsFromLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setUserPreferences</servlet-name>
        <servlet-class>com.controller.setUserPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAvailability</servlet-name>
        <servlet-class>com.controller.checkAvailability</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOrganizations</servlet-name>
        <url-pattern>/getOrganizations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUserRegistration</servlet-name>
        <url-pattern>/servletUserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentication</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmail</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserCategories</servlet-name>
        <url-pattern>/getUserCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSubCategories</servlet-name>
        <url-pattern>/getSubCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadLogo</servlet-name>
        <url-pattern>/uploadLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subbrandPersonality</servlet-name>
        <url-pattern>/subbrandPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUpdateOrganization</servlet-name>
        <url-pattern>/addUpdateOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLooks</servlet-name>
        <url-pattern>/getLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBrandPersonality</servlet-name>
        <url-pattern>/getBrandPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setLookID</servlet-name>
        <url-pattern>/setLookID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setStudioID</servlet-name>
        <url-pattern>/setStudioID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getColorPalettes</servlet-name>
        <url-pattern>/getColorPalettes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getColorsFromLogo</servlet-name>
        <url-pattern>/getColorsFromLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setUserPreferences</servlet-name>
        <url-pattern>/setUserPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAvailability</servlet-name>
        <url-pattern>/checkAvailability</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>userRegistration.jsp</welcome-file>
    </welcome-file-list>
</web-app>
