<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrganizations</servlet-name>
        <servlet-class>com.controller.GetOrganizations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUserRegistration</servlet-name>
        <servlet-class>com.controller.ServletUserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>com.controller.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserCategories</servlet-name>
        <servlet-class>com.controller.GetUserCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubCategories</servlet-name>
        <servlet-class>com.controller.GetSubCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>com.controller.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadLogo</servlet-name>
        <servlet-class>com.controller.UploadLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubbrandPersonality</servlet-name>
        <servlet-class>com.controller.SubBrandPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUpdateOrganization</servlet-name>
        <servlet-class>com.controller.AddUpdateOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLooks</servlet-name>
        <servlet-class>com.controller.GetLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBrandPersonality</servlet-name>
        <servlet-class>com.controller.GetBrandPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLookID</servlet-name>
        <servlet-class>com.controller.SetLookid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStudioID</servlet-name>
        <servlet-class>com.controller.SetStudioid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColorPalettes</servlet-name>
        <servlet-class>com.controller.GetColorPalettes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColorsFromLogo</servlet-name>
        <servlet-class>com.controller.GetColorsFromLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUserPreferences</servlet-name>
        <servlet-class>com.controller.SetUserPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAvailability</servlet-name>
        <servlet-class>com.controller.CheckAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetUserPassword</servlet-name>
        <servlet-class>com.controller.ResetUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddLooks</servlet-name>
        <servlet-class>admin.controller.ServletAddLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteLooks</servlet-name>
        <servlet-class>admin.controller.ServletDeleteLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChangeLooks</servlet-name>
        <servlet-class>admin.controller.ServletChangeLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddFonts</servlet-name>
        <servlet-class>admin.controller.ServletAddFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrganization</servlet-name>
        <servlet-class>admin.controller.ServletOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFontsSizes</servlet-name>
        <servlet-class>admin.controller.ServletFontsSizes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFontStyles</servlet-name>
        <servlet-class>admin.controller.ServletFontStyles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletColors</servlet-name>
        <servlet-class>admin.controller.ServletColors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddPersonality</servlet-name>
        <servlet-class>admin.controller.ServletAddPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteBrands</servlet-name>
        <servlet-class>admin.controller.ServletDeleteBrands</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditPersonality</servlet-name>
        <servlet-class>admin.controller.ServletEditPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletColorTheme</servlet-name>
        <servlet-class>admin.controller.ServletColorTheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFontTheme</servlet-name>
        <servlet-class>admin.controller.ServletFontTheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddCategories</servlet-name>
        <servlet-class>admin.controller.ServletAddCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteCategories</servlet-name>
        <servlet-class>admin.controller.ServletDeleteCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditCategories</servlet-name>
        <servlet-class>admin.controller.ServletEditCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubCategory</servlet-name>
        <servlet-class>admin.controller.ServletSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadFonts</servlet-name>
        <servlet-class>admin.controller.ServletUploadFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteFonts</servlet-name>
        <servlet-class>admin.controller.ServletDeleteFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateFonts</servlet-name>
        <servlet-class>admin.controller.ServletUpdateFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>admin.controller.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserCategories</servlet-name>
        <url-pattern>/GetUserCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubCategories</servlet-name>
        <url-pattern>/GetSubCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadLogo</servlet-name>
        <url-pattern>/UploadLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubbrandPersonality</servlet-name>
        <url-pattern>/SubbrandPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUpdateOrganization</servlet-name>
        <url-pattern>/AddUpdateOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLooks</servlet-name>
        <url-pattern>/GetLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBrandPersonality</servlet-name>
        <url-pattern>/GetBrandPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLookID</servlet-name>
        <url-pattern>/SetLookID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStudioID</servlet-name>
        <url-pattern>/SetStudioID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColorPalettes</servlet-name>
        <url-pattern>/GetColorPalettes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColorsFromLogo</servlet-name>
        <url-pattern>/GetColorsFromLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUserPreferences</servlet-name>
        <url-pattern>/SetUserPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAvailability</servlet-name>
        <url-pattern>/CheckAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetUserPassword</servlet-name>
        <url-pattern>/ResetUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrganizations</servlet-name>
        <url-pattern>/GetOrganizations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUserRegistration</servlet-name>
        <url-pattern>/ServletUserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddLooks</servlet-name>
        <url-pattern>/ServletAddLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteLooks</servlet-name>
        <url-pattern>/ServletDeleteLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChangeLooks</servlet-name>
        <url-pattern>/ServletChangeLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddFonts</servlet-name>
        <url-pattern>/ServletAddFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrganization</servlet-name>
        <url-pattern>/ServletOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFontsSizes</servlet-name>
        <url-pattern>/ServletFontsSizes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFontStyles</servlet-name>
        <url-pattern>/ServletFontStyles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletColors</servlet-name>
        <url-pattern>/ServletColors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddPersonality</servlet-name>
        <url-pattern>/ServletAddPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteBrands</servlet-name>
        <url-pattern>/ServletDeleteBrands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditPersonality</servlet-name>
        <url-pattern>/ServletEditPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletColorTheme</servlet-name>
        <url-pattern>/ServletColorTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFontTheme</servlet-name>
        <url-pattern>/ServletFontTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddCategories</servlet-name>
        <url-pattern>/ServletAddCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteCategories</servlet-name>
        <url-pattern>/ServletDeleteCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditCategories</servlet-name>
        <url-pattern>/ServletEditCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubCategory</servlet-name>
        <url-pattern>/ServletSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadFonts</servlet-name>
        <url-pattern>/ServletUploadFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteFonts</servlet-name>
        <url-pattern>/ServletDeleteFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateFonts</servlet-name>
        <url-pattern>/ServletUpdateFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>signup.jsp</welcome-file>
    </welcome-file-list>
</web-app>
