<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BrndBotBaseServlet</servlet-name>
        <servlet-class>com.controller.BrndBotBaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrganizations</servlet-name>
        <servlet-class>com.controller.GetOrganizations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUserRegistration</servlet-name>
        <servlet-class>com.controller.ServletUserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>com.controller.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserCategories</servlet-name>
        <servlet-class>com.controller.GetUserCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubCategories</servlet-name>
        <servlet-class>com.controller.GetSubCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>com.controller.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadLogo</servlet-name>
        <servlet-class>com.controller.UploadLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubbrandPersonality</servlet-name>
        <servlet-class>com.controller.SubBrandPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUpdateOrganization</servlet-name>
        <servlet-class>com.controller.AddUpdateOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLooks</servlet-name>
        <servlet-class>com.controller.GetLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBrandPersonality</servlet-name>
        <servlet-class>com.controller.GetBrandPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLookID</servlet-name>
        <servlet-class>com.controller.SetLookid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStudioID</servlet-name>
        <servlet-class>com.controller.SetStudioid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColorPalettes</servlet-name>
        <servlet-class>com.controller.GetColorPalettes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColorsFromLogo</servlet-name>
        <servlet-class>com.controller.GetColorsFromLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUserPreferences</servlet-name>
        <servlet-class>com.controller.SetUserPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAvailability</servlet-name>
        <servlet-class>com.controller.CheckAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetUserPassword</servlet-name>
        <servlet-class>com.controller.ResetUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddLooks</servlet-name>
        <servlet-class>admin.controller.ServletAddLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteLooks</servlet-name>
        <servlet-class>admin.controller.ServletDeleteLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChangeLooks</servlet-name>
        <servlet-class>admin.controller.ServletChangeLooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddFonts</servlet-name>
        <servlet-class>admin.controller.ServletAddFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrganization</servlet-name>
        <servlet-class>admin.controller.ServletOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFontsSizes</servlet-name>
        <servlet-class>admin.controller.ServletFontsSizes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFontStyles</servlet-name>
        <servlet-class>admin.controller.ServletFontStyles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletColors</servlet-name>
        <servlet-class>admin.controller.ServletColors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddPersonality</servlet-name>
        <servlet-class>admin.controller.ServletAddPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteBrands</servlet-name>
        <servlet-class>admin.controller.ServletDeleteBrands</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditPersonality</servlet-name>
        <servlet-class>admin.controller.ServletEditPersonality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletColorTheme</servlet-name>
        <servlet-class>admin.controller.ServletColorTheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFontTheme</servlet-name>
        <servlet-class>admin.controller.ServletFontTheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddCategories</servlet-name>
        <servlet-class>admin.controller.ServletAddCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteCategories</servlet-name>
        <servlet-class>admin.controller.ServletDeleteCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditCategories</servlet-name>
        <servlet-class>admin.controller.ServletEditCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubCategory</servlet-name>
        <servlet-class>admin.controller.ServletSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadFonts</servlet-name>
        <servlet-class>admin.controller.ServletUploadFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteFonts</servlet-name>
        <servlet-class>admin.controller.ServletDeleteFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateFonts</servlet-name>
        <servlet-class>admin.controller.ServletUpdateFonts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>admin.controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModel</servlet-name>
        <servlet-class>com.intbit.ServletModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetStyles</servlet-name>
        <servlet-class>com.intbit.ServletGetStyles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CropImage</servlet-name>
        <servlet-class>com.intbit.CropImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGalleryImages</servlet-name>
        <servlet-class>com.controller.DeleteGalleryImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImageGallery</servlet-name>
        <servlet-class>com.controller.GetImageGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImages</servlet-name>
        <servlet-class>com.controller.UploadImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFacebookManagePage</servlet-name>
        <servlet-class>social.controller.GetFacebookManagePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLayoutStyles</servlet-name>
        <servlet-class>com.controller.GetLayoutStyles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MindBodyDataServlet</servlet-name>
        <servlet-class>com.controller.MindBodyDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MindBodyDetailServlet</servlet-name>
        <servlet-class>com.controller.MindBodyDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTwitterToken</servlet-name>
        <servlet-class>social.controller.GetTwitterToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostToSocial</servlet-name>
        <servlet-class>social.controller.PostToSocial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserPreferences</servlet-name>
        <servlet-class>com.controller.GetUserPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>com.controller.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUserPreferencesFacebook</servlet-name>
        <servlet-class>social.controller.ServletUserPreferencesFacebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUserPreferencesTwitter</servlet-name>
        <servlet-class>social.controller.ServletUserPreferencesTwitter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserImages</servlet-name>
        <servlet-class>com.controller.GetUserImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeImageServlet</servlet-name>
        <servlet-class>com.controller.ChangeImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetEmailLists</servlet-name>
        <servlet-class>com.controller.SetEmailLists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmailLists</servlet-name>
        <servlet-class>com.controller.GetEmailLists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailTextDataServlet</servlet-name>
        <servlet-class>social.controller.EmailTextDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBlock</servlet-name>
        <servlet-class>admin.controller.ServletBlock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBlocks</servlet-name>
        <servlet-class>com.controller.GetBlocks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConvertHtmlToImageServlet</servlet-name>
        <servlet-class>util.ConvertHtmlToImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveKeyValueSessionServlet</servlet-name>
        <servlet-class>social.controller.SaveKeyValueSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadImageServlet</servlet-name>
        <servlet-class>com.controller.DownloadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHtmlToImageServlet</servlet-name>
        <servlet-class>util.AdminHtmlToImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeLogo</servlet-name>
        <servlet-class>com.controller.changeLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadXml</servlet-name>
        <servlet-class>com.controller.DownloadXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewServlet</servlet-name>
        <servlet-class>com.controller.PreviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserFacebookManagePages</servlet-name>
        <servlet-class>social.controller.GetUserFacebookManagePages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidateModel</servlet-name>
        <servlet-class>admin.controller.ServletValidateModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddHtmlTemplate</servlet-name>
        <servlet-class>admin.controller.ServletAddHtmlTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFontsServlet</servlet-name>
        <servlet-class>com.controller.DownloadFontsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmailHistoryListServlet</servlet-name>
        <servlet-class>com.controller.email.GetEmailHistoryListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmailHistoryDetailServlet</servlet-name>
        <servlet-class>com.controller.email.GetEmailHistoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListAdminBackgroundImages</servlet-name>
        <servlet-class>admin.controller.ServletListAdminBackgroundImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmailTagsServlet</servlet-name>
        <servlet-class>com.controller.email.GetEmailTagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericAnnouncementServlet</servlet-name>
        <servlet-class>com.controller.GenericAnnouncementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSettingsServlet</servlet-name>
        <servlet-class>com.controller.email.EmailSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDisplayLayoutHTML</servlet-name>
        <servlet-class>admin.controller.ServletDisplayLayoutHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScheduledEmailDetailServlet</servlet-name>
        <servlet-class>com.controller.schedule.GetScheduledEmailDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScheduledEntitiesServlet</servlet-name>
        <servlet-class>com.controller.schedule.GetScheduledEntitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleEmailServlet</servlet-name>
        <servlet-class>com.controller.schedule.ScheduleEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDuplicateLayout</servlet-name>
        <servlet-class>admin.controller.ServletDuplicateLayout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadHtmlServlet</servlet-name>
        <servlet-class>com.controller.DownloadHtmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListAdminSVG</servlet-name>
        <servlet-class>admin.controller.ServletListAdminSVG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSVGServlet</servlet-name>
        <servlet-class>com.controller.DownloadSVGServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Fblogin</servlet-name>
        <servlet-class>com.intbit.Fblogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fblogin</servlet-name>
        <url-pattern>/Fblogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Model</servlet-name>
        <servlet-class>com.intbit.Model</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Model</servlet-name>
        <url-pattern>/Model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserCategories</servlet-name>
        <url-pattern>/GetUserCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubCategories</servlet-name>
        <url-pattern>/GetSubCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadLogo</servlet-name>
        <url-pattern>/UploadLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubbrandPersonality</servlet-name>
        <url-pattern>/SubbrandPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUpdateOrganization</servlet-name>
        <url-pattern>/AddUpdateOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLooks</servlet-name>
        <url-pattern>/GetLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBrandPersonality</servlet-name>
        <url-pattern>/GetBrandPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLookID</servlet-name>
        <url-pattern>/SetLookID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStudioID</servlet-name>
        <url-pattern>/SetStudioID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColorPalettes</servlet-name>
        <url-pattern>/GetColorPalettes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColorsFromLogo</servlet-name>
        <url-pattern>/GetColorsFromLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUserPreferences</servlet-name>
        <url-pattern>/SetUserPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAvailability</servlet-name>
        <url-pattern>/CheckAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetUserPassword</servlet-name>
        <url-pattern>/ResetUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrganizations</servlet-name>
        <url-pattern>/GetOrganizations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUserRegistration</servlet-name>
        <url-pattern>/ServletUserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddLooks</servlet-name>
        <url-pattern>/ServletAddLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteLooks</servlet-name>
        <url-pattern>/ServletDeleteLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChangeLooks</servlet-name>
        <url-pattern>/ServletChangeLooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddFonts</servlet-name>
        <url-pattern>/ServletAddFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrganization</servlet-name>
        <url-pattern>/ServletOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFontsSizes</servlet-name>
        <url-pattern>/ServletFontsSizes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFontStyles</servlet-name>
        <url-pattern>/ServletFontStyles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletColors</servlet-name>
        <url-pattern>/ServletColors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddPersonality</servlet-name>
        <url-pattern>/ServletAddPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteBrands</servlet-name>
        <url-pattern>/ServletDeleteBrands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditPersonality</servlet-name>
        <url-pattern>/ServletEditPersonality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletColorTheme</servlet-name>
        <url-pattern>/ServletColorTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFontTheme</servlet-name>
        <url-pattern>/ServletFontTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddCategories</servlet-name>
        <url-pattern>/ServletAddCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteCategories</servlet-name>
        <url-pattern>/ServletDeleteCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditCategories</servlet-name>
        <url-pattern>/ServletEditCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubCategory</servlet-name>
        <url-pattern>/ServletSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadFonts</servlet-name>
        <url-pattern>/ServletUploadFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteFonts</servlet-name>
        <url-pattern>/ServletDeleteFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateFonts</servlet-name>
        <url-pattern>/ServletUpdateFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModel</servlet-name>
        <url-pattern>/ServletModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetStyles</servlet-name>
        <url-pattern>/ServletGetStyles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CropImage</servlet-name>
        <url-pattern>/CropImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGalleryImages</servlet-name>
        <url-pattern>/DeleteGalleryImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImageGallery</servlet-name>
        <url-pattern>/GetImageGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImages</servlet-name>
        <url-pattern>/UploadImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFacebookManagePage</servlet-name>
        <url-pattern>/GetFacebookManagePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLayoutStyles</servlet-name>
        <url-pattern>/GetLayoutStyles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MindBodyDetailServlet</servlet-name>
        <url-pattern>/MindBodyDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MindBodyDataServlet</servlet-name>
        <url-pattern>/MindBodyDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTwitterToken</servlet-name>
        <url-pattern>/GetTwitterToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostToSocial</servlet-name>
        <url-pattern>/PostToSocial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserPreferences</servlet-name>
        <url-pattern>/GetUserPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUserPreferencesFacebook</servlet-name>
        <url-pattern>/ServletUserPreferencesFacebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUserPreferencesTwitter</servlet-name>
        <url-pattern>/ServletUserPreferencesTwitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserImages</servlet-name>
        <url-pattern>/GetUserImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeImageServlet</servlet-name>
        <url-pattern>/ChangeImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetEmailLists</servlet-name>
        <url-pattern>/SetEmailLists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmailLists</servlet-name>
        <url-pattern>/GetEmailLists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailTextDataServlet</servlet-name>
        <url-pattern>/EmailTextDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBlock</servlet-name>
        <url-pattern>/ServletBlock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBlocks</servlet-name>
        <url-pattern>/GetBlocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConvertHtmlToImageServlet</servlet-name>
        <url-pattern>/ConvertHtmlToImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveKeyValueSessionServlet</servlet-name>
        <url-pattern>/SaveKeyValueSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadImageServlet</servlet-name>
        <url-pattern>/DownloadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHtmlToImageServlet</servlet-name>
        <url-pattern>/AdminHtmlToImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeLogo</servlet-name>
        <url-pattern>/changeLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadXml</servlet-name>
        <url-pattern>/DownloadXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewServlet</servlet-name>
        <url-pattern>/PreviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserFacebookManagePages</servlet-name>
        <url-pattern>/GetUserFacebookManagePages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidateModel</servlet-name>
        <url-pattern>/ServletValidateModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddHtmlTemplate</servlet-name>
        <url-pattern>/ServletAddHtmlTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFontsServlet</servlet-name>
        <url-pattern>/DownloadFonts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmailHistoryListServlet</servlet-name>
        <url-pattern>/GetEmailHistoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmailHistoryDetailServlet</servlet-name>
        <url-pattern>/GetEmailHistoryDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListAdminBackgroundImages</servlet-name>
        <url-pattern>/ServletListAdminBackgroundImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmailTagsServlet</servlet-name>
        <url-pattern>/GetEmailTagsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericAnnouncementServlet</servlet-name>
        <url-pattern>/GenericAnnouncementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSettingsServlet</servlet-name>
        <url-pattern>/EmailSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDisplayLayoutHTML</servlet-name>
        <url-pattern>/ServletDisplayLayoutHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScheduledEntitiesServlet</servlet-name>
        <url-pattern>/GetScheduledEntities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleEmailServlet</servlet-name>
        <url-pattern>/ScheduleEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScheduledEmailDetailServlet</servlet-name>
        <url-pattern>/GetScheduledEmailDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDuplicateLayout</servlet-name>
        <url-pattern>/ServletDuplicateLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadHtmlServlet</servlet-name>
        <url-pattern>/DownloadHtmlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListAdminSVG</servlet-name>
        <url-pattern>/ServletListAdminSVG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSVGServlet</servlet-name>
        <url-pattern>/DownloadSVGServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>signup.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>BrndBot DB</description>
        <res-ref-name>jdbc/postgres</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <error-page>
        <error-code>400</error-code>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.html</location>
    </error-page>
</web-app>
